.title-product-list {
  color: #757474;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.center-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title-table-product {
  font-size: 12px;
}

.product-name {
  padding: 15px 0px;
}

.productName-table-option {
  font-size: 13px;
}

.content-product-list {
  flex-wrap: wrap;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.item-title-table {
  width: 130px;

  @media (max-width: 960px) {
    width: 120px;
  }
}

.item-action-table {
  width: 130px;

  @media (max-width: 960px) {
    width: 100%;
    padding: 10px;

    & button {
      width: 100%;
    }
  }
}

.n-margin {
  margin: 0px;
}

.full-button {
  width: 100%;
  margin: 10px;
}

.cost-item-table {
  color: #000;
  font-size: 11px;
}

.total-product-text {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;

  & p {
    padding-left: 55px;
  }
}

.sc-text-order-international {
  color: gray;
  font-size: 13px !important;
}

.sc-text-order-tracking {
  color: black;
  font-size: 13px !important;
}

.sc-text-order-carrier {
  color: #000000 !important;
  font-size: 12px !important;
}
