<div fxFlex fxLayout="column" fxFlex="100" class="content-product-detail">
  <div class="title-product-list">
    <div fxFlex="56px" class="sc-text-normal">
      <div class="center-product-list" *ngIf="Typeprofile === 0">
        <mat-checkbox class="sc-check-personal"
                      *ngIf="order.allowShipping == true && order.idStatusOrder == const.OrderAsignado"
                      [checked]="order.sendAllProduct" (change)="checkAllProductInOrder(order)"></mat-checkbox>
      </div>
    </div>
    <div fxFlex.sm="265px" fxFlex.md="230px" fxFlex.lg="265px" fxFlex.xs="265px" class="sc-text-normal">
      <div class="title-table-product">
        <p>Producto</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="sc-text-normal item-title-table">
      <div class="title-table-product">
        <p>Costo</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="sc-text-normal item-title-table">
      <div class="title-table-product">
        <p>Flete</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p>Estado</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p>Guía</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p>Transportadora</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p>Tipo entrega</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p style="padding-left: 22px;" *ngIf="Typeprofile === 0">Acciones</p>
      </div>
    </div>
    <!-- <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.md="false" fxHide.lg="false" fxHide.xl="false" class="item-title-table sc-text-normal">
      <div class="title-table-product">
        <p>Despachar</p>
      </div>
    </div> -->
  </div>

  <div *ngFor="let product of order.products;let index=index" class="content-product-list">
    <div fxFlex="50px">
      <div class="center-product-list" *ngIf="Typeprofile === 0">
        <mat-checkbox id="check-product-detail-{{index}}" class="sc-check-personal"
                      *ngIf="order.allowShipping == true && product.idStatusProduct == const.ProductAsignado"
                      [disabled]="product.tracking != null" (change)="validateCheckProductForSendAll(order)"
                      [(ngModel)]="product.checkProductToSend"></mat-checkbox>
      </div>
    </div>
    <div fxFlex.sm="265px" fxFlex.md="230px" fxFlex.lg="265px" fxFlex.xs="265px">
      <div class="productName-table-option">
        <div class="product-name n-margin">
          {{product.nameProduct}}
          <p class="sc-text-bold-order n-margin">Ref: {{product.reference}}</p>
          <p class="sc-text-bold-order n-margin">SKU: {{product.sku}}</p>
        </div>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div>
        <p class="sc-text-normal">${{product.costProduct | number}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div>
        <p class="sc-text-normal">${{product.costShippingProduct | number}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="false" fxHide.md="false" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div class=" mat-icon-status-order">

        <p class="sc-status-order-table" *ngIf="product.statusProduct == const.NameProductAsignado">
          <mat-icon [ngClass]="{'status-orange': product.statusProduct === const.NameProductAsignado}">notifications
          </mat-icon>
          {{const.AppProductAsignado}}
        </p>

        <p class="sc-status-order-table" *ngIf="product.statusProduct == const.NameProductEntregado">
          <mat-icon [ngClass]="{'status-orange': product.statusProduct === const.NameProductEntregado}">notifications
          </mat-icon>
          {{const.AppProductEntregado}}
        </p>

        <p class="sc-status-order-table" *ngIf="product.statusProduct == const.NameProductEnProcesoDeEnvio">
          <mat-icon [ngClass]="{'status-green': product.statusProduct === const.NameProductEnProcesoDeEnvio}">
            notifications
          </mat-icon>
          {{const.AppProductEnviado}}
        </p>

        <p class="sc-status-order-table" *ngIf="product.statusProduct == const.NameOrderEnFacturadoEnviado">
          <mat-icon [ngClass]="{'status-green': product.statusProduct === const.NameOrderEnFacturadoEnviado}">
            notifications
          </mat-icon>
          {{const.AppOrderFacturadoEnviado}}
        </p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div>
        <p class="sc-text-order">{{product.tracking}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div>
        <p class="sc-text-order">{{product.carrier}}</p>
      </div>
    </div>
    <div fxShow fxHide.xs="true" fxHide.sm="true" fxHide.lt-md="true" fxHide.lg="false" fxHide.xl="false"
         class="item-title-table">
      <div>
        <p class="sc-text-order" *ngIf="product.fulfillment == true">Fulfillment</p>
        <p class="sc-text-order" *ngIf="product.enviosExito == true">Envíos Éxito</p>
        <p class="sc-text-order" *ngIf="product.fulfillment == false && product.enviosExito == false">Estándar</p>
      </div>
    </div>
    <div class="item-action-table" *ngIf="Typeprofile === 0">

      <button id="dropdown-product-order-{{index}}" color="primary" class="button-toolbar" mat-button
              [matMenuTriggerFor]="orderOptions">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>Acciones</span>
      </button>
      <mat-menu #orderOptions="matMenu">
        <button id="print-product-detail-{{index}}" mat-menu-item>
          <mat-icon>print</mat-icon>
          <span>Etiqueta</span>
        </button>
        <button id="send-product-inDetail-{{index}}"
                *ngIf="order.allowShipping == true && product.idStatusProduct == const.ProductAsignado"
                (click)="openDialogSendOrder(order,true)" mat-menu-item>
          <mat-icon>local_shipping</mat-icon>
          <span>Enviar</span>
        </button>

        <button id="dropdown-product-viewDetail-{{index}}" (click)="openModalDetailProduct(product)" fxShow.xs="true"
                fxShow.sm="true"
                fxShow.gt-lg="false" fxShow="false" mat-menu-item>
          <mat-icon>more_vert</mat-icon>
          <span>Ver detalle</span>
        </button>
      </mat-menu>
    </div>
  </div>


  <!-- Total row -->

  <div class="content-total-product">
    <div fxFlex.sm="96px" fxFlex.md="230px" fxFlex.lg="320px" fxFlex.xs="96px">
      <div class="total-product-text">
        <p class="sc-text-bold-order">Total:</p>
      </div>
    </div>
    <div fxFlex.sm="127px" fxFlex.md="230px" fxFlex.lg="127px" fxFlex.xs="127px">
      <div>
        <p>
          <span class="cost-item-table" fxShow fxHide.xs="false" fxHide.sm="false" fxHide.lt-md="true" fxHide.lg="true"
                fxHide.xl="true">Costo:</span>
          <strong class="sc-text-normal">${{order.costTotalOrder | number}}</strong>
        </p>
      </div>
    </div>
    <div fxFlex.sm="127px" fxFlex.md="230px" fxFlex.lg="127px" fxFlex.xs="127px">
      <div>
        <p>
          <span class="cost-item-table" fxShow fxHide.xs="false" fxHide.sm="false" fxHide.lt-md="true" fxHide.lg="true"
                fxHide.xl="true">
            Flete:</span>
          <strong class="sc-text-normal">${{order.costTotalShipping | number}}</strong>
        </p>
      </div>
    </div>
    <div *ngIf="order.allowShipping == true && order.idStatusOrder == const.OrderAsignado" fxFlexOffset.lg="40%"
         fxFlexOffset.xl="40%"
         fxFlex.xl="140px" fxFlex.lg="140px" fxFlex.sm="140px" fxFlex.md="140px" fxFlex.xs="100">
      <div *ngIf="Typeprofile === 0">
        <button id="send-from-product-order-{{order.orderNumber}}" (click)="openDialogSendOrder(order)"
                [disabled]="!order.sendAllProduct"
                class="full-button sc-default-button sc-button" mat-raised-button color="accent">Enviar todo
        </button>
      </div>
    </div>
  </div>
</div>
