<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->

<!-- <mat-drawer #drawer [mode]="'over'" [position]="'end'" class="example-sidenav-rating" [disableClose]="true">

  <h3>hola</h3>

  <h3>hola</h3>
  <h3>hola</h3>
  <h3>hola</h3> -->

<!-- <form class="basic-info" #createfilterProduts="ngForm" [formGroup]="filterProduts">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>{{'secure.products.create_product_unit.list_products.product_filter' | translate}}</h3>
      <button id="closeMenuApplication" type="button" color="primary" [matTooltip]="'actions.close' | translate"
        matTooltipPosition="below" mat-icon-button mat-button (click)="drawer.toggle() && closeFilter()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field class="classDatapicker">
          <input matInput [matDatepicker]="picker"
            [placeholder]="'core.shell.search_order_menu.search_order_form.from' | translate" disabled
            formControlName="initialDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="classDatapicker">
          <input matInput [matDatepicker]="picker1"
            [placeholder]="'core.shell.search_order_menu.search_order_form.to' | translate" disabled
            formControlName="finalDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-between center" class="buttonsSend">
      <button mat-stroked-button color="primary" type="button">{{'filters.clear' | translate}} </button>
      <button mat-flat-button color="primary" type="submit" [innerHTML]="'Filtrar'" [disabled]="!filterSeller.form.valid || (!product.value && !ean.value && !stock.value)"></button> -->
<!-- <button mat-flat-button color="primary" type="submit" (click)="filterApply(drawer)">{{'filters.filter' | translate}}</button> -->
<!-- </div> -->
<!-- </form> -->
<!-- </mat-drawer> -->

<!-- <div class="example-container-rating mat-elevation-z8"> -->
<div class="example-container-rating">

  <div class="filter_rating">
    <!-- <form class="basic-info" #createfilterSellerRating="ngForm" [formGroup]="filterSellerRating" class="seller-filter-sidenav">
    <mat-form-field color="primary">
      <input matInput [placeholder]="'secure.dashboard.seller-rating.date_calificated' | translate" formControlName="datequalificationinitial" [errorStateMatcher]="matcher">
      <mat-hint></mat-hint>
      <mat-error *ngIf="filterProduts.get('productName').hasError('pattern')">
          {{'secure.products.create_product_unit.list_products.product_name_invalid' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field color="primary">
      <input matInput [placeholder]="'secure.dashboard.seller-rating.date_issued' | translate" formControlName="dateQualificationFinal" [errorStateMatcher]="matcher">
      <mat-hint></mat-hint>
      <mat-error *ngIf="filterProduts.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>
    </mat-form-field>
    </form> -->

    <form class="example-container" #createfilterSellerRating="ngForm" [formGroup]="filterSellerRating"
      class="seller-filter-sidenav">
      <h6>Filtro por fecha de Emisión:</h6>
      <mat-form-field>
        <input matInput [placeholder]="'secure.dashboard.seller-rating.date_issued_initial_filter' | translate"
          formControlName="datequalificationinitial" [errorStateMatcher]="matcher">
        <mat-error *ngIf="filterSellerRating.get('datequalificationinitial').hasError('pattern')">
          {{'secure.dashboard.seller-rating.date_issued_final_filter_error' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'secure.dashboard.seller-rating.date_issued_final_filter' | translate"
          formControlName="dateQualificationFinal" [errorStateMatcher]="matcher">
        <mat-error *ngIf="filterSellerRating.get('dateQualificationFinal').hasError('pattern')">
          {{'secure.dashboard.seller-rating.date_issued_final_filter_error' | translate}}</mat-error>
      </mat-form-field>

      <button type="button" mat-button class="btn_filter_rating" (click)="getFilterSellerRating()">
        <mat-icon>filter_list</mat-icon>
        <small class="sub-title-filter">{{'filters.filter' | translate}}</small>
      </button>

      <button type="button" mat-button class="btn_filter_rating" (click)="cleanAllFilter()">
        <mat-icon>clear</mat-icon>
        <small class="sub-title-filter">{{'filters.clear' | translate}}</small>
      </button>
<!-- 
      <button mat-stroked-button color="primary" type="button" (click)="cleanFilter()"
        [innerHTML]="['filters.clear' | translate]">{{'filters.clear' | translate}}</button>
      <button mat-flat-button color="primary" type="submit" [innerHTML]="['filters.filter' | translate]">{{'filters.filter' | translate}}</button> -->
    </form>
  </div>


  <table mat-table [dataSource]="dataSource">
    <!-- Calificación -->
    <ng-container matColumnDef="calification">
      <th mat-header-cell *matHeaderCellDef class="position_fixed_header">
        {{'secure.dashboard.seller-rating.header_rating' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.qualitative}} </td>
    </ng-container>

    <!-- Fecha calificado -->
    <ng-container matColumnDef="date_calificate">
      <th mat-header-cell *matHeaderCellDef class="position_fixed_header">
        {{'secure.dashboard.seller-rating.date_calificated' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.qualificationDate | date}} </td>
    </ng-container>

    <!-- Fecha cuando se emitió -->
    <ng-container matColumnDef="date_issued">
      <th mat-header-cell *matHeaderCellDef class="position_fixed_header">
        {{'secure.dashboard.seller-rating.date_issued' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.generatedDate | date}} </td>
    </ng-container>

    <!-- Fecha cuando se emitió -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef class="position_fixed_header"> {{'shared.actions' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button (click)="getPDF(element)">
          <mat-icon color="primary" matTooltip="Descargar PDF">picture_as_pdf</mat-icon>
        </button> -->
        <mat-icon color="primary" matTooltip="Descargar PDF" (click)="getPDF(element)">picture_as_pdf</mat-icon>
        <!-- <button mat-icon-button (click)="openDialogSupport()">
          <mat-icon color="accent" matTooltip="Apelar">event_note</mat-icon>
        </button> -->
        <mat-icon color="accent" matTooltip="Apelar" (click)="openDialogSupport()">event_note</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
