// table {
//   width: 90%;
// //   height: 150px;
// }

// .mat-form-field {
//   font-size: 11px;
//   width: 90%;
//   // height: 150px;
// }

.example-container-rating {
  // height: 400px;
  // overflow: auto;
  width: 60%;
  height: 20%;
  overflow: auto;
  position: absolute;
  right: 5%;
  h3{
    padding-left: 3%;
    // margin-bottom: 0px;
  }
}

table {
  width: 100%;
}

mat-form-field {
  margin-right: 1%;
  display: inline-block;
    position: relative;
    text-align: left;
    width: 24%;
    font-size: small;
}