<div class="padding-dialog">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="container-icon" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="material-icons">
        assignment
      </mat-icon>
    </div>
  </div>

  <h1 class="center-text" mat-dialog-title>
    {{'secure.parametize.dialogAddSpecs.modal_title' | I18N | async}}
  </h1>

  <form [formGroup]="formAddSpecs" class="form-add" (ngSubmit)="saveSpec()">
    <div mat-dialog-content class="form-container">
      <p> {{'secure.parametize.dialogAddSpecs.modal_text_1' | I18N | async}} 
        <strong class="special" [ngClass]="{'transition': showErrorMin}">{{'secure.parametize.dialogAddSpecs.modal_text_2' | I18N | async}}</strong>
        {{'secure.parametize.dialogAddSpecs.modal_text_3' | I18N | async}}
      </p>
      <div fxLayout="row" style="width: 100%;" fxLayout.xs="column" fxLayoutAlign="space-between start">
        <div class="container-form" fxLayout="column">
          <mat-form-field class="input-add">
            <input matInput formControlName="nameSpec" [placeholder]="'secure.parametize.dialogAddSpecs.modal_placeholder_specification_name' | I18N | async">
            <mat-error *ngIf="formAddSpecs.get('nameSpec').hasError('maxlength')">El nombre no debe superar los 200 caracteres.</mat-error>
          <mat-error *ngIf="formAddSpecs.get('nameSpec').hasError('required')">Este campo es obligatorio.</mat-error>
          </mat-form-field>
          <mat-checkbox class="input-add" formControlName="requiredSpec">{{'secure.parametize.dialogAddSpecs.modal_chk_required' | I18N | async}}</mat-checkbox>
        </div>
        <div class="container-form vis" fxLayout="column">
          <h3 class="title">{{'secure.parametize.dialogAddSpecs.modal_lbl_vendedor' | I18N | async}}</h3>
          <mat-radio-group formControlName="optionSpec">
            <mat-radio-button value="text">{{'secure.parametize.dialogAddSpecs.modal_rdn_text' | I18N | async}}</mat-radio-button>
            <mat-radio-button value="list">{{'secure.parametize.dialogAddSpecs.modal_rdn_list_action' | I18N | async}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="addoption">
        <div class="widthOption" *ngFor="let opc of listOptions; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field class="width-full">
            <input matInput [formControlName]="opc.name" placeholder="'secure.parametize.dialogAddSpecs.modal_placeholder_add_option' | I18N | async">
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>

          <button mat-icon-button (click)="removeOpt(opc, i)" type="button">
            <mat-icon class="material-icons">
              clear
            </mat-icon>
          </button>
        </div>
      </div>

      <!-- CONTAINER BUTTON TO ADD NEW SPECIFICATION GROUP -->

    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
      <div class="container-group-add-button" *ngIf="formAddSpecs.controls.optionSpec.value === 'list'">
        <!--BUTTON TO ADD-->
        <button type="button" mat-button (click)="addOption()">
          <mat-icon class="material-icons">
            control_point
          </mat-icon>
          {{'secure.parametize.dialogAddSpecs.modal_btn_add_option' | I18N | async}}
        </button>
      </div>
      <button type="button" id="btn-create-transporter" mat-button color="primary" (click)="close()">{{'actions.cancel' | I18N | async}}</button>
      <button id="btn-create-transporter" type="submit" mat-raised-button color="primary">{{'actions.acept' | I18N | async}}</button>
    </div>
  </form>
</div>