<div style="padding: 10px 50px;">
  <div>
    <a (click)="backList()" style="color: #757474; vertical-align: middle;
      font-size: 14px; cursor: pointer;">
      <mat-icon class="mat-18" style="vertical-align: middle; width: 24px;
        height: 24px;">keyboard_arrow_left</mat-icon>
      <span>Volver a la lista de anuncios</span>
    </a>
  </div>
  <form #filterForm="ngForm" [formGroup]="form">
    <div fxLayout="row wrap" style="padding: 20px 10px; color: #909090;
      font-size:
      14px;">
      <div fxFlex="50" style="padding-right: 40px;">
        <div style="padding-bottom: 20px;">
          <span>Tipo de anuncios</span>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-radio-group aria-label="Select an bodyNotification"
            formControlName="bodyNotification">
            <div fxFlex="35">
              <mat-radio-button value="1" (click)="validateBody(1)">Texto +
                Imagen</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="2" (click)="validateBody(2)">Texto +
                Fondo</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="3" (click)="validateBody(3)">Imagen
                diseñada</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%; font-size: 16px;">
            <input matInput [matDatepicker]="dateInitial"
              formControlName="dateInitial" placeholder="Fecha
              inicial">
            <mat-datepicker-toggle matSuffix [for]="dateInitial"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" startView="year" #dateInitial></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Título del anuncio"
              class="modal-export-to-reclaim-text-uppercase"
              [errorStateMatcher]="matcher" formControlName="title">
            <!-- <mat-error *ngIf="form.get('email').hasError('required')">{{'errors.required' | translate}}</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">{{'errors.format_invalidate' | translate}}
          </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="50" style="padding-left: 40px;">
        <div style="padding-bottom: 20px;">
          <span>Idioma</span>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-radio-group aria-label="Select an languaje"
            formControlName="lenguaje">
            <div fxFlex="35">
              <mat-radio-button value="1">Español</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="2">Ingles</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%; font-size: 16px;">
            <input matInput [matDatepicker]="dateEnd" placeholder="Fecha
              final" formControlName="dateEnd">
            <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" startView="year" #dateEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Página de destino"
              class="modal-export-to-reclaim-text-uppercase"
              [errorStateMatcher]="matcher" formControlName="pageDestiny">
            <!-- <mat-error *ngIf="form.get('email').hasError('required')">{{'errors.required' | translate}}</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">{{'errors.format_invalidate' | translate}}
          </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div style="width: 100%; padding-bottom: 20px;" *ngIf="showDescriptionColorImg">
        <div style="width: 100%; padding-bottom: 20px;">
          <span>Contenido</span>
        </div>
        <div style="width: 100%;">
          <angular-editor id="bodyDescription" formControlName="bodyDescription"
            [config]="config"></angular-editor>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlex="100" style="padding-bottom: 20px;" *ngIf="showDescriptionColorImg">
        <div fxFlex="50">
          <div style="padding-bottom: 20px;">
            <span>Imagen destacadas</span>
          </div>
          <div>
            <div>
              <input placeholder="file upload" id="uploadFile" hidden
                name="fileUploadOption" type="file"
                (change)="onFileChange($event)" multiple="false"
                accept="*"
                formControlName="fileImg"
                #fileUploadOption>
              <div fxLayout="row">
                <div fxFlex="100">
                  <div>
                    <div fxLayout="column" id="fileExcel"
                      (click)="fileUploadOption.click()" style="border: solid
                      1px
                      #707070;border-radius: 10px; width: 94%; cursor: pointer;"
                      [ngClass]="disableLoadImag === true ?
                      'notification-form-disable-background-color' :
                      'notification-form-enable-background-color'">
                      <div fxLayout="row">
                        <div style="padding-top: 20px;padding-left: 10px;
                          padding-right: 10px;">
                          <mat-icon *ngIf="!imagePath" class="mat-18"
                            style="vertical-align:
                            middle;font-size: 33px;height: 33px; width: 33px;
                            color: #757474;">image</mat-icon>
                          <img [src]="imagePath" *ngIf="imagePath" style="width:
                            33px; height: 33px;">
                        </div>
                        <div>
                          <div style="font-weight: bold; color: #727272;
                            padding-top: 20px;padding-bottom: 5px;">
                            <span *ngIf="!fileName">
                              Subir archivo
                            </span>
                            <span *ngIf="fileName">
                              {{fileName}} ({{fileSize}} MB)
                            </span>
                          </div>
                          <div style="color: #727272; padding-bottom: 20px;">Medidas
                            de las imagenes 800 x 600 px | Tamaño máximo del
                            archivo 7 MB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" style="padding-left: 45px;">
          <div style="padding-bottom: 20px;">
            <span>Color de fondo</span>
          </div>
          <div style="border: solid 1px
            #707070;border-radius: 10px;" [ngClass]="disableColor === true ?
            'notification-form-disable-background-color' :
            'notification-form-enable-background-color'">
            <div style="padding: 24px;">
              <input [ngStyle]="{'background': colorBackground, 'color': colorBackground}"
                formControlName="pickerColor"
                (colorPickerChange)="setValueColor($event)"
                style="width: 23px;height: 23px; border-radius: 4px; border:
                solid 1px black; cursor: pointer;"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'hex'"
                [cpPositionOffset]="'-1000%'"
                [(colorPicker)]="color" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!showDescriptionColorImg" style="height: 380px;">
        <div style="padding-bottom: 20px;">
          <span>Imagen destacadas</span>
        </div>
        <mat-tab-group>
          <mat-tab label="Subir archivos">
          
            <div fxFlex="100" class="text-aling-center-modal-load">
              <div class="inline-block">
                <div>dfxvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcv
                  {{imagePathDrag}}
                  <img [src]="imagePathDrag">
                </div>
                <div ngfDrop selectable="1" [(validDrag)]="validComboDrag"
                  [(files)]="files" [(file)]="file" [maxSize]="maxSize"
                  [accept]="accept" [(lastInvalids)]="lastInvalids"
                  [(dragFiles)]="dragFiles"
                  class="well my-drop-zone" fxLayout="column" id="excel"
                  fxLayoutAlign="center center"
                  [class.invalid-drag]="validComboDrag===false"
                  [class.valid-drag]="validComboDrag"
                  (filesChange)="lastFileAt=getDate(); resetFiles(files, file)">
        
                  <div *ngIf="_fileAux === null && !lastInvalids?.length &&
                    !_filesAux?.length" class = "load-file-container-aling-center">
                    <mat-icon class="material-icons">
                      note_add
                    </mat-icon>
                    <div>
                      <span class="load-file-container-text-color-size">
                        Presione acá o arrastre y suelte el archivo.
                      </span>
                    </div>
                    <div>
                      <span class="load-file-container-text-blue-size-14">
                        Archivo/Anexo
                      </span>
                    </div>
                  </div>
                  <div *ngIf="_fileAux !== null && !lastInvalids?.length &&
                    !refuseMaxSize" class = "load-file-container-aling-center">
                    <mat-icon class="material-icons check">
                      check_circle {{_filesAux.length}}
                    </mat-icon>
                    <div>
                      <span class = "load-file-container-text-grey-font-14">
                        {{_fileAux.name}} - {{_fileAux.size/1024/1024 | number:'.2' }}
                        MB
                      </span>
                    </div>
                  </div>
                  <div *ngIf="lastInvalids?.length || _filesAux.length> 1 ||
                    refuseMaxSize" class = "load-file-container-aling-center">
                    <mat-icon class="material-icons error">
                      not_interested
                    </mat-icon>
                    <div *ngIf="refuseMaxSize && !lastInvalids?.length">
                      <span class = "load-file-container-text-grey-font-14">
                        El archivo no puede superar los 7 Megabytes
                      </span>
                    </div>
                    <div *ngIf="lastInvalids?.length">
                      <span class="load-file-container-text-grey-font-14">
                        El archivo tiene un formato no permitido, solo se permiten <br>
                        <span class="load-file-container-font-weight-bold">
                          (.JPG, .PNG)
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Galería de imagenes">
            
          </mat-tab>
        </mat-tab-group>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center"
        style="padding-top: 30px;">
        <div fxFlex="40" style="text-align: right;">
          <button mat-stroked-button color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="backList()">cancelar</button>
        </div>
        <div fxFlex="15" style="text-align: center;">
          <button mat-stroked-button color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="preview()">vista previa</button>
        </div>
        <div fxFlex="40" style="text-align: left;">
          <button mat-raised-button color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="createNotification()">Crear anuncio</button>
        </div>
      </div>
    </div>
  </form>
</div>
