<div style="padding: 10px 50px;">
  <div>
    <a (click)="backList()" style="color: #757474; vertical-align: middle;
      font-size: 14px; cursor: pointer;">
      <mat-icon class="mat-18" style="vertical-align: middle; width: 24px;
        height: 24px;">keyboard_arrow_left</mat-icon>
      <span>Volver a la lista de anuncios</span>
    </a>
  </div>
  <form #filterForm="ngForm" [formGroup]="form">
    <div fxLayout="row wrap" style="padding: 20px 10px; color: #909090;
      font-size:
      14px;">
      <div fxFlex="50" style="padding-right: 40px;">
        <div style="padding-bottom: 20px;">
          <span>Tipo de anuncios</span>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-radio-group aria-label="Select an bodyNotification"
            formControlName="bodyNotification" >
            <div fxFlex="35">
              <mat-radio-button value="1" [checked]="checkedTypeNotification === 1 ? true : false "
                (click)="validateBody(1)">Texto +
                Imagen</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="3" [checked]="checkedTypeNotification === 3 ? true : false " (click)="validateBody(2)">Texto +
                Fondo</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="2" [checked]="checkedTypeNotification === 2 ? true : false " (click)="validateBody(3)">Imagen
                diseñada</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%; font-size: 16px;">
            <input matInput [matDatepicker]="dateInitial"
              formControlName="dateInitial" placeholder="Fecha
              inicial" [min]="today" >
            <mat-datepicker-toggle matSuffix [for]="dateInitial"></mat-datepicker-toggle>
            <mat-datepicker  #dateInitial></mat-datepicker>
            <mat-error *ngIf="form.get('dateInitial').hasError('required')">{{'errors.required' | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Título del anuncio"
              class="modal-export-to-reclaim-text-uppercase"
              [errorStateMatcher]="matcher" formControlName="title">
              <mat-error *ngIf="form.get('title').hasError('required')">{{'errors.required' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="50" style="padding-left: 40px;">
        <div style="padding-bottom: 20px;">
          <span>Idioma</span>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-radio-group aria-label="Select an languaje"
            formControlName="lenguaje">
            <div fxFlex="35">
              <mat-radio-button value="National" >Español</mat-radio-button>
            </div>
            <div fxFlex="35">
              <mat-radio-button value="International" >Ingles</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%; font-size: 16px;">
            <input matInput [matDatepicker]="dateEnd" placeholder="Fecha
              final" formControlName="dateEnd" [min]="form.value.dateInitial">
            <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
            <mat-datepicker #dateEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="padding-bottom: 20px;">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Página de destino"
              class="modal-export-to-reclaim-text-uppercase"
              [errorStateMatcher]="matcher" formControlName="pageDestiny">
          </mat-form-field>
        </div>
      </div>
      <div style="width: 100%; padding-bottom: 20px;"
        *ngIf="showDescriptionColorImg">
        <div style="width: 100%; padding-bottom: 20px;">
          <span>Contenido</span>
        </div>
        <div style="width: 100%;">
          <angular-editor id="bodyDescription" formControlName="bodyDescription"
            [config]="config"></angular-editor>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlex="100" style="padding-bottom: 20px;"
        *ngIf="showDescriptionColorImg">
        <div fxFlex="50">
          <div style="padding-bottom: 20px;">
            <span>Imagen destacadas</span>
          </div>
          <div>
            <div>
              <div fxLayout="row">
                <div fxFlex="100">
                  <div>
                    <div fxLayout="column" id="fileExcel"
                      (click)="disableLoadImag === false ? modalLoadFiel(): ''"
                      style="border: solid
                      1px
                      #707070;border-radius: 10px; width: 94%; cursor: pointer;"
                      [ngClass]="disableLoadImag === true ?
                      'notification-form-disable-background-color' :
                      'notification-form-enable-background-color'">
                      <div fxLayout="row">
                        <div style="padding-top: 20px;padding-left: 10px;
                          padding-right: 10px;">
                          <mat-icon class="mat-18"
                            style="vertical-align:
                            middle;font-size: 33px;height: 33px; width: 33px;
                            color: #757474;" *ngIf="imagePathDrag === null || imagePathDrag === 'backgroundColor'  ">image</mat-icon>
                          <div *ngIf="imagePathDrag !== null && imagePathDrag !== 'backgroundColor' " style="margin-top: 4px;">
                            <img [src]="imagePathDrag" style="width: 30px;
                              height: 30px;">
                          </div>
                        </div>
                        <div>
                          <div style="font-weight: bold; color: #727272;
                            padding-top: 20px;padding-bottom: 5px;">
                            <span *ngIf="!nameFile">
                              Subir archivo
                            </span>
                            <span *ngIf="nameFile">
                              {{nameFile}} ({{sizeFile}} MB)
                            </span>
                          </div>
                          <div style="color: #727272; padding-bottom: 20px;">Medidas
                            de las imagenes 800 x 600 px | Tamaño máximo del
                            archivo 7 MB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50" style="padding-left: 45px;">
          <div style="padding-bottom: 20px;">
            <span>Color de fondo</span>
          </div>
          <div style="border: solid 1px
            #707070;border-radius: 10px; width: 100%;" [ngClass]="disableColor
            === true ?
            'notification-form-disable-background-color' :
            'notification-form-enable-background-color'" fxLayout="row wrap">
            <div style="padding: 25px;" fxFlex="12">
              <input [ngStyle]="{'background': colorBackground, 'color':
                colorBackground}"
                formControlName="pickerColor"
                (colorPickerChange)="setValueColor($event)"
                style="width: 23px;height: 23px; border-radius: 4px; border:
                solid 1px black; cursor: pointer;"
                [cpOutputFormat]="'hex'"
                [cpPositionOffset]="'-1000%'"
                [(colorPicker)]="color" />
            </div>
            <div fxFlex="88" style="padding-top: 30px;">
              <span style="font-size: 16px;">
                {{colorBackground}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!showDescriptionColorImg" style="height: 380px; width: 100%;">
        <div>
          <span>Imagen destacadas</span>
        </div>
        <app-modal-load-file [showComponent]="show"
          (emitDataImgLoad)="emitDataImgLoad($event)"></app-modal-load-file>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center"
        style="padding-top: 30px;">
        <div fxFlex="40" style="text-align: right;">
          <button mat-stroked-button color="primary" style="text-transform:
            uppercase; width: 160px;"  mat-button
            (click)="backList()">cancelar</button>
        </div>
        <div fxFlex="15" style="text-align: center;">
          <button mat-stroked-button [disabled]="!filterForm.form.valid || imagePathDrag === null" color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="preview()">vista previa</button>
        </div>
        <div fxFlex="40" style="text-align: left;">
          <button mat-raised-button [disabled]="!filterForm.form.valid || imagePathDrag === null" color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="saveNotification()">{{btnTitle}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
