$color-black: #000000;
$color-aquamarine: #009688;
$color-gray3: #909090;
$color-blue: #485AFA;

:host ::ng-deep {
  section#section-historical-filter-offers {
    width: 100%;
    height: 100%;

    form {
      width: 100%;
      box-sizing: border-box;
      height: 55%;
      max-height: 450px;
      padding: 10%;

      article {
        width: 100%;

        span {
          color: $color-black;
          font-size: 20px;
          font-weight: bold;
        }

        button {
          &.mat-icon-button {
            span {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        &.container-buttons {
          max-width: 370px;
          margin: 5% 0;

          button {
            width: 130px;
            height: 37px;
          }
        }
      }

      mat-form-field.mat-form-field {
        width: 100%;

        .mat-form-field-underline {
          background-color: $color-aquamarine;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    section#section-filter-offers {
      form {
        padding: 5%;
      }
    }
  }
}
