<div class="content-order my-content">
  <div fxFlex class="container" fxLayout="row wrap" fxLayoutAlign="center
    start">
    <div fxFlex="100" class="light-content">
      <app-toolbar-search-pagination [informationToForm]="informationToForm" [state]="null" #toolbarOptions
        (filterCalifications)="toggleFilter()" (paginationListOrdens)="paginations($event)" [Typeprofile]="3"
        [lengthOrder]="length" [limitPaginate]="[10,50,100]">
      </app-toolbar-search-pagination>
    </div>

    <div class="container-port-main">
      <div fxLayout="column" class="container-width-100">
        <div fxLayout="row">
          <div class="summary-component-button-add">
            <div id="addButton" class="container-group-add-button">
              <button mat-button (click)="sendDetailSummary()" class="summary-component-text-btn-show-details">
                Ver detalle de las facturas seleccionadas
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div fxFlex.xs="93%" fxFlex.sm="95" fxFlex.md="97" fxFlex.lg="97" fxFlex.xl="97"
      class="generic-component-content-table-center-collection" *ngIf="resultModel && resultModel.count > 0">
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="check">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.xs="5" fxFlex.xl=""
            *matHeaderCellDef>

          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.xs="5" fxFlex.xl=""
            *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="changeStatus(row,$event.checked)"
            [checked]="selection.isSelected(row)" ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="number_bill">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> Numero de Factura </span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity_orders">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header">Cantidad de pedidos </span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.totalOrders}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payment_date">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> Fecha de Pago </span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.paymentDate | date}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_discounted_value">
          <mat-header-cell  class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header" > Valor total descontado </span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.discountedTotalValue}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_to_pay">
          <mat-header-cell class='marginListAdminTotal alingRight' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header width-100" >Total a Pagar</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal alingRight' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal width-100">{{element.billingTotal}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row id="order-number-{{index}}" *matRowDef="let index=index; let
          row; columns: displayedColumns;" matRipple class="element-row personal-row-table" [cdkDetailRow]="row"
          [cdkDetailRowTpl]="tpl" >
        </mat-row>
      </mat-table>
      <div *ngIf="dataSource && dataSource.data && dataSource.data.count === 0"  class="padding-top">
        <div fxLayout="row" fxLayoutAlign="end end" class="background-color-greyblack">
          <span class="title-summaroty">Valor total Facturado</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="background-color-grey">
          <span class="text-total-summatory">$ {{summaryTotal}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="resultModel && resultModel.count === 0">
      no hay datos
    </div>
  </div>
  <div>
    <app-filter-summary-payment [stateSideNavOrder]="stateSideNavOrder" (OnGetFilter)="filterListSummary($event)" [informationToForm]="informationToForm">
    </app-filter-summary-payment>
  </div>
</div>
