:host ::ng-deep .list-log {
    max-height: 400px;
    overflow: auto;
    & .card-err-process {
      border-top: solid 3px #c70024;
    }
    & .icon-color-error {
      color: #c70024;
    }
    & .succes-string {
      & mat-icon {
        color: rgb(103, 165, 48);;
        margin-right: 10px;
      }
    }

    & .processing-string {
      & mat-icon {
        color:orange;
        margin-right: 10px;
      }
    }

    & .error-string {
      & mat-icon {
        color: #F44336;
        margin-right: 10px;
      }
    }
    & .succes-card {
      border-top: solid 3px rgb(103, 165, 48);
    }
  }
  
  .footer-dialog {
    border-top: solid 1px #f5f5f5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .processCharge {
    margin: 0 6% 0 3%;
  }