<section id="section-detail-offer" class="flexbox flex-wrap justify-center">
  <article class="detail-offer-img flexbox align-center justify-center flex-wrap">
    <div class="offer-button-back flexbox align-center">
      <button class="btn-back" mat-icon-button (click)="goToListOffers()">
        <mat-icon>arrow_back</mat-icon>
        <small class="sub-title-back">{{'secure.offers.list.components.detail_offer.return' | translate}}</small>
      </button>
    </div>
    <div class="offer-img flexbox align-center justify-center">
      <img [src]="dataOffer.imageUrl" alt="">
      <div class="sold-out flexbox justify-center align-center" *ngIf="dataOffer.stock === 0 || !dataOffer.stock">
        <div class="flexbox justify-center align-center">
          <p>{{'secure.offers.list.list.with_out_stock' | translate}}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="detail-offer-desc flexbox flex-wrap justify-between">
    <p class="ean flexbox align-center">{{'shared.ean' | translate}}: {{dataOffer.ean}}</p>
    <p class="ean flexbox align-center" *ngIf="dataOffer.pluVtex">{{'secure.dashboard.table.top.title.SKU' | translate}}:
      {{dataOffer.pluVtex}}</p>
    <div class="btn-edit-offer flexbox justify-end">
      <button type="button" color="primary" [matTooltip]="'actions.edit' | translate" matTooltipPosition="below"
        mat-icon-button mat-button (click)="editOffer()" *ngIf="!isUpdateOffer && isUpdateOffer === false && canEdit">
        <mat-icon class="flexbox align-center justify-center">edit</mat-icon>
      </button>
      <button type="button" color="primary" [matTooltip]="'actions.cancel' | translate" matTooltipPosition="below"
        mat-icon-button mat-button (click)="cancelEditOffer()" *ngIf="isUpdateOffer && isUpdateOffer === true">
        <mat-icon class="flexbox align-center justify-center">close</mat-icon>
      </button>
    </div>
    <div class="maskSellerSku" *ngIf="!isUpdateOffer && isUpdateOffer === false && dataOffer.sellerSku">
      <div class="titleMask">
        {{'secure.offers.bulk_upload.table_load.sellerSku' | translate}}:
      </div>
      <div class="detailMask">
        {{dataOffer.sellerSku}}
      </div>
    </div>
    <p class="name">{{dataOffer.name}}</p>
    <div *ngIf="dataOffer.reference" class="maskSellerSku">
      {{'secure.products.table_load_product.parent_reference' | translate}}: {{dataOffer.reference}}
    </div> 
    <div class="container-data-offer" *ngIf="!isUpdateOffer && isUpdateOffer === false">
      <p *ngIf="dataOffer.discountPrice > 0" [innerHTML]="dataOffer.price | currency: '$' : 'symbol' : '1.2-2'"
        class="price-strikethrough"></p>
      <p [innerHTML]="dataOffer.discountPrice > 0 ? (dataOffer.discountPrice | currency: '$' : 'symbol' : '1.2-2') : (dataOffer.price | currency: '$' : 'symbol' : '1.2-2')"
        class="price"></p>
      <div class="container-stock flexbox">
        <p [innerHTML]="['secure.offers.list.components.detail_offer.id_offer' | translate] + '<strong> &nbsp;' + dataOffer.idOffer + '</strong>&nbsp;'"
          class="stock flexbox flex-wrap align-center separator"></p>
        <p [innerHTML]="dataOffer.stock > 0 && dataOffer.stock ? ['secure.offers.list.components.detail_offer.in_stock' | translate] + '<strong>&nbsp;' + (dataOffer.stock | number) + '</strong>' : '<strong class=sold-out>' + ['secure.offers.list.list.stock' | translate] + '</strong>'"
          class="stock flexbox flex-wrap align-center padding-left-1"></p>
      </div>
      <span class="flexbox align-center" *ngIf="dataOffer.size">
        <mat-icon>tab_unselected</mat-icon>
        <p [innerHTML]="['secure.products.bulk_upload.size' | translate] + '<strong>' + dataOffer.size + '</strong>'">
        </p>
      </span>
      <span class="flexbox align-center" *ngIf="dataOffer.hexColourCodePDP">
        <mat-icon>color_lens</mat-icon>
        <p class="text-color" [innerHTML]="['secure.products.bulk_upload.color' | translate]"></p>
        <mat-icon [ngStyle]="{'color':'#' + dataOffer.hexColourCodePDP}">brightness_1</mat-icon>
      </span>
      <span class="flexbox align-center">
        <mat-icon>date_range</mat-icon>
        <p
          [innerHTML]="['secure.offers.list.list.promise' | translate] + '<strong>' + promiseFirts + ' ' + ['secure.offers.list.components.detail_offer.' + to | translate] + ' ' + promiseSeconds + ' ' + periodicityHtml  + ' </strong>'">
        </p>
      </span>
      <span class="flexbox align-center">
        <mat-icon>local_shipping</mat-icon>
        <p
          [innerHTML]="['secure.offers.list.list.averageFreightCost' | translate] + '<strong>' + (dataOffer.shippingCost | currency: '$' : 'symbol' : '1.2-2') + '</strong>'">
        </p>
      </span>
      <span class="flexbox align-center">
        <mat-icon>beenhere</mat-icon>
        <p
          [innerHTML]="['secure.offers.list.list.warranty' | translate] + '<strong>' + dataOffer.warranty + ' ' +['secure.offers.list.components.detail_offer.months' | translate] + '</strong>'">
        </p>
      </span>
      <span class="flexbox align-center">
        <mat-icon>attach_money</mat-icon>
        <p
          [innerHTML]="['secure.offers.list.list.currency' | translate] + '<strong>' + dataOffer.currency + '  </strong>'">
        </p>
      </span>
      <aside class="flexbox align-center justify-center flex-wrap">
        <div class="flexbox align-center justify-center sep-right" [ngClass]="{'check' : dataOffer.isFreeShipping}">
          <mat-icon *ngIf="dataOffer.isFreeShipping && dataOffer.isFreeShipping === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isFreeShipping || dataOffer.isFreeShipping === false">clear</mat-icon>
          <p [innerHTML]="['secure.offers.historical_admin.historical_admin.free_shipping' | translate]"></p>
        </div>
        <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isEnviosExito}">
          <mat-icon *ngIf="dataOffer.isEnviosExito && dataOffer.isEnviosExito === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isEnviosExito || dataOffer.isEnviosExito === false">clear</mat-icon>
          <p [innerHTML]="['secure.offers.historical_admin.historical_admin.shiping_exito' | translate]"></p>
        </div>
        <div class="flexbox align-center justify-center sep-right sep-top"
          [ngClass]="{'check' : dataOffer.isFreightCalculator}">
          <mat-icon *ngIf="dataOffer.isFreightCalculator && dataOffer.isFreightCalculator === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isFreightCalculator || dataOffer.isFreightCalculator === false">clear</mat-icon>
          <p [innerHTML]="['secure.offers.historical_admin.historical_admin.freight_calculator' | translate]"></p>
        </div>
        <div class="flexbox align-center justify-center sep-top" [ngClass]="{'check' : dataOffer.isLogisticsExito}">
          <mat-icon *ngIf="dataOffer.isLogisticsExito && dataOffer.isLogisticsExito === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isLogisticsExito || dataOffer.isLogisticsExito === false">clear</mat-icon>
          <p [innerHTML]="['secure.offers.historical_admin.historical_admin.exito_logistic' | translate]"></p>
        </div>
      </aside>
    </div>
    <div *ngIf="!isUpdateOffer && isUpdateOffer === false">
      <div fxLayout="row wrap" *ngIf="dataOffer.offerComponents.length > 0">
        <div fxLayout="row" class="titleListCombo">{{'secure.offers.bulk_upload.table_load.component_list' | translate}}
          <span class="countCombo">({{dataOffer.offerComponents.length}})</span></div>
        <div fxLayout="row wrap" class="beforeNameCombo" fxFlex="100">
          <div fxFlex="100" id="idListComponent" *ngFor="let detailOfers of dataOffer.offerComponents">
            <div class="nameCombo">
              <mat-icon matPrefix class="alingIcon">move_to_inbox</mat-icon>
              <span class="colorTitleCombo">{{detailOfers.productName}}</span>
              <div fxLayout="row">
                <div fxFlex="50" id="idPrice">
                  {{'secure.offers.historical_admin.historical_admin.price' | translate}}</div>
                <div fxFlex="50" id="idQuantyCombo">
                  {{'secure.offers.bulk_upload.table_load.quantity_combo' | translate}}</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="50" id="Price2">
                  {{detailOfers.price}}</div>
                <div fxFlex="50" id="idQuantyCombo2">
                  {{detailOfers.quantity}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p [innerHTML]="['secure.offers.list.components.detail_offer.last_modify' | translate] + (dataOffer.lastUpdate | date : 'dd/MM/yyyy')"
      class="udpade-date"></p>
    <div class="container-form-edit-offer" *ngIf="isUpdateOffer && isUpdateOffer === true">
      <form #updateOffer="ngForm" [formGroup]="formUpdateOffer" autocomplete="off">
        <div class="flexbox flex-wrap align-center justify-between">
          <mat-form-field>
            <input matInput [placeholder]="['secure.offers.bulk_upload.table_load.sellerSku' | translate]"
              (change)="unLessPrice()" id="detail-offer-stock" formControlName="SellerSku">
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('SellerSku').hasError('pattern')"
              [innerHTML]="['secure.offers.bulk_upload.table_error.sellerSku' | translate]">
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="['secure.offers.historical_admin.historical_admin.stock' | translate]"
              id="detail-offer-stock" formControlName="Stock" (keypress)="onlyNumber($event)" (change)="unLessPrice()"
              required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('Stock').hasError('required')"
              [innerHTML]="['errors.error_required' | translate]">
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="['secure.offers.historical_admin.historical_admin.price' | translate]" (change)="unLessDiscountPrice()"
              id="detail-offer-Price" formControlName="Price" [errorStateMatcher]="matcher"
              (blur)="valiteInput(); validInput('Price');" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('Price').hasError('required')"
              [innerHTML]="['errors.error_required' | translate]">
            </mat-error>
            <mat-error *ngIf="formUpdateOffer.get('Price').hasError('pattern')"
              [innerHTML]="['errors.format_invalidate' | translate]">
            </mat-error>
            <mat-error
              *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('Price').hasError('isLessThanEightThousand')"
              [innerHTML]="['errors.error_price' | translate] + sellerMinPrice"></mat-error>
            <mat-error *ngIf="formUpdateOffer.controls.Price.errors && formUpdateOffer.controls.Price.errors.unLess"
              [innerHTML]="['errors.error_price' | translate] + sellerMinPrice"></mat-error>
            <mat-error
              *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('Price').hasError('isLessThanDiscPrice')"
              [innerHTML]="['errors.error_price_dscto' | translate] "></mat-error>
            <mat-error
              *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('Price').hasError('notCero')">
              {{'errors.price_cannot_be_0' | translate}}</mat-error>
          </mat-form-field>
          

          <mat-form-field>
            <input matInput [placeholder]="'secure.offers.historical_admin.historical_admin.discount_price' | translate" (change)="unLessDiscountPrice()"
              [errorStateMatcher]="matcher" formControlName="DiscountPrice" (blur)="valiteInput() ">
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('pattern')"
              [innerHTML]="['errors.format_invalidate' | translate]">
            </mat-error>
            <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('isLessThanEightThousand')"
              [innerHTML]="['errors.error_price_discount' | translate] + sellerMinPrice"></mat-error>
            <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('isgreaterThanPrice')"
              [innerHTML]="['errors.error_price_discount-2' | translate]"></mat-error>
            <mat-error
              *ngIf="!formUpdateOffer.get('DiscountPrice').hasError('required') && formUpdateOffer.get('DiscountPrice').hasError('isLessThanDiscPrice')"
              [innerHTML]="['errors.error_price_dscto' | translate]"></mat-error>
            <mat-error
              *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('DiscountPrice').hasError('notCero')">
              {{'errors.discounted_price_cannot_be_0' | translate}}</mat-error>
              <mat-error *ngIf="formUpdateOffer.controls.DiscountPrice.errors && formUpdateOffer.controls.DiscountPrice.errors.unLess"
              [innerHTML]="['errors.error_price_discount' | translate] + sellerMinPrice"></mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput
              [placeholder]="['secure.offers.list.components.detail_offer.averageFreightCost' | translate]"
              (change)="unLessPrice()" formControlName="AverageFreightCost" [errorStateMatcher]="matcher" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('AverageFreightCost').hasError('pattern')"
              [innerHTML]="['errors.format_invalidate' | translate]"></mat-error>
            <mat-error *ngIf="formUpdateOffer.get('AverageFreightCost').hasError('required')"
              [innerHTML]="['errors.error_required' | translate]"></mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="'secure.offers.historical_admin.historical_admin.promise' | translate"
              (change)="unLessPrice()" formControlName="PromiseDelivery" (keyup)="validatePromiseDeliveriOffert()"
              required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('PromiseDelivery').hasError('required')"
              [innerHTML]="'errors.error_required' | translate"></mat-error>
            <mat-error *ngIf="formUpdateOffer.get('PromiseDelivery').hasError('pattern')"
              [innerHTML]="'secure.products.create_product_unit.list_products.ofert_product.promise_invalid' | translate">
            </mat-error>
            <mat-error *ngIf="formUpdateOffer.get('PromiseDelivery').hasError('startIsGreaterThanEnd')"
              [innerHTML]="'secure.products.create_product_unit.list_products.ofert_product.promise_higher' | translate">
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="Periodicity" class="color-select-periodicity" [disabled]="isInternational"
              (change)="unLessPrice()">
              <mat-option value=1>{{'secure.offers.historical_admin.historical_admin.day' |
                    translate}}</mat-option>
              <mat-option value=2>{{'secure.offers.historical_admin.historical_admin.hours'|
                    translate}}</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('Periodicity').hasError('required')"
              [innerHTML]="'errors.error_required' | translate"></mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [placeholder]="['secure.offers.historical_admin.historical_admin.warranty' | translate]"
              formControlName="Warranty" required (keypress)="onlyNumber($event)" (change)="unLessPrice()">
            <mat-hint></mat-hint>
            <mat-error *ngIf="formUpdateOffer.get('Warranty').hasError('required')"
              [innerHTML]="['errors.error_required' | translate]"></mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [placeholder]="['secure.offers.historical_admin.historical_admin.currency' | translate]"
              formControlName="Currency" (change)="unLessPrice()">
          </mat-form-field>
        </div>

        <div>
          <mat-slide-toggle color="primary" formControlName="IsFreeShipping"
            (change)="checkSlide($event, 'isFreeShipping')">
            {{'secure.offers.historical_admin.historical_admin.free_shipping' | translate}}
          </mat-slide-toggle>

          <mat-slide-toggle color="primary" formControlName="IsEnviosExito"
            (change)="checkSlide($event, 'isEnviosExito')">
            {{'secure.products.create_product_unit.list_products.ofert_product.envios_exito_indicator' | translate}}
          </mat-slide-toggle>

          <mat-slide-toggle color="primary" formControlName="IsFreightCalculator"
            (change)="checkSlide($event, 'isFreightCalculator')">
            {{'secure.offers.historical_admin.historical_admin.freight_calculator' | translate}}
          </mat-slide-toggle>

          <mat-slide-toggle color="primary" formControlName="IsUpdatedStock"
            (change)="checkSlide($event, 'IsUpdatedStock'); alertSellerByReference($event)">
            {{'secure.offers.list.components.detail_offer.update_stock' | translate}}
          </mat-slide-toggle>
        </div>

        <div *ngIf="dataOffer.reference || dataOffer.isCombo === false">
          <mat-slide-toggle color="primary" formControlName="OfferByReference" class="apply_variants_toogle" (change)="alertSellerByReference($event)">
            {{'secure.products.create_product_unit.list_products.ofert_product.reference_update' | translate}}
          </mat-slide-toggle>
        </div>
         <!-- Logistica exito Ocultado por negocio pendiente activar-->
        <!-- <mat-slide-toggle color="primary" formControlName="IsLogisticsExito"
          (change)="checkSlide($event, 'IsLogisticsExito')">
          {{'secure.offers.historical_admin.historical_admin.exito_logistic' | translate}}
        </mat-slide-toggle> -->


        <div fxLayout="row wrap" class="sizeContainer" *ngIf="dataOffer.offerComponents.length > 0">
          <div fxLayout="row" class="titleListCombo">
            {{'secure.offers.bulk_upload.table_load.component_list' | translate}}<span
              class="countCombo">({{Combos.controls.length}})</span></div>

          <div fxLayout="row wrap" class="classListComponents" fxFlex="100">
            <div fxFlex="100" id="idListComponent" *ngFor="let comp of Combos.controls">
              <ng-container [formGroup]="comp">
                <div class="nameCombo">
                  <mat-icon matPrefix class="alingIcon">move_to_inbox</mat-icon>
                  <span><b>{{comp.get('nameCombo').value}}</b></span>
                </div>
                <div>
                  <mat-form-field color="primary" class="marginInput">
                    <mat-icon matPrefix>attach_money</mat-icon>
                    <input (change)="getPriceDescount()" matInput
                      [placeholder]="'secure.offers.historical_admin.historical_admin.price' | translate"
                      formControlName="ofertPriceComponet" (blur)="validInput('Price'); valiteInput()"
                      [errorStateMatcher]="matcher">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="comp.get('ofertPriceComponet').hasError('required')">
                      {{'secure.products.create_product_unit.list_products.ofert_product.mandatory_price_ean_combo' | translate}}
                    </mat-error>
                    <mat-error *ngIf="comp.get('ofertPriceComponet').hasError('pattern')">
                      {{'secure.products.create_product_unit.list_products.ofert_product.invalid_price_ean_combo' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field color="primary" class="marginInput">
                    <mat-icon matPrefix>add_shopping_cart</mat-icon>
                    <input (change)="getPriceDescount()" matInput
                      [placeholder]="'secure.offers.bulk_upload.table_load.quantity_combo' | translate"
                      (blur)="validInput('Price'); valiteInput()" formControlName="ComboQuantity"
                      [errorStateMatcher]="matcher">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="comp.get('ComboQuantity').hasError('required')">
                      {{'secure.products.create_product_unit.list_products.ofert_product.mandatory_amount_ean_combo' | translate}}}
                    </mat-error>
                    <mat-error *ngIf="comp.get('ComboQuantity').hasError('pattern')">
                      {{'secure.products.create_product_unit.list_products.ofert_product.invalid_amount_ean_combo' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="button-update-offert flexbox justify-center align-center">
          <button [disabled]="!updateOffer.form.valid || showButton === true || !updateOffer.form.touched" type="submit"
            mat-raised-button color="primary" [innerHTML]="'permissions.Editar' | translate"
            (click)="validateRulesOfert()"></button>
        </div>
      </form>
    </div>
  </article>
</section>
