$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #5D5D5D;
$color-gray2: #909090;
$color-gray3: #D3D3D3;
$color-gray4: #BCBCBC;
$color-blue: #485AFA;
$color-white-opacity: rgba(255, 255, 255, 0.7);
$color-green: #6FB63E;

.detailMask {
  width: 26%;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 768px) {
    width: 46%;
  }
}

#freeShippingdWidth {
  // width: 33% !important;
}

#updateStockWidth {
  width: 90% !important;
}

.titleMask {
  width: 25%;
}

.maskSellerSku {
  width: 100%;
  display: flex;
  color: #5D5D5D;
}

.apply_variants_toogle {
  width: 100% !important;
}


:host ::ng-deep {
  .mat-select-value {
    color: $color-gray1;
  }

  section#section-detail-offer {
    padding: 100px 13px 30px 30px;
    color: $color-gray1;

    article {
      width: 50%;
      box-sizing: border-box;

      &.detail-offer-img {
        border-right: 1px solid $color-gray3;

        button {
          width: 60px;
          border-radius: 5px;

          .mat-button-ripple-round {
            border-radius: 5px;
          }
        }

        div {
          width: 100%;

          &.offer-img {
            position: relative;
            height: 90%;

            .sold-out {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $color-white-opacity;
              border-radius: 5px;

              div {
                background-color: $color-gray4;
                height: 50px;
                width: 300px;
                color: $color-white;
                border-radius: 5px;

                p {
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
            max-width: 400px;
            max-height: 400px;
          }
        }
      }

      &.detail-offer-desc {
        padding: 0 0 0 5%;

        div {
          &.container-data-offer {
            width: 100%;

            p {
              font-weight: 100;
            }

            .container-stock {
              p {
                max-width: 230px;
                margin: 7px 3px;

                &.separator {
                  position: relative;
                  padding-right: 1em;

                  &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background-color: $color-gray3;
                  }
                }
              }

              .padding-left-one {
                padding-left: 1em;
              }
            }

            mat-icon {
              padding-right: 0.5em;
            }
          }

          &.btn-edit-offer {
            box-sizing: border-box;
            padding: 0 20px;
            width: 20%;

            button {
              width: 50px;
              color: $color-gray1;
              border-radius: 5px;

              .mat-button-ripple-round {
                border-radius: 5px;
              }

              mat-icon {
                font-size: 35px;
                margin: 0 auto;
              }
            }
          }

          &.container-form-edit-offer {
            width: 100%;

            form {
              width: 100%;

              .mat-form-field,
              .mat-slide-toggle {
                width: 45%;
                margin: 5px 0 10px;
                margin-bottom: 10px;
                padding-bottom: 13px;
              }

              div {
                &.button-update-offert {
                  width: 100%;
                }
              }
            }
          }
        }

        p,
        .mat-icon {
          margin: 7px 0;
          color: $color-gray2;
          font-size: 14px;

          &.alingIcon {
            vertical-align: middle;
            font-size: 20px;
            margin: initial;
            color: #6e7ccc;

            span {
              color: #5D5D5D;
            }
          }
        }

        span {
          .mat-icon {
            display: flex;
            align-items: center;
            font-size: 20px;
          }
        }

        p {
          width: 100%;

          &.text-color {
            width: auto;
          }

          &.ean {
            font-size: 16px;
            width: 80%
          }

          &.name {
            width: 70%;
            font-size: 20px;
            color: $color-gray1;
            margin-bottom: 17px;
          }

          &.price-strikethrough {
            font-size: 22px;
            text-decoration: line-through;
          }

          &.price {
            font-size: 44px;
            color: $color-black;
          }

          &.stock {
            color: $color-gray2;
          }

          strong {
            font-weight: normal;
            color: $color-gray1;

            &.sold-out {
              color: $color-gray4;
            }
          }
        }

        aside {
          border: 1px solid $color-gray3;
          border-radius: 5px;
          width: 95%;
          margin: 5% 0;

          div {
            position: relative;
            box-sizing: border-box;
            padding: 0 20px;
            width: 50%;
            height: 50px;

            .mat-icon {
              font-size: 17px;
              display: flex;
              align-items: center;
            }

            &.sep-right::after {
              content: '';
              position: absolute;
              right: 0;
              width: 1px;
              height: 80%;
              background-color: $color-gray3;
            }

            &.sep-top::before {
              content: '';
              position: absolute;
              top: 0;
              width: 90%;
              height: 1px;
              background-color: $color-gray3;
            }

            &.check {
              .mat-icon {
                color: $color-green;
              }

              p {
                color: $color-black;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      article {
        width: 90%;

        &.detail-offer-img {
          border-right: none;
          border-bottom: 1px dashed $color-gray3;

          button {
            &.btn-back {
              display: none;
            }
          }

          div {
            &.offer-img {
              box-sizing: border-box;
              padding: 5% 0;
            }

            img {
              max-width: 300px;
              max-height: 300px;
            }
          }
        }

        &.detail-offer-desc {
          box-sizing: border-box;
          padding: 20px 0 0 0;

          div {
            &.container-form-edit-offer {
              form {

                .mat-form-field,
                .mat-slide-toggle {
                  width: 100%;
                }
              }
            }
          }

          p {
            &.text-color {
              width: auto;
            }

            &.ean {
              color: $color-black;
            }

            &.name {
              font-size: 24px;
            }

            &.price-strikethrough {
              font-size: 20px;
            }

            &.price {
              font-size: 36px;
            }

            &.stock {
              color: $color-gray2;
            }

            strong {
              font-weight: normal;
              color: $color-gray1;

              &.sold-out {
                color: $color-gray4;
              }
            }
          }
        }
      }

      .mat-form-field-wrapper {
        margin-right: 10px;
      }
    }
  }

  .marginInput {
    padding: 5px;
  }

  .titleListCombo {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
    display: initial;
  }
}

.listCombo {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 19px;
}



.containerScrollCombos {
  height: 170px;
  overflow-y: scroll;
}

.nameCombo {
  font-size: 12px;
  margin-bottom: 14px;
}

.countCombo {
  vertical-align: middle;
  font-size: 12px;
  display: contents;
}

.colorTitleCombo {
  color: #5D5D5D;
  font-weight: bold;
}

.sizeContainer {
  width: 100%;
}

.color-select-periodicity {
  color: $color-gray1;
}

.classListComponent {
  height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 26px;
}

#idListComponent {
  height: auto;
}

.beforeNameCombo {
  height: 150px;
  overflow-y: scroll;
  margin-top: 10px;
}
.formBeforeNameCombo {
  height: 190px;
  overflow-y: scroll;
  margin-top: 10px;
}

#idPrice {
  background-color: #eeeeee;
  margin-right: 5px;
  margin-left: 28px;
  height: 25px;
  padding-left: 7px;
  padding-top: 4px;
  font-weight: bold;
  color: #868383;
}

#idQuantyCombo {
  background-color: #eeeeee;
  margin-right: 5px;
  height: 25px;
  padding-left: 7px;
  padding-top: 4px;
  font-weight: bold;
  color: #868383;
}

#Price2 {
  background-color: #f8f8f8;
  margin-right: 5px;
  margin-left: 28px;
  height: 25px;
  padding-left: 7px;
  padding-top: 4px;
}

#idQuantyCombo2 {
  background-color: #f8f8f8;
  margin-right: 5px;
  height: 25px;
  padding-left: 7px;
  padding-top: 4px;
}

.max-height{
  max-height: 520px;
  text-align: center;
  border-right: 1px solid #D3D3D3
}


.vertical-align{
vertical-align: middle;
}
.color-green{
  color: $color-green;
}

.sold-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-white-opacity;
  border-radius: 5px;

  div {
    background-color: $color-gray4;
    height: 50px;
    width: 300px;
    color: $color-white;
    border-radius: 5px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.color-red{
  color: red;
}


.padding-70-25px{
  padding: 70px 25px 0px 25px;
}

.container-main-width-auto-color{
  width: auto; height: auto; color:
        #9c9c9c;
}

.font-size-14{
  font-size: 14px;
}

.container-detail-ofert-img{
  max-width: 70%;
  min-width:60%;
  border: solid 1px #e3e3e3;
  max-height: 310px;
}

.position-relative-height{
  position: relative; height: 90%;
}

.padding-14{
  padding: 14px;
}

.font-size-color-grey-img{
  color: #696969;
  font-size: 15px;
}

.color-icon-detail{
  vertical-align: middle;
  margin-right: 5px;
  color:#b6b6b6;
}

.text-align-end{
  text-align: end;
}

.width-100-and-text-align-end{
  width: 100%; text-align: end;
}

.color-grey-text-icon{
  color: #909090;
}

.detail-ofert-info-down{
  padding-left: 55px;
  color: #b6b6b6;
  font-size: 12px;
}

.color-grey-light-text{
  color: #6f6e6e;
}

.detail-ofert-info-down-two{
  padding-left: 55px;
  color: #b6b6b6;
  margin-top: 10px;
  font-size: 13px;
}

.container-price-info{
  padding-left: 55px;
  color: #b6b6b6;
  padding-top: 10px;
}

.aling-container-price-info{
  text-align: center;
  height: 22px;
}

.info-text-price{
  text-decoration: line-through;
  font-size: 15px;
}

.font-size-20{
  font-size:20px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.detail-ofert-info-down-three{
  padding-left: 55px;
  color: #b6b6b6;
  font-size: 13px;
}

.border-container-solid-left{
  border-left: solid 1px #dcdcdc;
}

.container-ofert-program{
  padding-left: 30px;
  color: #b6b6b6;
  padding-top: 10px;
}

.text-aling-center{
  text-align: center;
}

.font-size-13{
  font-size: 13px;
}

.icon-color-ofert-program{
  font-size: 17px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.text-decoration-line{
  text-decoration: line-through;
  font-size: 15px;
}

.font-size-color-red{
  font-size: 20px;
  color: red;
}

.font-size-13-color{
  color: #b6b6b6;
  font-size: 13px;
}

.margin-left-55{
  margin-left: 55px;
}

.margin-top-10{
  margin-top: 10px;
}

.padding-left-font-size-13{
  padding-left: 50px;
  font-size:13px;
}

.widht-100{
  width: 100%;
}

.vertical-align-color-grey{
  vertical-align: middle;
  color: #b6b6b6;
}

.padding-top-font-size{
  padding-top: 10px; font-size: 13px;
}

.padding-left-50{
  padding-left: 50px;
}

.padding-top-font-size-color{
  padding-top: 15px;
  font-size:13px;
  color: #6f6e6e;
}

.freshippingText{
  border: solid 1px #b6b6b6;
  margin-right:5px;
  margin-left: 25px;
}

.container-element-detail-ofert{
  border: solid 1px #b6b6b6;
  margin-right:5px;
}

.move-to-inbox{
  vertical-align: middle;
  width: 16px;
  height:16px;
  font-size: 16px;
  color: #8e8e8e;
  margin-right: 5px;
}

.padding-10-20-30{
  padding:10px 30px 20px 30px;
}

.font-size-12{
  font-size: 12px;
}

.padding-top-20{
  padding-top: 20px;
}

.margin-right-15{
  margin-right: 15px;
}

.width-100-font-size-13{
  width: 100%; font-size: 13px;
}

.padding-top-40{
  padding-top: 40px;
}

.padding-top-font-size-13{
  padding-top: 5px;
  font-size:13px;
}

.margin-top-10{
  margin-top: 10px;
}

.border-color-margin-top{
  border-top: solid 1px#ededed;
  margin-top: 20px;
}

.text-aling-center-width-100-margin{
  text-align: center;
  width: 100%; 
  margin-top:10px;
}

.font-margin-left-width{
  font-size:13px;
  margin-left: 21px;
  width: 80%;
}

.font-size-width{
  font-size:13px;
  width: 80%;
}

.color-grey-generic {
  color: #b6b6b6;
}

.margin-right-20{
  margin-right: 20px;
}
