$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #5D5D5D;
$color-gray2: #909090;
$color-gray3: #D3D3D3;
$color-gray4: #BCBCBC;
$color-blue: #485AFA;
$color-white-opacity: rgba(255, 255, 255, 0.7);
$color-green: #6FB63E;
:host ::ng-deep {
    section#section-detail-offer {
        padding: 100px 30px;
        color: $color-gray1;
        article {
            width: 50%;
            box-sizing: border-box;
            &.detail-offer-img {
                border-right: 1px solid $color-gray3;
                button {
                    width: 60px;
                    border-radius: 5px;
                    .mat-button-ripple-round {
                        border-radius: 5px;
                    }
                }
                div {
                    width: 100%;
                    &.offer-img {
                        position: relative;
                        height: 90%;
                        .sold-out {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $color-white-opacity;
                            border-radius: 5px;
                            div {
                                background-color: $color-gray4;
                                height: 50px;
                                width: 300px;
                                color: $color-white;
                                border-radius: 5px;
                                p {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 400px;
                        max-height: 400px;
                    }
                }
            }
            &.detail-offer-desc {
                padding: 0 0 0 5%;
                div {
                    &.container-data-offer {
                        width: 100%;
                        p {
                            font-weight: 100;
                        }
                        .container-stock {
                            p {
                                max-width: 230px;
                                margin: 7px 3px;
                                &.separator {
                                    position: relative;
                                    padding-right: 1em;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        right: 0;
                                        width: 1px;
                                        height: 100%;
                                        background-color: $color-gray3;
                                    }
                                }
                            }
                            .padding-left-one{
                                padding-left: 1em;
                            }
                        }
                        mat-icon{
                            padding-right: 0.5em;
                        }
                    }
                    &.btn-edit-offer {
                        box-sizing: border-box;
                        padding: 0 20px;
                        width: 20%;
                        button {
                            width: 50px;
                            color: $color-gray1;
                            border-radius: 5px;
                            .mat-button-ripple-round {
                                border-radius: 5px;
                            }
                            mat-icon {
                                font-size: 35px;
                                margin: 0 auto;
                            }
                        }
                    }
                    &.container-form-edit-offer {
                        width: 100%;
                        form {
                            width: 100%;
                            .mat-form-field,
                            .mat-slide-toggle {
                                width: 45%;
                                margin: 5px 0 10px;
                                margin-bottom: 10px;
                            }
                            div {
                                &.button-update-offert {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                p,
                .mat-icon {
                    margin: 7px 0;
                    color: $color-gray2;
                    font-size: 14px;
                }
                span {
                    .mat-icon {
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                    }
                }
                p {
                    width: 100%;
                    &.text-color {
                        width: auto;
                    }
                    &.ean {
                        font-size: 16px;
                        width: 80%
                    }
                    &.name {
                        width: 70%;
                        font-size: 20px;
                        color: $color-gray1;
                        margin-bottom: 17px;
                    }
                    &.price-strikethrough {
                        font-size: 22px;
                        text-decoration: line-through;
                    }
                    &.price {
                        font-size: 44px;
                        color: $color-black;
                    }
                    &.stock {
                        color: $color-gray2;
                    }
                    strong {
                        font-weight: normal;
                        color: $color-gray1;
                        &.sold-out {
                            color: $color-gray4;
                        }
                    }
                }
                aside {
                    border: 1px solid $color-gray3;
                    border-radius: 5px;
                    width: 95%;
                    margin: 5% 0;
                    div {
                        position: relative;
                        box-sizing: border-box;
                        padding: 0 20px;
                        width: 50%;
                        height: 50px;
                        .mat-icon {
                            font-size: 17px;
                            display: flex;
                            align-items: center;
                        }
                        &.sep-right::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            width: 1px;
                            height: 80%;
                            background-color: $color-gray3;
                        }
                        &.sep-top::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 90%;
                            height: 1px;
                            background-color: $color-gray3;
                        }
                        &.check {
                            .mat-icon {
                                color: $color-green;
                            }
                            p {
                                color: $color-black;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            article {
                width: 90%;
                &.detail-offer-img {
                    border-right: none;
                    border-bottom: 1px dashed $color-gray3;
                    button {
                        &.btn-back {
                            display: none;
                        }
                    }
                    div {
                        &.offer-img {
                            box-sizing: border-box;
                            padding: 5% 0;
                        }
                        img {
                            max-width: 300px;
                            max-height: 300px;
                        }
                    }
                }
                &.detail-offer-desc {
                    box-sizing: border-box;
                    padding: 20px 0 0 0;
                    div {
                        &.container-form-edit-offer {
                            form {
                                .mat-form-field,
                                .mat-slide-toggle {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    p {
                        &.text-color {
                            width: auto;
                        }
                        &.ean {
                            color: $color-black;
                        }
                        &.name {
                            font-size: 24px;
                        }
                        &.price-strikethrough {
                            font-size: 20px;
                        }
                        &.price {
                            font-size: 36px;
                        }
                        &.stock {
                            color: $color-gray2;
                        }
                        strong {
                            font-weight: normal;
                            color: $color-gray1;
                            &.sold-out {
                                color: $color-gray4;
                            }
                        }
                    }
                }
            }
        }
    }
    .marginInput{
        padding: 5px;
    }
    .titleListCombo{
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 15px;
        width: 100%;
        display: initial;
    }
}

.listCombo {
    width: 100%;
    margin-top: 21px;
    margin-bottom: 19px;
}



.containerScrollCombos{
    height: 170px;
    overflow-y: scroll;
}

.nameCombo{
    font-size: 14px;
}

.countCombo{
    vertical-align: middle;
    font-size: 12px;
    display: contents;
}
