<section id="section-detail-offer" class="flexbox flex-wrap justify-center">

    <article class="detail-offer-img flexbox align-center justify-center flex-wrap">
        <div class="offer-button-back flexbox align-center">
            <button class="btn-back" mat-icon-button (click)="goToListOffers()">
                <mat-icon>arrow_back</mat-icon>
                <small class="sub-title-back" [innerHTML]="'Volver'"></small>
            </button>
        </div>
        <div class="offer-img flexbox align-center justify-center">
            <img [src]="dataOffer.imageUrl" alt="">
            <div class="sold-out flexbox justify-center align-center" *ngIf="dataOffer.stock === 0 || !dataOffer.stock">
                <div class="flexbox justify-center align-center">
                    <p [innerHTML]="'Agotado'"></p>
                </div>
            </div>
        </div>
    </article>

    <article class="detail-offer-desc flexbox flex-wrap justify-between">

        <p [innerHTML]="'EAN: ' + dataOffer.ean" class="ean flexbox align-center"></p>

        <div class="btn-edit-offer flexbox justify-end">
            <button type="button" color="primary" matTooltip="Editar" matTooltipPosition="below" mat-icon-button mat-button (click)="editOffer()"
                *ngIf="!isUpdateOffer && isUpdateOffer === false && canEdit">
                <mat-icon class="flexbox align-center justify-center">edit</mat-icon>
            </button>
            <button type="button" color="primary" matTooltip="Cancelar" matTooltipPosition="below" mat-icon-button mat-button (click)="cancelEditOffer()"
                *ngIf="isUpdateOffer && isUpdateOffer === true">
                <mat-icon class="flexbox align-center justify-center">close</mat-icon>
            </button>
        </div>

        <p [innerHTML]="dataOffer.name" class="name"></p>

        <div class="container-data-offer" *ngIf="!isUpdateOffer && isUpdateOffer === false">

            <p *ngIf="dataOffer.discountPrice > 0" [innerHTML]="dataOffer.price | currency: '$' : 'symbol' : '1.0-0'" class="price-strikethrough"></p>

            <p [innerHTML]="dataOffer.discountPrice > 0 ? (dataOffer.discountPrice | currency: '$' : 'symbol' : '1.0-0') : (dataOffer.price | currency: '$' : 'symbol' : '1.0-0')"
                class="price"></p>

            <div class="container-stock flexbox">
                <p [innerHTML]="'ID de Oferta: <strong> &nbsp;' + dataOffer.idOffer + '</strong>&nbsp;'" class="stock flexbox flex-wrap align-center separator"></p>
                <p [innerHTML]="dataOffer.stock > 0 && dataOffer.stock ? 'En stock: <strong>&nbsp;' + (dataOffer.stock | number) + '<strong>' : '<strong class=sold-out>En stock: Agotado<strong>'"
                    class="stock flexbox flex-wrap align-center padding-left-1"></p>
            </div>

            <span class="flexbox align-center" *ngIf="dataOffer.size">
                <mat-icon>tab_unselected</mat-icon>
                <p [innerHTML]="'Talla: <strong>' + dataOffer.size + '</strong>'"></p>
            </span>

            <span class="flexbox align-center" *ngIf="dataOffer.hexColourCodePDP">
                <mat-icon>color_lens</mat-icon>
                <p class="text-color" [innerHTML]="'Color:'"></p>
                <mat-icon [ngStyle]="{'color':'#' + dataOffer.hexColourCodePDP}">brightness_1</mat-icon>
            </span>

            <span class="flexbox align-center">
                <mat-icon>date_range</mat-icon>
                <p [innerHTML]="'Promesa de Entrega: <strong>' + dataOffer.promiseDelivery + ' días hábiles </strong>'"></p>
            </span>

            <span class="flexbox align-center">
                <mat-icon>local_shipping</mat-icon>
                <p [innerHTML]="'Costo de Flete Promedio: <strong>' + (dataOffer.shippingCost | currency: '$' : 'symbol' : '1.0-0') + '</strong>'"></p>
            </span>

            <span class="flexbox align-center">
                <mat-icon>beenhere</mat-icon>
                <p [innerHTML]="'Garantía: <strong>' + dataOffer.warranty + ' meses </strong>'"></p>
            </span>
            <span class="flexbox align-center">
                <mat-icon>attach_money</mat-icon>
                <p [innerHTML]="'Tipo de moneda: <strong>' + (dataOffer.currency | currency: '$' : 'symbol' : '1.0-0') + '  </strong>'"></p>
            </span>

            <aside class="flexbox align-center justify-center flex-wrap">
                <div class="flexbox align-center justify-center sep-right" [ngClass]="{'check' : dataOffer.isFreeShipping}">
                    <mat-icon *ngIf="dataOffer.isFreeShipping && dataOffer.isFreeShipping === true">check</mat-icon>
                    <mat-icon *ngIf="!dataOffer.isFreeShipping || dataOffer.isFreeShipping === false">clear</mat-icon>
                    <p [innerHTML]="'Free Shinpping'"></p>
                </div>
                <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isEnviosExito}">
                    <mat-icon *ngIf="dataOffer.isEnviosExito && dataOffer.isEnviosExito === true">check</mat-icon>
                    <mat-icon *ngIf="!dataOffer.isEnviosExito || dataOffer.isEnviosExito === false">clear</mat-icon>
                    <p [innerHTML]="'Envios Exito'"></p>
                </div>
                <div class="flexbox align-center justify-center sep-right sep-top" [ngClass]="{'check' : dataOffer.isFreightCalculator}">
                    <mat-icon *ngIf="dataOffer.isFreightCalculator && dataOffer.isFreightCalculator === true">check</mat-icon>
                    <mat-icon *ngIf="!dataOffer.isFreightCalculator || dataOffer.isFreightCalculator === false">clear</mat-icon>
                    <p [innerHTML]="'Cotizador de flete'"></p>
                </div>
                <div class="flexbox align-center justify-center sep-top" [ngClass]="{'check' : dataOffer.isLogisticsExito}">
                    <mat-icon *ngIf="dataOffer.isLogisticsExito && dataOffer.isLogisticsExito === true">check</mat-icon>
                    <mat-icon *ngIf="!dataOffer.isLogisticsExito || dataOffer.isLogisticsExito === false">clear</mat-icon>
                    <p [innerHTML]="'Logistica Éxito'"></p>
                </div>
            </aside>
            <p [innerHTML]="'Última modificación: ' + (dataOffer.lastUpdate | date : 'dd/MM/yyyy')" class="udpade-date"></p>
        </div>

        <div class="container-form-edit-offer" *ngIf="isUpdateOffer && isUpdateOffer === true">

            <form #updateOffer="ngForm" [formGroup]="formUpdateOffer" (ngSubmit)="submitUpdateOffer()" class="flexbox flex-wrap align-center justify-between"
                autocomplete="off">
                <mat-form-field>
                    <input matInput placeholder="Inventario" formControlName="Stock" (keypress)="onlyNumber($event)" required>
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('Stock').hasError('required')" [innerHTML]="'Este campo es requerido'"></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input  matInput placeholder="Precio" formControlName="Price" [errorStateMatcher]="matcher" (blur)="validInput('Price')"
                        required>
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('Price').hasError('required')" [innerHTML]="'Este campo es requerido'"></mat-error>
                    <mat-error *ngIf="formUpdateOffer.get('Price').hasError('pattern')" [innerHTML]="'Formato inválido'"></mat-error>
                    <mat-error *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('Price').hasError('isLessThanEightThousand')"
                        [innerHTML]="'Precio inválido, el valor debe ser mayor o igual a 8.000'"></mat-error>
                    <mat-error *ngIf="!formUpdateOffer.get('Price').hasError('required') && formUpdateOffer.get('Price').hasError('isLessThanDiscPrice')"
                        [innerHTML]="'Precio inválido, el valor debe ser mayor a Precio con Descuento'"></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Precio con Descuento" [errorStateMatcher]="matcher"  formControlName="DiscountPrice" (blur)="validInput('DiscountPrice')">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('pattern')" [innerHTML]="'Formato inválido'"></mat-error>
                    <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('isLessThanEightThousand')" [innerHTML]="'Precio con Descuento inválido, el valor debe ser mayor o igual a 8.000'"></mat-error>
                    <mat-error *ngIf="formUpdateOffer.get('DiscountPrice').hasError('isgreaterThanPrice')" [innerHTML]="'Precio con Descuento inválido, el valor debe ser menor a Precio'"></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Costo de Flete Promedio" formControlName="AverageFreightCost" [errorStateMatcher]="matcher" 
                        required>
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('AverageFreightCost').hasError('pattern')" [innerHTML]="'Formato inválido'"></mat-error>
                    <mat-error *ngIf="formUpdateOffer.get('AverageFreightCost').hasError('required')" [innerHTML]="'Este campo es requerido'"></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Promesa de Entrega" formControlName="PromiseDelivery" (blur)="validInput('PromiseDelivery')"
                        required>
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('PromiseDelivery').hasError('pattern') ||
                        formUpdateOffer.get('PromiseDelivery').hasError('startIsGreaterThanEnd') || 
                        formUpdateOffer.get('PromiseDelivery').hasError('isInvaldStart') ||
                        formUpdateOffer.get('PromiseDelivery').hasError('isInvalidEnd')" [innerHTML]="'La promesa de entrega no es v&aacute;lida'"></mat-error>
                    <mat-error *ngIf="formUpdateOffer.get('PromiseDelivery').hasError('required')" [innerHTML]="'Este campo es requerido'"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Garantía" formControlName="Warranty" required (keypress)="onlyNumber($event)">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formUpdateOffer.get('Warranty').hasError('required')" [innerHTML]="'Este campo es requerido'"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tipo de moneda</mat-label>
                    <mat-select name="Currrency" formControlName="Currrency" (ngModelChange)="changeTypeCurrency($event)" [disabled]="false" >
                          <mat-option value="USD">USD</mat-option>
                          <mat-option value="COP">COP</mat-option>
                    </mat-select>
                </mat-form-field>
             
                <mat-slide-toggle color="primary" formControlName="IsFreeShipping" (change)="checkSlide($event, 'isFreeShipping')">Free
                    Shipping
                </mat-slide-toggle>

                <mat-slide-toggle color="primary" formControlName="IsEnviosExito" (change)="checkSlide($event, 'isEnviosExito')">Indicador 
                    Envíos Éxito</mat-slide-toggle>

                <mat-slide-toggle color="primary" formControlName="IsFreightCalculator" (change)="checkSlide($event, 'isFreightCalculator')">Cotizador
                    de Flete</mat-slide-toggle>

                <mat-slide-toggle color="primary" formControlName="IsLogisticsExito" (change)="checkSlide($event, 'IsLogisticsExito')">Logística 
                    Éxito
                </mat-slide-toggle>

                <mat-slide-toggle color="primary" formControlName="IsUpdatedStock" (change)="checkSlide($event, 'IsUpdatedStock')">Actualización
                    de Inventario</mat-slide-toggle>

                <div class="button-update-offert flexbox justify-center align-center">
                    <button [disabled]="!updateOffer.form.valid" type="submit" mat-raised-button color="primary" [innerHTML]="'Editar'"></button>
                </div>

            </form>
        </div>
    </article>
</section>