<mat-dialog-content align="center">
  <mat-icon class="material-icons container" [ngStyle]="{'background-color': icon === 'done' ? '#6fb63e' : '#6fb63e'}"
    class="marginButtonDeleteOk">
    {{icon}}
  </mat-icon>
  <h3>{{title}}</h3>
  <p>
    {{message}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-stroked-button color="primary" style="border-color: #485AFA; width: 129px; height: 37px;">
    {{cancelButtonText}}</button>
  <button mat-raised-button color="primary"
    style="border-color: #485AFA; width: 129px; height: 37px;">{{confirmButtonText}}</button>
</mat-dialog-actions>
