<div class="container-error" *ngIf="countErrors > 0">
  <div class="name-file-upload">
    <p>{{'secure.products.bulk_upload.selected_file' | I18N | async}}: </p>
    <b>{{ fileName}}</b>
  </div>
  <mat-expansion-panel expanded="true" [@detailExpand] class="list-information-table card-err-process"
     *ngIf="listLog.length != 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-expansion-panel-table">
          <mat-icon>error</mat-icon>
          <span>{{countErrors}} </span>
          <b> {{'errors.errors_detected' | I18N | async}}</b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="error-list-content">

      <mat-nav-list dense>
        <mat-list-item>
          <p class="wrap" matLine>{{'errors.errors_upload_product_again' | I18N | async}}
          </p>
        </mat-list-item>
        <mat-list-item id="error-list-guide-button" (click)="bulkLoad.selectErrorLog(item)"
          *ngFor="let item of listLog">
          <mat-icon class="icon-color-error">error</mat-icon>


          <p matLine *ngIf="item.type == 'dateNotFound'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.mandatory' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'BoleanFormat'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.boolean' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'LessThanZero'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.number_positive' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'invalidFormatProduct'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.tech_cloting' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'invalidFormatUnidad'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}}
              #{{ item.columna }}#{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.gram_milili' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'invalidFortFact'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.errorneous_format' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'invalidFormat'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.errorneous_format' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'invalidFormatExtraField'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.input_option' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.errorneous_format' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'EanComboRepeatError'" style="white-space: normal;overflow: visible;">
            {{'secure.products.bulk_upload.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.column' | I18N | async}} #{{ item.columna }}
              #{{ item.columna }}</span> {{'secure.products.bulk_upload.for' | I18N | async}}
            <span class="error-string">{{'secure.products.bulk_upload.row' | I18N | async}} #{{item.fila}}</span>
            {{'secure.products.bulk_upload.duplication_ean' | I18N | async}}
          </p>

        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-expansion-panel>
</div>