<div class="process" fxLayout="column">
  <div class="process__container">
    <div class="process__item-box">
      <div class="process__circle process__circle--active">
        <span> 1 </span>
      </div>
      <span class="process__title process__title--active" id="ocultarDivNom">EAN</span>
    </div>
    <div class="process__item-box">
      <div class="process__line"></div>
    </div>
    <div class="process__item-box">
      <div class="process__circle process__circle--inactive">
        <span> 2 </span>
      </div>
      <span class="process__title" id="ocultarDivNom">Categorización</span>
    </div>
    <div class="process__item-box">
      <div class="process__line"></div>
    </div>
    <div class="process__item-box">
      <div class="process__circle process__circle--inactive">
        <span> 3 </span>
      </div>
      <span class="process__title" id="ocultarDivNom">Información básica</span>
    </div>
    <div class="process__item-box">
      <div class="process__line"></div>
    </div>
    <div class="process__item-box">
      <div class="process__circle process__circle--inactive">
        <span> 4 </span>
      </div>
      <span class="process__title" id="ocultarDivNom">Especificaciones</span>
    </div>
    <div class="process__item-box">
      <div class="process__line"></div>
    </div>
    <div class="process__item-box">
      <div class="process__circle process__circle--inactive">
        <span> 5 </span>
      </div>
      <span class="process__title" id="ocultarDivNom">Imágenes</span>
    </div>
  </div>
</div>

<div class="mostrarNomRes" id="styleNomRes">
  1. EAN
</div>

<div>
  <p id="textCreateEan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
    Curabitur malesuada magna vel interdum maximus.
    Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
    Curabitur malesuada magna vel interdum maximus.
  </p>
</div>

<app-validate-ean></app-validate-ean>


