<!--<button disabled="joseDisabled" mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<div class="height-full">
<mat-horizontal-stepper linear #stepper class="process__container height-full" (selectionChange)="stepClick($event)">
  <mat-step [stepControl]="eanFormGroup">
    <form [formGroup]="eanFormGroup">
      <ng-template matStepLabel>EAN</ng-template>
      <app-validate-ean [ean]="ean"></app-validate-ean>
    </form>
  </mat-step>

  <mat-step [stepControl]="categoryFormGroup">
    <form [formGroup]="categoryFormGroup">
      <ng-template matStepLabel>Categorizaci&oacute;n</ng-template>
      <app-search-categorization [detailProduct]="detailProduct"></app-search-categorization>
      <div class="buttonProcess">
        <button mat-button matStepperPrevious class="buttonProcessAtras">Atrás</button>
        <button mat-button matStepperNext [disabled]="!views?.showCat" class="buttonProcessContinuar">Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="basicInfoFormGroup">
    <form [formGroup]="basicInfoFormGroup">
      <ng-template matStepLabel>Informaci&oacute;n b&aacute;sica</ng-template>
      <app-basic-information></app-basic-information>
      <div class="buttonProcess">
        <button mat-button matStepperPrevious class="buttonProcessAtras">Atrás</button>
        <button mat-button matStepperNext class="buttonProcessContinuar" [disabled]="!basicInfoFormGroup.valid" (click)="continue_after_basic_info()">Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="especificFormGroup">
    <form [formGroup]="especificFormGroup">
      <ng-template matStepLabel>Especificaciones</ng-template>
      <app-specification-product></app-specification-product>
      <div class="buttonProcess">
        <button mat-button matStepperPrevious class="buttonProcessAtras">Atrás</button>
        <button mat-button matStepperNext class="buttonProcessContinuar">Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="imageFormGroup">
    <form [formGroup]="imageFormGroup">
      <ng-template matStepLabel>Im&aacute;genes</ng-template>
      <app-assign-images [children]="children_created"></app-assign-images>
      <div class="buttonProcess">
          <button mat-button matStepperPrevious class="buttonProcessAtras">Atrás</button>
          <button mat-button (click)="saveInformationCreation()" class="buttonProcessContinuar">Guardar</button>
        </div>
    </form>
  </mat-step>
  <!--<mat-step>
    <ng-template matStepLabel>Terminado</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper></div>