<div class="container-error" *ngIf="countErrors > 0">
  <div class="name-file-upload">
    <p>{{'secure.products.table_errors_product.selected_file' | I18N | async}}:</p>
    <b>{{ fileName}}</b>
  </div>
  <mat-expansion-panel expanded="true" [@detailExpand] class="list-information-table card-err-process"
     *ngIf="listLog.length != 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-expansion-panel-table">
          <mat-icon>error</mat-icon>
          <span>{{countErrors}} </span>
          <b> {{'errors.errors_detected' | I18N | async}}</b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="error-list-content">

      <mat-nav-list dense>
        <mat-list-item>
          <p class="wrap" matLine>{{'errors.errors_upload_offer_again' | I18N | async}}
          </p>
        </mat-list-item>
        <mat-list-item id="error-list-guide-button" (click)="bulkLoad.selectErrorLog(item)"
          *ngFor="let item of listLog">
          <mat-icon class="icon-color-error">error</mat-icon>

          <p matLine *ngIf="item.type == 'NumberFormat'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.products.table_errors_product.number_positive' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'dateNotFound'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.products.table_errors_product.mandatory' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'BoleanFormat'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.products.table_errors_product.boolean' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'LessThanZero'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.products.table_errors_product.number_positive' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'ThanZero'" style="white-space: normal;overflow: visible;">El dato en la
            <span class="error-string">columna #{{ item.columna }}</span> de la
            <span class="error-string">fila #{{item.fila}}</span> debe ser numérico positivo mayor o igual a cero, sin decimales.
          </p>

          <p matLine *ngIf="item.type == 'InvalidFormatPromEntrega'" style="white-space: normal;overflow: visible;">{{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.error_promise_delivery' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'InvalidFormatCurrency'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.error_currency' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'InvalidEanCombo'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.diferent_ean' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'InvalidExistEan'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.incomplete_info' | I18N | async}}
            [{{item.msg}}].
          </p>

          <p matLine *ngIf="item.type == 'InvalidPriceCombo'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.sum_price' | I18N | async}}
          </p>

          <p matLine *ngIf="item.type == 'InvalidPriceOfferCombo'" style="white-space: normal;overflow: visible;">
            {{'secure.products.table_errors_product.column_data' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.column' | I18N | async}}
              #{{ item.columna }}</span> {{'secure.products.table_errors_product.for' | I18N | async}}
            <span class="error-string">{{'secure.products.table_errors_product.row' | I18N | async}}
              #{{item.fila}}</span> {{'secure.offers.bulk_upload.table_error.sum_price_component' | I18N | async}}
          </p>


        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-expansion-panel>
</div>
