:host ::ng-deep .container-error {
    & .list-information-table {
        & .mat-expansion-panel-body {
            padding: 0px;
            & mat-list {
                box-shadow: none;
            }
        }
    }
    & .information {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    & .selected-error {
        border: solid .1px #F44336;
        padding-left: 10px;
        margin-right: 10px;
        background: #F44336;
        border-radius: 6px;
        line-height: 2.3;
        height: 31px;
        & .information {
            color: white;
            & p {
                margin: 0px;
                color: white;
            }
        }
    }
    & .chip-error {
        background: #F44336;
    }
    & .log-nav-list {
        height: 173px;
        overflow: scroll;
    }
    & .title-expansion-panel-table {
        font-size: 15px;
        & mat-icon {
            color: #c70024;
            margin-right: 12px;
        }
        & span {
            font-size: 30px;
            color: #c70024;
        }
        & b {
            color: rgb(115, 115, 115);
        }
    }
    & .name-file-upload {
        height: 70px;
        padding: 5px;
        box-sizing: border-box;
        & p {
            margin: 0px;
            color: rgb(115, 115, 115);
            font-size: 14px;
        }
        & b {
            font-size: 20px;
        }
    }
    & .error-string {
        color: rgb(209, 107, 89);
    }
    & .succes-data {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: rgb(103, 165, 48);
        font-weight: bold;
        & mat-icon {
            color: rgb(103, 165, 48);
        }
    }
    & .card-ok-process {
        border-top: solid 3px rgb(103, 165, 48);
    }
    & .card-err-process {
        border-top: solid 3px #c70024;
    }
    & .icon-color-error {
        color: #c70024;
    }
    & .error-list-content {
        max-height: 400px;
        overflow: auto;
    }
    & .full-width {
        width: 100%;
    }
}

.wrap {
    font-weight: bold !important;
    white-space: normal !important;
}

.overflex-style{
    white-space: normal;
    overflow: visible;
}