<!-- Web Desing -->
<div>
    <mat-toolbar class="tree-toolbar">
        <div class="normal-theme toolbar-options-table flexbox justify-start align-center" fxLayout.xs="column">
            <!-- Titulo del toolbar -->
            <p class="tree-title">
                {{title}}
                <small class="sub-title">| {{'secure.seller.contracts.lb_subtitle_toolbar' | translate}}</small>
            </p>

            <!-- Componente para realizar la busqueda de una tienda -->
            <div class="search-container" *ngIf="activeToolbarSearch">
                <app-search-seller id="contet-searc-store" class="search-content" *ngIf="getFunctionality(visualize)"></app-search-seller>
            </div>
        </div>
    </mat-toolbar>
</div>

<div class="list-container">
    <div *ngIf="!sellerData && !agreementsSeller.length">
        <div class="icon-face">
            <mat-icon>face</mat-icon>
        </div>
        <p class="icon-face-text">{{'secure.seller.manage.txt_serch_seller' | translate}}</p>
    </div>

    <div *ngIf="agreementsSeller && !agreementsSeller.length">
        <div class="icon-face">
            <mat-icon>insert_drive_file</mat-icon>
        </div>
        <p class="icon-face-text">{{'secure.seller.contracts.txt_no_contract_seller' | translate}}</p>
    </div>

    <div *ngIf="agreementsSeller.length" class="agreement">
        <div class="agreement-title">
            <p>{{'shared.name' | translate}}</p>
        </div>
        <div *ngFor="let agreement of agreementsSeller" fxLayout="row" fxLayoutAlign="space-between center" class="list-agreement">
            <div fxLayoutAlign="start center" fxLayout="row" class="width-80">
                <mat-icon class="material-icons" class="file-agreement">
                    insert_drive_file
                </mat-icon>
                <p>{{agreement.ContractName}}</p>
            </div>
            <button mat-icon-button (click)="getPDF(agreement)" *ngIf="download">
                <mat-icon class="material-icons">
                    get_app
                </mat-icon>
            </button>
        </div>
    </div>
</div>