<!-- Web Desing -->
<div>
    <mat-toolbar class="tree-toolbar">
        <div class="normal-theme toolbar-options-table flexbox justify-start align-center" fxLayout.xs="column">
            <!-- Titulo del toolbar -->
            <p class="tree-title">
                Acuerdos
                <small class="sub-title">| Buscar acuerdos</small>
            </p>

            <!-- Componente para realizar la busqueda de una tienda -->
            <div class="search-container">
                <app-search-seller id="contet-searc-store" class="search-content"></app-search-seller>
            </div>
        </div>
    </mat-toolbar>
</div>

<div class="list-container">
    <div *ngIf="!sellerData && !agreementsSeller.length">
        <div class="icon-face">
            <mat-icon>face</mat-icon>
        </div>
        <p class="icon-face-text">Ingresa el nombre del vendedor en la barra de b&uacute;squeda para ver los datos.</p>
    </div>

    <div *ngIf="sellerData && !agreementsSeller.length">
        <div class="icon-face">
            <mat-icon>insert_drive_file</mat-icon>
        </div>
        <p class="icon-face-text">No hay acuerdos asociados a este vendendor</p>
    </div>

    <div *ngIf="sellerData && agreementsSeller.length" class="agreement">
        <div class="agreement-title">
            <p>Nombre</p>
        </div>
        <div *ngFor="let agreement of agreementsSeller" fxLayout="row" fxLayoutAlign="space-between center" class="list-agreement">
            <div fxLayoutAlign="start center" fxLayout="row" class="width-80">
                <mat-icon class="material-icons" class="file-agreement">
                    insert_drive_file
                </mat-icon>
                <p>{{agreement.ContractName}}</p>
            </div>
            <button mat-icon-button (click)="getPDF(agreement)">
                <mat-icon class="material-icons">
                    get_app
                </mat-icon>
            </button>
        </div>
    </div>
</div>