<div *ngIf="!showSuccessful && !showReject">
  <div>
    <div fxLayout="row wrap">
      <div fxFlex="100" style="text-align: end;">
        <mat-icon (click)="close()" matTooltip="Cerrar" style="color:#b6b6b6;
          cursor:pointer; font-size:16px">close</mat-icon>
      </div>
    </div>
    <div fxLayout="row wrap" style="text-align: center;">
      <div fxFlex="100" style="padding-top: 20px; padding-bottom: 20px;">
        <span style="font-weight: bold; font-size: 15px;">
          {{data.title}}
        </span>
      </div>
    </div>
    <div fxLayout="row wrap" style="text-align: center;">
      <div fxFlex="100" style="padding-bottom: 30px;">
        <span style="color: #b6b6b6; font-size: 14px;">
          {{data.subtitle}}
        </span>
      </div>
    </div>
  </div>
  <div>
    <div fxLayout="row wrap" *ngIf="data && data.type === 'approved'">
      <div fxFlex="50" style="text-align: end;">
        <button mat-stroked-button color="primary" mat-button
          (click)="close()">{{'actions.cancel' | translate}}</button>
      </div>
      <div fxFlex="40" style="padding-left: 10px;">
        <button mat-raised-button color="primary" mat-button
          (click)="approvedProduct()">{{'actions.accept' | translate}}</button>
      </div>
    </div>
    <div fxLayout="row wrap" *ngIf="data && data.type === 'reject'">
      <div fxFlex="50" style="text-align: end;">
        <button mat-stroked-button color="primary" mat-button
          (click)="close()">{{'actions.cancel' | translate}}</button>
      </div>
      <div fxFlex="40" style="padding-left: 10px;">
        <button mat-raised-button color="primary" mat-button
          (click)="rejectProduct()">RECHAZAR CAMBIOS</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showSuccessful || showReject"><div fxLayout="row wrap">
    <div fxFlex="100" style="text-align: end;">
      <mat-icon (click)="close()" matTooltip="Cerrar" style="color:#b6b6b6;
        cursor:pointer; font-size:16px">close</mat-icon>
    </div>
  </div>
  <div class="modal-generic-text-align-center">
    <div class="modal-generic-container-icon-check">
      <mat-icon class="material-icons modal-generic-icons-white-margin">
        check
      </mat-icon>
    </div>
  </div>
  <div style="text-align: center; padding-top: 30px;padding-bottom: 30px;">
    <span [innerHTML]="status"></span>
  </div>
  <div style="text-align: center;">
    <button mat-raised-button color="primary" mat-button
      (click)="close()">{{'actions.close_mayus' | translate}}</button>
  </div>
</div>