.modal-generic {
  &-container-icon-check {
    background-color: #6FB63E;
    margin-left: 45%;
    margin-right: 44%;
    border-radius: 64px;
    height: 70px;
  }

  &-text-align-center {
    text-align: center;
  }

  &-icons-white-margin {
    margin-top: 22px;
    color: white;
  }
}
