<div class="container-product-list">
  <div class="title-page">
    <span class="sc-title">{{'secure.billing.invoice' | translate}}: {{order.billingNumber}}
    </span>
    <a matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>
  <mat-list class="card-info" fxFlex="100">

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.invoice' | translate}}
        <p mat-subheader class="sub-text-list">{{order.billingNumber}}</p>
      </h4>
    </mat-list-item>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.order_number' | translate}}
        <p mat-subheader class="sub-text-list">{{order.orderNumber}}</p>
      </h4>
    </mat-list-item>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.payment_number' | translate}}
        <p mat-subheader class="sub-text-list">{{order.payOrderNumber}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.concept' | translate}}
        <p mat-subheader class="sub-text-list">{{order.concept}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.payment_date' | translate}}
        <p mat-subheader class="sub-text-list">{{order.paymentDate | date}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.commission' | translate}}
        <p mat-subheader class="sub-text-list">${{order.commission | number}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="mat-list-item-order">
      <h4 mat-line>{{'secure.billing.amount_pay' | translate}}
        <p mat-subheader class="sub-text-list">${{order.billingTotal | number}}</p>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>
</div>
