@import 'variables';

.header {
  align-items: center;
  background-color: $color-white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: $font-principal;
  justify-content: space-between;
  padding: 10px 20px 10px 0px;
  position: relative;
  width: 100%;
  z-index: 3;
  min-height: 105px;

  .header__title {
    overflow: hidden;

    .section-title {
      font-size: 22px;
      font-family: $poppins-bold;
      color: $dark-lilac;
      margin-bottom: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;

      .section-subtitle {
        font-family: $poppins-medium;
        color: $iron-gray;
      }
    }

    .section-description {
      background-color: $ash-gray;
      color: $pure-white;
      font-size: 12px;
      font-family: $poppins-medium;
      margin: 0px;
      padding: 6px;
      border-radius: 5px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;

      .close-icon {
        border-radius: 50%;
        background-color: $pure-white;
        color: $ash-gray;
        vertical-align: middle;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }
}