<!-- {{'core.shell.header.welcome' | translate}}: {{user?.sellerName}} // Bienvenido sellerName-->
<!-- {{'shared.id' | translate}}: {{user?.sellerId}} // ID: sellerId-->

<!-- Conservar id 'header-container' para método addPadding() en header.component.ts-->
<header class="header" id="header-container">
  <div class="header__title">
    <h1 class="section-title" (click)="toggleDescription(true)">
      Órdenes
      <span class="section-subtitle">| Todas las órdenes</span>
    </h1>
    <p class="section-description" *ngIf="showDescription">
      Acá podrás gestionar y visualizar todas las ordenes que se han realizado
      <mat-icon class="close-icon" (click)="toggleDescription(false)">close</mat-icon>
    </p>
  </div>

  <app-floating-header></app-floating-header>

</header>