<div class="container-product-list content-products-pending-detail">
  <div class="title-page">
      <span class="sc-title">{{'secure.orders.order_list.product_detail.product' | I18N | async}}: {{order.reversionRequestDetailViewModel.productName}}
      </span>
    <a [matTooltip]="'actions.close' | I18N | async" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>

  <mat-accordion fxFlex="100">
    <mat-expansion-panel class="expanded-element" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="sc-link-text">
          {{'secure.orders.in_devolution.product_devolution_modal.info_title' | I18N | async}}
        </mat-panel-title>

      </mat-expansion-panel-header>


      <mat-list class="card-info" fxFlex="100">
        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.orders.order_list.product_detail.product' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.reversionRequestDetailViewModel.productName}}</p>
          </h4>

        </mat-list-item>
        <mat-divider></mat-divider>

        <!-- <mat-list-item class="mat-list-item-order">
          <h4 mat-line>Cantidad
            <p mat-subheader class="sub-text-list">{{order.products.quantity}}</p>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.orders.in_devolution.product_devolution_modal.reference' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.reversionRequestDetailViewModel.reference}}</p>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.orders.in_devolution.product_devolution_modal.sku' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.reversionRequestDetailViewModel.sku}}</p>
          </h4>

        </mat-list-item>
        <!-- <mat-divider></mat-divider>

        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>Motivo
            <p mat-subheader class="sub-text-list">{{order.products.reasonReturn}}</p>
          </h4>

        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Comentario</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{order.products.commentaryReturn}}
          </mat-card-content>
        </mat-card> -->

      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion fxFlex="100">
    <mat-expansion-panel class="expanded-element">
      <mat-expansion-panel-header>
        <mat-panel-title class="sc-link-text">
          {{'secure.orders.in_devolution.product_devolution_modal.view_info_client' | I18N | async}}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-list class="card-info" fxFlex="100">
        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'shared.name' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.clientName}}</p>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.orders.in_devolution.product_devolution_modal.id' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.identificationCard}}</p>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.client_information.address' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.clientAddress}}</p>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="mat-list-item-order">
          <h4 mat-line>{{'secure.client_information.phone' | I18N | async}}
            <p mat-subheader class="sub-text-list">{{order.clientTelephone}}</p>
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
