<div class="container-error">

  <div class="name-file-upload">
    <p>Archivo seleccionado:</p>
    <b>{{ fileName}}</b>
  </div>
  <mat-expansion-panel expanded="true" [@detailExpand] class="list-information-table card-err-process"
                        *ngIf="listLog.length != 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-expansion-panel-table">
          <mat-icon>warning</mat-icon>
          <span>{{countErrors}}</span>
          <b>Errores detectados</b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="error-list-content">

      <mat-nav-list dense>
        <mat-list-item>
          <p class="wrap" matLine>Por favor corrige los errores en el archivo y vuelve a realizar la carga de las
            guías.</p>
        </mat-list-item>
        <mat-list-item id="error-list-guide-button" (click)="loadGuide.selectErrorLog(item)"
                       *ngFor="let item of listLog">
          <mat-icon class="icon-color-error">warning</mat-icon>
          <p matLine *ngIf="item.type == 'NumberFormat'">El dato en la
            <span class="error-string">columna #{{ item.columna }}</span> de la
            <span class="error-string">fila #{{item.fila}}</span> debe ser numérico</p>
          <p matLine *ngIf="item.type == 'dateNotFound'">Dato faltante en la
            <span class="error-string">columna #{{ item.columna }}</span> de la
            <span class="error-string">fila #{{item.fila}}</span>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-expansion-panel>

  <mat-card class="card-ok-process" *ngIf="countErrors == 0">
    <div class="succes-data">
      <mat-icon>check</mat-icon>
      Ok 100%
    </div>
    <mat-card-actions>
      <button id="finish-send-guide-button" (click)="loadGuide.sendJsonInformation()"
              [disabled]="countErrors != 0 || countRowUpload == 0"
              mat-raised-button class="sc-default-button full-width" color="accent">Enviar registro
      </button>
    </mat-card-actions>
  </mat-card>
</div>
