<div class="ticket-content">
  <div class="ticket-content__item ticket-detail">
    <app-basic-card
      class="ticket-content--bottom-space"
      title="Descripción"
      [description]="case.description"
    ></app-basic-card>
  </div>

  <div class="ticket-content__item">
    <span class="ticket-content__title ticket-content--bottom-space">
      Seguimiento
    </span>

    <app-conversation-card
      style="opacity: 0.7;"
      *ngIf="!case.follow || case.follow.length == 0"
      message="No contiene seguimiento"
    ></app-conversation-card>

    <ng-container *ngFor="let follow of case.follow">
      <app-conversation-card
        [name]="follow.userName"
        [message]="follow.description"
        [date]="follow.createDate"
      ></app-conversation-card>
    </ng-container>

    <div class="ticket-content__controls ticket-content__controls--left">
      <button
        (click)="openResponseDialog()"
        class="mat-raised-button ticket-content__button ticket-content__button--secondary"
      >
        RESPONDER
      </button>
    </div>
  </div>
</div>
