<div class="sh-case-detail">
  <div class="sh-case-detail__item ticket-detail ticket-detail--col">
    <app-basic-card class="sh-case-detail--bottom-space"
      [title]="translateService.instant('secure.parametize.support_claims.description')" [description]="case.description">
    </app-basic-card>
  </div>

  <div class="sh-case-detail__item ticket-detail ticket-detail--col" *ngIf="case.descriptionSolution">
    <app-basic-card class="sh-case-detail--bottom-space"
      [title]="translateService.instant('secure.parametize.support_claims-details.detail-of-solution')"
      [description]="case.descriptionSolution"></app-basic-card>
  </div>

  <div class="sh-case-detail__attachments">
    <div class="sh-case-detail__title">
      <mat-icon class="sh-case-detail__icon">
        attach_file
      </mat-icon>
      <span>{{'secure.parametize.support_claims-details.attachments' | translate}}</span>
    </div>
    <div class="sh-case-detail__attachments-files">
      <div class="">
        <a *ngFor="let attach of case.attachments; let i = index" id="attach-{{ i }}" target="_blank"
          href="{{attach.url}}" class="attachment-link">
          {{ attach.name }}
        </a>
      </div>
    </div>
  </div>

  <div class="sh-case-detail__item ticket-detail--col">
    <span class="sh-case-detail__title sh-case-detail--bottom-space">
      {{'secure.parametize.support_claims.tracing'|translate}}
    </span>
    <app-conversation>
      <div *ngIf="!case.follow || case.follow.length == 0">
        <app-conversation-message *itemConversation class="sh-case-detail--full-width" style="opacity: 0.7;"
          [message]="translateService.instant('secure.parametize.support_claims.no-tracing')">
        </app-conversation-message>
      </div>

      <div *ngFor="let follow of case.follow; let i = index">
        <app-conversation-message *itemConversation class="sh-case-detail--full-width" [name]="follow.userName"
          [message]="follow.description" [date]="follow.createDate" (replyEvent)="openResponseDialog()"
          [disabledClass]="isClosed" [configuration]="{reply: i == 0, theme: 'ALTER'}"></app-conversation-message>
      </div>
    </app-conversation>
  </div>
</div>
