.text-aling-end{
    margin-top: 10px;
}

.vertical-align-top{
    vertical-align: middle;
}
.color-icon-add-seller{
    color: #485AFA;
}

.margin-top-container{   
 margin: 5px;
 margin-top: 40px;
}

.color-text-add-seller{
    color: #848181;
    font-size: 14px;
}

:host ::ng-deep .input-search {
    .mat-form-field-wrapper{
        padding-bottom: initial;
    }
}