<div class="height-full">
    <mat-toolbar class="tree-toolbar">
        <div class="normal-theme toolbar-options-table">
            <!--  Titulo del toolbar -->
            <p class="tree-title">
                Vendedores
                <small class="sub-title">| Listado de vendedores</small>
            </p>
        </div>
    </mat-toolbar>
    <!-- SELLER CONTAINER LIST-->
    <div class="list-container">
        <!-- SELLER HEADER LIST-->
        <div id="header-list" class="header-list">
            <div id="id" class="label-container">
                <label class="label-list">
                    ID
                </label>
            </div>
            <div id="id" class="label-container">
                <label class="label-list">
                    Nombre del vendedor
                </label>
            </div>
            <div id="id" class="label-container">
                <label class="label-list">
                    Fecha de creación
                </label>
            </div>
            <div id="id" class="label-container">
                <label class="label-list">
                    Estado
                </label>
            </div>
        </div>

        <!-- SELLER BODY LIST-->
    </div>
</div>