<mat-sidenav-container class="drawer-container" [hasBackdrop]="true">
    <mat-sidenav style="min-width: 338px;" #drawer [mode]="over" [position]="'end'">I'm a drawer
    <h4 class="title-toolbar">Filtro vendedores</h4>
      <button color="accent" matTooltip="Cerrar" matTooltipPosition="below" mat-icon-button mat-button (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="height-full" fxLayout="column">
            <mat-toolbar class="seller-list-toolbar">
                <div class="normal-theme toolbar-options-table" fxLayout="row" fxLayoutAlign="space-between center">
                    <!--  Titulo del toolbar -->
                    <p class="seller-list-title" fxShow [fxShow.xs]="false">
                        Vendedores
                        <small class="sub-title">| Listado de vendedores</small>
                    </p>
                    <!--  Titulo del toolbar -->
                    <p class="seller-list-title" fxShow="false" [fxShow.xs]="true">
                        Listado de vendedores
                    </p>
                    <mat-paginator [length]="sellerLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = $event">
                    </mat-paginator>
                </div>
            </mat-toolbar>

            <!-- SELLER CONTAINER LIST-->
            <div class="list-container">
                <label class="showBack" *ngIf="false">
                    <strong>B</strong>
                    <span class="an" *ngIf="showAn">aya&nbsp;</span>
                    <strong>A</strong>
                    <span class="an" *ngIf="showAn">&nbsp;que&nbsp;</span>
                    <strong>C</strong>
                    <span class="an" *ngIf="showAn">e lo&nbsp;</span>
                    <strong>K</strong>
                    <span class="an" *ngIf="showAn">uleen&nbsp;</span>
                </label>
                <!-- SELLER HEADER LIST-->
                <div id="header-list" class="header-list" fxShow [fxShow.xs]="false">
                    <div id="id" class="label-container id" style="width: 9%;
                padding-left: 3%;">
                        <label class="label-list">
                            ID
                        </label>
                    </div>
                    <div id="name" class="label-container name">
                        <label class="label-list">
                            Nombre del vendedor
                        </label>
                    </div>
                    <div id="nit" class="label-container nit">
                        <label class="label-list">
                            NIT
                        </label>
                    </div>
                    <div id="date" class="label-container date">
                        <label class="label-list">
                            Fecha de creación
                        </label>
                    </div>
                    <div id="state" class="label-container state">
                        <label class="label-list">
                            Estado
                        </label>
                    </div>
                </div>

                <!-- SELLER BODY LIST-->
                <div *ngFor="let seller of sellerList; let i = index " [ngClass]="{'background-bar' : seller.block}">
                    <mat-progress-bar mode="indeterminate" *ngIf="seller.block"></mat-progress-bar>
                    <!-- SELLER HEADER LIST-->
                    <div id="header-list" class="header-list" fxShow [fxShow.xs]="false" fxLayout="row" fxLayoutAlign="start center"
                        *ngIf="showSeller(i)">
                        <div id="id" class="label-container id" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button matTooltip="Administrar vendedor" (click)="redirectToSeller(seller.IdSeller)">
                                <mat-icon class="material-icons">
                                    visibility
                                </mat-icon>
                            </button>
                            <label class="label-result">
                                {{seller.IdSeller}}
                            </label>
                        </div>
                        <div id="name" class="label-container name">
                            <label class="label-result">
                                {{seller.Name}}
                            </label>
                        </div>
                        <div id="nit" class="label-container nit">
                            <label class="label-result">
                                {{seller.Nit}}
                            </label>
                        </div>
                        <div id="date" class="label-container date">
                            <label class="label-result">
                                22 de septiembre de 2016
                            </label>
                        </div>
                        <div id="state" class="label-container state">
                            <label class="label-result">
                                <mat-slide-toggle (change)="changeSellerState(seller)" [disabled]="seller.block"></mat-slide-toggle>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-sidenav-content>
</mat-sidenav-container>