$gray: #757474;
$lightgray: #909090;
$whitegray: #D3D3D3;
$color-gray5: #757474;
$color-warn:#f44336;
$color-primary: #3d5afe;

@mixin title-table {
  color: $color-gray5;
  font-weight: bold;
  font-size: 14px;
}

.drawer-container {
  height: 100%;

  .height-full {
    width: 100%;

    .seller-list-toolbar {
      background-color: #fff;
      border-bottom: 1px solid #e0e0e0;
      top: 64px;
      z-index: 1;

      & .toolbar-options-table {
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-left: 20px;
      }
    }

    .list-container {
      width: 91%;
      margin: 2% auto;
      //vertical-align: middle;

      .header-list {
        font-size: 14px;
        border-bottom: 1px solid $whitegray;
        padding: 4px 0;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        //justify-content: center;
        @media screen and (max-width: 600px) {
          flex-direction: row;
        }

        .label-container {
          padding: 0 1%;

          .label-list {
            color: $gray;
            font-weight: bold;
          }

          .label-result {
            color: $lightgray;
          }

          &.id {
            width: 15%;
            @media screen and (max-width: 600px) {
              width: 37.5%;
              display: flex;
            }
          }

          &.vacations {
            text-align: right;
            width: 30%;
            @media screen and (max-width: 600px) {
              width: 55.5%;
              display: flex;
              align-items: flex-end;
            }
            & .label-result {
              flex-direction: row;
              flex-wrap: wrap;
              @media screen and (max-width: 600px) {
              flex-direction: column;
              }
            }
          }

          &.name {
            width: 25%;
            @media screen and (max-width: 600px) {
              width: 55.5%;
              display: flex;
              align-items: flex-end;
            }
          }

          &.status {
            width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 600px) {
              width: 37.5%;
            }
          }
        }
      }
    }
  }
}

.an {
  transition: visibility 1s, opacity 2s linear, font-size 2s;
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
}

.showBack {
  transition: visibility 1s, opacity 2s linear, font-size 2s;
  font-size: 15px;
}

.showBack:hover .an {
  visibility: visible;
  opacity: 1;
  font-size: 25px;
}

.showBack:hover {
  font-size: 25px;
}

.background-bar {
  background: rgba(128, 128, 128, 0.22);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(72, 90, 250, .38) !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #485AFA !important;
}

::ng-deep .mat-form-field-wrapper {
  position: initial;
}

.example-sidenav {
  width: 25%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.seller-filter-sidenav {
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
}


.example-chip-list {
  margin-top: 1.5%;
  margin-right: 3%;
  margin-left: 5%;
}

.mat-mini-fab{
  height: 30px;
  width: 30px;
  font-size: 14px;
  line-height: 14px; 
  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0 0 0 0.5px; 
    & .mat-icon{
      color: white !important;
    }
  }
}

.enabledSellerButton{
  background-color: green !important;
}

.grayBackgroundButton {
  background: grey !important;
}
.primaryColor {
  background: $color-primary !important;
}

.warnColor {
  background: $color-warn !important;
}

.full-width {
  width: 100%
}

.half-width{
  width: 45%;
}

.space-between{
  display: inline-flex;
  justify-content: space-between;
}

.title-list{
  display: none;
  @media screen and (max-width: 600px){
    display: flex;
    @include title-table();
  }
}

#id, #name, #vacations{
  @media screen and (max-width: 600px){
    flex-direction: column;
  }
}

#body-list{
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 600px){
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
  }
}

.testBreak{
  display: none;
  @media screen and (max-width: 600px){
    display: flex;
  }
}
