<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" opened="{{stateSideNav}}">
    <!-- Sidebar Principal -->
    <app-sidebar [user]="user" [sidenav]="sidenav"></app-sidebar>
  </mat-sidenav>

  <!-- Sidebar Busqueda de órdenes -->
  <mat-sidenav #sidenavSearchOrder mode="over" position="end" opened="{{stateSideNavOrder}}">
    <app-search-order-menu [informationToForm]="informationToForm" [sidenavSearchOrder]="sidenavSearchOrder"></app-search-order-menu>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>

    <!-- Componente loading de la página -->
    <app-loading #loadingComponent></app-loading>
    <!-- Componente Header de la página -->
    <app-header *ngIf="showHeader && user" [sidenav]="sidenav" [user]="user"></app-header>

    <!-- Injecto el router-outlet desde el app-component con la etiqueta ng-content -->
    <ng-content></ng-content>
    <app-modal #modalComponent></app-modal>
  </mat-sidenav-content>
</mat-sidenav-container>