.advertisements{
    margin-bottom: 30px;

    .tag{
        background: #D14444 0% 0% no-repeat padding-box;
        border-radius: 6px;
        color: #fff;
        padding: 4px 6px;
        display: flex;
        right: 23px;
        top: 10px;
        font-size: 10px;
    }

}