$primary-color: #485AFA;
$title-color: black;
$hint-color: #9E9E9E;

.ticket-content{
  display: flex;
  margin: 0 78px;
  flex-direction: row;

  &__ticket-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 17px 79px 0 79px;

  }

}

.ticket-detail {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;

  p{
    margin: 0;
    text-align: justify;
    color: $hint-color;
    width: inherit;
  }

  span{
    font-weight: bold;
    color: $title-color;
    text-align: left;
    margin-bottom: 21px;
  }

}
.ticket-products{
  margin-top: 21px;

  &--product-list{
    display: flex;
    flex-direction: row;
    margin: 21px 0;
  }
  &--show-all{
    text-decoration: underline;
  }
  &--show-all:hover{
    cursor: pointer;
  }
}

.ticket-history{
  font-family: Arial, Helvetica, sans-serif;

  span {
    font-size: 14px;
    font-weight: bold;
    color: $title-color;
    text-align: left;
    margin-bottom: 8px;
  }

  small{
    font-size: 12px;
    font-style: italic;
    color: $hint-color;
    margin-bottom: 18px;
  }
  .card-history{
    border: 1px solid  #D3D3D3 !important;
    border-radius: 8px 8px 8px 0;
    padding: 16px 16px 0px 16px;
  }

  .card-history p{
    margin: 0px;
    font-size: 14px;
    text-align: justify;
    color: $hint-color;
  }

  .by-ticket{
    font-size: 12px;
    font-style: italic;
    color: $hint-color;
    margin-top: 8px;
    margin-bottom: 13px !important;
  }
  &__controls{
    display: flex;
    justify-content: flex-end;
  }

  button {
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 2px;
    color: #485AFA;
    font-size: 12px;
    font-weight: bold;
    margin-top: 19px;
  }
  button:hover {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
  }
}

.show-history{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 21px;

  span{
    text-decoration: underline;
    cursor: pointer;
  }
}
