<div class="ticket-content">
  <div class="ticket-content__item ticket-detail">
    <span class="ticket-content__title ticket-content__title--bottom-space">
      Descripción
    </span>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
      exercitationem sit nobis ut, natus corrupti sed nihil culpa mollitia
      voluptas illum dolore dicta quo eligendi recusandae quos placeat! Ex,
      aliquid.
    </p>
    <div class="ticket-detail__products">
      <span class="ticket-content__title ticket-content__title--bottom-space">
        Productos</span
      >
      <div class="ticket-detail__product-item">
        <span>Lorem ipsum dolor sit amet</span>
        &nbsp; - &nbsp;
        <span>###########</span>
      </div>

      <span class="ticket-content__title show-all" (click)="openDialog()">
        Ver todos los productos
      </span>
    </div>
  </div>

  <div class="ticket-content__item ticket-history">
    <app-history-card></app-history-card>

    <div class="ticket-history__controls">
      <button (click)="openDialog()" class="mat-raised-button">
        RESPONDER
      </button>
    </div>
  </div>

  <span class="ticket-content__item ticket-content__item--full-width show-all"
    >Ver seguimiento completo</span
  >
</div>
