<div class="content-order my-content">

  <div fxFlex class="container" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="100" class="light-content">
      <app-toolbar-search-pagination [isClear]="isClear" [informationToForm]="informationToForm" [state]="lastState"
        #toolbarOptions (OnGetOrdersList)="getOrdersList($event)" (paginationListOrdens)="paginations($event)"
        (OnChangeSizeOrderTable)="changeSizeOrderTable($event)" [Typeprofile]="3" [lengthOrder]="length"
        [orderListLength]="false" (filterCalifications)="toggleFilterPorts()">
      </app-toolbar-search-pagination>
    </div>

    <div class="container-port-main">
      <div fxLayout="column" class="container-width-100">
        <div fxLayout="row">
          <div class="port-component-label-filter">
            <div class="example-chip-list"></div>
          </div>
          <div class="port-component-button-add">
            <div id="addButton" class="container-group-add-button">
              <button mat-button (click)="importAgreement()">
                <mat-icon class="material-icons">
                  playlist_add_check
                </mat-icon>
                Importar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabla de órdenes -->
    <div fxFlex.xs="93%" fxFlex.sm="95" fxFlex.md="97" fxFlex.lg="97" fxFlex.xl="97"
      class="port-component-content-table-center-collection">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="expand">
          <mat-header-cell fxFlex.lg="60px" fxFlex="70px" fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false"
            fxShow="true" fxFlex.xl="250px" *matHeaderCellDef >
          </mat-header-cell>
          <mat-cell fxFlex="70px" fxFlex.lg="60px" fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="false"
            fxShow="true" *matCellDef="let element;let index=index">
            <button id="expand-row-number-{{index}}" disabled mat-icon-button>
              <mat-icon class="font-weight" color="primary">expand_more</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="all">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef >
            <mat-checkbox style="margin-left: 15px;">
              {{'secure.seller.uploadAgreement.selectAll' | translate}}
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <mat-checkbox style="margin-left: 15px;">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef >
            <span class="title-table-header" style="margin-left: 4px;">{{'secure.seller.list.id' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <div></div>
            <p class="sc-text-normal cup-text-country">{{element.IdSeller}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nit">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="false" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef >
            <span class="title-table-header" style="margin-left: 4px;">{{'secure.seller.list.nit' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.Nit}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="false" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef >
            <span class="title-table-header" style="margin-left: 4px;">{{'secure.seller.list.seller_name' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.Name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Creación de las filas para la tabla -->
        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row id="order-number-{{index}}" *matRowDef="let index=index; let row; columns: displayedColumns;" matRipple
          class="element-row personal-row-table" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
        </mat-row>
      </mat-table>
    
    </div>
    <div [@detailExpand] class="orders-no-data" *ngIf="length == 0">
      <mat-icon class="icon-not-found" color="primary">info</mat-icon>
      <p>{{'secure.parametize.port.no_found_port' | translate}}
      </p>
    </div>
      <!-- Fila desplegable para la tabla -->
      <!-- <ng-template #tpl let-element>
        <div class="content-detail-order mat-row  overFlow-Hidden" [@detailExpand]>
          <div fxLayout="row wrap" class="container-port-padding-button">
            <div fxFlex.lg="40" fxFlex.sm="100" fxFlex.md="40" fxFlex.xs="100" fxFlex.xl="40">
              <div fxLayout="column" class="container-port-details">
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.tariff' | translate}}: </span> <span class="port-result-text-detail">{{element.Tariff}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.shippingCost' | translate}}: </span> <span class="port-result-text-detail">{{element.ShippingCost}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.tariffByKg' | translate}}: </span> <span class="port-result-text-detail">{{element.NegotiatedShippingCost}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.insurance_freight' | translate}}: </span> <span class="port-result-text-detail">{{element.InsuranceFreight}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.preparation' | translate}}: </span> <span class="port-result-text-detail">{{element.Preparation}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.national_transportation' | translate}}: </span> <span class="port-result-text-detail">{{element.NationalTransport}}</span></div>
                <div class="container-port-padding"><span class="port-title-text-detail">{{'secure.parametize.port.insurance_CIF' | translate}}: </span> <span class="port-result-text-detail">{{element.InsuranceCif}}</span></div>
              </div>
            </div>
            <div fxFlex.lg="60" fxFlex.sm="100" fxFlex.md="60" fxFlex.xs="100" fxFlex.xl="60">
              <div fxLayout="row">
                <div class="container-title-collection-center">{{'secure.parametize.port.country' | translate}}</div>
              </div>
              <div fxLayout="row wrap" class="max-height-overflox-y">
                <div fxFlex="50" *ngFor="let country of element.Country"  class="port-result-text-detail width-and-padding">{{country}}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-template> -->
  </div>
</div>

