//  Estilos personalizados para el sc
.sc-title {
    font-size: 15px !important;
    color: $color-orange !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.sc-link-text {
    font-size: 13px !important;
    color: $color-blue !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.sc-text-order {
    color: $color-black !important;
    font-size: 13px !important;
}

.sc-text-bold-order {
    color: $color-black !important;
    font-size: 13px !important;
    font-weight: bold !important;
}

.sc-text-normal {
    color: $color-black;
    font-size: 13px;
}

.sc-button {
    text-transform: uppercase;
}

.sc-default-button {
    font-size: 12px !important;
    text-transform: uppercase;
    & mat-icon {
        font-size: 21px;
        color: $color-gray;
    }
}

.sc-date-content-table {
    padding: 5px 1px;
    font-size: 12px;
    color: $color-gray2;
    margin-right: 8px;
}

.sc-header-name-seller {
    margin-left: 15px;
    font-size: 13px;
    color: $color-gray3;
}

.sc-status-order-table {
    display: flex;
    & .status-red {
        width: auto;
        height: auto;
        color: $color-red !important;
        font-size: 13px;
    }
    & .status-orange {
        width: auto;
        height: auto;
        color: $color-orange2 !important;
        font-size: 13px;
    }
    & .status-green {
        width: auto;
        height: auto;
        color: $color-green !important;
        font-size: 13px;
    }
    color: $color-black;
    font-size: 13px;
}

.full-width-dialog,
.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
}

.mat-dialog-container{
    border-radius: 5px !important;
}

.in-process {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 40%;
    margin: 30px auto;
    background-color: $color-white;
    box-shadow: 0 3px 1px -2px $color-black, 0 2px 2px 0 $color-black, 0 1px 5px 0 $color-black;
    flex-direction: column;
    & .icon-in-process {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
}

.mat-simple-snackbar {
    font-size: 16px;
}

.footer-toolbar {
    margin-top: 20px;
}

.sc-button-toolbar {
    font-size: 13px !important;
    & mat-icon {
        font-size: 21px;
    }
}

.sc-check-personal {
    & .mat-checkbox-inner-container {
        height: 15px;
        width: 15px;
    }
}

.title-table-header {
    font-weight: bold;
    font-size: 12px;
}

.mat-form-field-wrapper .mat-form-field-underline {
    display: flex;
}