@import '_variables';

body, mat-sidenav-container, .mat-expansion-panel-header,.mat-paginator, .mat-card, .mat-tab-group{
    font-family: $font-principal !important;
}

//  Estilos personalizados para el sc
.sc-title {
    font-size: 15px !important;
    color: $color-gray1 !important;
    // text-transform: uppercase !important;
    font-weight: 500 !important;
}

.sc-link-text {
    font-size: 13px !important;
    color: $color-blue !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.sc-text-order {
    color: $color-black !important;
    font-size: 13px !important;
}

// .sc-text-bold-order {
//     color: $color-black !important;
//     font-size: 13px !important;
//     font-weight: bold !important;
// }

.sc-text-normal {
    color: $color-gray1;
    font-size: 13px;
}

.sc-button {
    text-transform: uppercase;
}

.sc-default-button {
    font-size: 12px !important;
    // text-transform: uppercase;
    & mat-icon {
        font-size: 21px;
        color: $color-gray;
    }
}

.sc-date-content-table {
    padding: 5px 1px;
    font-size: 12px;
    color: $color-gray2;
    margin-right: 8px;
}

.sc-header-name-seller {
    margin-left: 15px;
    font-size: 13px;
    color: $color-gray3;
}

.sc-status-order-table {
    display: flex;
    & .status-red {
        width: auto;
        height: auto;
        color: $color-red !important;
        font-size: 13px;
    }
    & .status-orange {
        width: auto;
        height: auto;
        color: $color-orange2 !important;
        font-size: 13px;
    }
    & .status-green {
        width: auto;
        height: auto;
        color: $color-green !important;
        font-size: 13px;
    }
    color: $color-gray1;
    font-size: 13px;
}

.full-width-dialog,
.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
}

.mat-dialog-container{
    border-radius: 10px !important;
}

.in-process {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 40%;
    margin: 30px auto;
    background-color: $color-white;
    box-shadow: 0 3px 1px -2px $color-black, 0 2px 2px 0 $color-black, 0 1px 5px 0 $color-black;
    flex-direction: column;
    & .icon-in-process {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
}

.mat-simple-snackbar {
    font-size: 16px;
}

.footer-toolbar {
    margin-top: 20px;
}

.sc-button-toolbar {
    font-size: 13px !important;
    & mat-icon {
        font-size: 21px;
    }
}

.sc-check-personal {
    & .mat-checkbox-inner-container {
        height: 15px;
        width: 15px;
    }
}

.title-table-header {
    font-weight: bold;
    font-size: 12px;
}

.mat-form-field-wrapper .mat-form-field-underline {
    display: flex;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 45%;
}
.buttonProcessContinuar[disabled][disabled]{
    background-color: #00000042;
    color: #fff;
    transition: background-color 1 ease ;
  
  }

  @media only screen and (min-width: 768px)  {
    .process-container{
        height: auto !important;
    }
    .search-store {
        width: 80% !important;
    }
}

@media only screen and (max-width: 592px)  {
    .process-container{
        height: auto !important;
    }
    .search-store {
        width: 90% !important;
    }
}

//toolbar

.toolbar-component {

    .toolbar-options{
    
      p{
        font-family: $font-principal;
      }

      .sub-title{
          text-transform: uppercase;
          color:$color-gray1;
          font-weight: 300;
      }

      span.bar{
          padding: 0px 5px 0px 5px;
      }

    }
  
  }

  .toolbar-options {
    .btn-paginator[disabled]{
        color: $color-gray-light !important;
    }
  }

  .top-toolbar{
    border-top: 1px solid $color-gray5;
      transform: translateY(-47px);
      transition:  all .4s ease 0s;
  }
  .top-toolbar-calification{
    border-top: 1px solid $color-gray5;
      transform: translateY(-139px);
      transition:  all .4s ease 0s;
  }

  #closeMenuApplication, .toolbar-title-search  {
    span .mat-icon{
        color: $blue !important;
    }
    .mat-button-focus-overlay{
        background: none !important;
    }
  }
  
    .example-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .mat-sidenav-container{
          height: auto !important;
      }
  
// CUSTOM SCROLL BAR

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  
  .no-button{
      background: none !important;
      padding: 0 !important;
      .mat-button-focus-overlay{
        background: none !important;
      }
      &:hover{
          background: none !important;
      }
  }

  .mat-drawer-content{
    overflow: inherit !important;
  }
.content-table-orders{
    .button-toolbar{
      color: $color-gray-light !important;
    }
}

//backdrop  

.mat-drawer-backdrop, .mat-drawer{
    position: fixed !important;
}

.mat-drawer-container, .mat-drawer-content, .mat-tab-label-container{
    z-index: inherit !important;
}

.expand.mat-icon{
    color:$color-gray1;
}

.toolbar-orders-options-table .toolbar-options-table .toolbar-paginate {
    justify-content: flex-end !important;
}

.mat-form-field-wrapper{
    margin-top: -14px;
}

.normal-theme .mat-paginator{
    background: none !important;
}

.mat-paginator-range-label {
    margin: 0 !important;
}

@media only screen and (max-width: 767px) {

    .search-content-selector{
        max-width: 93% !important;
    }

    .center-mobile{
        text-align: center;
    }
    
    .principal-toolbar{
        z-index: 3 !important;
    }

    .listCombo{
        margin-top: 15% !important;
    }

    mat-toolbar.toolbar-component, .tree-toolbar{
        top: 54px;
    }
    mat-toolbar.toolbar-component, .calification-to-position{
        top: 54px;
    }

    .process-container{
        .mat-step-label{
            display: none !important;
        }
    }

    .toolbar-options p{
        font-size: 12px !important;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }

    .toolbar.mat-toolbar, .tree-toolbar{
        p{
            font-size: 16px !important;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .mat-toolbar-row, .mat-toolbar-single-row{
        height: auto !important;
    }

    mat-toolbar.toolbar-component{
        padding-bottom: 5px !important;
    }

    mat-toolbar.toolbar-component .toolbar-options .options-toolbar {
        margin-top: 20px;
    }

    .tree-toolbar .toolbar-options-table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-store{
        margin-bottom: 8px;
        width: 100%;
    }

    .mat-expansion-panel{
        max-width: 88vw;
    }

    .bleft{
        position: relative !important;
    }

  }

  .w-100{
      width: 100%;
  }

  .w-90{
      width: 90% !important;
  }

  .p-0{
      padding: 0;
  }

  .pl-0{
      padding-left: 0 !important;
  }

  .d-c{
      display: flex;
      flex-direction: row !important;
  }

  .btf {
    justify-content: end;
    display: flex;
    align-self: center;
}

.ml-20{
    margin-left: 20px !important;
}

.ml-1{
    margin-left: 1rem !important;
}

.ml-auto{
    margin-left: auto !important;
}

.search-store{
    width: 100%;
}

.listAdmin{
    .search-store{
      width: 100% !important;
    }
  }

.space-between {
    display: inline-flex;
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.dis-flex {
    display: flex;
}