$lavender-mist: #E7E7F4;
$midnight-blue: #14142B;
$transparent-black: #0000004D;
$slate-gray: #9A9AB5;
$white-opacity: #FFFFFF2F;
$pure-white: #FFFFFF;
$bluebell: #6E6EF0;
$ash-gray: #676767;
$iron-gray: #86888A;
$dark-lilac: #535371;
$light-lavender: #F2F2FF;
$black-opacity: #00000029;
$dark-lavender: #7E7EA4;
$aqua-green: #5AC4A5;