<div>
  <mat-toolbar class="tree-toolbar">
    <div class="normal-theme toolbar-options-table flexbox justify-start align-center" fxLayout.xs="column">
      <!-- Titulo del toolbar -->
      <p class="tree-title">
        {{'secure.seller.contracts.lb_title_toolbar' | translate}}
        <small class="sub-title">| {{'menu.Administrar Acuerdos' | translate}}</small>
      </p>
    </div>
  </mat-toolbar>
</div>

<div id="addButton" fxLayout="row" fxLayoutAlign="space-between center">
  <div align="left" style="display: flex;">
    <h4 style="color: gray;" *ngIf="manageAgreementsSeller">Acuerdo predeterminado:  </h4> <h4 style="color: black; margin-left: 10px;" *ngIf="titleAgreement">{{titleAgreement}}</h4>
  </div>
  <button mat-button mat-stroked-button color="primary" (click)="openModalBulkLoadAgreement()">
    <strong>{{'menu.Cargar Acuerdos' | translate}}</strong>
  </button>
</div>

<div class="list-container">
  <div class="agreement">
    <div class="agreement-title" fxLayout="row" fxLayoutAlign="space-between center">
      <p>{{'shared.name' | translate}}</p>
      <p style="margin-right: 10%;" *ngIf="false">{{'shared.actions' | translate}}</p>
    </div>
    <div *ngFor="let agreement of manageAgreementsSeller" fxLayout="row" fxLayoutAlign="space-between center"
      class="list-agreement">
      <div fxLayoutAlign="start center" fxLayout="row" class="width-80">
        <mat-icon class="material-icons" class="file-agreement">
          insert_drive_file
        </mat-icon>
        <p>{{agreement.Name}}</p>
      </div>
      <button mat-icon-button (click)="getPDF(agreement)" *ngIf="download">
        <mat-icon class="material-icons">
          get_app
        </mat-icon>
      </button>
    </div>
  </div>
</div>
