$color-gray: #757474;
$color-light-gray: #909090;
$color-light-gray2: #EFEDED;
$blue: #485AFA;

@mixin border-bottom {
  border-bottom: 1px solid $color-light-gray2;
}

#marginTitle1{
  margin-left: 20%
}

#marginTitle2{
  margin-right: 10%;
}

#sizeIcons{
  font-size: 24px;
}

#sizeIcons2{
  font-size: 14px;
}

.borderButtonUpload{
  border-color: #3d5afe;
}

.width-delete{
  width: 16%;
}

#openDialogAgreement{
  width: 168px;
  height: 45px;
  margin-top: 10px;
}

.styleFlex{
  display: flex;
}

.subtitleAgreement{
  color: $color-gray;
}

.subtitleAgreement2{
  color: black; 
  margin-left: 10px;
}

::ng-deep .mat-paginator-page-size{
  margin-top: 8px;
}

:host ::ng-deep {
  .tree-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    height: auto;

    & .toolbar-options-table {
      width: 100%;
      padding: 0 20px;
    }

    .normal-theme {
      width: 100%;
    }
  }

  .tree-title {
    font-size: 18px;
    margin-left: 0;
    color: #000000;
    font-weight: bold;
  }

  .sub-title {
    color: #757474;
    font-size: 18px;
    padding-left: 5px;
    font-weight: 400;
  }

  .buttn-toolbar-options {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $color-gray;
  }

  .button-more-ver {
    color: $color-gray !important;
  }

  .agreement {
    .list-agreement {
      color: $color-light-gray;
      @include border-bottom();

      .file-agreement {
        margin: 0 1em;
      }
    }

    .agreement-title {
      p {
        font-size: 14px;
        color: $color-gray;
        font-weight: bold;
        margin-left: 1em;
      }

      @include border-bottom();
    }
  }
}

.list-container {
  margin: 0.5em;

  .seller-data {
    text-align: center;
  }

  .icon-face {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;

    & mat-icon {
      font-size: 120px;
      color: #EFEDED;
      height: 120px;
      width: 120px;
    }
  }
}

.icon-face-text {
  color: #757474;
  font-size: 18px;
  text-align: center;
}

.width-Name {
  width: 46%;
}

.width-agreement-default {
  width: 25%;
}

@media screen and (min-width: 600px) {
  .tree-title {
    width: 35%;
  }

  .search-container {
    width: 60%;
    padding: 0.4em;
  }

  .list-container {
    margin-top: 2em;
  }

  .agreement {
    margin: 2em;
  }
}

@media screen and (max-width: 600px) {
  .tree-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .search-container {
    width: 100%;
    padding: 0.4em;
  }
}

.brands-button-agreement {
  text-align: right;
}

.container-group-agreement-button {
  text-align: right;
  color: $blue;
  width: 90%;
  margin: 1.4%;
}

#addButton{
    margin-left: 4%;
    margin-right: 4%;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #485AFA !important;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(72, 90, 250, .38) !important;
}
