<div>
  <mat-toolbar class="tree-toolbar">
      <div class="normal-theme toolbar-options-table flexbox justify-start align-center" fxLayout.xs="column">
          <!-- Titulo del toolbar -->
          <p class="tree-title">
              {{'secure.seller.contracts.lb_title_toolbar' | translate}}
              <small class="sub-title">| {{'menu.Administrar Acuerdos' | translate}}</small>
          </p>

          <!-- Componente para realizar la busqueda de una tienda
          <div class="search-container">
              <app-search-seller id="contet-searc-store" class="search-content" *ngIf="getFunctionality(visualize)"></app-search-seller>
          </div> -->
      </div>
  </mat-toolbar>
</div>
