@import "_variables";

.card-school {
  margin-top: 20px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 3px 9px #00000029;
  border: 1px solid $color-gray5;
  // max-width: 400px;
  width: 100%;

  .btn-school {
    padding: 0;
    min-width: auto;
    background: none;
    border: none;
    color: #5d5d5d;
  }

  .mat-card-header {
    // background: $blue;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
  }

  .mat-card-title {
    margin: 0;
    font-family: $font-principal;
    font-size: $font-size-principal;
    font-weight: bold;
  }

  .w-100 {
    width: 100%;
  }

  .mat-icon {
    font-size: 18px;
    margin: 0px 4px;
  }

  .mat-card-actions {
    text-align: center;
    button {
      color: $blue;
      border: 1px dotted $blue;
      display: block;
      width: 87%;
      margin: 0 auto;
      padding: 12px;
      font-weight: bold;
    }
  }
}

.color-gray {
  color: #909090;
}
