<div>
  <div fxLayout="row wrap">
    <div fxFlex="100" style="text-align: end; height: 15px;">
      <mat-icon class="mat-18" style="color: #909090;">close</mat-icon>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" [ngStyle]="{'text-align': data.positionTitle}">
      <span style="font-weight: bold;">{{data.title}}</span>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" [ngStyle]="{'text-align': data.positionSubtitle,
      'padding': '20px'}">
      <span style="color: #757474; font-size:14px">{{data.subTitle}}</span>
    </div>
  </div>
  <div fxLayout="row wrap" class="load-file-container">
    <div fxFlex="100" class="text-aling-center-modal-load">
      <div class="inline-block">
        <div ngfDrop selectable="1" [(validDrag)]="validComboDrag"
          [(files)]="files" [(file)]="file" [maxSize]="maxSize"
          [accept]="data.dragDrop.accept" [(lastInvalids)]="lastInvalids"
          [(dragFiles)]="dragFiles"
          class="well my-drop-zone" fxLayout="column" id="excel"
          fxLayoutAlign="center center"
          [class.invalid-drag]="validComboDrag===false"
          [class.valid-drag]="validComboDrag"
          (filesChange)="lastFileAt=getDate(); resetFiles(files, file)">

          <div *ngIf="_fileAux === null && !lastInvalids?.length &&
            !_filesAux?.length" style="text-align: center;">
            <mat-icon class="material-icons">
              note_add
            </mat-icon>
            <div>
              <span style="color: #757474; font-size:14px">
                Presione acá o arrastre y suelte el archivo.
              </span>
            </div>
            <div>
              <span style="font-size:14px; color: #485AFA;">
                Archivo/Anexo
              </span>
            </div>
          </div>
          <div *ngIf="_fileAux !== null && !lastInvalids?.length &&
            !refuseMaxSize" style="text-align: center;">
            <mat-icon class="material-icons check">
              check_circle {{_filesAux.length}}
            </mat-icon>
            <div>
              <span style="color: #757474; font-size:14px">
                {{_fileAux.name}} - {{_fileAux.size/1024/1024 | number:'.2' }}
                MB
              </span>
            </div>
          </div>
          <div *ngIf="lastInvalids?.length || _filesAux.length> 1 ||
            refuseMaxSize" style="text-align: center;">
            <mat-icon class="material-icons error">
              not_interested
            </mat-icon>
            <div *ngIf="refuseMaxSize">
              <span style="color: #757474; font-size:14px">
                El archivo no puede superar los 7 Megabytes
              </span>
            </div>
            <div *ngIf="lastInvalids?.length ">
              <span style="color: #757474; font-size:14px">
                El archivo tiene un formato no permitido, solo se permiten <br> 
                <span style="font-weight: bold;">
                  ({{data.dragDrop.accept}})
                </span>
              </span>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <div>
            <button mat-stroked-button color="primary" mat-button (click)="close()" style="margin-right: 5px;margin-top: 29px; width: 150px;">CANCELAR</button>
            <button mat-raised-button color="primary" style="margin-left: 30px;" (click)="sendUploadCategory()">CARGAR CATEGORÍAS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>