.tree-component {
  height: 100%;
  width: 100%; //   background: blue;
}

.content-tree {
  padding-bottom: 300px;
}

::ng-deep .badge-tree-cateogry {
  background: #EFEDED;
  color: #757474;
  font-size: 12px;
  width: 85px;
  min-width: 85px;
  height: 30px;
  line-height: 2;
  padding: 0px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  & .sing-input {
    position: absolute;
    right: 5px;
    top: -7px;
    font-size: 12px;
  }
}

.tree-col {
  border-bottom: 1px solid #e0e0e0;
}

.tree-title-col {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.tree-child-col {
  color: #757474;
  font-size: 14px;
}

.header-tree-component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
  & p {
    color: #757474;
    font-size: 14px;
  }
}
