.toolbar-orders-list {
  & mat-toolbar-row {
    height: 45px;
  }

  min-height: 45px;
  // border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.content-options-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center; //   padding-left: 5%;
}

.button-toolbar {
  height: 45px;
  margin: 0px 5px;
  border-bottom: solid 2px transparent;

  &:hover,
  &:active {
    border-bottom: solid 2px rgb(237, 129, 43);
  }
}

.href-toolbar-doc {
  color: black;
  font-size: 12px;

  h3 {
    margin-left: 20px;
  }
}

.width-100{
  width: 100%;
}

.width-20px{
  width: 20px;
}


.style-arrow-menu-header{
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  color: #b6b6b6;
}

.contenedor-menu-scroll{
  width: 97%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.width-60{
  width: 60px
}