<div class="content-order my-content">
  <div fxFlex class="container" fxLayout="row wrap" fxLayoutAlign="center
    start">
    <div fxFlex="100" class="light-content">
      <app-toolbar-search-pagination [informationToForm]="informationToForm" #toolbarOptions [lengthOrder]="length"
        [limitPaginate]="[50, 100, 150]" [btnFilter]="btnFilter" [btnDownload]="btnDownload"
        (filterGerenic)="toggleFilterReportPaymentSummary()"
        (paginationListOrdens)="paginations($event)" [pageIndexChange]="indexPage">
      </app-toolbar-search-pagination>
    </div>
  <div fxLayout="row wrap" style="width: 100%; padding: 20px;">
    <div fxFlex="70">
      <div style="padding-bottom: 15px;">
        <span style="font-weight: bold; color:#828282; font-size: 15px;">{{'secure.dispersion.summaryPayment.valueTotalPay'| translate}}: </span>
      </div>
      <div>
        <span style="font-weight: bold; color:#828282; font-size: 15px;">{{'secure.dispersion.summaryPayment.allSeller' | translate}}: </span>
      </div>
    </div>
    <div fxFlex="30">
      <div style="text-align: end;">
        <button mat-stroked-button color="primary" (click)="addCategory()">{{'secure.dispersion.summaryPayment.dispersar'| translate}}</button>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div fxFlex.xs="93%" fxFlex.sm="95" fxFlex.md="97" fxFlex.lg="97" fxFlex.xl="97"style="width: 100%;" >
      <mat-table #table [dataSource]="dataSource" matSort style="width: 100%;">

        <ng-container matColumnDef="check">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.xs="5" fxFlex.xl=""
            *matHeaderCellDef>
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="changeStatus(row,$event.checked)"
            [checked]="selection.isSelected(row)" ></mat-checkbox>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="5" fxFlex.sm="5" fxFlex.md="5" fxFlex.xs="5" fxFlex.xl=""
            *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="changeStatus(row,$event.checked)"
            [checked]="selection.isSelected(row)" ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cutoffDate">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> {{'secure.dispersion.summaryPayment.cutofDate' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idSeller">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> {{'secure.dispersion.summaryPayment.idSeller' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="seller">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header">{{'secure.dispersion.summaryPayment.seller' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantityOrders">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header">{{'secure.dispersion.summaryPayment.quantityOrders' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idInternalCode">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> {{'secure.dispersion.summaryPayment.idCodeInternal' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header"> {{'secure.dispersion.summaryPayment.description' | translate}}</span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalToPay">
          <mat-header-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true"
            fxShow.xl="true" fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matHeaderCellDef>
            <span class="title-table-header">{{'secure.dispersion.summaryPayment.totalPay' | translate}} </span>
          </mat-header-cell>
          <mat-cell class='marginListAdminTotal' fxShow.xs="true" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true"
            fxShow="true" fxFlex.lg="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.xs="30" fxFlex.xl=""
            *matCellDef="let element">
            <p class="sc-text-normal">{{element.billingNumber}}</p>
          </mat-cell>
        </ng-container>

    

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row id="order-number-{{index}}" *matRowDef="let index=index; let
          row; columns: displayedColumns;" matRipple class="element-row personal-row-table" [cdkDetailRow]="row"
          [cdkDetailRowTpl]="tpl" >
        </mat-row>
      </mat-table>
    </div>
  </div>
  </div>
</div>