<!-- Dialogo de angular material para mostrar el contrato de trabajo -->
<div class="dialog-container" *ngIf="chargueView">
    <h2 class="dialog-title">
        Acuerdo Comercial Marketplace <span style="font-size: 14px; font-weight: 100;color: #b6b6b6;" *ngIf="data.TotalPending > 0">pendientes por revisar ({{data.TotalPending}})</span>
    </h2>
    <div style="padding-bottom: 20px;">
        <div style="text-align: center;">
            <span>
                Apreciado vendedor, en Marketplace buscando siempre la mejora
                continua hemos actualizado nuestros términos y condiciones.
            </span>
        </div>
        <div style="text-align: center; font-weight: bold; padding: 5px;">
            <span>
                Por favor leer detenidamente el nuevo acuerdo comercial y/o
                anexo y confírmanos tu aceptación en la parte inferior
            </span>
        </div>
    </div>

    <div mat-dialog-content id="parrafo">
        <form class="dialog-form" [formGroup]="formTerms"
            (ngSubmit)="saveTerms()">
            <p class="dialog-text">
                <pdf-viewer [src]="data.ContractUrl" [fit-to-page]="true"
                    [render-text]="false" [render-text-mode]="0"
                    [show-all]="true" [autoresize]="true"></pdf-viewer>
            </p>

            <mat-form-field class="dialog-input">
                <mat-icon matPrefix class="material-icons">
                    person
                </mat-icon>
                <input matInput placeholder="Nombre completo de representante
                    legal" formControlName="responsable">
            </mat-form-field>
            <mat-form-field class="dialog-input">
                <mat-icon matPrefix class="material-icons">
                    assignment_ind
                </mat-icon>
                <input matInput placeholder="Número de identificación
                    representante legal" formControlName="identification">
            </mat-form-field>

            <div class="dialog-input dialog-check" fxLayout="row">
                <mat-checkbox formControlName="accept" class="dialog-accept">
                </mat-checkbox>
                Acepto los términos y condiciones del acuerdo de Marketplace
            </div>

        </form>
    </div>

    <!-- Buttons SAVE- REFUSE - CANCEL -->
    <div mat-dialog-actions>
        <div fxLayout="row" fxFlex="100" >
            <div fxFlex="50" fxLayoutAlign="start center">
                <div style="padding: 5px;">
                    <button type="button" id="btn-create-transporter"
                        mat-stroked-button color="primary" [innerHTML]="'DESCARGAR'"
                        (click)="closeDialog()"></button>
                </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="end center">
                <div style="padding: 5px;">
                    <button id="btn-create-transporter" (click)="saveTerms(true)"
                        mat-raised-button color="primary" [innerHTML]="'ACEPTAR'"
                        [disabled]="!formTerms.valid">
                    </button>
                </div>
                <div style="padding: 5px;">
                    <button id="btn-create-transporter" (click)="saveTerms(false)"
                        mat-raised-button color="default" [innerHTML]="'NO ACEPTAR'" [disabled]="!formTerms.valid">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>