.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dialog-text-container {
    overflow: auto;
  }

  .dialog-text {
    text-align: justify;
    padding-right: 1%;
  }

  .dialog-input {
    color: #9E9E9E;
  }

  .dialog-container-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dialog-text-container {
    max-height: 50%
  }

  .dialog-input {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .dialog-text-container {
    max-height: 70%
  }

  .dialog-input {
    width: 48%;
    margin: 0 1%;
  }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.7em 0 0 0 !important;

  input.mat-input-element {
    padding-bottom: 1%;
  }
}

.dialog-accept {
  padding: 0 1em;
}

.terms-text-term-condition {
  font-size: 14px;
  font-weight: 100;
  color: #b6b6b6;
}

.padding-5-btn {
  padding: 5px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.terms-text-head-subtitle {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.text-center{
    text-align: center;
}
