<ng-container *ngIf="!!data.icon">
    <div class="container-icon">
        <mat-icon>
            {{data.icon}}
        </mat-icon>
    </div>
</ng-container>
<ng-container class="title-container" *ngIf="!!data.title">
        <h1 mat-dialog-title><strong>{{data.title}}</strong></h1>
</ng-container>
<div mat-dialog-content>
    <ng-container *ngIf="!!data.message">
        {{data.message}}
    </ng-container>
    <ng-container *ngIf="!!content">
        <ng-template [ngTemplateOutlet]="content">
        </ng-template>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button id="btn-cancel" type="button" mat-button color="primary" (click)="onNoClick()">CANCELAR</button>
    <button id="btn-confirmation" type="submit" mat-raised-button color="primary" (click)="confirmation()" [disabled]="data.form && data.form.invalid">ACEPTAR</button>
</div>