<div class="content-modal">
  <h2 mat-dialog-title>{{'secure.orders.pending_devolution.action_accept_devolution.title' | translate}}</h2>
  <mat-dialog-content>{{'secure.orders.pending_devolution.action_accept_devolution.body' | translate}}
  </mat-dialog-content>
  <mat-dialog-actions class="button-content">
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button color="primary" [mat-dialog-close]="true">{{'actions.close' | translate}}</button>
  </mat-dialog-actions>
</div>
