<section id="section-detail-offer" class="flexbox">

    <article class="detail-offer-img flexbox align-center justify-center flex-wrap">
        <div class="offer-button-back flexbox align-center">
            <button class="btn-back" mat-icon-button (click)="goToListOffers()">
                <mat-icon>arrow_back</mat-icon>
                <small class="sub-title-back" [innerHTML]="'Volver'"></small>
            </button>
        </div>
        <div class="offer-img flexbox align-center justify-center">
            <img [src]="dataOffer.imageUrl" alt="">
        </div>
    </article>

    <article class="detail-offer-desc">

        <p [innerHTML]="'EAN: ' + dataOffer.ean" class="ean"></p>
        <p [innerHTML]="dataOffer.name" class="name"></p>
        <p [innerHTML]="dataOffer.price | currency: '$' : 'symbol' : '1.0-0'" class="price-strikethrough"></p>
        <p [innerHTML]="dataOffer.discountPrice | currency: '$' : 'symbol' : '1.0-0'" class="price"></p>
        <p [innerHTML]="'ID de oferta: <b>' + dataOffer.idOffer + '</b> | ' + (dataOffer.stock > 0 && dataOffer.stock ? (' En stock: <b>' + (dataOffer.stock | number) + '<b>') : '<b class=sold-out>En stock: Agotado<b>')"
            class="stock"></p>

        <span class="flexbox align-center">
            <mat-icon>date_range</mat-icon>
            <p [innerHTML]="'Promesa de entrega: <b>' + dataOffer.promiseDelivery + ' días habiles </b>'"></p>
        </span>

        <span class="flexbox align-center">
            <mat-icon>local_shipping</mat-icon>
            <p [innerHTML]="'Costo de flete promedio: <b>' + (dataOffer.shippingCost | currency: '$' : 'symbol' : '1.0-0') + '</b>'"></p>
        </span>

        <span class="flexbox align-center">
            <mat-icon>beenhere</mat-icon>
            <p [innerHTML]="'Garantía: <b>' + dataOffer.warranty + ' meses </b>'"></p>
        </span>

        <aside class="flexbox align-center justify-center">
            <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isFreeShipping}">
                <mat-icon *ngIf="dataOffer.isFreeShipping && dataOffer.isFreeShipping === true">check</mat-icon>
                <mat-icon *ngIf="!dataOffer.isFreeShipping || dataOffer.isFreeShipping === false">clear</mat-icon>
                <p [innerHTML]="'Free Shinpping'"></p>
            </div>
            <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isEnviosExito}">
                <mat-icon *ngIf="dataOffer.isEnviosExito && dataOffer.isEnviosExito === true">check</mat-icon>
                <mat-icon *ngIf="!dataOffer.isEnviosExito || dataOffer.isEnviosExito === false">clear</mat-icon>
                <p [innerHTML]="'Envios Exito'"></p>
            </div>
            <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isFreightCalculator}">
                <mat-icon *ngIf="dataOffer.isFreightCalculator && dataOffer.isFreightCalculator === true">check</mat-icon>
                <mat-icon *ngIf="!dataOffer.isFreightCalculator || dataOffer.isFreightCalculator === false">clear</mat-icon>
                <p [innerHTML]="'Cotizador de flete'"></p>
            </div>
        </aside>
        <p [innerHTML]="'Última modificación: ' + (dataOffer.updatedDate | date : 'dd/MM/yyyy')" class="udpade-date"></p>
    </article>
</section>