<section id="section-history-filter-offers" class="flexbox flex-wrap">

  <!--form novalidate #historyFilterOffers="ngForm" [formGroup]="historyFilterForm" (ngSubmit)="history.historyFilterOffers(formFilter)" class="flexbox flex-wrap justify-center"-->
  <form
    novalidate
    #f="ngForm"
    [formGroup]="historyFilterForm"
    (ngSubmit)="historyFilter(historyFilterForm)"
    class="flexbox flex-wrap justify-center">

    <article class="flexbox align-center justify-between">
      <span [innerHTML]="'Filtro histórico'"></span>
      <button
        id="closeMenuApplication"
        type="button"
        color="primary"
        matTooltip="Cerrar"
        matTooltipPosition="below"
        mat-icon-button
        mat-button
        (click)="toggleMenu()">
        <mat-icon>clear</mat-icon>
      </button>
    </article>

    <!-- dateInitial -->
    <mat-form-field color="primary">
      <input
        id="sinceDate-input"
        placeholder="Fecha inicio"
        formControlName="dateInitial"
        [max]="historyFilterForm.value.dateFinal"
        matInput
        [matDatepicker]="dateInitial">
      <mat-datepicker-toggle id="sinceDate-Perfix" matPrefix [for]="dateInitial"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateInitial></mat-datepicker>
    </mat-form-field>

    <!-- dateFinal -->
    <mat-form-field color="primary">
      <input
        id="untilDate-input"
        placeholder="Fecha final"
        formControlName="dateFinal"
        [min]="historyFilterForm.value.dateInitial"
        matInput
        [matDatepicker]="dateFinal">
      <mat-datepicker-toggle id="untilDate-Prefix" matPrefix [for]="dateFinal"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateFinal></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput
        placeholder="EAN"
        formControlName="ean">
      <mat-hint></mat-hint>
      <mat-error *ngIf="historyFilterForm.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>
    </mat-form-field>


    <article class="container-buttons flexbox align-center justify-between">
      <button mat-stroked-button color="primary" type="reset" [innerHTML]="'Limpiar'"></button>
      <button mat-flat-button
        color="primary"
        type="submit"
        [innerHTML]="'Filtrar'"
        [disabled]="!f.form.valid">
      </button>
    </article>

  </form>

</section>
