@import 'variables';
@import 'floating-header';

.select-language {

  .select-language__title {
    font-family: $poppins-medium;
    font-size: 14px;
    color: $dark-lilac;
  }

  .language__button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}