@import 'variables';

.select-language {

  .select-language__title {
    font-family: $poppins-medium;
    font-size: 14px;
    color: $dark-lilac;
  }

  .language__button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .language__button {
      width: 100%;
      border-radius: 25px;
      padding: 0px 15px;
      height: 54px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: $pure-white;
      border: none;
      cursor: pointer;

      .button__icon {
        color: $dark-lavender;
        vertical-align: bottom;
        margin-right: 10px;
      }

      .button__text {
        font-family: $poppins-medium;
        font-size: 14px;
        color: $dark-lavender;
      }

      &:hover {

        .button__icon,
        .button__text {
          color: $dark-lilac;
        }
      }

      &.active {
        .button__icon {
          border-radius: 50%;
          border: 2px solid;
          vertical-align: sub;
        }
      }
    }
  }
}