<div>
  <div fxLayout="column"
    class="quality-indicators-border-bottom-color
    quality-indicators-container-height-50">
    <div fxLayout="row" class="quality-indicators-container-header-align">
      <div fxFlex="60" fxFlex.sm="90" fxFlex.md="65"
        class="quality-indicators-container-position-title-orders">
        <span>
          Indicadores de calidad
        </span>
      </div>
      <div fxFlex="30" fxFlex.sm="10" fxFlex.md="25" fxFlex.lg=""
        fxFlex.xs="30" fxFlex.xl="30"
        class="quality-indicators-container-orders-align" style="text-align: end;">
        <span style="font-size: 13px; color: #909090">
          Últimos 30 {{'shared.days'| translate}}: {{'shared.from' | translate}} <span style="font-weight: bold;">{{from}}</span>
          {{'shared.to'| translate }} <span style="font-weight: bold;">{{to}}</span>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!load">
    <div fxLayout="row" style="padding: 19px 10px 16px 10px;font-size: 13px;
      color: #909090; border-bottom: 1px solid #dadada;">
      <div fxFlex="30" style="padding-left: 10px;">{{'quality.indicators.objectives' | translate}}</div>
      <div fxFlex="10">{{'quality.indicators.goal'| translate}}</div>
      <div fxFlex="60">{{'quality.indicators.Compliance'| translate}}</div>
    </div>
    <div fxLayout="row" *ngFor="let indicators of qualityIndicators">
      <div fxFlex="30" style="padding: 20px;">
        <span style="color: #909090; font-size: 13px;">
          {{indicators.indicatorName}}
        </span>
        <span style="vertical-align: middle; cursor: pointer;"
          (click)="openBtnInfo(indicators.indicatorName ,
          indicators.calcInformation)">
          <mat-icon class="mat-18" style="color: #909090; width: 14px;height:
            14px;font-size: 14px;">info</mat-icon>
        </span>

      </div>
      <div fxFlex="10" style="padding: 20px;">
        <span style="color: #909090; font-size: 13px;">
          {{indicators.goal}} {{indicators.measureUnit}}
        </span>
      </div>
      <div fxFlex="50" style="padding: 20px; contain:content;">
        <div [ngStyle]="{'width': indicators.percentageBar + '%',
          'background-color': indicators.color, 'height': '15px' }"></div>
      </div>
      <div fxFlex="10" style="padding: 20px;">
        <span style="color: #909090; font-size: 13px;">
          {{indicators.value}} {{indicators.measureUnit}}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="load" style="height: 80px;padding: 90px;">
    <mat-spinner [diameter]="40" class="quality-indicators-spinner-loading
      quality-indicators-margin-spinner">
    </mat-spinner>
    <div style="text-align: center;">
      <span>{{'secure.products.create_product_unit.list_products.please_wait' |
        translate}}</span>
    </div>
  </div>
</div>
