.quality-indicators{
    &-border-bottom-color{
        border-bottom: 1px solid #dadada;
      }

      &-container-height-50{
        height: 50px;
      }

      &-container-header-align{
        margin-top: 14px;
        padding-right: 10px;
        padding-left: 10px;
      }

      &-spinner-loading {
        margin-left: 48%;
        margin-right: 55%;
      }

      &-margin-spinner{
        margin:0 auto;
        margin-bottom: 10px;
      }

      &-text-align-end{
        text-align: end;
      }

      &-font-size-color{
        font-size: 13px;
        color: #909090
      }

      &-font-weight-bold{
        font-weight: bold;
      }

      &-row-padding{
        padding: 19px 10px 16px 10px;
        font-size: 13px;
        color: #909090;
        border-bottom: 1px solid #dadada;
      }
      
    
}