<div fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true"
  fxShow.xl="true" fxShow="true">
  <div fxLayout="column"
    class="quality-indicators-border-bottom-color
    quality-indicators-height-50">
    <div fxLayout="row" class="quality-indicators-header-align">
      <div fxFlex="60" fxFlex.sm="90" fxFlex.md="65"
        class="quality-indicators-position-title-orders">
        <span>
          {{'quality.indicators.quality_indicators'| translate}}
        </span>
      </div>
      <div fxFlex="30" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg=""
        fxFlex.xs="50" fxFlex.xl="30"
        class="quality-indicators-orders-align
        quality-indicators-text-align-end">
        <span class="quality-indicators-font-size-color">
          {{'quality.indicators.Last_days'| translate}}: {{'shared.from' |
          translate}} <span class="quality-indicators-font-weight-bold">{{from}}</span>
          {{'shared.to'| translate }} <span
            class="quality-indicators-font-weight-bold">{{to}}</span>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!load">
    <div fxLayout="row" class="quality-indicators-row-padding">
      <div fxFlex="30" class="quality-indicators-padding-left-10">{{'quality.indicators.objectives'
        | translate}}</div>
      <div fxFlex="10">{{'quality.indicators.goal'| translate}}</div>
      <div fxFlex="60">{{'quality.indicators.Compliance'| translate}}</div>
    </div>
    <div fxLayout="row" *ngFor="let indicators of qualityIndicators">
      <div fxFlex="30" class="quality-indicators-padding-20">
        <span class="quality-indicators-color-text-indicators">
          {{indicators.indicatorName}}
        </span>
        <span class="quality-indicators-aling-icon-cursor"
          (click)="openBtnInfo(indicators.indicatorName ,
          indicators.calcInformation)">
          <mat-icon class="mat-18 quality-indicators-icon-info">info</mat-icon>
        </span>
      </div>
      <div fxFlex="10" class="quality-indicators-padding-20">
        <span class="quality-indicators-color-text-indicators">
          {{indicators.goal}} {{indicators.measureUnit}}
        </span>
      </div>
      <div fxFlex="50" class="quality-indicators-padding-contain">
        <div [ngStyle]="{'width': indicators.percentageBar + '%',
          'background-color': indicators.color, 'height': '15px' }"></div>
      </div>
      <div fxFlex="10" class="quality-indicators-padding-20">
        <span class="quality-indicators-color-text-indicators">
          {{indicators.value}} {{indicators.measureUnit}}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="load" class="quality-indicators-height-padding">
    <mat-spinner [diameter]="40" class="quality-indicators-spinner-loading
      quality-indicators-margin-spinner">
    </mat-spinner>
    <div class="quality-indicators-text-center">
      <span>{{'secure.products.create_product_unit.list_products.please_wait' |
        translate}}</span>
    </div>
  </div>
</div>
<div fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false"
  fxShow.xl="false" fxShow="false">
  <div fxLayout="column"
    class="quality-indicators-border-bottom-color
    quality-indicators-height-50">
    <div fxLayout="row" class="quality-indicators-header-align">
      <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100"
        class="quality-indicators-position-title-orders">
        <span>
          {{'quality.indicators.quality_indicators'| translate}}
        </span>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" class="quality-indicators-header-align">
      <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100"
        class="quality-indicators-position-title-orders">
        <span class="quality-indicators-font-size-color">
          {{'quality.indicators.Last_days'| translate}}: {{'shared.from' |
          translate}} <span class="quality-indicators-font-weight-bold">{{from}}</span>
          {{'shared.to'| translate }} <span
            class="quality-indicators-font-weight-bold">{{to}}</span>
        </span>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="quality-indicators-border-bottom-color
  quality-indicators-height-50">
    <div fxLayout="row" class="quality-indicators-header-align">
      <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100"
        class="quality-indicators-position-title-orders">
        <div class="quality-indicators-color">
          {{'quality.indicators.objectives' | translate}}
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <mat-accordion class="quality-indicators-width-100">
      <mat-expansion-panel *ngFor="let indicators of qualityIndicators">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <span class="quality-indicators-color-text-indicators quality-indicators-font-weight-bold">
              {{indicators.indicatorName}}
            </span>
            <span class="quality-indicators-aling-icon-cursor"
            (click)="openBtnInfo(indicators.indicatorName ,
            indicators.calcInformation)">
            <mat-icon class="mat-18 quality-indicators-icon-info">info</mat-icon>
          </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <div fxFlex="100">
            <span class="quality-indicators-color-text-indicators quality-indicators-font-weight-bold">
              {{'quality.indicators.goal'| translate}}: {{indicators.goal}} {{indicators.measureUnit}}
            </span>
          </div>
          <div fxFlex="100">
            <span class="quality-indicators-color-text-indicators quality-indicators-font-weight-bold">
              {{'quality.indicators.Compliance'| translate}}
            </span>
          </div>
          <div fxFlex="100" >
            <div fxLayout="row">
              <div fxFlex="80" class="quality-indicators-contain">
                <div [ngStyle]="{'width': indicators.percentageBar + '%',
                'background-color': indicators.color, 'height': '15px' }"></div>
              </div>
              <div fxFlex="20">
                <span class="quality-indicators-color-text-indicators">
                  {{indicators.value}} {{indicators.measureUnit}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
