<mat-drawer-container style="height: auto;" class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [position]="'end'" class="example-sidenav" [disableClose]="false">
    <form class="basic-info" #createfilterProduts="ngForm" [formGroup]="filterProduts" class="seller-filter-sidenav"
      *ngIf="filterProduts">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>{{'secure.products.create_product_unit.list_products.product_filter' | translate}}</h3>
        <button id="closeMenuApplication" type="button" color="primary" [matTooltip]="'actions.close' | translate"
          matTooltipPosition="below" mat-icon-button mat-button (click)="drawer.toggle() && closeFilter()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between" fxLayout.xs="column">
        <mat-form-field color="primary">
          <input matInput [placeholder]="'secure.products.create_product_unit.list_products.product_name' | translate"
            formControlName="productName" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('productName').hasError('pattern')">
            {{'secure.products.create_product_unit.list_products.product_name_invalid' | translate}}
          </mat-error>
          <mat-error *ngIf="filterProduts.get('productName').hasError('maxlength')">
            {{'errors.error_product_length' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <input matInput [placeholder]="'shared.ean' | translate" formControlName="ean" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <!--<mat-error *ngIf="filterProduts.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>-->
        </mat-form-field>
        <!-- Nuevo campo PLU VTEXT -->
        <mat-form-field color="primary">
          <input matInput (keypress)="onlyNumber($event)"
            [placeholder]="'secure.products.bulk_upload.filter.plu' | translate" formControlName="pluVtex"
            [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('pluVtex').hasError('pattern')">
            {{'secure.products.create_product_unit.list_products.product_name_invalid' | translate}}
          </mat-error>
        </mat-form-field>
        <!-- Nuevo campo SellerSKU -->
        <mat-form-field color="primary">
          <input matInput [placeholder]="'secure.offers.bulk_upload.table_load.sellerSku' | translate"
            formControlName="sellerSku" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('sellerSku').hasError('pattern')">
            {{'secure.products.create_product_unit.list_products.product_name_invalid' | translate}}
          </mat-error>
        </mat-form-field>

        <div>
          <mat-radio-group formControlName="creationDate" [(ngModel)]="optionDates" fxLayout="row"
            fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="space-between" class="radioDate"
            (change)="changeDates()">
            <mat-radio-button value="createDate">
              {{'secure.products.create_product_unit.list_products.creation_date' | translate}}</mat-radio-button>
            <mat-radio-button value="updateDate">
              {{'secure.products.create_product_unit.list_products.modification_date' | translate}}</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="filterProduts.controls.creationDate.hasError('date')">
            {{'secure.products.create_product_unit.list_products.ending_date' | translate}}
          </mat-error>
        </div>
        <div *ngIf="optionDates">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="classDatapicker">
              <input matInput [matDatepicker]="picker"
                [placeholder]="'core.shell.search_order_menu.search_order_form.from' | translate" disabled
                formControlName="initialDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="classDatapicker">
              <input matInput [matDatepicker]="picker1"
                [placeholder]="'core.shell.search_order_menu.search_order_form.to' | translate" disabled
                formControlName="finalDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- Nuevo campo CATEGORIA-->
        <mat-form-field color="primary">
          <input matInput [placeholder]="'secure.parametize.dialog.modal_placeholder_category' | translate"
            [matAutocomplete]="auto" formControlName="category" (keyup.enter)="saveKeyword()">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('category').hasError('pattern')">
            {{'secure.parametize.dialog.category_invalid' | translate}}
          </mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let category of listCategories2" [value]="category.Name">
              {{category.Name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix [matTooltip]="'secure.products.list_products.download.tooltip_category' | translate"
            [ngClass]="invalidCategory ? 'disabledIconAddKeyCategoryFilter': ''"
            class="material-icons add-keyword-icon vertical-align-top" (click)="saveKeyword()">
            add_circle_outline
          </mat-icon>

        </mat-form-field>
        <div class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let key of keywords; let i = index" (removed)="deleteKeywork(i)">
              {{key}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="buttonsSend">
          <button mat-stroked-button color="primary" type="button"
            (click)="cleanAllFilter()">{{'filters.clear' | translate}} </button>
          <!-- <button mat-flat-button color="primary" type="submit" [innerHTML]="'Filtrar'" [disabled]="!filterSeller.form.valid || (!product.value && !ean.value && !stock.value)"></button> -->
          <button mat-flat-button color="primary" type="submit" (click)="filterApply(drawer)"
            [disabled]="!createfilterProduts.form.valid || !createfilterProduts.form.touched">{{'filters.filter' | translate}}</button>
        </div>
      </div>
    </form>
  </mat-drawer>

  <div class="height-full">
    <mat-toolbar id="matToolbar" class="tree-toolbar">
      <div class="normal-theme toolbar-options-table" fxLayout="row" fxLayoutAlign="space-between center">
        <!--  Titulo del toolbar -->
        <p class="seller-list-title" fxShow [fxShow.xs]="false">
          {{'secure.products.bulk_upload.title_module' | translate}}
          <small class="sub-title">|
            {{'secure.products.create_product_unit.list_products.list_products_view' | translate}}</small>
        </p>
        <!--  Titulo del toolbar -->
        <p class="seller-list-title" fxShow="false" [fxShow.xs]="true">
          {{'secure.products.create_product_unit.list_products.list_products_view' | translate}}
        </p>
        <div class="hide-page">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = changePaginatorProducts($event)"></mat-paginator>
        </div>
      </div>

      <!--  Descargar productos admin -->
      <button mat-button (click)="openDialogDownloadProducts()" *ngIf="isAdmin">
        <mat-icon>archive</mat-icon>
        <small>{{'permissions.Descargar' | translate}}</small>
      </button>

      <!--  Descargar productos vendedor -->
      <button mat-button (click)="openDialogDownloadProductsSeller()" *ngIf="!isAdmin && showButtonDownload === true">
        <mat-icon>archive</mat-icon>
        <small>{{'permissions.Descargar' | translate}}</small>
      </button>

      <!--  Filtro -->
      <button type="button" mat-button (click)="toggle(showFilter)">
        <mat-icon>filter_list</mat-icon>
        <small class="sub-title-filter">{{'filters.filter' | translate}}</small>
      </button>
    </mat-toolbar>
  </div>
  <div fxLayout="column">
    <div class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let productsFilter of listFilterProducts" [selectable]="selectable" [removable]="removable"
          (removed)="remove(productsFilter)">
          {{productsFilter.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" disabled>
      </mat-chip-list>
    </div>

    <div class="prodList">

      <div *ngIf="myProduct && !activeCheck" style="margin-top: 2%; width: 95%; text-align: right">
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu"
          style="border-color: #485AFA; width: 280px; height: 37px;">
          {{'secure.products.create_product_unit.list_products.delete_products' | translate}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item color="primary"
            style="color: #485AFA; font-family: Arial; font-weight: bold; font-size: 12px;"
            (click)="activeMultipleOffer()">{{'secure.products.create_product_unit.list_products.delete_products_some' | translate}}</button>
          <button mat-menu-item color="primary"
            style="color: #485AFA; font-family: Arial; font-weight: bold; font-size: 12px;"
            (click)="allProductsSelected()">{{'secure.products.create_product_unit.list_products.delete_products_all' | translate}}</button>
        </mat-menu>
      </div>

      <div *ngIf="activeCheck" style="margin-top: 2%; width: 95%; text-align: right">
        <button mat-stroked-button color="primary" 
          style="background-color: #485AFA; width: 280px; height: 37px;" (click)="someProductsSelected()">
          <span style="color: white; font-family: Arial; font-weight: bold; font-size: 12px;">{{'secure.products.create_product_unit.list_products.delete_products_some_checked' | translate}}</span></button>
      </div>

      <app-combo-product [offerPermission]="offerPermission" [editPermission]="editPermission" (countPlu)="countPlu($event)"
        [showProducts]="showProducts" [productsList]="productsList" class="listCombo" (reloadData)="reloadData();"
        [deletePermission]="deletePermission" [isAdmin]="isAdmin" [activeCheck]="activeCheck"></app-combo-product>
      <div *ngIf="!productsList.length" fxLayout="column" class="no-products">
        <div class="icon-face">
          <mat-icon class="mat-18">layers_clear</mat-icon>
        </div>
        <label class="icon-face-text">
          {{'secure.products.create_product_unit.list_products.are_no_uploades_products' | translate}}
        </label>
      </div>
    </div>
  </div>
</mat-drawer-container>
