<mat-drawer #drawer [mode]="'over'" [position]="'end'" class="example-sidenav">
  <form class="basic-info" #createfilterProduts="ngForm" [formGroup]="filterProduts" class="seller-filter-sidenav">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>Filtro productos</h3>
      <button id="closeMenuApplication" type="button" color="primary" matTooltip="Cerrar" matTooltipPosition="below"
        mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="center center" fxLayout.xs="column">
      <mat-form-field color="primary">
        <input matInput placeholder="Producto" formControlName="product" [errorStateMatcher]="matcher"
          (matChipInputTokenEnd)="add($event)" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        <mat-hint></mat-hint>
        <!--<mat-error *ngIf="filterProduts.get('product').hasError('pattern')" [innerHTML]="'Producto invalido'"></mat-error>-->
      </mat-form-field>
      <mat-form-field color="primary">
        <input matInput placeholder="EAN" formControlName="ean" [errorStateMatcher]="matcher" (matChipInputTokenEnd)="add($event)"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        <mat-hint></mat-hint>
        <!--<mat-error *ngIf="filterProduts.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>-->
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-radio-group formControlName="optionDate" [(ngModel)]="optionDates" (change)="stateDate()">
          <mat-radio-button value="createDate">Fecha de creación</mat-radio-button>
          <mat-radio-button value="updateDate">Fecha de modificación</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- <mat-form-field color="primary">
        <input matInput [matDatepicker]="picker1" placeholder="Fecha de creación" formControlName="creationDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput [matDatepicker]="picker2" placeholder="Fecha de modificación" formControlName="updateDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field> -->

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field color="primary">
          <input matInput [matDatepicker]="picker3" placeholder="De" formControlName="initialDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="primary">
          <input matInput [matDatepicker]="picker4" placeholder="Hasta" formControlName="finalDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-drawer>

<div class="height-full" fxLayout="column">
  <mat-toolbar class="seller-list-toolbar">
    <div class="normal-theme toolbar-options-table" fxLayout="row" fxLayoutAlign="space-between center">
      <!--  Titulo del toolbar -->
      <p class="seller-list-title" fxShow [fxShow.xs]="false">
        Productos
        <small class="sub-title">| Listado de productos</small>
      </p>
      <!--  Titulo del toolbar -->
      <p class="seller-list-title" fxShow="false" [fxShow.xs]="true">
        Listado de productos
      </p>
      <mat-paginator [length]="sellerLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
      </mat-paginator>
    </div>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>
      <small class="sub-title-filter" [innerHTML]="'Filtrar'"></small>
    </button>
  </mat-toolbar>
</div>



<div class="prodList">
  <div style="padding-bottom: 30px;" fxLayout.xs="column" fxLayoutAlign.xs="space-between center" *ngFor="let products of productsList; let i = index ">
    <app-combo-product [products]="products"></app-combo-product>
  </div>
</div>
