<mat-drawer-container style="height: 80%;" class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [position]="'end'" class="example-sidenav" [disableClose]="true">
    <form class="basic-info" #createfilterProduts="ngForm" [formGroup]="filterProduts" class="seller-filter-sidenav"
      *ngIf="filterProduts">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Filtro productos</h3>
        <button id="closeMenuApplication" type="button" color="primary" matTooltip="Cerrar" matTooltipPosition="below"
          mat-icon-button mat-button (click)="drawer.toggle() && closeFilter()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between" fxLayout.xs="column">
        <mat-form-field color="primary">
          <input matInput placeholder="Nombre de producto" formControlName="productName" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('productName').hasError('pattern')" [innerHTML]="'Nombre de producto invalido'"></mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <input matInput placeholder="EAN" formControlName="ean" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <!--<mat-error *ngIf="filterProduts.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>-->
        </mat-form-field>
        <!-- Nuevo campo PLU VTEXT -->
        <mat-form-field color="primary">
          <input matInput (keypress)="onlyNumber($event)" placeholder="PLU" formControlName="pluVtex" [errorStateMatcher]="matcher">
          <mat-hint></mat-hint>
          <mat-error *ngIf="filterProduts.get('pluVtex').hasError('pattern')" [innerHTML]="'PLU inválido'">
          </mat-error>
        </mat-form-field>

        <div>
          <mat-radio-group formControlName="creationDate" [(ngModel)]="optionDates" fxLayout="row" fxLayoutAlign="space-between center"
            fxLayout.xs="column" fxLayoutAlign.xs="space-between" class="radioDate" (change)="changeDates()">
            <mat-radio-button value="createDate">Fecha de creación</mat-radio-button>
            <mat-radio-button value="updateDate">Fecha de modificación</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="filterProduts.controls.creationDate.hasError('date')">
            La fecha final NO debe ser menor a la fecha inicial.
          </mat-error>
        </div>
        <div *ngIf="optionDates">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="classDatapicker">
              <input matInput [matDatepicker]="picker" placeholder="De" disabled formControlName="initialDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="classDatapicker">
              <input matInput [matDatepicker]="picker1" placeholder="Hasta" disabled formControlName="finalDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between center" class="buttonsSend">
          <button mat-stroked-button color="primary" type="button" [innerHTML]="'Limpiar'" (click)="cleanAllFilter()"></button>
          <!-- <button mat-flat-button color="primary" type="submit" [innerHTML]="'Filtrar'" [disabled]="!filterSeller.form.valid || (!product.value && !ean.value && !stock.value)"></button> -->
          <button mat-flat-button color="primary" type="submit" [innerHTML]="'Filtrar'" (click)="filterApply(drawer)"></button>
        </div>
      </div>
    </form>
  </mat-drawer>

  <div class="height-full">
    <mat-toolbar class="tree-toolbar">
      <div class="normal-theme toolbar-options-table" fxLayout="row" fxLayoutAlign="space-between center">
        <!--  Titulo del toolbar -->
        <p class="seller-list-title" fxShow [fxShow.xs]="false">
          Productos
          <small class="sub-title">| Listado de productos</small>
        </p>
        <!--  Titulo del toolbar -->
        <p class="seller-list-title" fxShow="false" [fxShow.xs]="true">
          Listado de productos
        </p>
        <div class="hide-page">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = changePaginatorProducts($event)"></mat-paginator>
        </div>
      </div>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>filter_list</mat-icon>
        <small class="sub-title-filter" [innerHTML]="'Filtrar'"></small>
      </button>
    </mat-toolbar>
  </div>
  <div fxLayout="column">
    <div class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let productsFilter of listFilterProducts" [selectable]="selectable" [removable]="removable"
          (removed)="remove(productsFilter)">
          {{productsFilter.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" disabled>
      </mat-chip-list>
    </div>

    <div class="prodList">
      <app-combo-product [offerPermission]="offerPermission" [showProducts]="showProducts" [productsList]="productsList" class="listCombo"></app-combo-product>
      <div *ngIf="!productsList.length" fxLayout="column" class="no-products">
        <div class="icon-face">
          <mat-icon class="mat-18">layers_clear</mat-icon>
        </div>
        <label class="icon-face-text">
          No hay productos cargados
        </label>
      </div>
    </div>
  </div>
</mat-drawer-container>
