$color-gray3: #D3D3D3;
/*
.card-offer {
  border: 1px solid $color-gray3;
  width: 240px;
  height: 350px;
  margin-left: 2%;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 6px 18px $color-gray3;
  }
}
*/
.prodList{
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 0.25em;
}

.example-sidenav {
  width: 37%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.seller-filter-sidenav {
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
}