@import 'variables';

@mixin leftBorder {
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 5px;
    background-color: $pure-white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.sidebar {
  background-color: $midnight-blue;
  width: 334px;
  margin: auto;
  border-radius: 37px;
  box-shadow: 0px 0px 15px $transparent-black;
  padding: 26px 0px;
  height: auto;
  max-height: calc(100vh - 40px);
  padding-bottom: 80px;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;

  .sidebar__seller-center-logo {
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }

  .modules-options {
    max-height: calc(100vh - 230px);
    overflow: auto;

    .module-options__single-option {
      display: flex;
      width: 100%;
      position: relative;
      padding: 16px 0px 16px 69px;
      box-sizing: border-box;
      text-decoration: none;

      &:hover {
        @include leftBorder;
      }
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50%;
      // background-color: #000 !important;
    }

    &::-webkit-scrollbar-track {
      background-color: #ffffff !important;
      box-shadow: none;
    }

    .expansion-module {
      background-color: transparent;
      box-shadow: none !important;
      border-radius: 0px;

      &.active,
      &:hover {

        .mat-expansion-panel-header {
          @include leftBorder;

          .mat-expansion-indicator::after {
            color: $pure-white;
          }
        }
      }

      .mat-expansion-panel-header {
        padding-left: 0px;
        height: auto !important;
        position: relative;

        .mat-expansion-panel-header-title {
          position: relative;
          padding: 16px 20px 16px 69px;

          .notification-point {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $bluebell;
            position: absolute;
            right: 0;
            top: calc(50% - 2px);
          }
        }

        .mat-expansion-indicator::after {
          display: inline-block !important;
          visibility: visible !important;
          color: $slate-gray;
        }
      }

      .mat-expansion-panel-content {

        .mat-expansion-panel-body {
          padding: 0px 0px 16px 69px;
        }

        .option-list-item {
          text-decoration: none;

          &.active {
            .mat-list-item-content {
              color: $pure-white;
            }
          }

          .mat-list-item-content {
            color: $slate-gray;
            font-family: $poppins-medium;
            padding: 10px 0px;
            cursor: pointer;
            font-size: 14px;
            position: relative;

            &:has(> .notification-count) {
              padding-right: 44px;
            }

            &:hover {
              color: $pure-white;
            }

            .notification-count {
              border-radius: 50%;
              background-color: $bluebell;
              color: $pure-white;
              font-size: 12px;
              padding: 2px;
              position: absolute;
              right: 16px;
              top: calc(50% - 12px);
              min-width: 20px;
              text-align: center;
            }
          }

        }
      }
    }

    .modules-options__icon-background {
      border-radius: 16px;
      left: 22px;
      top: calc(50% - 22px);
      position: absolute;
      padding: 8px;
    }

    .modules-options__icon {
      width: 24px;
      filter: invert(0.6);
    }

    .modules-options__title {
      color: $slate-gray;
      font-family: $poppins-medium;
      font-size: 14px;
      text-decoration: none;
    }

    .module-options__single-option:hover,
    .expansion-module.active,
    .expansion-module:hover {

      .modules-options__icon-background {
        background-color: $white-opacity;
      }

      .modules-options__icon {
        filter: invert(1);
      }

      .modules-options__title {
        color: $pure-white;
      }
    }
  }

  .sidebar__grupo-exito-logo {
    width: 74px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 26px;
    left: calc(50% - 37px);
  }
}