@import 'variables';

.sidebar {
  background-color: $midnight-blue;
  width: 334px;
  margin: auto;
  border-radius: 37px;
  box-shadow: 0px 0px 15px $transparent-black;
  padding: 26px 0px;
  height: calc(100vh - 40px);
  max-height: calc(100vh - 40px);
  padding-bottom: 80px;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;

  .sidebar__seller-center-logo {
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }

  .modules-options {
    max-height: calc(100vh - 230px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50%;
      // background-color: #000 !important;
    }

    &::-webkit-scrollbar-track {
      background-color: #ffffff !important;
      box-shadow: none;
    }

    .expansion-module {
      background-color: transparent;
      box-shadow: none !important;

      &.active {
        .mat-expansion-panel-header {
          .mat-expansion-panel-header-title {

            .modules-options__icon {}

            .modules-options__title {
              color: $pure-white;
            }
          }

          .mat-expansion-indicator::after {
            color: $pure-white;
          }
        }
      }

      .mat-expansion-panel-header {
        padding-left: 0px;
        height: auto !important;

        .mat-expansion-panel-header-title {
          position: relative;
          padding: 16px 20px 16px 69px;

          .modules-options__icon {
            width: 24px;
            position: absolute;
            left: 28px;
            top: calc(50% - 12px);
          }

          .modules-options__title {
            color: $slate-gray;
          }
        }

        .mat-expansion-indicator::after {
          display: inline-block !important;
          visibility: visible !important;
          color: $slate-gray;
        }
      }

      .mat-expansion-panel-content {

        .mat-expansion-panel-body {
          padding: 0px 0px 16px 69px;
        }

        .mat-list-item-content {
          color: $slate-gray;
          padding: 10px 0px;
          cursor: pointer;

          &:hover {
            color: $pure-white;
          }
        }
      }
    }
  }

  .sidebar__grupo-exito-logo {
    width: 74px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 26px;
    left: calc(50% - 37px);
  }
}