<article id="shipping-methods">
  <h4>M&eacute;todo de env&iacute;o</h4>

  <aside class="flexbox flex-wrap align-center justify-center">

    <div class="flexbox align-center justify-center">
      <mat-icon>library_books</mat-icon>
      <p>Por Categoria</p>
    </div>

    <div class="flexbox align-center justify-center">
      <mat-icon>local_offer</mat-icon>
      <p>Rango de precio</p>
    </div>

    <div class="flexbox align-center justify-center">
      <mat-icon>assignment</mat-icon>
      <p>Rango de peso</p>
    </div>
  </aside>
</article>