<article id="shipping-methods">
  <h4>M&eacute;todo de env&iacute;o</h4>

  <aside fxLayout="row" fxLayoutAlign="space-between center">

    <!-- List with shiping methods -->
    <div class="shipping-methods" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" fxLayoutAlign="center center" *ngFor="let shippingMethod of shippingMethodsList">
      <mat-icon>{{shippingMethod.iconMethod}}</mat-icon>
      <p>{{shippingMethod.nameShippingMethod}}</p>
    </div>

  </aside>
</article>