<div class="tree-content">
    <div class="header-tree-categories">
        <h1>{{currentStoreSelect.Name}}</h1>
    </div>

    <!-- Componente empleado cuando no se posee una tienda seleccionada -->
    <div *ngIf="currentStoreSelect.Name === ''" class="no-content-component">
        <div class="icon-face">
            <mat-icon>face</mat-icon>
        </div>
        <p>Ingresa el nombre del vendedor en la barra de b&uacute;squeda para ver los datos.</p>
    </div>

    <!-- Componente que se visualiza cuando se ha indicado una tienda para consultar -->
    <div *ngIf="currentStoreSelect.Name != ''">
        <app-form-manage-seller></app-form-manage-seller>
        <pre>{{currentStoreSelect | json}}</pre>
    </div>
</div>