<form #f="ngForm" [formGroup]="myform" class="search-form light-content">
  
  <mat-form-field id="fileName-input-search-order" class="example-full-width" color="accent">
    <input id="fileName-input-search-order" formControlName="fileName" type="text" matInput
           [placeholder]="'core.shell.search_order_menu.search_fraud_notification_nameFile' | translate">
  </mat-form-field>
  
  
  <mat-form-field id="sinceDate-input-search-order" color="accent">
      <input id="sinceDate-input" [max]="myform.value.dateOrderFinal"
             formControlName="dateOrderInitial" [placeholder]="'secure.parametize.support_claims-filter.start-date' | translate"
             matInput [matDatepicker]="dateOrderInitial">
      <mat-datepicker-toggle id="sinceDate-Perfix" matPrefix [for]="dateOrderInitial"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateOrderInitial></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field id="untilDate-input-search-order" color="accent">
      <input id="untilDate-input" [min]="myform.value.dateOrderInitial"
             formControlName="dateOrderFinal" [placeholder]="'secure.parametize.support_claims-filter.end-date' | translate"
             matInput [matDatepicker]="dateOrderFinal">
      <mat-datepicker-toggle id="untilDate-Prefix" matPrefix [for]="dateOrderFinal">
      </mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateOrderFinal></mat-datepicker>
    </mat-form-field>
  

  
  
    <div class="orders-search-option normal-theme">
      <button id="clear-filter-button" class="sc-button" mat-button (click)="clearForm()">
        <mat-icon>clear_all</mat-icon>
        {{'filters.clear' | translate}}
      </button>
      <button id="apply-filter-button" [disabled]="!f.form.valid" class="sc-button" mat-raised-button color="primary"
              type="submit"
              (click)="filterFrauds(myform)">{{'actions.apply' | translate}}
      </button>
    </div>
  </form>
  