.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.search-form {
  & mat-icon {
    margin-right: 20px;
  }
}

.hidden {
  display: none;
}

.inputw{
  width: 110px;
}


.filename {
  min-width: 230px;
}

.fraud-search{
  margin-top: 20%;
}

.radius{
  border-radius: 0px;
}

.shadow{
  border: 1px solid #485AFA !important;
}
