<!-- Web Desing -->
<div class="profile-container">
    <mat-toolbar class="toolbar">
        <!-- Titulo del toolbar -->
        <p class="title">Vendedores
                <small class="sub-title">| Parametrización de perfiles</small>
            </p>
    </mat-toolbar>

    <!-- LISTA -->
    <div class="profile-list-container" fxLayout="column">
        <div fxLayout="row" class="header" fxLayoutAlign="space-between center">
            <div fxLayout="column" class="title-container">
                <label class="title">
                    Nombre
                </label>
                <span class="subtitle-item">(Tipo de perfil)</span>
            </div>
            <button mat-raised-button color="primary" (click)="openDialogProfile()">
                <mat-icon class="material-icons icon-profile">
                    add
                </mat-icon>
                Agregar
            </button>
        </div>
        <div class="list" *ngFor="let profile of profileList; let i = index" fxLayout="row" fxLayoutAlign="space-between center"
            fxLayoutAlign="space-between center">
            <div class="item-list" fxLayout="row">
                <div class="account-circle">
                    <mat-icon class="material-icons icon-profile" *ngIf="profile.Type == 1" matTooltip="Tipo administrador">
                        people
                    </mat-icon>
                    <mat-icon class="material-icons icon-profile" *ngIf="profile.Type == 0" matTooltip="Tipo vendedor">
                        person
                    </mat-icon>
                </div>
                <div fxLayout="column">
                    <span class="account-title" id="name-i">{{profile.Name}}</span>
                    <span class="subtitle-item">{{profile.TypeName}}</span>
                </div>
            </div>
            <button mat-icon-button matTooltip="Editar" (click)="openDialogProfile(profile)">
                <mat-icon class="edit-profile material-icons">create</mat-icon>
            </button>
        </div>
    </div>
</div>