<section id="app-quoting" class="flexbox flex-wrap">
  <app-toolbar-tittle class="app-toolbar-title " [tittleBar]="'Ofertas'" [subtitleBar]="userRol"></app-toolbar-tittle>

  <article class="container-quoting" *ngIf="user?.sellerProfile === 'administrator'">
    <app-quoting-administrator></app-quoting-administrator>
  </article>

  <article class="container-quoting" *ngIf="user?.sellerProfile === 'seller'">
    <app-quoting-seller></app-quoting-seller>
  </article>
  <button mat-mini-fab style="position: fixed; bottom: 1em; right: 1em; background-color: lightgray;">
    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
  </button>
</section>