table {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;

  th {
    font-size: 14px;
    color: #909090;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      padding-right: 2%
    }
  }

  td {
    color: #909090;
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;

  mat-icon {
    color: #909090;
    width: 24px;
    height: 24px;
  }
}

.newOption {
  float: right;
}

.quoting-seller {
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    box-sizing: border-box;
  }
}
