$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #5D5D5D;
$color-gray2: #909090;
$color-gray3: #D3D3D3;
$color-gray4: #BCBCBC;
$color-gray5: #757474;
$color-blue: #3d5afe;
:host ::ng-deep {
  article#list-zones {
    aside {
      &.title-list-comp {
        width: 100%;
        p {
          color: $color-gray5;
          font-weight: bold;
          font-size: 14px;
        }
      }
      &.cont-list-comp {
        border-top: 1px solid $color-gray3;
        div {
          &.info-zones {
            width: 75%;
            p {
              color: $color-gray2;
              font-size: 14px;
            }
          }
          &.options-zones {
            width: 25%;
            button {
              color: $color-gray2;
            }
          }
        }
      }
      &.buton-create {
        border-top: 1px solid $color-gray3;
        box-sizing: border-box;
        padding: 20px 0;
        button {
          width: 130px;
          &:hover{
            background-color: $color-blue;
            color: $color-white;
          }
        }
      }
    }
  }
}