<div class="response-case-dialog">
  <div class="response-case-dialog__item margin-bottom">
    <span mat-dialog-title class="response-case-dialog__title ">
      Agregar respuesta
    </span>
    <span
      *ngIf="
        (data.followLast && data.followLast.length > 0) ||
        (data.follow && data.follow.length > 0)
      "
      class="response-case-dialog__text-primary response-case-dialog__item--vertical-spacing response-case-dialog ellipsis-text"
      >{{
        data.follow
          ? data.follow[0].description
          : data.followLast[0].description
      }}
    </span>
  </div>

  <div class="response-case-dialog__item dialog-response">
    <textarea
      [(ngModel)]="response.description"
      class="response-case-dialog__text-second"
      matInput
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Escribe tu respuesta"
      minlength="5"
      maxlength="2000"
      required
    ></textarea>
  </div>

  <app-upload-button [accept]="accepts" (fileChange)="onFileChange($event)">
    SELECCIONAR ARCHIVO PARA IMPORTAR
  </app-upload-button>

  <div class="response-case-dialog__item response-case-dialog__control">
    <button
      class="mat-raised-button  response-case-dialog__button response-case-dialog__button--btn-close"
      (click)="closeDialog()"
    >
      Cancelar
    </button>
    <button
      class="mat-raised-button  response-case-dialog__button response-case-dialog__button--btn-save"
      (click)="submitResponse()"
    >
      Agregar
    </button>
  </div>
</div>
