<!-- Product Information -->
<div class="container-product content-send-order">
  <div class="title-page">
    <span class="sc-title">Enviar orden: {{order.orderNumber}}
    </span>
    <a id="close-finish-send-order" matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
      <mat-icon (click)="onNoClick()">close</mat-icon>
    </a>
  </div>
  <mat-toolbar *ngIf="getLengthProductForSend() > 1" class="mat-toolbar-options-send">
    <div fxFlex.gt-sm="50px" fxFlex.xs="34px" fxFlex="34px">
      <div class="center-product-list">
        <mat-checkbox [checked]="order.sendAllProduct" (change)="checkAllProductInOrder(order)"></mat-checkbox>
        <!-- <p class="sc-text-normal">Seleccionar todo:</p> -->
      </div>
    </div>
    <form #myF="ngForm" [formGroup]="sendAllForm">
      <div fxFlex.gt-sm="230px" fxFlex.xs="120px">
        <div class="center-product-list">
          <mat-form-field class="select-send-options sc-text-normal" id="quantity-product" color="accent">
            <mat-select name="Transporter" required formControlName="Transporter" placeholder="Transportadora">
              <mat-option *ngFor="let trans of Carries" [value]="trans.name">{{trans.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex.gt-sm="230px" fxFlex.xs="150px">
        <div class="center-product-list">
          <mat-form-field class="textarea-send-options sc-text-normal">
            <textarea name="Guide" required formControlName="Guide" matInput placeholder="Guía"></textarea>
            <mat-error>Mínimo 5 caracteres, Maximo 20 caracteres</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div fxFlex.gt-sm="170px" fxFlex.xs="34px">
        <div class="center-product-list">
          <button id="finish-send-button-order-{{order.orderNumber}}" fxShow.gt-sm="true" fxShow="false"
                  (click)="sendAllProductsOrder(order)"
                  [disabled]="!myF.form.valid" class="sc-button" mat-raised-button color="accent">
            <mat-icon>local_shipping</mat-icon>
            Enviar todo
          </button>
          <button mat-mini-fab color="accent" (click)="sendAllProductsOrder(order)" [disabled]="!myF.form.valid"
                  fxShow.gt-sm="false"
                  fxShow="true">
            <mat-icon>local_shipping</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-toolbar>
  <div class="container-product-list">

    <div [@detailExpand] class="orders-no-data " *ngIf="getLengthProductForSend() == 0">
      <mat-icon class="icon-not-found" color="primary">info</mat-icon>
      <p>La orden no posee mas productos para ser enviados.
      </p>
      <button id="load-all-orders-button" (click)="onNoClick();" mat-button color="primary">
        Cerrar
      </button>
    </div>
    <ng-container *ngFor="let product of order.products">
      <mat-card [@detailExpand] *ngIf="product.tracking == null" class="example-card"
                [hidden]="product.tracking != null" fxFlex="100">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel
              [expanded]="order.sendAllProduct == false && product.fulfillment == false && product.enviosExito == false"
              [disabled]="order.sendAllProduct == true || product.fulfillment == false" class="mat-expansion">
              <mat-expansion-panel-header class="expansion-header-panel">
                <mat-panel-title class="check-content-header-panel">
                  <div *ngIf="getLengthProductForSend() > 1" fxFlex="50px" class="center-product-list">
                    <mat-checkbox [disabled]="!order.sendAllProduct" (change)="validateCheckProductForSendAll(order)"
                                  [(ngModel)]="product.checkProductToSend"></mat-checkbox>
                  </div>
                  <mat-card-subtitle class="mat-subtitle">
                    <b>{{product.nameProduct}}</b>
                    <br> Ref: {{product.reference}}
                    <br>
                    <span>SKU: {{product.sku}}</span>
                    <br>
                    <span>Cantidad: {{product.quantity}}</span>
                    <br>
                    <span *ngIf="product.fulfillment == true">Tipo de entrega: Full Fillment</span>
                    <span *ngIf="product.enviosExito == true">Tipo de entrega: Envíos Éxito</span>
                    <span
                      *ngIf="product.fulfillment == false && product.enviosExito == false">Tipo de entrega: Estandar</span>
                  </mat-card-subtitle>

                </mat-panel-title>
                <mat-panel-description fxShow.gt-sm="true" fxShow="false" class="dropdown-content-header-panel">
                  <span class="sku-product sc-link-text">
                    Enviar producto</span>
                </mat-panel-description>

              </mat-expansion-panel-header>
              <!-- componente empleado para validar el formulario de envio de un producto. -->
              <app-form-product (OnProductIsSend)="updateTrackingAndCarrierForProduct($event)"  [carries]="Carries"
                                [product]="product" [order]="order" [user]="user"
                                [dialogRef]="dialogRef"></app-form-product>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
