<!-- Conservar id 'floating-header' para método addPadding() en header.component.ts-->
<section class="floating-header" id="floating-header">
    <div class="floating-header__options">
        <button (click)="openMenu(1)" class="option-button" [ngClass]="{'active':menuOpened === 1}">
            <span class="material-symbols-rounded option-button__icon">language</span>
            <mat-icon class="option-button__arrow">
                {{menuOpened === 1 ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
        </button>
        <button (click)="openMenu(2)" class="option-button" [ngClass]="{'active':menuOpened === 2}">
            <span class="material-symbols-rounded option-button__icon">circle_notifications</span>
            <mat-icon class="option-button__arrow">
                {{menuOpened === 2 ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
        </button>
        <button (click)="openMenu(3)" class="option-button" [ngClass]="{'active':menuOpened === 3}"
            [disabled]="user.sellerProfile === 'administrator'">
            <span class="option-button__dot-state"></span>
            <span class="option-button__text">
                {{ currentState }}
            </span>
            <mat-icon class="option-button__arrow">
                {{menuOpened === 3 ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
        </button>
        <button (click)="openMenu(4)" class="option-button option-button--image"
            [ngClass]="{'active':menuOpened === 4}">
            <span class="user-image" [ngClass]="{'seller': user.sellerProfile === 'seller'}">
                {{ shortName }}
            </span>
            <mat-icon class="option-button__arrow">
                {{menuOpened === 4 ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
        </button>
    </div>

    <div class="floating-header__menu" [ngClass]="{'opened':menuOpened}">
        <ng-container [ngSwitch]="menuOpened">
            <!-- <div class="menu-container language-menu">Language</div> -->
            <app-select-language *ngSwitchCase="1"></app-select-language>
            <div *ngSwitchCase="2" class="menu-container notification-menu">Notification</div>
            <app-profile-status *ngSwitchCase="3"></app-profile-status>
            <app-profile-menu *ngSwitchCase="4"></app-profile-menu>
        </ng-container>
    </div>

</section>

<ng-template #bellNotification>
    <svg id="sc-icon-outlined-notifications_notificacionesv" data-name="sc-icon-outlined-notifications notificacionesv"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"
        viewBox="0 0 24 24" class="">
        <defs>
            <clipPath id="clip-path">
                <path id="Path_35020" data-name="Path 35020"
                    d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z"
                    transform="translate(1386.5 483)" fill="#f8f8f8" stroke="#3dcfea" stroke-width="2" />
            </clipPath>
        </defs>
        <g id="Mask_Group_25849" data-name="Mask Group 25849" transform="translate(-1386.5 -483)"
            clip-path="url(#clip-path)">
            <g id="noun-notification-1594276" transform="translate(1388.705 485.139)">
                <path id="Union_49" data-name="Union 49"
                    d="M21288.641,24112.516h-4.568a1.762,1.762,0,0,1-1.779-1.742v-.369a2.86,2.86,0,0,1,2.238-2.766v-4.184a7.737,7.737,0,0,1,15.471,0v4.184a2.86,2.86,0,0,1,2.238,2.766v.369a1.762,1.762,0,0,1-1.779,1.742h-4.568a3.643,3.643,0,0,1-7.252,0Zm3.627,1.266a1.568,1.568,0,0,0,1.549-1.266h-3.1A1.57,1.57,0,0,0,21292.268,24113.781Zm-5.678-10.326v4.758a1.4,1.4,0,0,1-1.4,1.381.826.826,0,0,0-.836.811v.084h15.822v-.084a.826.826,0,0,0-.836-.811,1.4,1.4,0,0,1-1.4-1.381v-4.758a5.678,5.678,0,0,0-11.354,0Z"
                    transform="translate(-21282.395 -24095.961)" fill="#676767" />
            </g>
            <g id="notification" transform="translate(1399.486 485.201)">
                <circle id="Ellipse_1" data-name="Ellipse 1" cx="5" cy="5" r="5" transform="translate(0.514 -2.201)"
                    fill="#6e6ef0" />
            </g>
        </g>
    </svg>
</ng-template>

<ng-template #bell>
    <svg id="sc-icon-outlined-notifications_notificacionesv" data-name="sc-icon-outlined-notifications notificacionesv"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"
        viewBox="0 0 24 24">
        <defs>
            <clipPath id="clip-path">
                <path id="Path_35020" data-name="Path 35020"
                    d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z"
                    transform="translate(1386.5 483)" fill="#f8f8f8" stroke="#3dcfea" stroke-width="2" />
            </clipPath>
        </defs>
        <g id="Mask_Group_25849" data-name="Mask Group 25849" transform="translate(-1386.5 -483)"
            clip-path="url(#clip-path)">
            <g id="noun-notification-1594276" transform="translate(1388.705 485.139)">
                <path id="Union_49" data-name="Union 49"
                    d="M21288.641,24112.516h-4.568a1.762,1.762,0,0,1-1.779-1.742v-.369a2.86,2.86,0,0,1,2.238-2.766v-4.184a7.737,7.737,0,0,1,15.471,0v4.184a2.86,2.86,0,0,1,2.238,2.766v.369a1.762,1.762,0,0,1-1.779,1.742h-4.568a3.643,3.643,0,0,1-7.252,0Zm3.627,1.266a1.568,1.568,0,0,0,1.549-1.266h-3.1A1.57,1.57,0,0,0,21292.268,24113.781Zm-5.678-10.326v4.758a1.4,1.4,0,0,1-1.4,1.381.826.826,0,0,0-.836.811v.084h15.822v-.084a.826.826,0,0,0-.836-.811,1.4,1.4,0,0,1-1.4-1.381v-4.758a5.678,5.678,0,0,0-11.354,0Z"
                    transform="translate(-21282.395 -24095.961)" fill="#676767" />
            </g>
        </g>
    </svg>
</ng-template>

<ng-template #language>
    <svg id="sc-icon-outlined-language_idioma" data-name="sc-icon-outlined-language idioma"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"
        viewBox="0 0 24 24" class="">
        <defs>
            <clipPath id="clip-path">
                <path id="Path_35016" data-name="Path 35016"
                    d="M2,0H22a2,2,0,0,1,2,2V22a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0Z" fill="#f8f8f8"
                    stroke="#3dcfea" stroke-width="2" />
            </clipPath>
        </defs>
        <g id="Mask_Group_25848" data-name="Mask Group 25848" clip-path="url(#clip-path)">
            <g id="Group_17404" data-name="Group 17404" transform="translate(3.185 1.994)">
                <g id="Group_17407" data-name="Group 17407" transform="translate(0 0)">
                    <path id="Union_50" data-name="Union 50"
                        d="M1.189,19.8A2.076,2.076,0,0,1,0,17.928V8.909a8.908,8.908,0,1,1,8.908,8.929H5.491L3.38,19.548a2.1,2.1,0,0,1-1.3.457A2.115,2.115,0,0,1,1.189,19.8Zm.8-10.892v9.039c0,.062.029.079.033.08a.226.226,0,0,0,.064.014.072.072,0,0,0,.05-.021L4.51,16.081a.933.933,0,0,1,.622-.231H8.908a6.93,6.93,0,1,0-6.919-6.94ZM11.2,14.053a1.006,1.006,0,0,1-.458-.11,9.775,9.775,0,0,1-2.058-1.376,9.931,9.931,0,0,1-2.053,1.37,1.006,1.006,0,0,1-.467.11,1.05,1.05,0,0,1-.467-1.99,7.5,7.5,0,0,0,1.538-1.013,13.578,13.578,0,0,1-.945-1.4,1.051,1.051,0,1,1,1.822-1.05,10.46,10.46,0,0,0,.572.877A11.382,11.382,0,0,0,9.6,7.936H5.536a1.05,1.05,0,0,1,0-2.1h2.1V4.786a1.05,1.05,0,1,1,2.1,0v1.05h2.079a1.051,1.051,0,0,1,.073,2.1,13.5,13.5,0,0,1-1.79,3.108,7.611,7.611,0,0,0,1.575,1.018,1.05,1.05,0,0,1-.467,1.99Z"
                        fill="#707070" />
                </g>
            </g>
        </g>
    </svg>
</ng-template>