@import 'variables';

.floating-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50% - 35px);
    right: 20px;
    box-shadow: 0px 0px 6px $black-opacity;
    background-color: $light-lavender;
    border-radius: 37px;
    padding: 13px 0px;

    .floating-header__options {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0px 20px;
        gap: 7px;

        .option-button {
            background-color: $lavender-mist;
            border: none;
            border-radius: 16px;
            padding: 10px 6px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            font-family: $poppins-medium;
            font-size: 12px;

            &:hover,
            &.active {
                background-color: $pure-white;

                .option-button__icon,
                .option-button__text,
                .option-button__arrow {
                    color: $dark-lilac;
                }
            }


            &.option-button--image {
                background-color: transparent;
                padding: 0px;

                .user-image {
                    width: 44px;
                    height: 44px;
                    cursor: pointer;
                    box-sizing: border-box;
                    background-color: $peach;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-family: $poppins-medium;
                    font-size: 20px;
                    color: $pure-white;

                    &.seller {
                        background-color: $bluebell;
                    }
                }

                &:hover,
                &.active {
                    .user-image {}
                }
            }

            .option-button__dot-state {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $aqua-green;
                margin-right: 4px;
            }

            .option-button__icon {
                color: $dark-lavender;
            }

            .option-button__text {
                margin-right: 30px;
                color: $dark-lavender;
            }

            .option-button__arrow {
                font-size: 17px;
                width: 17px;
                height: 17px;
                color: $dark-lavender;
            }
        }
    }

    .floating-header__menu {
        box-sizing: border-box;
        max-width: 340px;

        &.opened {
            padding: 13px;
            padding-top: 20px;
        }
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: $poppins-bold;
        font-size: 16px;
    }

    .language-menu {
        height: 90px;
        width: 100%;
    }

    .notification-menu {
        height: 130px;
        width: 100%;
    }

    .state-menu {
        height: 70px;
        width: 100%;
    }

    .profile-menu {
        height: 100px;
        width: 100%;
    }
}