.summary-list-93-height {
  height: 93%;
}

.summary-list-filter-btn-clear {
  position: absolute;
  bottom: 50px;
  left: 0px;
  text-align: center;
  width: 100%;
}


.filter-summary-overflow-y-hide{
  overflow-y: hidden;
}

.filter-summary-padding-7{
  padding: 7px
}

.filter-summary-font-16{
  font-size: 16px;
}

.filter-summary-margin-left-26{
  margin-left: 26px;
}

.filter-summary-paddinf-top-10{
  padding-top: 10px;
}

.filter-summary-width-90{
  width: 91%
}

.filter-summy-margin-right-10{
  margin-right: 10px;
}