$color-gray3: #D3D3D3;
$color-gray: #909090;
$blue: #485AFA;

/*
.card-offer {
  border: 1px solid $color-gray3;
  width: 240px;
  height: 350px;
  margin-left: 2%;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 6px 18px $color-gray3;
  }
}
*/
.no-brands {
  justify-content: center;
  padding-top: 15%;
  padding-left: 40%;
}

.example-chip-list {
  margin: 1%;
  position: sticky;
  top: 64px;
  background: white;
  z-index: 10000;
  padding: 1%;
}

.tree-toolbar {
  border-bottom: 0.001em solid #D3D3D3;
  padding: 0 25px;
  position: fixed;
  z-index: 100;
  background-color: white;

  & .toolbar-options-table {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
  }
}

.icon-face {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;

  & mat-icon {
    font-size: 120px;
    color: #EFEDED;
    height: 120px;
    width: 120px;
  }
}


.icon-face-text {
  color: #757474;
  font-size: 18px;
  text-align: center;
}

.drawer-container {
  height: 100%;
}

.listBrands {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
  margin: 0.25em;
  margin-top: 35px;
}

.example-sidenav {
  width: 30%;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.hide-page {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.seller-filter-sidenav {
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(72, 90, 250) !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(72, 90, 250) !important;
}

.radioDate {
  padding-top: 4.25%;
  padding-bottom: 4.25%;
  font-size: 15px !important;
}

.buttonsSend {
  padding-top: 4.25%;
  padding-bottom: 4.25%;
}

.classDatapicker {
  width: 150px;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 200px !important;
  height: 255px !important;
}

.height-full {
  height: 5%;
}

/*
::ng-deep .tree-toolbar {
  border-bottom: 0.001em solid #D3D3D3;
  padding: 0 25px;
  position: fixed;
  z-index: 1;
} */

.listCombo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

table {
  width: 100%;
}

.edit-profile {
  color: $color-gray;
}

.label-container {
  padding: 0 1%;

  &.status {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 600px) {
      width: 37.5%;
    }
  }
}

.mat-mini-fab {
  height: 30px;
  width: 30px;
  font-size: 14px;
  line-height: 14px;

  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0 0 0 0.5px;

    & .mat-icon {
      color: white !important;
    }
  }
}

.brands-checkbox-actDes {
  width: 7%;
  text-align: center;
}

.brands-header-styles {
  font-weight: bold;
}

.brands-header-id {
  width: 8%;
}

.brands-header-action {
  width: 8%;
}

.brands-header-status {
  width: 15%;
  text-align: center
}

.mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.brands-header-status-items {
  text-align: -webkit-center;
}

.brands-header-brands {
  width: 28%;
}

.brands-button-add {
  width: 100%;
  text-align: right;
}

.brands-icons-add {
  color: #485AFA;
}

.container-group-add-button {
  text-align: right;
  color: $blue;
  width: 100%;
  margin: 1.4%;
}

.brands-color-status-active {
  color: green !important;
  font-weight: bold;
}

.brands-color-status-inactive {
  color: #f44336 !important;
  font-weight: bold;
}

.brands-filter-sidenav {
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
}

.brands-modal-margin {
  margin-top: 40px;
}

.full-width {
  width: 100%
}

.half-width {
  width: 100%;
}

.brands-permission {
  text-align: center;
  color: #9e9e9e
}

.brands-not-permission {
  margin-top: 10%;
}

.brands-icon-permission {
  margin-top: 10px
}

.mat-table {
  border-spacing: 0px
}

.mat-style-td {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 24px;
}

.mat-style-tr {
  font-weight: inherit;
  font-size: 14px;
  height: 56px;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 24px;
  text-align: left;
}

