<div class="form-edit">
  <form #f="ngForm" [formGroup]="myform">
    <div class="title-form">
      <h2>Cambiar contraseña</h2>
    </div>
    <div fxLayoutGap="15px" fxFlexAlign="center" fxLayout="column" fxFlex>
      <div fxFlex="100">
        <mat-form-field class="full-width">
          <input formControlName="pwd" matInput placeholder="Contraseña" type="password" required>
          <mat-error>La contraseña no puede estar en blanco y ser demasiado corta (mínimo 7 caracteres)</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <mat-form-field class="full-width">
          <input formControlName="confirmpwd" matInput placeholder="Confirmar contraseña" type="password" required>
          <mat-error>La contraseña no puede estar en blanco y ser demasiado corta (mínimo 7 caracteres)</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <div class="buttons-form">
          <button [disabled]="!f.form.valid" (click)="changePassword(myform)" class="full-width" type="submit" mat-raised-button color="primary">Actualizar contraseña</button>
        </div>
      </div>
    </div>
  </form>
</div>
