@mixin margin {
    margin: 0 auto;
    max-width: 90%;
}

.category-tree-toolbar{
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: solid 0.001em  #D3D3D3;
}

.toolbar-options-tree{
    width: 100%;
}

.content-flex-start {
    display: flex;
    justify-content: flex-end;
    margin: 15px auto;
    max-width: 90%;
    & button {
        color: #485AFA;
    }
}

.half-width {
    width: 45%;
}

.whole-width {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.margin-top__15 {
margin-top: 15px;
}

.container__tree {
    @include margin;
}

.container-fields {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 2%;
}


.padding-width{
    padding: 10px 68px 10px 16px;
    width: 100%;
}

.font-text-btn{
    font-weight: bold;
    font-size: 21px;
}

.padding-right{
    padding-right: 68px;
}

.text-aling-end-font-size{
    text-align: end;
    font-size: 13px;
}

.text-decoration-cursor{
    color: #485AFA;
    text-decoration: underline;
    cursor: pointer;
}