$color-white: #FFFFFF;
$modal: 72px;
$color-gray: #BCBCBC;
@mixin icon-border-gray {
    border-radius: 40px;
    background-color: $color-gray;
    width: $modal;
    height: $modal;
    mat-icon {
        color: $color-white;
    }
}

:host {
    .specification-container {
        .specification-item {
            width: 100%;
            .specification-title {
                border-bottom: 1px solid gray;
                padding: 0.5em 0px;
                color: #5D5D5D;
                .specification-name {
                    padding-left: 1em;
                }
            }
        }
        .specification-group {
            flex-wrap: wrap;
            display: flex;
            padding: 2.5em 1em;
            .specification-son {
                .specification-input {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .specification-son {
        width: 36%;
        padding: 1% 6%;
    }
    .specification-text {
        text-align: justify;
        margin: 2em 6em;
    }
    .specification-form-field {
        width: 46%;
    }
    .specification-dialog {
        margin: 2em;
    }
}

@media screen and (max-width: 600px) {
    .specification-son {
        width: 100%;
        padding: 0;
    }
    .specification-text {
        text-align: justify;
        margin: 1em;
    }
    .specification-form-field {
        width: 100%;
    }
}

.label-black {
    color: black;
    font-weight: bold;
}

.specification-create {
    padding: 1em;
    color: #485AFA;
    span {
        padding-left: 1em;
    }
}

.specification-create:hover {
    cursor: pointer;
}

.specification-dialog {
    .container-icon {
        @include icon-border-gray();
    }
    .specification-form-container {
        width: 100%;
        .specification-form {
            width: 100%;
        }
    }
    .text {
        text-align: justify;
    }
}

.new-specs {
    padding: 0 1em;
    border-bottom: 1px solid gray;
    mat-icon {
        color: gray;
    }
    span {
        width: 46%;
        padding: 0.6em;
    }
    p {
        color: gray;
        font-size: 13px;
    }
}

.new-specs-title {
    padding: 0.5em;
    border-bottom: 1px solid gray;
    color: lightgray;
    p {
        width: 46%;
    }
}

.no-show {
    display: none !important;
}