#dialogSave {
  text-align: justify;
  font-weight: bold;
  padding: 0 7% 0 7%;
  margin-right: 10px;
}

.icon-color-error {
  color: #c70024;
  margin-left: 4% !important;
}

.icon-color-succes {
  color: rgb(103, 165, 48);
  margin-right: 2% !important;
  font-size: xx-large !important;
}

.footer-Save {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  margin-right: 7% !important;
}
