#dialogSave {
  text-align: justify;
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;
}

.icon-color-error {
  color: #c70024;

}

.succes-string {
  color: rgb(103, 165, 48);
  margin-right: 10px;
}
