<mat-tab-group dynamicHeight mat-stretch-tabs>
  <mat-tab [label]="'secure.seller.register_seller.title' | I18N | async">
    <div class="row" fxLayoutAlign="center" id="containerH3">
      <h3 class="center">{{'secure.seller.register_seller.title' | I18N | async}}</h3>
    </div>


    <mat-divider> </mat-divider>

    <div class="container">

      <div fxLayout.xs="row" fxFlex="100%" fxLayoutAlign="center start">

        <div class="item" fxFlex="70%">

          <p class="register-text-justify" [innerHTML]="'En este formulario podrás registrar vendedores para el Marketplace de Grupo Éxito. Los vendedores tendrán acceso al Seller
            Center desde el momento en que se reciba la confirmación de credenciales a través de correo electrónico.
            Se recomienda seguir las recomendaciones del manual de uso al momento de registrar vendedores.'"></p>

          <form #registerSeller="ngForm" [formGroup]="validateFormRegister" (ngSubmit)="submitSellerRegistrationForm()"
            autocomplete="off" id="register-form-seller">
            <h4>Selecciona tipo de perfil</h4>
            <mat-form-field>
              <mat-select placeholder="Tipo de perfil" id="register-profile" [(ngModel)]="selectedValue" name="food" formControlName="Profile">
                <mat-option *ngFor="let Seller of profileSeller" [value]="Seller">
                  {{Seller}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Seleccionaste el perfil: {{selectedValue}} </p>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%">
                <mat-form-field class="register full-width">
                  <mat-label>Pais</mat-label>
                  <mat-select formControlName="Country">
                    <mat-option *ngFor="let country of countries" [value]="country.CountryName">
                      {{country.CountryName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="isColombiaSelect; else stateInput" fxFlex="50%">
                <app-states-data (idStateEvent)="receiveDataState($event)"></app-states-data>
              </div>
              <ng-template #stateInput>
                <div fxFlex="50%">
                  <mat-form-field class="register full-width">
                      <input matInput placeholder="Departamento" formControlName="State"
                      autocomplete="off" [errorStateMatcher]="matcher" id="register-state" (keypress)="keyPress($event, 'state')" required>
                      <mat-hint></mat-hint>
                      <mat-error id="error-postal-code-invalid" *ngIf="State.hasError('maxlength') || State.hasError('minlength') || State.hasError('pattern')">
                        El departamento no es válido
                      </mat-error>
                      <mat-error id="error-postal-code-invalid" *ngIf="State.hasError('required')">
                        El departamento es requerido
                      </mat-error>
                  </mat-form-field>
                </div>
              </ng-template>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div *ngIf="isColombiaSelect; else cityInput" fxFlex="50%">
                <app-cities [idState]="idState" (daneCodeEvent)="receiveDataCitie($event)"></app-cities>
              </div>

              <ng-template #cityInput>
                  <div fxFlex="50%">
                    <mat-form-field class="register full-width">
                        <input matInput placeholder="Ciudad" formControlName="City"
                        autocomplete="off" [errorStateMatcher]="matcher" (keypress)="keyPress($event, 'city')" id="register-city"required>
                        <mat-hint></mat-hint>
                        <mat-error id="error-postal-code-invalid" *ngIf="City.hasError('maxlength') || City.hasError('minlength') || City.hasError('pattern')">
                          La ciudad no es válida
                        </mat-error>
                        <mat-error id="error-postal-code-invalid" *ngIf="City.hasError('required')">
                          La ciudad es requerido
                        </mat-error>
                    </mat-form-field>
                  </div>
                </ng-template>

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="C&oacute;digo Postal" [readonly]="isColombiaSelect" formControlName="DaneCode"
                  (keypress)="keyPress($event, 'postalCode')" id="register-postal-code"
                    required>
                    <mat-hint></mat-hint>
                    <mat-error id="error-postal-code-invalid" *ngIf="PostalCode.hasError('maxlength') || PostalCode.hasError('minlength') || PostalCode.hasError('pattern')">
                      El código no es válido
                    </mat-error>
                    <mat-error id="error-postal-code-invalid" *ngIf="PostalCode.hasError('required')">
                      El código es requerido
                    </mat-error>
                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xl="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%" [ngStyle]="{'padding-right': (isColombiaSelect ? '5%' : '0')}">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="Tel&eacute;fono" maxlength="20"
                    formControlName="PhoneNumber" [errorStateMatcher]="matcher" (keypress)="keyPress($event, 'phoneNumber')" id="register-phone-number"
                    required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-phone-number-required" *ngIf="validateFormRegister.get('PhoneNumber').hasError('required')"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>
                  <mat-error id="error-phone-number-invalid" *ngIf="validateFormRegister.get('PhoneNumber').hasError('maxlength') || validateFormRegister.get('PhoneNumber').hasError('pattern') || validateFormRegister.get('PhoneNumber').hasError('minlength')"
                    [innerHTML]="'El tel&eacute;fono no es v&aacute;lido.'"></mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="!isColombiaSelect" fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                    <input matInput placeholder="Payoneer" [pattern]="sellerRegex.payoneer" maxlength="50" (blur)="validateExitPayoneerUser($event)"
                    [errorStateMatcher]="matcher" (keypress)="keyPress($event, 'payoneer')" id="register-phone-number"
                    formControlName="Payoneer"
                    required>
                    <mat-hint></mat-hint>
                    <mat-error id="error-phone-number-invalid" *ngIf="validateFormRegister.get('Payoneer').hasError('payoneer')"
                    [innerHTML]="'El usuario no es valido.'"></mat-error>
                    <mat-error id="error-phone-number-invalid" *ngIf="validateFormRegister.get('Payoneer').hasError('required')"
                    [innerHTML]="'El campo es requerido.'"></mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important">
                  <input matInput placeholder="NIT" (keypress)="keyPress($event, 'nit')" maxlength="isColombiaSelect ? 20 : 30" formControlName="Nit"
                    autocomplete="off" (blur)="validateExist($event, 'Seller' ,'Nit')" [errorStateMatcher]="matcher" autofocus id="register-nit"
                    (ngModelChange)="activeButton = false" required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-nit-required" *ngIf="validateFormRegister.get('Nit').hasError('required')"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>

                  <mat-error id="error-nit-invalid" *ngIf="validateFormRegister.get('Nit').hasError('maxlength') || validateFormRegister.get('Nit').hasError('pattern')"
                    [innerHTML]="'El nit no es v&aacute;lido.'"></mat-error>

                  <mat-error id="error-nit-exist" *ngIf="validateFormRegister.get('Nit').hasError('validExistNitDB')"
                    [innerHTML]="'El nit ya existe.'"></mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="RUT" (keypress)="keyPress($event, 'rut')" maxlength="isColombiaSelect ? 20 : 30" formControlName="Rut"
                    [errorStateMatcher]="matcher" id="register-rut" required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-rut-required" *ngIf="validateFormRegister.get('Rut').hasError('required')"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>

                  <mat-error id="error-rut-invalid" *ngIf="validateFormRegister.get('Rut').hasError('maxlength') || validateFormRegister.get('Rut').hasError('pattern')"
                    [innerHTML]="'El rut no es v&aacute;lido.'"></mat-error>

                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput appNoSpaces formControlName="ContactName" placeholder="Contacto (nombre y apellido)"
                    [errorStateMatcher]="matcher" id="register-contact-name" required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-contact-name-required" *ngIf="validateFormRegister.get('ContactName').hasError('required'); else invalidContactName"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>

                  <ng-template #invalidContactName>
                    <mat-error id="error-contact-name-invalid" *ngIf="validateFormRegister.get('ContactName').hasError('pattern') || !validateFormRegister.get('ContactName').pristine || !validateFormRegister.get('ContactName').valid"
                      [innerHTML]="'El contacto no es v&aacute;lido.'"></mat-error>
                  </ng-template>
                </mat-form-field>
              </div>

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="Correo electr&oacute;nico" formControlName="Email" [errorStateMatcher]="matcher"
                    (blur)="validateExist($event, 'Seller', 'Email')" id="register-email" (ngModelChange)="activeButton = false"
                    required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-email-required" *ngIf="validateFormRegister.get('Email').hasError('required')"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>
                  <mat-error id="error-email-invalid" *ngIf="validateFormRegister.get('Email').hasError('pattern')"
                    [innerHTML]="'El correo electr&oacute;nico no es v&aacute;lido.'"></mat-error>
                  <mat-error id="error-email-exist" *ngIf="validateFormRegister.get('Email').hasError('validExistEmailDB')"
                    [innerHTML]="'El correo electrónico ya existe.'"></mat-error>
                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="Nombre de la tienda" (blur)="validateExist($event, 'Seller', 'Name', validateFormRegister.get('Name'))"
                    formControlName="Name" [errorStateMatcher]="matcher" id="register-name-store" (ngModelChange)="activeButton = false"
                    required >
                  <mat-hint></mat-hint>
                  <mat-error id="error-name-store-required" *ngIf="validateFormRegister.get('Name').hasError('required')"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>
                  <mat-error id="error-name-store-invalid" *ngIf="validateFormRegister.get('Name').hasError('pattern')"
                    [innerHTML]="'El nombre de tienda no es v&aacute;lido.'"></mat-error>
                  <mat-error id="error-name-store-exist" *ngIf="validateFormRegister.get('Name').hasError('validExistNameDB')"
                    [innerHTML]="'El nombre de tienda ya existe.'"></mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput appNoSpaces placeholder="Direcci&oacute;n de facturaci&oacute;n" formControlName="Address"
                    [errorStateMatcher]="matcher" id="register-address" required>
                  <mat-hint></mat-hint>
                  <mat-error id="error-address-required" *ngIf="validateFormRegister.get('Address').hasError('required') || (!validateFormRegister.get('Address').valid && !validateFormRegister.get('Address').pristine)"
                    [innerHTML]="'Este campo es requerido.'"></mat-error>
                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">
              <div fxFlex="100%">
                <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.md="20px" fxLayoutGap.lg="20px"
                  fxLayoutGap.xs="2%" fxLayoutGap.sm="2%">
                  <mat-slide-toggle id="register-is-logistc-exito" formControlName="IsLogisticsExito">Vendedor
                    Log&iacute;stica
                    &Eacute;xito
                  </mat-slide-toggle>
                  <mat-slide-toggle id="register-is-shipping-exito" formControlName="IsShippingExito">Vendedor
                    Env&iacute;os
                    &Eacute;xito
                  </mat-slide-toggle>
                </div>

              </div>

              <div fxFlex="50%">
                <h4 [innerHTML]="'Visualizaci&oacute;n del vendedor'"></h4>

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.md="20px" fxLayoutGap.lg="20px"
                  fxLayoutGap.xs="2%" fxLayoutGap.sm="2%">
                  <mat-card class="imageRegisterSeller">
                    <img mat-card-image [src]="validateFormRegister.value.GotoExito ? imagesRegister[0].checked : imagesRegister[0].unchecked">
                    <mat-card-actions class="register-actions-right">
                      <mat-checkbox id="register-go-exito" formControlName="GotoExito"></mat-checkbox>
                    </mat-card-actions>
                  </mat-card>
                  <mat-card class="imageRegisterSeller">
                    <img mat-card-image [src]="validateFormRegister.value.GotoCarrulla ? imagesRegister[1].checked : imagesRegister[1].unchecked">
                    <mat-card-actions class="register-actions-right">
                      <mat-checkbox id="register-go-carulla" formControlName="GotoCarrulla"></mat-checkbox>
                    </mat-card-actions>
                  </mat-card>
                  <mat-card class="imageRegisterSeller">
                    <img mat-card-image [src]="validateFormRegister.value.GotoCatalogo ? imagesRegister[2].checked : imagesRegister[2].unchecked">
                    <mat-card-actions class="register-actions-right">
                      <mat-checkbox id="register-go-catalogo" formControlName="GotoCatalogo"></mat-checkbox>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>

            <div class="container" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <button id="register-send-form" class="button-seller-register" type="submit" mat-raised-button color="primary"
                [innerHTML]="'REGISTRAR'" [disabled]="!registerSeller.form.valid || disabledForService || !activeButton"></button>
            </div>
           
            <!-- <div fxFlex="50%">
            <app-states-data (idStateEvent)="receiveDataState($event)" [disabledComponent]='disabledComponent'></app-states-data>
          </div>
-->
          </form>

        </div>

      </div>

    </div>
  </mat-tab>
  <mat-tab label="Formulario registro de nuevo administrador">
    <div class="row" fxLayoutAlign="center" id="containerH3">
      <h3 class="center" [innerHTML]="'Formulario registro de nuevo administrador'"></h3>
    </div>


    <mat-divider> </mat-divider>
    <div class="container">

      <div fxLayout.xs="row" fxFlex="100%" fxLayoutAlign="center start">

        <div class="item" fxFlex="70%">

          <p class="register-text-justify">En este formulario podrás registrar vendedores para el Marketplace de Grupo
            Éxito. Los administradores tendrán acceso al Seller
            Center desde el momento en que se reciba la confirmación de credenciales a través de correo electrónico.
            Se recomienda seguir las recomendaciones del manual de uso al momento de registrar administrador.</p>


          <form #registerAdmin="ngForm" [formGroup]="validateFormRegisterAdmin" autocomplete="off" id="register-form-seller"
            (ngSubmit)="submitAdminRegistrationForm()">
            <h4>Selecciona tipo de perfil</h4>
            <mat-form-field>
              <mat-select placeholder="Tipo de perfil" id="register-profile" [(ngModel)]="selectedValue" name="food" formControlName="Profile">
                <mat-option *ngFor="let Admin of profileAdmin" [value]="Admin">
                  {{Admin}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Seleccionaste el perfil: {{selectedValue}} </p>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">

              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important">
                  <input matInput placeholder="NIT" (keypress)="keyPress($event, 'nit')" maxlength="20" formControlName="Nit"
                    autocomplete="off" (blur)="validateExist($event,'Admin' ,'Nit')" [errorStateMatcher]="matcher" autofocus id="register-nit"
                    (ngModelChange)="activeButton = false" required>
                  <mat-hint></mat-hint>
                  <mat-error id="error-nit-required" *ngIf="validateFormRegisterAdmin.get('Nit').hasError('required')">
                    Este campo es requerido.</mat-error>
                    <mat-error id="error-nit-required" *ngIf="validateFormRegisterAdmin.get('Nit').hasError('validExistNitDB')">
                      El nit ya existe.</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="Correo electr&oacute;nico" formControlName="Email" [errorStateMatcher]="matcher"
                    (blur)="validateExist($event,'Admin', 'Email')" id="register-email" (ngModelChange)="activeButton = false"
                    required>
                  <mat-hint></mat-hint>

                  <mat-error id="error-email-required" *ngIf="validateFormRegisterAdmin.get('Email').hasError('required')">
                    Este campo es requerido.</mat-error>
                  <mat-error id="error-email-invalid" *ngIf="validateFormRegisterAdmin.get('Email').hasError('pattern')">
                    El correo electrónico no es válido.</mat-error>
                  <mat-error id="error-email-exist" *ngIf="validateFormRegisterAdmin.get('Email').hasError('validExistEmailDB')">
                    El correo electrónico ya existe.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap.md="10%"
              fxLayoutGap.lg="10%" fxLayoutGap.xs="0" fxLayoutGap.sm="0%">
              <div fxFlex="45%">
                <mat-form-field class="register" style="width:100% !important;">
                  <input matInput placeholder="Nombre" (blur)="validateExist($event, 'Admin' ,'Name', validateFormRegisterAdmin.get('Name'))"
                    formControlName="Name" [errorStateMatcher]="matcher" id="register-name-store" (ngModelChange)="activeButton = false"
                    required>
                  <mat-hint></mat-hint>
                  <mat-error id="error-name-store-required" *ngIf="validateFormRegisterAdmin.get('Name').hasError('required')">
                    Este campo es requerido.</mat-error>
                  <mat-error id="error-name-store-invalid" *ngIf="validateFormRegisterAdmin.get('Name').hasError('pattern')">
                    El nombre no es válido.</mat-error>
                  <mat-error id="error-name-store-exist" *ngIf="validateFormRegisterAdmin.get('Name').hasError('validExistNameDB')">
                    El nombre ya existe.</mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="container" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <button id="register-send-form" class="button-seller-register" type="submit" mat-raised-button color="primary"
                [disabled]="!registerAdmin.form.valid || disabledForService || !activeButton">REGISTRAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
