:host ::ng-deep {
    /**
    * Inicio Modificacion de estilos por pragma.com.co 
    * @author Andy Francisco Olarte 01/06/2018
    * Modificamos el icono del modal y el border-radius del modal
    */
    i {
        &.material-icons.container {
            color: white;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    }
    mat-dialog-container {
        &.mat-dialog-container {
            border-radius: 10px;
        }
    }
}