<div>
  <mat-toolbar class="tree-toolbar">
    <div class="normal-theme toolbar-options-table flexbox justify-start align-center" fxLayout.xs="column">
      <!-- Titulo del toolbar -->
      <p class="tree-title">
        {{'secure.seller.contracts.lb_title_toolbar' | translate}}
        <small class="sub-title">| DETALLE</small>
      </p>
    </div>
  </mat-toolbar>
</div>


<button style="color: #757474; font-size: 14px; font-weight: bold" mat-icon-button (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
  <small class="sub-title-back">Volver al listado de acuerdos</small>
</button>
