<div class="case-list-content">
  <div
    class="case-list-header"
    fxLayout="row"
    fxLayout.xs="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div fxFlex="5%">&nbsp;</div>
    <div class="case-list-header--item-header" fxFlex="10%">
      ID
    </div>
    <div class="case-list-header--item-header" fxFlex="15%">
      Numero de pedido
    </div>
    <div class="case-list-header--item-header" fxFlex="10%">Motivo</div>
    <div class="case-list-header--item-header" fxFlex="30%">
      Detalle del motivo
    </div>
    <div class="case-list-header--item-header" fxFlex="15%">Fecha creacion</div>
    <div class="case-list-header--item-header" fxFlex="10%">Estado</div>
    <div class="case-list-header--item-header" fxFlex="10%">Responder</div>
  </div>

  <mat-accordion class="case-list-expandable">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <div
          class="case-list-detail"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0"
        >
          <div
            class="case-list-detail--item-detail"
            fxFlex="5%"
            fxLayoutAlign="center center"
          >
            <span [ngClass]="!panelOpenState ? 'item-detail-arrow' : 'item-detail-arrow--active'">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </span>
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">1234</div>
          <div class="case-list-detail--item-detail" fxFlex="15%">0987654</div>
          <div class="case-list-detail--item-detail" fxFlex="10%">Petición</div>
          <div class="case-list-detail--item-detail" fxFlex="30%">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quia
              deleniti, enim minima distinctio impedit architecto commodi
              mollitia ratione a rem esse, dignissimos repudiandae possimus cum!
            </p>
          </div>
          <div class="case-list-detail--item-detail" fxFlex="15%">
            11/02/2019
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">
            Pendiente
          </div>
          <div
            class="case-list-detail--item-detail"
            fxFlex="10%">
            <mat-icon>question_answer</mat-icon>
          </div>
        </div>
      </mat-expansion-panel-header>
      <app-case-detail></app-case-detail>
    </mat-expansion-panel>
  </mat-accordion>
</div>
