$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #5D5D5D;
$color-gray2: #909090;
$color-gray3: #D3D3D3;
$color-gray4: #BCBCBC;
$color-blue: #485AFA;
$color-white-opacity: rgba(255, 255, 255, 0.7);
:host ::ng-deep {
    mat-sidenav-container {
        position: relative;
    }
    section {
        &.no-content-component {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 5%;
            box-sizing: border-box;
            height: 600px;
            & p {
                color: $color-gray1;
                font-size: 18px;
            }
        }
        .icon-sentiment-dissatisfied {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 140px;
            & mat-icon {
                font-size: 120px;
                color: #EFEDED;
                height: 120px;
                width: 120px;
            }
        }
        &#section-list-offers {
            box-sizing: border-box;
            width: 100%;
            max-width: 1350px;
            margin: 0 auto;
            padding: 100px 30px 50px;
            aside {
                width: 100%;
            }
        }
    }
    mat-sidenav {
        &.mat-sidenav {
            width: 370px;
        }
    }
    @media screen and (max-width: 768px) {
        section#section-list-offers {
            padding: 115px 5% 5%;
            justify-content: center;
            aside {
                
            }
        }
        mat-sidenav {
            &.mat-sidenav {
                width: 100%;
            }
        }
    }
}