.no-content-component {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 900px) {
    height: 600px;
  }
  & p {
    color: #757474;
    font-size: 18px;
  }
}

.icon-store {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  & mat-icon {
    font-size: 120px;
    color: #EFEDED;
    height: 120px;
    width: 120px;
  }
}
