.title-product-list {
  // background-color: #f2f2e6;
  color: #757474;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.content-product-detail {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  background-color: rgba(#eAeAeA, .5);
  @media (max-width: 933px) {
    padding-left: 17px;
  }
}

.center-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title-table-product {
  font-size: 12px;
}

.content-product-list {
  flex-wrap: wrap;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.item-title-table {
  width: 130px;
  @media (max-width: 960px) {
    width: 120px;
  } // @media (max-width: 960px) {
  // }
}

.item-action-table {
  width: 130px;
  @media (max-width: 430px) {
    width: 100%;
    padding: 10px;
    & button {
      width: 100%;
    }
  }
}

.n-margin {
  margin: 0px;
}

.full-button {
  width: 100%;
  margin: 10px;
}

.cost-item-table {
  color: #000;
  font-size: 11px;
}

.total-product-text {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  & p {
    padding-left: 55px;
  }
}

.sc-valueToPay-text {
  color: #5ea223;
}

.sc-commission-text {
  color: #F44336;
}

.bold {
  font-weight: bold;
}

.billing-products-order-table{
  padding: 5px;
  font-size: 12px;
}
.billing-products-order-font-weight{
  font-weight: bold;
}
.billing-product-padding-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.billing-product-size-text{
  font-size: 13px;
}
.billing-products-order-size-text-two-color{
  font-size: 12px;
  color: #5D5D5D;
}

.billing-products-order-text-align-right{
  text-align: right;
}
.billing-products-order-text-align-center{
  text-align: center;
}

.billing-products-order-display-flex{
  display: flex;
}

.billing-products-order-right-5{
  margin-right: 5px;
}

.billing-products-order-size-text-detail-product{
  font-size: 11px;
}
.billing-products-order-padding-5{
  padding:5px
}

.billing-product-order-font-weight-bold{
  font-weight: bold;
}

.billing-product-order-padding-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.billing-product-order-font-size-14{
  font-size: 14px;
}
.billing-product-order-text-along-right{
  text-align: right;
  font-size: 12px;
}
.billing-product-order-padding-subtotal{
  padding-bottom: 5px;
  padding-top: 5px;
}
.billing-product-order-padding-top-padding-btt{
  padding-top: 20px;
  padding-bottom: 10px;
}
.billing-product-order-text-size-14{
  font-size: 14px;
}
.billing-product-order-text-aling-right-font-size{
  text-align: right; font-size: 12px;
}