<article id="list-transporter">
  <h4>Transportadoras</h4>

  <!-- Transporters title table CRUD-->
  <aside fxLayout="row" fxHide.xs>
    <p class="title-list-transporter" fxFlex="40">Nombre</p>
    <div fxFlex="42" fxLayout="row" fxLayoutAlign="end end">
      <p class="title-list-transporter">M&eacute;todo de env&iacute;o</p>
    </div>
  </aside>

  <div *ngIf="!listTransporters || (listTransporters && !listTransporters.length)" class="no-items" fxLayout="row"
    fxLayoutAlign="center center">
    <p class="title-list-transporter">
      No hay elementos creados.
    </p>
  </div>

  <aside class="cont-list-comp" fxLayout="row" *ngFor="let item of listTransporters; let i = index">
    <div class="info-transporter" fxLayout="row" fxLayout.xs="column" fxFlex="100">
      <p class="title-list-transporter" fxShow.xs="true" fxShow="false">Nombre</p>
      <p fxFlex="40">
        {{item.Name}}
      </p>
      <div fxFlex="60" fxLayout="row" fxLayoutAlign.xs="start start">
        <div fxFlex="70" fxLayout.xs="column" fxLayoutAlign="end end" fxLayoutAlign.xs="start start">
          <p class="title-list-transporter" fxShow.xs="true" fxShow="false">M&eacute;todo de env&iacute;o</p>
          <p>{{ getNameMethod( item.IdShippingMethod ) }}</p>
        </div>

        <div fxFlex="30" class="button-list-transporter" fxLayout="row" fxLayoutAlign.xs="end center" class="options-transporter flexbox flex-wrap align-center justify-end">
          <button type="button" color="primary" matTooltip="Elimiar" matTooltipPosition="below" mat-icon-button
            mat-button (click)="deleteTransporter(item.Id, i)">
            <mat-icon class="flexbox align-center justify-center" *ngIf="canDelete">delete</mat-icon>
          </button>

          <button type="button" color="primary" matTooltip="Editar" matTooltipPosition="below" mat-icon-button
            mat-button (click)="editTransporter(item)" *ngIf="canEdit">
            <mat-icon class="flexbox align-center justify-center">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </aside>
  <aside class="flexbox flex-wrap align-center justify-center" [ngClass]="{'button-create': listTransporters && listTransporters.length}">
    <button id="btn-create-transporter" type="submit" mat-stroked-button color="primary" [innerHTML]="'CREAR'"  *ngIf="canCreate" (click)="createTransporter()"></button>
  </aside>

</article>
<app-create-dialog *ngIf="openModalCreate" [@enterAnimation] [typeDialog]="typeDialog" [idToEdit]="idToEdit"></app-create-dialog>