@import '_variables';

.no-products {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.example-chip-list {
  margin: 1%;
  position: sticky;
  top: 50px;
  // background: white;
  z-index: 1;
  padding: 1%;
  & mat-chip {
      margin: 10px 10px;
  }
}

.tree-toolbar {
  border-bottom: 0.001em solid #D3D3D3;
  padding: 0 25px;
  position: fixed;
  z-index: 2;
  background-color: white;

  @media only screen and (max-width: 600px) {
    // top: 112px;
    top: 15.4%;
  }

  & .toolbar-options-table {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    p{
      margin: 0;
      color: $color-black;
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      small {
        color: $color-gray1;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}

.icon-face {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;

  & mat-icon {
    font-size: 120px;
    color: #EFEDED;
    height: 120px;
    width: 120px;
  }
}


.icon-face-text {
  color: #757474;
  font-size: 18px;
  text-align: center;
}

.drawer-container {
  height: 100%;
}

.prodList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5%;
}

.example-sidenav {
  width: 30%;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.hide-page{
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.seller-filter-sidenav {
  padding-top: 20%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(72, 90, 250) !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(72, 90, 250) !important;
}

.radioDate {
  padding-top: 4.25%;
  padding-bottom: 4.25%;
  font-size: 15px !important;
}

.buttonsSend {
  padding-top: 4.25%;
  padding-bottom: 4.25%;
}

.classDatapicker {
  width: 150px;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 200px !important;
  height: 255px !important;
}

.height-full {
  height: 5%;
  @media only screen and (max-width: 600px) {
    height: 0%;
  }
}

/*
::ng-deep .tree-toolbar {
  border-bottom: 0.001em solid #D3D3D3;
  padding: 0 25px;
  position: fixed;
  z-index: 1;
} */

.listCombo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // justify-content: center;
  // margin-top: 2%;
  position: relative;
  @media only screen and (max-width: 767px) {
    margin-top: 10% !important;
  }
}



