<div class="content-modal">
  <h2 mat-dialog-title class="sc-title">{{'secure.orders.in_devolution.view_comment.comment_request' | I18N | async}}</h2>
  <mat-dialog-content>


    <div class="title-comment">
      <mat-icon color="primary" mat-list-icon matPrefix>comment</mat-icon>
      <p>{{'secure.orders.in_devolution.view_comment.commnet_ser_client' | I18N | async}}</p>
    </div>

    <p mat-subheader class="text-comment" *ngIf="order.sacObservationReversionRequestRefuse != null">{{order.sacObservationReversionRequestRefuse}}</p>
    <p mat-subheader class="text-comment" *ngIf="order.sacObservationReversionRequestRefuse == null">{{'secure.orders.in_devolution.view_comment.no_commnet' | I18N | async}}</p>

    <div class="title-comment">
      <mat-icon color="primary" mat-list-icon matPrefix>comment</mat-icon>
      <p>{{'secure.orders.in_devolution.view_comment.commnet_seller' | I18N | async}}</p>
    </div>

    <p mat-subheader class="text-comment" *ngIf="order.sellerObservationReceiptRefuse != null">{{order.sellerObservationReceiptRefuse}}</p>
    <p mat-subheader class="text-comment" *ngIf="order.sellerObservationReceiptRefuse == null">{{'secure.orders.in_devolution.view_comment.no_commnet' | I18N | async}}</p>

  </mat-dialog-content>
  <mat-dialog-actions class="button-content" fxLayoutAlign="end center">
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button color="primary" [mat-dialog-close]="true">{{'actions.close' | I18N | async}</button>
  </mat-dialog-actions>
</div>
