<div class="ticket-dialog">
  <div class="ticket-dialog__dialog-item">
    <h2 mat-dialog-title>Agregar respuesta</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque in expedita sequi ipsum fuga dolorum laboriosam
      possimus aut, provident animi impedit nesciunt? Consectetur quam id nostrum labore nesciunt? Consequatur, illo!
    </p>
  </div>
  <div class="ticket-dialog__dialog-item dialog-response">
    <textarea matInput name="" id="" cols="30" rows="10" placeholder="Escribe tu respuesta"></textarea>
  </div>
  <div class="ticket-dialog__dialog-item dialog-control">
    <button class="mat-raised-button dialog-control--btn-close" (click)="closeDialog()">Cancelar</button>
    <button class="mat-raised-button dialog-control--btn-save">Agregar</button>
  </div>
</div>
