<section id="section-detail-offer" class="flexbox flex-wrap justify-center">

  <article class="detail-offer-img flexbox align-center justify-center flex-wrap">
    <div class="offer-button-back flexbox align-center">
      <button class="btn-back" mat-icon-button (click)="goToListOffers()">
        <mat-icon>arrow_back</mat-icon>
        <small class="sub-title-back" [innerHTML]="'Volver'"></small>
      </button>
    </div>
    <div class="offer-img flexbox align-center justify-center">
      <img [src]="dataOffer.imageUrl" alt="">
      <div class="sold-out flexbox justify-center align-center" *ngIf="dataOffer.stock === 0 || !dataOffer.stock">
        <div class="flexbox justify-center align-center">
          <p [innerHTML]="'Agotado'"></p>
        </div>
      </div>
    </div>
  </article>

  <article class="detail-offer-desc flexbox flex-wrap justify-between">

    <p [innerHTML]="'EAN: ' + dataOffer.ean" class="ean flexbox align-center"></p>

    <p [innerHTML]="dataOffer.name" class="name"></p>

    <div class="container-data-offer">

      <p *ngIf="dataOffer.discountPrice > 0" [innerHTML]="dataOffer.price | currency: '$' : 'symbol' : '1.2-2'"
        class="price-strikethrough"></p>

      <p [innerHTML]="dataOffer.discountPrice > 0 ? (dataOffer.discountPrice | currency: '$' : 'symbol' : '1.2-2') : (dataOffer.price | currency: '$' : 'symbol' : '1.2-2')"
        class="price"></p>

      <div class="container-stock flexbox">
        <p [innerHTML]="'ID de Oferta: <strong> &nbsp;' + dataOffer.idOffer + '</strong>&nbsp;'"
          class="stock flexbox flex-wrap align-center separator"></p>
        <p [innerHTML]="dataOffer.stock > 0 && dataOffer.stock ? 'En stock: <strong>&nbsp;' + (dataOffer.stock | number) + '<strong>' : '<strong class=sold-out>En stock: Agotado<strong>'"
          class="stock flexbox flex-wrap align-center padding-left-1"></p>
      </div>

      <span class="flexbox align-center" *ngIf="dataOffer.size">
        <mat-icon>tab_unselected</mat-icon>
        <p [innerHTML]="'Talla: <strong>' + dataOffer.size + '</strong>'"></p>
      </span>

      <span class="flexbox align-center" *ngIf="dataOffer.hexColourCodePDP">
        <mat-icon>color_lens</mat-icon>
        <p class="text-color" [innerHTML]="'Color:'"></p>
        <mat-icon [ngStyle]="{'color':'#' + dataOffer.hexColourCodePDP}">brightness_1</mat-icon>
      </span>

      <span class="flexbox align-center">
        <mat-icon>date_range</mat-icon>
        <p [innerHTML]="'Promesa de Entrega: <strong>' + dataOffer.promiseDelivery + ' días hábiles </strong>'"></p>
      </span>

      <span class="flexbox align-center">
        <mat-icon>local_shipping</mat-icon>
        <p
          [innerHTML]="'Costo de Flete Promedio: <strong>' + (dataOffer.shippingCost | currency: '$' : 'symbol' : '1.2-2') + '</strong>'">
        </p>
      </span>

      <span class="flexbox align-center">
        <mat-icon>beenhere</mat-icon>
        <p [innerHTML]="'Garantía: <strong>' + dataOffer.warranty + ' meses </strong>'"></p>
      </span>
      <span class="flexbox align-center">
        <mat-icon>attach_money</mat-icon>
        <p [innerHTML]="'Tipo de moneda: <strong>' + dataOffer.currency + '  </strong>'"></p>
      </span>

      <aside class="flexbox align-center justify-center flex-wrap">
        <div class="flexbox align-center justify-center sep-right" [ngClass]="{'check' : dataOffer.isFreeShipping}">
          <mat-icon *ngIf="dataOffer.isFreeShipping && dataOffer.isFreeShipping === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isFreeShipping || dataOffer.isFreeShipping === false">clear</mat-icon>
          <p [innerHTML]="'Free Shipping'"></p>
        </div>
        <div class="flexbox align-center justify-center" [ngClass]="{'check' : dataOffer.isEnviosExito}">
          <mat-icon *ngIf="dataOffer.isEnviosExito && dataOffer.isEnviosExito === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isEnviosExito || dataOffer.isEnviosExito === false">clear</mat-icon>
          <p [innerHTML]="'Envios Exito'"></p>
        </div>
        <div class="flexbox align-center justify-center sep-right sep-top"
          [ngClass]="{'check' : dataOffer.isFreightCalculator}">
          <mat-icon *ngIf="dataOffer.isFreightCalculator && dataOffer.isFreightCalculator === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isFreightCalculator || dataOffer.isFreightCalculator === false">clear</mat-icon>
          <p [innerHTML]="'Cotizador de flete'"></p>
        </div>
        <div class="flexbox align-center justify-center sep-top" [ngClass]="{'check' : dataOffer.isLogisticsExito}">
          <mat-icon *ngIf="dataOffer.isLogisticsExito && dataOffer.isLogisticsExito === true">check</mat-icon>
          <mat-icon *ngIf="!dataOffer.isLogisticsExito || dataOffer.isLogisticsExito === false">clear</mat-icon>
          <p [innerHTML]="'Logistica Éxito'"></p>
        </div>
      </aside>
      <p [innerHTML]="'Última modificación: ' + (dataOffer.lastUpdate | date : 'dd/MM/yyyy')" class="udpade-date"></p>
    </div>
  </article>
</section>
