<section id="section-listAdmin-filter-offers" class="flexbox flex-wrap">

  <form
    novalidate
    #f="ngForm"
    [formGroup]="listAdminFilterForm"
    (ngSubmit)="listAdmin.listAdminFilter(listAdminFilterForm)"
    class="flexbox flex-wrap justify-center">

    <!-- Clear form button -->
    <article class="flexbox align-center justify-between">
      <span [innerHTML]="'Filtro Listado de ofertas'"></span>
      <button
        id="closeMenuApplication"
        type="button"
        color="primary"
        matTooltip="Cerrar"
        matTooltipPosition="below"
        mat-icon-button
        mat-button
        (click)="toggleMenu()">
        <mat-icon>clear</mat-icon>
      </button>
    </article>
    <!-- Clear /form button -->

    <!-- Input date initial -->
    <mat-form-field color="primary">
      <input
        id="sinceDate-input"
        placeholder="Fecha inicio"
        formControlName="dateInitial"
        name="dateInitial"
        [readonly]="true"
        matInput
        [matDatepicker]="dateInitial"
        (dateChange)="setMaxDateRange();validateFinalRange();"
        (click)="openDateInitial()">
      <mat-datepicker-toggle matPrefix [for]="dateInitial"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateInitial></mat-datepicker>
    </mat-form-field>
    <!-- /Input date initial -->

    <!-- Input date final -->
    <mat-form-field color="primary">
      <input
        id="untilDate-input"
        placeholder="Fecha final"
        formControlName="dateFinal"
        name="dateFinal"
        [readonly]="true"
        [min]="listAdminFilterForm.value.dateInitial"
        [max]="rangeDateMax"
        matInput
        [matDatepicker]="dateFinal"
        (click)="openDateFinal()">
      <mat-datepicker-toggle matPrefix [for]="dateFinal"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" startView="year" #dateFinal></mat-datepicker>
      <mat-error *ngIf="rangeError" [innerHTML]="'El rango máximo son 15 días'"></mat-error>
    </mat-form-field>
    <!-- /Input date final -->

    <!-- Input EAN -->
    <mat-form-field>
      <input matInput
        placeholder="EAN"
        formControlName="ean"
        matInput>
      <mat-hint></mat-hint>
      <mat-error *ngIf="listAdminFilterForm.get('ean').hasError('pattern')" [innerHTML]="'EAN invalido'"></mat-error>
    </mat-form-field>
    <!-- /Input EAN -->

    <!-- Filter action button -->
    <article class="container-buttons flexbox align-center justify-between">
      <button mat-stroked-button color="primary" type="reset" [innerHTML]="'Limpiar'" (click)="clearAndSubmit()"></button>
      <button mat-flat-button
        color="primary"
        type="submit"
        [innerHTML]="'Filtrar'"
        [disabled]="!f.form.valid">
      </button>
    </article>
    <!-- /Filter action button -->

  </form>

</section>
