<app-case-toolbar (eventFilter)="toggleFilter($event)"
  [totalPages]="totalPages"
  [pages]="pages"
  [pageSize]="pageSize"
  (OnchangeSizeCaseList)="changeSizeCaseList($event)"
  > </app-case-toolbar>

<ng-template [ngIf]="cases">
  <app-drop-down-list
    [data]="cases"
    [options]="options"
    [configurations]="listConfiguration"
  ></app-drop-down-list>
</ng-template>

<div
  [ngClass]="
    filter ? 'support-center-case__filter-container' : 'hidden-content'
  "
>
<div [@slideInOut]="menuState" [ngClass]="filter ? 'support-filter' : 'hidden-content'">
  <app-case-filter
    (eventFilter)="toggleFilter($event)"
    [stateFilter]="filter"
    [options]="options"
    (eventSubmitFilter)="submitFilter($event)"
  ></app-case-filter>
</div>
</div>
