$color-gray: #757474;
$color-light-gray: #9E9E9E;
$color-light-gray2: #EFEDED;
$primary-color: #757474;
$accent-color: #485afa;
$title-color: black;
$hint-color: #909090;
$underline-color: #19a695;

@mixin border-bottom {
  border-bottom: 1px solid $color-light-gray2;
}

.filter-content {
  margin: 16% 8%;
}

.drawer-container {
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;

  @media (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

}

.disabledDiv {
  pointer-events: none;
}

.support-center-case {
  &__filter-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000078;
    animation: fadein 0.4s;

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1.5;
      }
    }
  }
}

.support-filter {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: inherit;
}

.hidden-content {
  display: none;
  visibility: hidden;
}

.borde-line-toolbar {
  border-bottom: 1px solid #e0e0e0;
  @media screen and (min-width: 667px) and (max-width: 1000px) {
    margin: 1% 2%;
    height: 96px;  }
}

.ticket-toolbar {
  background-color: white;
  padding: 0px 32px;
  // border-bottom: 1px solid #e0e0e0;
  height: 45px !important;
  max-height: 45px;
  justify-content: space-between;

  @media (max-width: 600px) {
    height: auto !important;
    max-height: inherit !important;
    padding-bottom: 16px;
    padding: 0px 0px !important;

  }
  @media (max-width: 768px) {
    height: auto !important;
    max-height: inherit !important;
    padding-bottom: 0px;
    padding: 0px 0px !important;

  }
}



:host ::ng-deep {
  .tree-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    height: 80%;

    @media (max-width: 600px) {
      display: inline-block !important;
    }
    @media (max-width: 768px) {
      display: inline-block !important;
    }

    & .toolbar-options-table {
      width: 100%;
      padding: 0 20px;
    }

    .normal-theme {
      width: 100%;
    }
  }

  .tree-title {
    font-size: 18px;
    margin-left: 0;
    color: #000000;
  }

  .sub-title {
    color: #757474;
    font-size: 18px;
    padding-left: 5px;
    font-weight: 400;
  }

  .buttn-toolbar-options {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $color-gray;
  }

  .button-more-ver {
    color: $color-gray !important;
  }

  .agreement {
    .list-agreement {
      color: $color-light-gray;
      @include border-bottom();

      .file-agreement {
        margin: 0 1em;
      }
    }

    .agreement-title {
      p {
        font-size: 14px;
        color: $color-gray;
        font-weight: bold;
        margin-left: 1em;
      }

      @include border-bottom();
    }
  }
}

.filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6%;
  margin-top: 6%;

  &--title {
    font-weight: bold;
    color: $title-color;
  }

  &--close {
    color: $accent-color;
    cursor: pointer;
  }
}

.styleToolbar {
  width: 88%;

  @media only screen and (max-width: 600px) {
    width: 88%;
  }
  @media only screen and (min-width: 667) and (max-width: 768px) {
    width: 100%;
  }
}

.example-sidenav {
  width: 30%;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}

.toolbar-content {
  @media only screen and (max-width: 600px) {
    display: content !important;
    padding: 0px 0px !important;
  }
  @media only screen and (max-width: 768px) {
    display: content !important;
    padding: 0px 0px !important;
  }
}

.filter-control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 51px 8px 0 8px;

  &--btn-clean {
    background-color: white;
    border: 1px solid $accent-color;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: white;
    }
  }

  &--btn-send {
    background-color: $accent-color;
    color: white;

    &:hover {
      background-color: white;
      color: $accent-color;
    }
  }
}


.search-container {
  width: 70%;
  padding-left: 20px;
}

.classNewFilter {
  height: 61px;
  margin-top: 1px;
  background-color: white;
  /* width: 5%; */
  float: left;
  width: 8%;
  margin-bottom: 3px;

  @media only screen and (max-width: 600px) {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    // display: none;
  }
}

.orders-no-data {
  margin: 2% 10%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 1px -4px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  flex-direction: column;

  & .icon-not-found {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: #5D5D5D;
  }
  & p{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.filterMobile {
  @media only screen and (max-width: 600px) {
    margin-top: 6%
  }
  @media only screen and (max-width: 768px) {
    margin-top: 6%
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
  @media screen and (min-width: 667px) and (max-width: 1000px) {
    margin-top: 0px;
    display: block !important;
  }
}

.filterMobile2 {
  @media screen and (min-width: 667px) and (max-width: 1000px) {
    margin-top: 7%;
    display: block !important;
  }
  @media only screen and (max-width: 600px) {
    margin-top: 19%
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.filterDesktop {
  @media only screen and (max-width: 600px) {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.margin-loading{
  margin-left: 48%;
  margin-right: 55%;
}

.text-aling-center{
  text-align: center;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.table-support{
  background: #f4f4f4;
  color: #66625d;
  margin-bottom: 15px;
  th{
    width: 13%;
    font-weight: bold;
  }
  td{
    border-bottom: none;
  }
}

.image-product{
  width: 300px;
  height: auto;
  position: absolute;
  top: -70px;
  left: 75px;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 99999 !important;
  img{
    width: 100%;
    object-fit: contain;
  }
}

.name{
  cursor: pointer;
}

.icon{
  position: relative;
  top: 6px;
}

@media only screen and (max-width: 767px) {
  .hide-mobile{
    display: none;
  }
}