$primary-color: #757474;
$accent-color: #485afa;
$title-color: black;
$hint-color: #9e9e9e;

.ticket-content {
  $width-margin-s: 4px;
  $height-margin-s: 0;
  $width-margin-tablet: 78px;
  $height-margin-tablet: 0;

  @media (max-width: 600px) {
    flex-direction: column;
    background: #f4f4f4;
    padding: 10px;
    span, p{
      color: #000000;
    }
    label{
      font-weight: bold;
    }
  }

  display: flex;
  margin: $height-margin-tablet $width-margin-tablet;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    &--full-width {
      width: 100%;
    }

    @media (max-width: 600px) {
      width: inherit;
      margin: $height-margin-s $width-margin-s;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    color: $primary-color;

    &--underline {
      text-decoration: underline;
    }

    &--center {
      text-align: center;
    }

    &--pointer {
      cursor: pointer;
    }
  }

  &__controls {
    display: flex;
    margin: 16px 0;
    &--left {
      justify-content: flex-end;
    }
  }

  &__button {
    background-color: $accent-color;
    color: white;
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 2px;

    &--secondary {
      background-color: white;
      border: 1px solid $accent-color;
      color: $accent-color;

      &-disabled {
        background-color: rgba(0, 0, 0, 0.12);
        outline: rgba(0, 0, 0, 0.12);
        border-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.5);

        &:hover {
          background-color: rgba(0, 0, 0, 0.12) !important;
          color: rgba(0, 0, 0, 0.5) !important;
        }
      }

      &:hover {
        background-color: $accent-color;
        color: white;
      }
    }
  }

  &--bottom-space {
    margin-bottom: 21px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    margin: $height-margin-s $width-margin-s;
  }

  &--no-select {
    user-select: none;
  }
}

.ticket-detail {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;

  &--col {
    width: 50%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  * {
    width: 80%;
  }
}
