<mat-card class="content-profile">

  <mat-nav-list class="light-content">
    <mat-toolbar color="primary">
      <button id="closeMenuApplication" color="accent" matTooltip="Cerrar menú" matTooltipPosition="below" mat-icon-button mat-button
        (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer-content"></span>

      <div (click)="toggleMenu()" [routerLink]="[routes.secureSeller]" class="logo-application"></div>

    </mat-toolbar>
    <div class="content-menu-list">
      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-ordenes">
          <mat-panel-title>
            Ordenes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item id="matlist-item-button-{{item.buttonId}}" *ngFor="let item of categoryList" (click)="goToRoot(item)" (click)="toggleMenu()">
          <h6 matLine>{{item.name}} {{item.count}}</h6>
        </mat-list-item>


        <!-- <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.orderInPendingDevolution]">
          <h6 matLine>Solicitudes pendientes</h6>
        </mat-list-item>
        <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.orderInValidation]">
          <h6 matLine>En validación</h6>
        </mat-list-item>
        <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.orderInDevolution]">
          <h6 matLine>En devolución</h6>
        </mat-list-item> -->
        <mat-list-item id="matlist-item-button-cargar-guias" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.orderLoadGuide]">
          <h6 matLine>Cargar guías</h6>
        </mat-list-item>
      </mat-expansion-panel>
    </div>

    <div class="content-menu-list">

      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-ofertas">
          <mat-panel-title class="divider">
            Ofertas
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.ofersList]">
          <h6 matLine>Listado de Ofertas</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.oferBulkLoad]">
          <h6 matLine>Carga Masiva</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.oferTreeCategory]">
          <h6 matLine>Arbol de categorías</h6>
        </mat-list-item>
      </mat-expansion-panel>
    </div>

    <div class="content-menu-list">
      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-seller">
          <mat-panel-title>
            Vendedores
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item id="matlist-item-button-seller-register" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.sellerRegister]">
          <h6 matLine>Registrar nuevo</h6>
        </mat-list-item>

      </mat-expansion-panel>
    </div>

    <mat-list-item id="matlist-item-button-soporte" (click)="toggleMenu();shellComponent.openDialogSupport()">
      <h6 matLine>Soporte Marketplace</h6>
    </mat-list-item>
    <mat-list-item id="matlist-item-button-perfil-usuario" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrls.myProfile]">
      <mat-icon matListIcon class="mat-18">person</mat-icon>
      <h6 matLine>Perfil</h6>
    </mat-list-item>

    <mat-list-item id="matlist-item-button-cerrar-sesion" [routerLink]="[routes.sellerCenterUrls.logout]" (click)="toggleMenu()">
      <mat-icon matListIcon class="mat-18">input</mat-icon>
      <h6 matLine>Salir</h6>
    </mat-list-item>
    
    <!-- <div class="content-menu-list">

      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-ordenes">
          <mat-panel-title>
            Productos
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

        <mat-list-item (click)="toggleMenu()" [routerLink]="['']">
          <h6 matLine>Item link</h6>
        </mat-list-item>

      </mat-expansion-panel>
    </div>


    <div class="content-menu-list">

      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-facturacion">
          <mat-panel-title>
            Facturación
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item id="matlist-item-button-pagos" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.billingPayments]">
          <h6 matLine>Pagos</h6>
        </mat-list-item>

      </mat-expansion-panel>
    </div> 

    <div class="content-menu-list">
      <mat-expansion-panel class="expansion-menu-list" expanded="false">
        <mat-expansion-panel-header id="matExpansion-item-button-envios-exito">
          <mat-panel-title>
            Envios Éxito
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list-item id="matlist-item-button-historico" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.shipmentsExitoHistorical]">
          <h6 matLine>Historico</h6>
        </mat-list-item>

        <mat-list-item id="matlist-item-button-despacho" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.shipmentsExitoOffice]">
          <h6 matLine>Despacho</h6>
        </mat-list-item>

        <mat-list-item id="matlist-item-button-pendientes" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.shipmentsExitoPending]">
          <h6 matLine>Pendientes</h6>
        </mat-list-item>

        <mat-list-item id="matlist-item-button-reportes" (click)="toggleMenu()" [routerLink]="[routes.sellerCenterUrlsInt.shipmentsExitoReports]">
          <h6 matLine>Reportes</h6>
        </mat-list-item>
      </mat-expansion-panel>
    </div> -->

  </mat-nav-list>
</mat-card>