<hr>

<div class="cont-product">

  <div class="info-product" fxShow.xs="true" fxShow="false">
    <div class="subtitle divider-two">
      <h3>{{productsExpanded.name}}</h3>
      <p class="title divider-two">EAN: {{productsExpanded.ean}}</p>
    </div>
  </div>

  <div class="cont-images">
    <div class="smallImages">
      <!-- for que contiene el arreglo de las imagenes -->
      <mat-card class="image-card" *ngFor="let img of images">
        <ng-container *ngIf="img.max">
          <!-- cargo la url de la imagen en el src y el evento click q llama la funcion con el parametro de la img grande -->
          <div (click)="changeImage(img.max)" class="imageXs" [ngClass]=" (imageMax == img.max) ? 'activeImage' : ''">
            <img mat-card-image [src]="img.max" alt="X" [ngClass]=" (imageMax == img.max) ? 'border-blue' : ''">
          </div>
        </ng-container>
      </mat-card>
    </div>
    <div>
      <div class="imageXl">
        <img [src]="imageMax" alt="Imagen no disponible">
      </div>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div class="info-product" fxLayout="column" fxLayoutAlign="space-around none">
    <div class="subtitle divider-two" fxShow.xs="false">
      <h3>EAN: {{productsExpanded.ean}}</h3>

      <p class="title divider-two">{{productsExpanded.name}}</p>
    </div>
    <div class="divider-one">
      <p> Fecha de creación: {{productsExpanded.createdDate}}</p>
      <p> Fecha de modificación: {{productsExpanded.updatedDate}}</p>
    </div>

    <div class="text"> Categoría: <label> {{productsExpanded.category}} </label></div>
    <div class="text"> Marca: <label> {{productsExpanded.brand}} </label></div>
    <div class="divider-one"> Modelo: <label> {{productsExpanded.brand}} </label></div>
    <div class="divider-one"> Shipping-size: <label> {{productsExpanded.shipping_size}} </label></div>


    <div class="text" fxLayout="row">
      <div *ngIf="productsExpanded.colour.length !== 0">
        <i class="material-icons"> color_lens </i>
        Color:
        <div class="color-product" [ngStyle]="{'background': '#'+productsExpanded.colour}"></div>
      </div>
      <div *ngIf="productsExpanded.colour.length !== 0">
        <i class="material-icons"> style </i>
        Talla:
        <label> {{productsExpanded.size}}</label>
      </div>
    </div>

    <div class="text">
      <i class="material-icons"> shopping_basket </i>
      Empaque:
      <label> Alto-{{productsExpanded.package_height}}cm ancho-{{productsExpanded.package_width}}cm
        largo-{{productsExpanded.package_length}}cm peso-{{productsExpanded.package_weight}}kg </label>
    </div>

    <div class="text">
      <i class="material-icons"> local_shipping </i>
      Producto:
      <label>Alto-{{productsExpanded.item_height}}cm ancho-{{productsExpanded.item_width}}cm
        largo-{{productsExpanded.item_length}}cm peso-{{productsExpanded.item_weight}}kg </label>
    </div>

    <div class="best-offer" fxLayout="row" fxLayoutAlign="space-between center">
      <p> Mejor oferta</p>
      <p [innerHTML]="productsExpanded.bestOffer | currency: '$' : 'symbol' : '1.0-0'" *ngIf="productsExpanded.bestOffer !== 0">
      </p>
    </div>
  </div>
</div>

<mat-expansion-panel hideToggle="true" class="ofert-expanded" *ngIf="offerPermission">
  <mat-expansion-panel-header >
    <mat-panel-title class="title-ofert" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon matPrefix>add</mat-icon>
      <h3>
        Agregar oferta
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-ofert-expanded-product [productsExpanded]="productsExpanded" *ngIf="applyOffer" class="ofertProductExpanded" [applyOffer]="applyOffer"></app-ofert-expanded-product>
</mat-expansion-panel>

<div class="expanded-information-product">
  <mat-tab-group>
    <mat-tab label="Descripción">
      <p class="description-product" [innerHtml]="productsExpanded.description"></p>
    </mat-tab>
    <mat-tab label="Palabras claves" class="flex">
      <div class="keywords-products" *ngFor="let keywords of productsExpanded.keyword">
        <mat-chip>{{keywords}}</mat-chip>
      </div>
    </mat-tab>
    <mat-tab label="Especificaciones">
      <span class="no-specs" *ngIf="!productsExpanded.features  || !productsExpanded.features.length">
        No hay elementos de especificaciones.
      </span>
      <div class="container">
        <div class="container-sub" *ngFor="let spec of productsExpanded.features">
          <div class="container-specs_title">
            {{spec.key}}
          </div>
          <div class="container-specs_value">
            {{spec.value}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="expanded-information-product2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Descripción
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <p class="description-product" [innerHtml]="productsExpanded.description"></p>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Palabras claves
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="keywords-products" *ngFor="let keywords of productsExpanded.keyword">
        <mat-chip>{{keywords}}</mat-chip>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Especificaciones
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span *ngIf="!productsExpanded.features  || !productsExpanded.features.length">
        No hay elementos de especificaciones.
      </span>
      <div class="container">
        <div class="container-sub" *ngFor="let spec of productsExpanded.features">
          <div class="container-specs_title">
            {{spec.key}}
          </div>
          <div class="container-specs_value">
            {{spec.value}}
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
