<hr>

<div class="cont-product" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="cont-images">
    <div class="smallImages">
      <!-- for que contiene el arreglo de las imagenes -->
      <mat-card class="imageXs" *ngFor="let img of images">
        <!-- cargo la url de la imagen en el src y el evento click q llama la funcion con el parametro de la img grande -->
        <img mat-card-image [src]="img.min" (click)="changeImage(img.max)">
      </mat-card>
    </div>
    <div>
      <div class="imageXl">
        <img [src]="imageMax">
      </div>
    </div>

  </div>

  <div class="info-product" fxLayout="column" fxLayoutAlign="space-around none">
    <div class="subtitle divider-two">
      <h3>EAN: {{productsExpanded.ean}}</h3>
    
      <p class="title divider-two">{{productsExpanded.name}}</p>
    </div>
    <div class="divider-one">
      <p> Fecha de creación: {{productsExpanded.createdDate}}</p>
      <p> Fecha de modificación: {{productsExpanded.updatedDate}}</p>
    </div>

    <div class="text"> Categoría: <label> {{productsExpanded.category}} </label></div>
    <div class="text"> Marca: <label> {{productsExpanded.brand}} </label></div>
    <div class="divider-one"> Modelo: <label> {{productsExpanded.brand}} </label></div>


    <div class="text">
      <i class="material-icons"> color_lens </i>
      Color:
      <div class="color-product" [ngStyle]="{'background': '#'+productsExpanded.colour}"></div>
    </div>

    <div class="text">
      <i class="material-icons"> shopping_basket </i>
      Producto:
      <label> Alto-{{productsExpanded.package_height}}cm ancho-{{productsExpanded.package_width}}cm
        largo-{{productsExpanded.package_length}}cm peso-{{productsExpanded.package_weight}}kg </label>
    </div>

    <div class="text">
      <i class="material-icons"> local_shipping </i>
      Producto:
      <label>Alto-{{productsExpanded.item_height}}cm ancho-{{productsExpanded.item_width}}cm
        largo-{{productsExpanded.item_length}}cm peso-{{productsExpanded.item_weight}}kg </label>
    </div>

    <div class="best-offer" fxLayout="row" fxLayoutAlign="space-between center">
      <p> Mejor oferta</p>
      <p [innerHTML]="productsExpanded.bestOffer | currency: '$' : 'symbol' : '1.0-0'"> </p>
    </div>
  </div>
</div>

<div class="expanded-information-product">
  <mat-tab-group>
    <mat-tab label="Descripción">
      <p class="description-product" [innerHtml]="productsExpanded.description"></p>
    </mat-tab>
    <mat-tab label="Palabras claves" class="flex">
      <div class="keywords-products" *ngFor="let keywords of productsExpanded.keyword">
        <mat-chip>{{keywords}}</mat-chip>
      </div>
    </mat-tab>
    <mat-tab label="Especificaciones">
      <span class="no-specs" *ngIf="!productsExpanded.features  || !productsExpanded.features.length">
        No hay elementos de especificaciones.
      </span>
      <div class="container">
        <div class="container-sub" *ngFor="let spec of productsExpanded.features">
          <div class="container-specs_title">
            {{spec.key}}
          </div>
          <div class="container-specs_value">
            {{spec.value}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
