.createImagenPU {
    width: 96px;
    height: 88px;
    color: #D3D3D3;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 0%;
    box-shadow: none;
    overflow: hidden;
  }

  .example-full-width {
    width: 90%;
    margin-top: 4%;
    margin-bottom: 22%;
    height: 28px;
  }
