<section class="profile-menu">
    <header class="profile-menu__header">
        <span class="header__initial-letters">
            AM
        </span>
        <div class="header__name-and-rol">
            <p class="header__name">
                Andrés Felipe Marín
            </p>
            <p class="header__rol">
                Administrador
                <strong>| ID: 430260</strong>
            </p>
        </div>
    </header>
    <div class="profile__button-group">
        <button class="profile__button-link">
            Escuela éxito
        </button>
        <button class="profile__button-link">
            Soporte al vendedor
        </button>
        <button class="profile__button-link">
            Documentación técnica
        </button>
    </div>
    <div class="profile__logout">
        <button class="profile__logout-button">
            Cerrar sesión
        </button>
    </div>
</section>