.add-keyword-icon {
  color: #485AFA;
  transition: width 2s;
  width: 20px !important;
  cursor: pointer;
  vertical-align: bottom;

}
.add-keyword-icon:hover {
  cursor: pointer;
  width: 30px !important;
}