$color-white: #FFFFFF;
$color-gray: #BCBCBC;
$modal: 72px;

@mixin icon-border-gray {
  height: 30px;
  width: 30px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    color: #b6b6b6;
  }



  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0 0 0 0.5px;

    & .mat-icon {
      color: #b6b6b6;
    }
  }
}

:host ::ng-deep {
  .mat-card-content {
    margin-bottom: initial;
    font-size: 13px;
    margin-left: -30px;
    color: #909090;
  }

  .mat-card {
    margin-top: -18px;
    padding: 8px
  }
}

.text-center {
  text-align: center;
}

.disabledDiv {
  pointer-events: none;
}

.classToken {
  word-break: break-all;
  color: rgba(0, 0, 0, 0.38)
}

.profile-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 600px) {
    width: 90%;
    flex-direction: column-reverse;
  }

  & .sub-content {
    width: 50%;
    padding: 0 2%;
    justify-content: center;
    display: grid;
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    & button {
      height: fit-content;
    }
  }
}

.icon-container {
  @include icon-border-gray;
}

.mat-card {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: fit-content;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.options {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $color-gray;

  & mat-icon:hover {
    cursor: pointer;
  }
}

.title-text {
  line-height: 14px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  height: 30px;
}

.space-between {
  display: inline-flex;
  justify-content: space-between;
}

.margin-top__15 {
  margin-top: 15px;
}

.content-contaienr {
  font-size: 14px;
}

.slider {
  overflow-y: hidden;
  max-height: 80px;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.container {
  overflow: hidden;
  position: relative;
  height: 80px;
  padding: 10px;
  @media screen and (min-width: 400px) and (max-width: 850px) {
    height: 51px;
   }
}


.slider {
  text-align: center;
  overflow: hidden;
  height: 100%;
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  transition: transform .3s ease;
  @media screen and (min-width: 400px) and (max-width: 850px) {
    text-align: left;
   }
}


.slider.opened {
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.slider.closed {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);

}

.myprofiel{
  &-container-top-data{
    background-color: #F6F6F4;
    padding-bottom: 15px;
    @media screen and (min-width: 400px) and (max-width: 850px) {
      padding-left: 20px;
     }
  }
  &-padding-30{
    @media screen and (min-width: 400px) and (max-width: 850px) {
     padding: 5px;
     padding-bottom: 10px;
    }
    padding: 30px;
  }
  &-text-color-font-size{
    color: black;
    font-weight: bold;
    font-size: 24px;
  }
  &-text-color-font-size-20{
    color: black;
    font-weight: bold;
    font-size: 20px;
    @media screen and (min-width: 400px) and (max-width: 850px) {
      padding-left: 20px;
     }
  }
  &-font-size-14{
    font-size: 14px;
  }
  &-text-id{
    font-size: 12px;
    color: #5D5D5D;
  }
  &-id-text-color{
    color: black;
    font-weight: bold;
  }
  &-padding-left-30{
    @media screen and (min-width: 400px) and (max-width: 850px) {
      padding: 5px;
     }
    padding-left: 30px;
  }
  &-width-height-font-size{
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
  &-local-airport-icon{
    height: 22px;
    width: 24px;
    font-size: 24px;
    color: #b6b6b6;
  }

  &-btn-send-vacation{
    background-color: white;
    border: solid 1px;
    width: 188px;
  }
  &-btn-copy-token-channel{
    background-color: white;
    border: solid 1px;
  }
  &-message-token-copied{
    color: green;
    width: 18px;
    height:18px;
    font-size: 18px;
    vertical-align: middle;
  }
  &-text-color-column{
    color: #a3a2a2;
  }
  &-padding-10-30{
    padding:10px 30px 30px 30px
  }
  &-width-100{
    width:100%;
  }
  &-width-100-color{
    width:100%;
    color: #a3a2a2;
  }
  &-wi-he-font-size-20{
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  &-margin-left-48{
    margin-left: 48%;
  }
  &-padding-top-20{
    padding-top: 20px;
  }
  &-container-loading-spinner{
    text-align: center;
    padding-top: 80px;
    padding-bottom:220px;
  }

  &-font-weight-bold{
    font-weight: bold;
  }

}

