$color-white: #FFFFFF;
$color-gray: #BCBCBC;
$modal: 72px;

@mixin icon-border-gray {
  height: 30px;
  width: 30px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: $color-gray;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    color: $color-white;
  }

  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0 0 0 0.5px;

    & .mat-icon {
      color: white !important;
    }
  }
}

.text-center {
  text-align: center;
}

.disabledDiv {
  pointer-events: none;
}

.classToken{
  word-break: break-all;
  color: rgba(0,0,0,0.38)
}

.profile-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 600px) {
    width: 90%;
    flex-direction: column-reverse;
  }

  & .sub-content {
    width: 50%;
    padding: 0 2%;
    justify-content: center;
    display: grid;
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    & button {
      height: fit-content;
    }
  }
}

.icon-container {
  @include icon-border-gray;
}

.mat-card {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: fit-content;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.options {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $color-gray;

  & mat-icon:hover {
    cursor: pointer;
  }
}

.title-text {
  line-height: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0;
  height: 30px;
}

.space-between {
  display: inline-flex;
  justify-content: space-between;
}

.margin-top__15 {
  margin-top: 15px;
}
