$primary-color: #485afa;
$text-color: #757474;
$hint-color: #5d5d5d;
$underline: #909090;

.ticket-toolbar {
  background-color: white;
  padding: 0px 32px;
  height: 45px !important;
  max-height: 45px;
  justify-content: space-between;

  @media (max-width: 600px) {
    height: auto !important;
    max-height: inherit !important;
    padding-bottom: 16px;
    padding: 0px 0px !important;

  }
}

.toolbarIpad {
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}

.widthToolbar {
  width: 45%;

  @media (max-width: 600px) {
    width: 112%;
  }
  @media screen and (min-width: 667px) and (max-width: 1000px) {
    width: 68%;
  }
}

.toolbar-brand {
  font-size: 18px;

  span {
    font-weight: bold;
  }

  small {
    color: $hint-color;
  }

  @media (max-width: 768px) {
    flex-direction: column !important;
    font-size: 1rem !important;
  }

  @media (max-width: 600px) {
    &--title {
      font-size: 16px;
    }

    &--subtitle {
      text-align: left;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.separator {
  font-weight: normal;
}

.toolbar {
  &-item {
    &--vertical-center {
      display: flex;
      align-items: center;
    }
  }

  &-right {
    @media (max-width: 600px) {
      width: 100%;
    }

    font-size: 14px;

    &--item {
      height: 40px !important;
      max-height: 40px !important;
      @media screen and (min-width: 667px) and (max-width: 1000px) {
      }
    }
  }
}

::ng-deep .mat-paginator-container {
  min-height: 0 !important;
  margin-top: -5px;

  @media (max-width: 768px) {
    padding: 0 0px !important;
  }

  @media (max-width: 992px) {
    padding: 0 0px !important;

  }

  @media (max-width: 600px) {
    padding: 0 0px !important;

  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

::ng-deep .mat-paginator-page-size-label {
  visibility: visible;

  @media (max-width: 768px) {
    display: none;
    visibility: visible;
  }

  @media (max-width: 992px) {
    display: none;
    visibility: visible;
  }

  @media (max-width: 600px) {
    display: none;
    visibility: visible;
  }
}

::ng-deep .mat-form-field-underline {
  color: $underline !important;
}

::ng-deep .mat-toolbar-row {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
  }
}

::ng-deep .mat-sidenav-content {
  @media (max-width: 600px) {
  }
}

.toolbar-content {
  @media (max-width: 600px) {
    width: 100%;
  }
}

mat-paginator {
  @media (max-width: 600px) {
    width: 100%
  }
}
