$blue: #485AFA;
$gray: #5D5D5D;
$black: black;
$color-white: #FFFFFF;
$color-gray: #BCBCBC;
$color-maroon: maroon;
$modal: 72px;

@mixin icon-border-gray {
  border-radius: 40px;
  background-color: $color-gray;
  width: $modal;
  height: $modal;
  mat-icon {
      color: $color-white;
  }
}

.center-text{
  text-align: center;
}
.container-icon {
  @include icon-border-gray();
}

.edit-module{

    .bold{
        font-weight: bold;
    }

    h2{
        margin: 20px 0;
    }
    
    .container-form{
        width: 100%;
    }
}



