@import '~@angular/material/theming'; // always include only once per project
@import '_variables';
@include mat-core();
$green: mat-palette($mat-green);
$amber: mat-palette($mat-amber);
$blue: mat-palette($mat-indigo);
$blue-page: #485AFA;
$color-label: #bdbdbd;
$color-red: #f44336;




:host ::ng-deep .content-order {
  & .container {
    min-width: 300px;
    flex-direction: column;
    display: flex;
    padding: 0;
  }
}

.marginListAdmin{
  max-width: 191px;
}
.marginListAdminTotal{
  max-width: 390px !important;
}

.port-component{
  &-content-table-center-collection{
    padding: 0px 40px 40px 40px;
  }

  &-color-icon-edit{
    color: #5e5e5e;
    cursor: pointer;
  }

  &-text-aling{
    justify-content:center;
  }

  &-label-filter {
    margin-top: 10px;
    width: calc(100% - 166px);
  }

  &-button-add {
    text-align: right;
    color: #485AFA;
  }
}
.add-keyword-icon {
    color: #485AFA;
    transition: width 2s;
    width: 20px !important;
    cursor: pointer;
    vertical-align: bottom;

}
.add-keyword-icon:hover {
    cursor: pointer;
    width: 30px !important;
}

.close-modal{
    color: #5D5D5D;
    cursor: pointer;
}

.port-list-93-height{
  height: 93%;
}
.port-list-padding-container{
  padding-bottom: 62%;
  padding-top: 13%;
}

.port-component-paddin-100{
  padding-top: 72%;
  text-align: center;
}

.port-component-text-filter{
  text-align: center;
  font-size: 15px;
  color: #6f6e6e;
  margin-bottom: 33px;
}

.port-component-text-title{
  font-size: 17px;
  color: #6b6a6a;
}


.port-component-container-header{
  margin-bottom: 16px;
  height: 30px;
  padding-top: 5px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}

.port-component-container-scroll-country-apply{
  height: 40px;
  max-height: 100px;
  contain: content;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  margin-bottom: 22px;
}

.toolbar-title-search{
  width: 100%;;
}

.width-container-text{
  width: 80%;
}

.position-end{
  text-align: end;
}

.port-componente-container-scroll-hide{
  display: none;
}

.port-component-aling-padding-left{
  padding-left: 20px;
}
.port-component-width-90{
  width: 90%;
}

.port-component-container-chips-country{
  flex-wrap: wrap;
  display: flex;
  padding-left: 20px;
}

@media only screen and (max-width: 500px) and (min-width: 341px) {  
  .port-component-aling-padding-left{
    padding-left: 0px;
  }
  .port-component-width-90{
    width: 70%;
  }
  .port-component-container-scroll-country-apply{
    height: 54px;
    margin-bottom: initial;
  }
  .port-component-container-chips-country{
    padding-left: initial;
  }

}
