<button class="bleft" mat-icon-button *ngIf="productsPendindgExpanded && showProducts"  (click)="backTolist()">
  <mat-icon class="material-icons">
    arrow_back
  </mat-icon>
  {{'secure.products.create_product_unit.list_products.combo_product.back' | translate}}
</button>

<div class="cardImageAling" fxLayout.xs="column" fxLayoutAlign.xs="space-between center" *ngFor="let products of productsList; let i = index ">
  <div (click)="setparams(products)" *ngIf="showImage === false">

    <mat-card class="example-card">
      <div class="container-card-img flexbox align-center justify-center">
        <img src="{{products.imageUrl}}">
      </div>
      <mat-card-content>
        <div class="container-desc-card flexbox flex-wrap align-center">
          <h3>EAN: {{products.ean}}</h3>
          <p class="name">{{products.name}}</p>
        </div>
        <mat-card-footer class="mfooter">
            <p>{{'secure.products.create_product_unit.list_products.combo_product.creation_date' | translate}}: {{products.dateProcess}}</p>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div class="full-width">
  <app-expanded-pending-products [editPermission]="editPermission" *ngIf="productsPendindgExpanded && showProducts" [productsPendindgExpanded]="productsPendindgExpanded"></app-expanded-pending-products>
</div>
