<div>
  <div>
    <p id="textCreateEan">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
      Curabitur malesuada magna vel interdum maximus.
      Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
      Curabitur malesuada magna vel interdum maximus.
    </p>
  </div>
  <form [formGroup]="eanGroup">
    <mat-form-field class="distanceComponetInt">
      <input matInput placeholder="EAN" formControlName="eanCtrl" (change)="getEanServices()" autocomplete="off">
      <mat-error>Formato inv&aacute;lido de EAN (7-12 caraceteres alfan&uacute;mericos)</mat-error>
    </mat-form-field>
    <div class="distanceComponetInt">
      <mat-checkbox formControlName="associateEan">No tengo EAN asociado</mat-checkbox>
    </div>


    <div class="buttonProcess">
      <button mat-button matStepperNext class="buttonProcessContinuar" [disabled]="!infox">Continuar</button>
    </div>
  </form>
</div>