$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #f7920c;
$color-orange2: #d19002;
$color-blue: #448aff;
$color-red: #b71c1c;
$color-green: #82b907;
$color-gray: #a1a199;
$color-gray1: #5D5D5D;
$color-gray2: #605e5e;
$color-gray3: #777777;
$color-gray4: #BCBCBC;
$color-gray5: #D3D3D3;
$color-bottom-bar: #D3D3D3;
$color-icon-list:#c2c2c2;
$color-border: #D3D3D3;
$color-gray-light: #909090;
$color-white-opacity: rgba(255, 255, 255, 0.7);
$blue: #485AFA;

//Fonts

$font-principal: Arial, sans-serif;
$font-size-head: 16px;
$font-size-principal: 16px;

//-------------------------------------------------------------------------------------------------------------------------
$lavender-mist: #E7E7F4;
$midnight-blue: #14142B;
$transparent-black: #0000004D;
$slate-gray: #9A9AB5;
$white-opacity: #FFFFFF2F;
$pure-white: #FFFFFF;
$bluebell: #6E6EF0;
$ash-gray: #676767;
$iron-gray: #86888A;
$dark-lilac: #535371;
$light-lavender: #F2F2FF;
$black-opacity: #00000029;
$dark-lavender: #7E7EA4;
$aqua-green: #5AC4A5;