$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #f7920c;
$color-orange2: #d19002;
$color-blue: #448aff;
$color-red: #b71c1c;
$color-green: #82b907;
$color-gray: #a1a199;
$color-gray2: #605e5e;
$color-gray3: #777777;