<mat-toolbar class="toolbar-orders-list" color="primary">

  <mat-toolbar-row class="toolbar-orders-list">
    <div class="content-options-toolbar">
      <button id="dropdown-status-orders" class="button-toolbar" mat-button [matMenuTriggerFor]="orders">
        <mat-icon>arrow_drop_down</mat-icon>
        Ordenes
      </button>
      <mat-menu #orders="matMenu">

        <button mat-menu-item id="dropdown-button-{{item.buttonId}}" *ngFor="let item of categoryList"
                (click)="goToRoot(item)">
          <span>{{item.name}}</span>
          <!-- <span>{{item.name}} ({{item.count}})</span> -->
        </button>


        <button mat-menu-item id="dropdown-button-pending-devolution"
                [routerLink]="['/seller-center/ordenes/solicitudes-pendientes']">
          <span>Solicitudes pendientes</span>
        </button>
        <button mat-menu-item id="dropdown-button-in-validation"
                [routerLink]="['/seller-center/ordenes/en-validacion']">
          <span>En validación</span>
        </button>
        <button mat-menu-item id="dropdown-button-devolution" [routerLink]="['/seller-center/ordenes/en-devolucion']">
          <span>En devolución</span>
        </button>


      </mat-menu>

      <button class="button-toolbar" mat-button [matMenuTriggerFor]="offers">
        <mat-icon>arrow_drop_down</mat-icon>
        Ofertas
      </button>
      <mat-menu #offers="matMenu">
        <button mat-menu-item id="dropdown-button-tree-categories" [routerLink]="['seller-center/ofertas/arbol-categorias']">
          <span>Arbol de Categorias</span>
        </button>
        <button mat-menu-item id="dropdown-button-bulk-load" [routerLink]="['seller-center/ofertas/carga-masiva']">
          <span>Carga Masiva</span>
        </button>
        <button mat-menu-item id="dropdown-button-offer-list" [routerLink]="['seller-center/ofertas/listado-ofertas']">
          <span>Listado de Ofertas</span>
        </button>
      </mat-menu> 


      <button class="button-toolbar" mat-button [matMenuTriggerFor]="products">
        <mat-icon>arrow_drop_down</mat-icon>
        Productos
      </button>
      <mat-menu #products="matMenu">
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
        <button mat-menu-item>
          <span>Item Link</span>
        </button>
      </mat-menu>

      <button id="dropdown-button-billing" class="button-toolbar" mat-button [matMenuTriggerFor]="billing">
        <mat-icon>arrow_drop_down</mat-icon>
        Facturación
      </button>
      <mat-menu #billing="matMenu">
        <button mat-menu-item id="dropdown-button-facturation-pay" [routerLink]="['/seller-center/facturacion/pagos']">
          <span>Pagos</span>
        </button>
      </mat-menu>

      <button id="dropdown-button-billing" class="button-toolbar" mat-button [matMenuTriggerFor]="sellers">
        <mat-icon>arrow_drop_down</mat-icon>
        Vendedores
      </button>
      <mat-menu #sellers="matMenu">
        <button mat-menu-item id="dropdown-button-facturation-pay" [routerLink]="['/securehome/seller-center/vendedores/']">
          <span>Registrar</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
