<mat-toolbar class="toolbar-orders-list" color="primary">

  <mat-toolbar-row class="toolbar-orders-list">
    <div class="content-options-toolbar">

      <button id="dropdown-status-orders" class="button-toolbar" mat-button [matMenuTriggerFor]="orders" *ngIf="user.sellerProfile === 'seller'">
        <mat-icon>arrow_drop_down</mat-icon>
        &Oacute;rdenes
      </button>

      <mat-menu #orders="matMenu">

        <button mat-menu-item id="dropdown-button-{{item.buttonId}}" *ngFor="let item of categoryList" (click)="goToRoot(item)">
          <span>{{item.name}}</span>
          <!-- <span>{{item.name}} ({{item.count}})</span> -->
        </button>


        <!-- <button mat-menu-item id="dropdown-button-pending-devolution"
                [routerLink]="['/' + routes.sellerCenterIntOrderInPendingDevolution]">
          <span>Solicitudes pendientes</span>
        </button>
        <button mat-menu-item id="dropdown-button-in-validation"
                [routerLink]="['/' + routes.sellerCenterIntOrderInValidation]">
          <span>En validación</span>
        </button>
        <button mat-menu-item id="dropdown-button-devolution" [routerLink]="['/' + routes.sellerCenterIntOrderInDevolution]">
          <span>En devolución</span>
        </button> -->
        <button mat-menu-item id="dropdown-button-guide" [routerLink]="['/' + routes.sellerCenterIntOrderLoadGuide]">
          <span>Cargar guías</span>
        </button>

      </mat-menu>

      <button class="button-toolbar" mat-button [matMenuTriggerFor]="offers">
        <mat-icon>arrow_drop_down</mat-icon>
        Ofertas
      </button>
      <mat-menu #offers="matMenu">
        <button mat-menu-item id="dropdown-button-offer-list" [routerLink]="['/' + routes.sellerCenterIntOfersList]" *ngIf="user.sellerProfile === 'seller'">
          <span>Listado de Ofertas</span>
        </button>
        <button mat-menu-item id="dropdown-button-bulk-load" [routerLink]="['/' + routes.sellerCenterIntOferBulkLoad]" *ngIf="user.sellerProfile === 'seller'">
          <span>Carga Masiva</span>
        </button>
        <button mat-menu-item id="dropdown-button-tree-categories" [routerLink]="['/' + routes.sellerCenterIntOferTreeCategory]" *ngIf="user.sellerProfile === 'administrator'">
          <span>Arbol de Categorias</span>
        </button>
      </mat-menu>


      <button class="button-toolbar" mat-button [matMenuTriggerFor]="products">
        <mat-icon>arrow_drop_down</mat-icon>
        Productos
      </button>
      <mat-menu #products="matMenu">
        <button mat-menu-item>
          <span>Carga masiva</span>
        </button>
      </mat-menu> 

      <button id="dropdown-button-billing" class="button-toolbar" mat-button [matMenuTriggerFor]="billing">
        <mat-icon>arrow_drop_down</mat-icon>
        Facturación
      </button>
      <mat-menu #billing="matMenu">
        <button mat-menu-item id="dropdown-button-facturation-pay" [routerLink]="['/' + routes.sellerCenterIntBillingPayments]">
          <span>Pagos</span>
        </button>
      </mat-menu>

      <button id="dropdown-button-billing" class="button-toolbar" mat-button [matMenuTriggerFor]="sellers" *ngIf="user.sellerProfile === 'administrator'">
        <mat-icon>arrow_drop_down</mat-icon>
        Vendedores
      </button>
      <mat-menu #sellers="matMenu">
        <button mat-menu-item id="dropdown-button-facturation-pay" [routerLink]="['/' + routes.sellerCenterIntSellerRegister]">
          <span>Registrar</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>
</mat-toolbar>