<div class="content-order my-content">

  <div fxFlex class="container" fxLayout="row wrap" fxLayoutAlign="center
    start">
    <div fxFlex="100" class="light-content">
      <app-toolbar-search-pagination [isClear]="isClear" [informationToForm]="informationToForm" [state]="lastState"
        [idSeller]="idSeller" #toolbarOptions (OnGetOrdersList)="getOrdersList($event)"
        (paginationListOrdens)="paginations($event)" [pageIndexChange]="pageIndexChange"
        (OnChangeSizeOrderTable)="changeSizeTable($event)" [Typeprofile]="typeProfile" [lengthOrder]="length"
        [customerFilterCalifications]=true (filterCalifications)="toggleFilterCalifications()">
      </app-toolbar-search-pagination>
    </div>

    <!-- Tabla de órdenes -->
    <div fxFlex.xs="100%" fxFlex.sm="95" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="!showContainerDetail">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="qualityScore">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true"
            fxFlex.lg="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="30" *matHeaderCellDef
            mat-sort-header>
            <span class="title-table-header">{{'secure.quality.quality-score.quality'
              | translate}}</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.lg="30"
            fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="" *matCellDef="let element">
            <p class="sc-text-normal" style="font-weight: bold;">{{element.qualitative}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="qualityMonth">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true"
            fxFlex.lg="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="30" *matHeaderCellDef
            mat-sort-header>
            <span class="title-table-header">{{'secure.quality.quality-score.qualityMonth'
              | translate}}</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.lg="30"
            fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="30" *matCellDef="let element">
            <p class="sc-text-normal">{{element.qualificationDateFormt}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="qualityIssued">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true"
            fxFlex.lg="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header">{{'secure.quality.quality-score.qualityIssued'
              | translate}}</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.lg="30"
            fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="30" fxFlex.xl="" *matCellDef="let element">
            <p class="sc-text-normal">{{element.generatedDateFormt}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" style="justify-content: center;">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true"
            fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl="" *matHeaderCellDef mat-sort-header
            style="justify-content: center;">
            <span class="title-table-header">{{'shared.actions' | translate}}</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.lg="20"
            fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl="20" *matCellDef="let element">
            <p class="sc-text-normal align-end-actions cursor-pointer">
              <mat-icon class="color-icons-details" [matTooltip]="'shared.details' | translate" (click)="contentDetails(element.qualificationDate,
                element.idSeller);">description</mat-icon>
            </p>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row id="order-number-{{index}}" *matRowDef="let index=index; let
          row; columns: displayedColumns;" class="element-row personal-row-table" [cdkDetailRow]="row"
          [cdkDetailRowTpl]="tpl">
        </mat-row>
      </mat-table>
      <div [@detailExpand] class="orders-no-data" *ngIf="length === 0">
        <mat-icon class="icon-not-found" color="primary">info</mat-icon>
        <div *ngIf="length === 0 && !showEmpty">
          <p>No se han encontrado &oacute;rdenes</p>
        </div>
        <div *ngIf="length === 0 && showEmpty">
          <p>{{'secure.quality.quality-score.text-empty-califications' |
            translate}}</p>
        </div>
      </div>
    </div>
    <div fxFlex.xs="100%" fxFlex.sm="95" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" *ngIf="showContainerDetail">
      <div *ngIf="detailByElemet" style="padding-top: 15px;">
        <div fxLayout="row wrap" fxLayoutAlign="space-around none" style="height:390px">
          <div fxFlex="30">
            <div fxLayout="row wrap" style="height: 100%;">
              <div fxFlex="grow" style="background-color: #ffffff; height: 45px;
                display: table;">
                <div style="padding-left: 11px; color: #5D5D5D; font-size: 17px;
                  vertical-align: middle; display: table-cell;">
                  <mat-icon class="mat-18" style="vertical-align: middle;">assignment_ind</mat-icon>
                  Información del vendedor
                </div>
              </div>
              <div style="height: 86%; width: 100%;">
                <div fxLayout="row" style="height: 55%; width: 100%;">
                  <div style="width: 100%; background-color: #f4f4f4">
                    <div fxFlex="40" style="text-align: center;">
                      <mat-icon class="mat-18" style="font-size: 160px; height:
                        160px; width: 160px; color: #dadada;">description</mat-icon>
                    </div>
                    <div style="width: 100%;">
                      <div class="calification-list-padding-info-seller" style="padding-top: 10px;">
                        <div style="color: #545353;">Nombre del Vendedor </div>
                        <div style="color: #9e9e9e; font-size: 14px">{{nameSeller}} </div>
                      </div>
                      <div class="calification-list-padding-info-seller">
                        <div style="color: #545353;">Calificación </div>
                        <div style="color: #9e9e9e; font-size: 14px">{{detailByElemet.Qualitative}}</div>
                      </div>
                      <div class="calification-list-padding-info-seller">
                        <div style="color: #545353;">Mes calificado </div>
                        <div style="color: #9e9e9e; font-size: 14px;">{{setFormatDateInfoSellerMonthQuality}}</div>
                      </div>
                      <div class="calification-list-padding-info-seller">
                        <div style="color: #545353;">Mes Emitido </div>
                        <div style="color: #9e9e9e; font-size: 14px;">{{setFormatDateInfoSellerGenrateDate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div style="background-color: #ffffff; height: 45px; display:
                    table;">
                    <div style="padding-left: 11px; color: #5D5D5D; font-size:
                      17px; vertical-align: middle; display: table-cell;">
                      <mat-icon class="mat-18" style="vertical-align: middle;">attach_money</mat-icon>
                      Cobro de penalidad
                    </div>
                  </div>
                  <div style="padding: 5px 5px; background-color: #ececec;">
                    <div fxFlex="60">Penalidad Incumplimiento</div>
                    <div fxFlex="40" fxLayoutAlign="end end">$ {{penaltyOutSideDelivery}}</div>
                  </div>
                  <div style="padding: 7px 5px;">
                    <div fxFlex="60">Penalidad Cancelaciones</div>
                    <div fxFlex="40" fxLayoutAlign="end end">$ {{penaltyCanceledBySeller}}</div>
                  </div>
                  <div style="padding: 6px 5px; color: #545353;background-color:
                    #e4e2e2;">
                    <div fxFlex="60" style="font-weight: bold;">Total</div>
                    <div fxFlex="40" fxLayoutAlign="end end" style="font-weight:
                      bold; color:#545353">$ {{penaltyTotal}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="69">
            <div fxLayout="row wrap" style="height: 100%;">
              <div fxFlex="grow" style="background-color: #ffffff; height: 45px;
                display: table;">
                <div style="padding-left: 11px; color: #5D5D5D; font-size: 17px;
                  vertical-align: middle; display: table-cell;">
                  <mat-icon class="mat-18" style="vertical-align: middle;">assignment_turned_in</mat-icon>
                  Calificación Obtenida ({{detailByElemet.Quantitative}})
                </div>
                <div style="text-align: end;">
                  <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="mat-18">dehaze</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="backTolist()">Atras</button>
                    <button mat-menu-item>Notificar</button>
                  </mat-menu>
                </div>
              </div>
              <div fxFlex="grow" style="height: 25%; max-width: 100%;">
                <div style="">
                  <div style="color: #545353;background-color:
                    #e4e2e2;margin-left: 5px;margin-right: 5px; padding-left:
                    11px;padding-bottom: 5px;padding-top: 5px; border: 1px solid
                    rgb(219, 218, 218);">Promesa de Entrega</div>
                  <div fxLayout="row" style="flex-direction: row;box-sizing:
                    border-box;display: flex;background-color:
                    #FFFFFF;margin-left: 5px; margin-right: 5px;border: 1px
                    solid rgb(219, 218, 218);">
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px; font-size: 14px; width: 126px"> Perdidos generados</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px; font-size: 14px; width: 147px">Perdidos cumplidos</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px; font-size: 14px; width: 113px">%Porcentaje</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px; font-size: 14px; width: 111px">Puntaje obtenido</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px; font-size: 14px; width: 149px">Peso en calificación</div>
                    <div class="calification-list-result-by-seller" style="width: 110px; text-align: center; color: #9e9e9e;
                      padding-bottom: 5px; padding-top: 5px; font-size: 14px;
                      width: 95px">Total</div>
                  </div>
                  <div fxLayout="row wrap" style="padding-left:
                    5px;padding-right: 5px; border: 1px solid rgb(219, 218,
                    218); margin-left: 5px;margin-right: 5px;border-top:
                    hidden;">
                    <div class="calification-list-result-by-seller"
                      style="width: 123px; text-align: center; color: #717171;">{{detailByElemet.QualificationPromiseDelivery.Numerator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 137px; text-align: center; color: #717171;">{{detailByElemet.QualificationPromiseDelivery.Denominator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 117px; text-align: center; color: #717171;">{{detailByElemet.QualificationPromiseDelivery.Percentage}}%</div>
                    <div [ngClass]="colorCalificationPromiseDelivery" class="calification-list-result-by-seller"  style="width: 111px; text-align: center">{{detailByElemet.QualificationPromiseDelivery.Qualification}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 152px; text-align: center; color: #717171;">{{detailByElemet.QualificationPromiseDelivery.QualificationPercentage}}%</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 95px; text-align: center; color: #717171;">{{detailByElemet.QualificationPromiseDelivery.Total}}</div>
                  </div>
                </div>
              </div>
              <div fxFlex="grow" style="height: 25%; max-width: 100%;">
                <div style="">
                  <div style="color: #545353;background-color:
                    #e4e2e2;margin-left: 5px;margin-right: 5px; padding-left:
                    11px;padding-bottom: 5px;padding-top: 5px; border: 1px solid
                    rgb(219, 218, 218);">Reclamaciones</div>
                  <div fxLayout="row" style="flex-direction: row;box-sizing:
                    border-box;display: flex;background-color:
                    #FFFFFF;margin-left: 5px; margin-right: 5px;border: 1px
                    solid rgb(219, 218, 218);">
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 126px"> Perdidos generados</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 147px">Perdidos cumplidos</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 113px">%Porcentaje</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 111px">Puntaje obtenido</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 149px">Peso en calificación</div>
                    <div class="calification-list-result-by-seller" style="width: 110px; text-align: center; color: #9e9e9e;
                      padding-bottom: 5px; padding-top: 5px;font-size: 14px;
                      width: 95px">Total</div>
                  </div>
                  <div fxLayout="row wrap" style="padding-left:
                    5px;padding-right: 5px; border: 1px solid rgb(219, 218,
                    218); margin-left: 5px;margin-right: 5px;border-top:
                    hidden;">
                    <div class="calification-list-result-by-seller"
                      style="width: 123px; text-align: center; color: #717171;">{{detailByElemet.QualificationCase.Numerator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 137px; text-align: center; color: #717171;">{{detailByElemet.QualificationCase.Denominator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 117px; text-align: center; color: #717171;">{{detailByElemet.QualificationCase.Percentage}}%</div>
                    <div [ngClass]="colorCalificationCase" class="calification-list-result-by-seller" style="width: 111px; text-align: center">{{detailByElemet.QualificationCase.Qualification}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 152px; text-align: center; color: #717171;">{{detailByElemet.QualificationCase.QualificationPercentage}}%</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 95px; text-align: center; color: #717171;">{{detailByElemet.QualificationCase.Total}}</div>
                  </div>
                </div>
              </div>
              <div fxFlex="grow" style="height: 25%; max-width: 100%;">
                <div style="">
                  <div style="color: #545353;background-color:
                    #e4e2e2;margin-left: 5px;margin-right: 5px; padding-left:
                    11px;padding-bottom: 5px;padding-top: 5px; border: 1px solid
                    rgb(219, 218, 218);">Cancelaciones</div>
                  <div fxLayout="row" style="flex-direction: row;box-sizing:
                    border-box;display: flex;background-color:
                    #FFFFFF;margin-left: 5px; margin-right: 5px;border: 1px
                    solid rgb(219, 218, 218);">
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 126px"> Perdidos generados</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 147px">Perdidos cumplidos</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 113px">%Porcentaje</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 111px">Puntaje obtenido</div>
                    <div class="calification-list-result-by-seller" style="color: #9e9e9e; padding-bottom: 5px; padding-top:
                      5px;font-size: 14px; width: 149px">Peso en calificación</div>
                    <div class="calification-list-result-by-seller" style="width: 110px; text-align: center; color: #9e9e9e;
                      padding-bottom: 5px; padding-top: 5px;font-size: 14px;
                      width: 95px">Total</div>
                  </div>
                  <div fxLayout="row wrap" style="padding-left:
                    5px;padding-right: 5px; border: 1px solid rgb(219, 218,
                    218); margin-left: 5px;margin-right: 5px;border-top:
                    hidden;">
                    <div class="calification-list-result-by-seller"
                      style="width: 123px; text-align: center;color: #717171;">{{detailByElemet.QualificationCanceled.Numerator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 137px; text-align: center; color: #717171;">{{detailByElemet.QualificationCanceled.Denominator}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 117px; text-align: center; color: #717171;">{{detailByElemet.QualificationCanceled.Percentage}}%</div>
                    <div [ngClass]="colorCalificationCanceled" class="calification-list-result-by-seller" style="width: 111px; text-align: center">{{detailByElemet.QualificationCanceled.Qualification}}</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 152px; text-align: center; color: #717171;">{{detailByElemet.QualificationCanceled.QualificationPercentage}}%</div>
                    <div class="calification-list-result-by-seller"
                      style="width: 95px; text-align: center; color: #717171;">{{detailByElemet.QualificationCanceled.Total}}</div>
                  </div>
                </div>
              </div>
              <div fxFlex="grow" style="height: 25%; max-width: 100%;">
                <div fxLayout="row" style="color: #545353;background-color:
                  #e4e2e2;margin-left: 5px;margin-right: 5px; padding-left:
                  11px;padding-bottom: 5px;padding-top: 5px; border: 1px solid
                  rgb(219, 218, 218);">
                  <div fxFlex="85" style="font-weight: bold;">Total General</div>
                  <div fxFlex="10" fxLayoutAlign="center center" style="margin-right: 27px; font-weight: bold;">{{detailByElemet.Quantitative}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div style="padding:5px">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: #f6f5f5;">
              <mat-panel-title>
                <div style="color:#5D5D5D">
                  <mat-icon class="mat-18" style="vertical-align: middle;">assessment</mat-icon>
                  Pedidos que no cumplen con la promesa de entrega
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <table style="width: 100%; margin-top: 10px;">
                <tr style="background-color: #dde3f2;">
                  <td>Número Pedido</td>
                  <td>Fecha de P</td>
                  <td>Fecha Máxi</td>
                  <td>Fecha de Despacho</td>
                  <td>Días de retraso</td>
                  <td>Cédula</td>
                  <td>Cliente</td>
                  <td>Penalidad</td>
                  <td>Comisión</td>
                </tr>
                <tr style="height: 30px" *ngFor="let detail of detailByElemet.Detail" class="mat-row">
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.OrderNumber}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.OrderDate}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.MaxDeliveryDate}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.DeliveryDate}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.DelayDays}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.CustomerIdentificationCard}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.CustomerName}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.Penalty}}
                    </td>
                    <td>
                      {{detail.OrdersOutsideDeliveryDate.TotalCommission}}
                    </td>
                </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </div>
        <div style="padding:5px">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: #f6f5f5;">
              <mat-panel-title>
                <div style="color:#5D5D5D">
                  <mat-icon class="mat-18" style="vertical-align: middle;">assessment</mat-icon>
                  Pedidos Cancelados
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <table style="width: 100%;">
                <tr style="background-color: #dde3f2;">
                  <td>Número Pedido</td>
                  <td>Fecha de P</td>
                  <td>Estado</td>
                  <td>PQR</td>
                  <td>Fecha PQR</td>
                  <td>Cédula</td>
                  <td>Cliente</td>
                  <td>Penalidad</td>
                  <td>Comisión</td>
                </tr>
                <tr style="height: 30px" *ngFor="let detail of detailByElemet.Detail" class="mat-row">
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.OrderNumber}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.OrderDate}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.OrderStatus}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.ReasonPqr}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.PqrDate}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.CustomerIdentificationCard}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.CustomerName}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.Penalty}}
                  </td>
                  <td>
                    {{detail.OrdersCanceledBySellerResponsibility.TotalCommission}}
                  </td>
              </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </div>
        <div style="padding:5px">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: #f6f5f5;">
              <mat-panel-title>
                <div style="color:#5D5D5D">
                  <mat-icon class="mat-18" style="vertical-align: middle;">assessment</mat-icon>
                  Pedidos PQR
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <table style="width: 100%;">
                <tr style="background-color: #dde3f2;">
                  <td>Número Pedido</td>
                  <td>Fecha de P</td>
                  <td>Fecha Max</td>
                  <td>PQR</td>
                  <td>Fecha PQR</td>
                  <td>Cédula</td>
                  <td>Cliente</td>
                </tr>
                <tr style="height: 30px;" *ngFor="let detail of detailByElemet.Detail" class="mat-row">
                  <td>
                    {{detail.OrdersWithPqr.OrderNumber}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.OrderDate}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.MaxDeliveryDate}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.ReasonPqr}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.PqrDate}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.CustomerIdentificationCard}}
                  </td>
                  <td>
                    {{detail.OrdersWithPqr.CustomerName}}
                  </td>
              </tr>
              </table>
            </div>
          </mat-expansion-panel>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
          <div style="padding: 5px;">
            <button mat-raised-button color="secondary" type="button" (click)="backTolist()" mat-button
              style="margin-right: 10px;">
              <mat-icon class="mat-18" style="color: #5d5d5d;"> arrow_back </mat-icon>Atras
            </button>
            <button mat-raised-button color="primary" mat-button type="submit">Notificar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenavSearchOrder mode="over" position="end" opened="{{stateSideNavOrder}}">
    <mat-card class="content-profile" style="height: 93%;">
      <mat-nav-list class="light-content">
        <mat-toolbar color="primary" class="toolbar-title-search">
          <h4 class="title-toolbar">{{informationToForm.title_for_search | translate}}</h4>
          <button color="accent" [matTooltip]="'actions.close' | translate" matTooltipPosition="below" mat-icon-button
            mat-button (click)="toggleFilterCalifications()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
      </mat-nav-list>
      <mat-card-content>
        <form class="example-container" #createfilterCalisification="ngForm" [formGroup]="filterCalifications"
          class="seller-filter-sidenav">
        <div>
            <div></div>
            <div>
              <div style="padding: 30px 0;">
                <div style="color: #626161;">
                  <mat-icon class="mat-18" style="vertical-align: middle;">today</mat-icon>
                  Fecha calificado <span style="font-size: 10px;">(MM/AAAA)</span>
                </div>
                <div style="padding-left: 31px;">
                  <mat-form-field style="width: 100%;">
                    <input matInput [placeholder]="'secure.parametize.support_claims-filter.start-date' | translate"
                      formControlName="dateInitQualityMonth" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="filterCalifications.get('dateInitQualityMonth').hasError('pattern')"
                      [innerHTML]="'Fecha invalida'"></mat-error>
                  </mat-form-field>
    
                  <mat-form-field style="width: 100%;">
                    <input matInput [placeholder]="'secure.parametize.support_claims-filter.end-date' | translate"
                      formControlName="dateFinalQualityMonth" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="filterCalifications.get('dateFinalQualityMonth').hasError('pattern')"
                      [innerHTML]="'Fecha invalida'"></mat-error>
                  </mat-form-field>
                </div>
              </div>
             <div>
              <div style="color: #626161;">
                <mat-icon class="mat-18" style="vertical-align: middle;">today</mat-icon>
                Fecha Emitido <span style="font-size: 10px;">(MM/AAAA)</span>
              </div>
              <div style="padding-left: 31px;">
                <mat-form-field style="width: 100%;">
                  <input matInput [placeholder]="'secure.parametize.support_claims-filter.start-date' | translate"
                    formControlName="dateInitQualityIssued" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="filterCalifications.get('dateInitQualityIssued').hasError('pattern')"
                    [innerHTML]="'Fecha invalida'"></mat-error>
                </mat-form-field>
  
                <mat-form-field style="width: 100%;">
                  <input matInput [placeholder]="'secure.parametize.support_claims-filter.end-date' | translate"
                    formControlName="dateFinalQualityIssued" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="filterCalifications.get('dateFinalQualityIssued').hasError('pattern')"
                    [innerHTML]="'Fecha invalida'"></mat-error>
                </mat-form-field>
              </div>
             </div>
            </div>
            <div>
              <div class="orders-search-option normal-theme" style="position: absolute; bottom: 50px;left: 0px; text-align: center; width: 100%;">
                <button  class="sc-button" mat-button type="button" (click)="clearForm()">
                  <mat-icon>clear_all</mat-icon>
                  {{'filters.clear' | translate}}
                </button>
                <button  [disabled]="!createfilterCalisification.form.valid || !createfilterCalisification.form.touched" class="sc-button" mat-raised-button color="primary"
                  type="submit" (click)="filterCalification(filterCalifications.value)">
                  {{'actions.apply' | translate}}
                </button>
              </div>
            </div>
        </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
</mat-sidenav-container>
