<div class="content-order my-content">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center
    start">
    <div fxFlex="100" class="light-content">
      <app-toolbar-search-pagination [isClear]="isClear"
        [informationToForm]="informationToForm" [state]="lastState"
        [idSeller]="idSeller" #toolbarOptions
        (OnGetOrdersList)="getOrdersList($event)"
        (paginationListOrdens)="paginations($event)"
        [isFullSearch]="isFullSearch" [pageIndexChange]="pageIndexChange"
        (OnChangeSizeOrderTable)="changeSizeOrderTable($event)"
        [downloadPermission]="downloadPermission"
        [Typeprofile]="typeProfile" [allFilter]="allFilter"
        [showLoading]="false" [limitPaginate]="[50, 100, 150]"
        [lengthOrder]="length" [limitSizeList]='pageSize'
        [showContainerDetail]="showContainerDetail"></app-toolbar-search-pagination>
    </div>
  </div>

  <div *ngIf="showListAdvertisements">
    <div class="padding-width" fxLayout="row wrap">
      <div fxFlex fxLayoutAlign="end center" style="padding: 20px 30px; width:
        220px;">
        <button mat-stroked-button color="primary" style="text-transform:
          uppercase;" mat-button
          (click)="createNotification()">Crear nuevo anuncio</button>
      </div>
    </div>
    <div>
      <div fxFlex.xs="100%" fxFlex.sm="95" fxFlex.md="100" fxFlex.lg="100"
        fxFlex.xl="100" style="padding: 0px 30px;">
        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="title">
            <mat-header-cell fxShow.xs="false" fxShow.sm="false"
              fxShow.lg="true"
              fxShow.xl="true" fxShow="true"
              fxFlex.lg="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.xs="40"
              fxFlex.xl="40" *matHeaderCellDef>
              <span class="title-table-header">{{'secure.notifications.list.column-title'
                | translate}}</span>
            </mat-header-cell>
            <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true"
              fxShow.xl="true" fxShow="true" fxFlex.lg="40"
              fxFlex.sm="40" fxFlex.md="40" fxFlex.xs="40" fxFlex.xl=""
              *matCellDef="let element">
              <p class="sc-text-normal calification-list-font-weight"
                style="color: #909090; font-size: 14px;">{{element.Title}}</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell fxShow.xs="false" fxShow.sm="false"
              fxShow.lg="true"
              fxShow.xl="true" fxShow="true"
              fxFlex.lg="40" fxFlex.sm="40" fxFlex.md="40" fxFlex.xs="40"
              fxFlex.xl="40" *matHeaderCellDef>
              <span class="title-table-header">{{'secure.notifications.list.column-date'
                | translate}}</span>
            </mat-header-cell>
            <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true"
              fxShow.xl="true" fxShow="true" fxFlex.lg="40"
              fxFlex.sm="40" fxFlex.md="40" fxFlex.xs="40" fxFlex.xl="40"
              *matCellDef="let element">
              <p class="sc-text-normal" style="color: #909090; font-size:
                14px;"><span>Publicada
                </span>{{element.CreationDate | date: 'dd/MM/yyyy'}}</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions"
            class="calification-list-justify-content">
            <mat-header-cell fxShow.xs="false" fxShow.sm="false"
              fxShow.lg="true"
              fxShow.xl="true" fxShow="true"
              fxFlex.lg="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30"
              fxFlex.xl="" *matHeaderCellDef
              class="calification-list-justify-content" style="display: flex;
              justify-content: center;">
              <span class="title-table-header">{{'shared.actions' | translate}}</span>
            </mat-header-cell>
            <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true"
              fxShow.xl="true" fxShow="true" fxFlex.lg="20"
              fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="30" fxFlex.xl="20"
              *matCellDef="let element" style="display: flex;
              justify-content:center;">
              <p class="sc-text-normal align-end-actions cursor-pointer"
                style="padding-left: 5px; padding-right: 5px; color: #909090">
                <mat-icon class="color-icons-details" style="width: 18px;
                  height:
                  18px; font-size: 18px; cursor: pointer;"
                  matTooltip="Previsualizar"
                  (click)="preview(element, false);">find_in_page</mat-icon>
              </p>
              <p class="sc-text-normal align-end-actions cursor-pointer"
                style="padding-left: 5px; padding-right: 5px; color: #909090">
                <mat-icon class="color-icons-details" style="width: 18px;
                  height:
                  18px; font-size: 18px; cursor: pointer;" matTooltip="Editar"
                  (click)="edit(element, true);">edit</mat-icon>
              </p>
              <p class="sc-text-normal align-end-actions cursor-pointer"
                style="padding-left: 5px; padding-right: 5px; color: #909090">
                <mat-icon class="color-icons-details" style="width: 18px;
                  height:
                  18px; font-size: 18px; cursor: pointer;" matTooltip="Eliminar"
                  (click)="deleteNotification(element);">delete</mat-icon>
              </p>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row id="order-number-{{index}}" *matRowDef="let index=index; let
            row; columns: displayedColumns;" class="element-row
            personal-row-table" [cdkDetailRow]="row"
            [cdkDetailRowTpl]="tpl">
          </mat-row>
        </mat-table>
        <div [@detailExpand] class="orders-no-data" *ngIf="length === 0">
          <mat-icon class="icon-not-found" color="primary">info</mat-icon>
          <div *ngIf="length === 0 && !showEmpty">
            <p>No se han encontrado registros</p>
          </div>
          <div *ngIf="length === 0 && showEmpty">
            <p>{{'secure.quality.quality-score.text-empty-califications' |
              translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showListAdvertisements">
    <app-notification-form (isBackList)="backList($event)"
      (refreshData)="refreshData($event)"
      [paramsNotification]="paramsNotification"></app-notification-form>
  </div>
</div>