<!-- FORM CONTAINER -->
<div fxFlex="100" fxLayout="column" class="basic-info-container" *ngIf="formCreate" id="textCreateBasicInfo">
  <p>{{'secure.products.create_product_unit.basic_information.basic_product_information' | I18N | async}}</p>
  <!-- BASIC INFORMATION FORM-->
  <form class="basic-info" [formGroup]="formBasicInfo" (ngSubmit)="saveBasicInfo()">

    <!-- NAME AND CATEGORY -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column">
      <mat-form-field class="name-product field">
        <input matInput placeholder="Nombre del producto" class="input-name-product" formControlName="Name" (change)="detectForm()"
          id="nameProduct" autofocus required>
        <mat-error *ngIf="formBasicInfo.get('Name').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.format_invalidate' | I18N | async}}</mat-error>
        <mat-error *ngIf="formBasicInfo.get('Name').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      </mat-form-field>

      <mat-form-field class="category-product field">
        <input matInput placeholder="Categoria" class="input-category-product" formControlName="Category" (change)="detectForm()"
          id="categoryProduct">
      </mat-form-field>
    </div>

    <!-- BRAND AND MODEL -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column">
      <mat-form-field class="brand-product field">
        <input matInput placeholder="Marca" class="input-brand-product" formControlName="Brand" (change)="detectForm()"
          id="brandProduct">
        <mat-error *ngIf="formBasicInfo.get('Brand').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.brand_invalidate' | I18N | async}}</mat-error>
        <mat-error *ngIf="formBasicInfo.get('Brand').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="field">
          <mat-select placeholder="Marca" formControlName="Brand" id="Brand" (selectionChange)="detectForm()" required>
            <mat-option *ngFor="let brand of brands" [value]="brand.Name">
              {{brand.Name}}
            </mat-option>
          </mat-select> 
          
          <mat-error *ngIf="formBasicInfo.get('Brand').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>-->

      <mat-form-field class="model-product field">
        <input matInput placeholder="Modelo" class="input-model-product" formControlName="Model" (change)="detectForm()"
          id="modelProduct" required>
        <mat-error *ngIf="formBasicInfo.get('Model').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.model_invalidate' | I18N | async}}</mat-error>
        <mat-error *ngIf="formBasicInfo.get('Model').hasError('required') && formBasicInfo.get('Model').touched">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      </mat-form-field>
    </div>

    <!-- DETAIL AND SHIPPING SIZE -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column">
      <mat-form-field class="detail-product field">
        <input matInput placeholder="Detalle" class="input-detail-product" formControlName="Detail" (change)="detectForm()"
          id="detailProduct" required>
        <mat-error *ngIf="formBasicInfo.get('Detail').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.detail_invalidate' | I18N | async}}</mat-error>
        <mat-error *ngIf="formBasicInfo.get('Detail').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      </mat-form-field>

      <div class="shipping-product field">
        <label class="label-shipping">{{'secure.products.create_product_unit.basic_information.shipping_size' | I18N | async}}</label>
        <mat-slider min="1" max="5" tickInterval="true" class="shipping-slider" (change)="detectForm()" formControlName="shippingSize"
          id="shippingProduct"></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="items-slider">
          <label class="items-slider-label">1</label>
          <label class="items-slider-label">2</label>
          <label class="items-slider-label">3</label>
          <label class="items-slider-label">4</label>
          <label class="items-slider-label">5</label>
        </div>
      </div>
    </div>

    <!-- PACKING AND PRODUCT SIZE -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column"
      class="container-sub-forms">
      <div class="sub-form" formGroupName="packing">
        <label class="label-shipping">{{'secure.products.create_product_unit.basic_information.packaging' | I18N | async}} </label>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div class="packing-sub-level" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="packing-field">
              <input matInput placeholder="Alto" class="input-packing-high" formControlName="HighPacking" (change)="detectForm()"
                id="highPackingProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.packing.get('HighPacking').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}} </mat-error>
                <mat-error *ngIf="formBasicInfo.controls.packing.get('HighPacking').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
            </mat-form-field>
            <mat-form-field class="packing-field">
              <input matInput placeholder="Largo" class="input-packing-long" formControlName="LongPacking" (change)="detectForm()"
                id="longPackingProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.packing.get('LongPacking').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.packing.get('LongPacking').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
            </mat-form-field>
          </div>
          <div class="packing-sub-level" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="packing-field">
              <input matInput placeholder="Ancho" class="input-packing-width" formControlName="WidthPacking" (change)="detectForm()"
                id="widthPackingProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.packing.get('WidthPacking').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.packing.get('WidthPacking').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
            </mat-form-field>
            <mat-form-field class="packing-field">
              <input matInput placeholder="Peso" class="input-packing-weight" formControlName="WeightPacking" (change)="detectForm()"
                id="weightPackingProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.packing.get('WeightPacking').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.packing.get('WeightPacking').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>

            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="sub-form product-form" formGroupName="product">
        <label class="label-shipping">Producto (cm/kg)</label>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div class="packing-sub-level" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="packing-field">
              <input matInput placeholder="Alto" class="input-packing-high" formControlName="HighProduct" (change)="detectForm()"
                id="highProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.product.get('HighProduct').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.product.get('HighProduct').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
            </mat-form-field>
            <mat-form-field class="packing-field">
              <input matInput placeholder="Largo" class="input-packing-long" formControlName="LongProduct" (change)="detectForm()"
                id="longProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.product.get('LongProduct').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.product.get('LongProduct').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>

            </mat-form-field>
          </div>
          <div class="packing-sub-level" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="packing-field">
              <input matInput placeholder="Ancho" class="input-packing-width" formControlName="WidthProduct" (change)="detectForm()"
                id="widthProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.product.get('WidthProduct').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.product.get('WidthProduct').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>

            </mat-form-field>
            <mat-form-field class="packing-field">
              <input matInput placeholder="Peso" class="input-packing-weight" formControlName="WeightProduct" (change)="detectForm()"
                id="weightProduct" required>
              <mat-error *ngIf="formBasicInfo.controls.product.get('WeightProduct').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.dimension_invalid' | I18N | async}}</mat-error>
                <mat-error *ngIf="formBasicInfo.controls.product.get('WeightProduct').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>

            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column">
      <mat-form-field class="field">
        <mat-select placeholder="Unidad de medida" formControlName="MeasurementUnit" (change)="detectForm()" required>
          <mat-option *ngFor="let unit of UnitMeasurementList" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
        
        <mat-error *ngIf="formBasicInfo.get('MeasurementUnit').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="Factor de conversión" class="input-packing-width" formControlName="ConversionFactor"
          (change)="detectForm()" id="conversionFactorProduct" required>
        <mat-error *ngIf="formBasicInfo.get('ConversionFactor').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
        <mat-error *ngIf="formBasicInfo.get('ConversionFactor').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.format_invalidate' | I18N | async}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column" style="width: 100%;">
      <angular-editor formControlName="Description" id="Description" [config]="config" style="width: 100%;" (change)="detectForm()" required></angular-editor>
      <mat-error *ngIf="formBasicInfo.get('Description').hasError('required') && formBasicInfo.get('Description').touched">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
      <mat-error *ngIf="formBasicInfo.get('Description').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.format_invalidate' | I18N | async}}</mat-error>
    </div>

    <mat-form-field class="keyword-field">
        <input type="tel" matInput placeholder="Palabras clave" formControlName="Keyword" id="keywordProduct" (keyup.enter)="saveKeyword()" required>
        <mat-icon matSuffix class="material-icons" (click)="saveKeyword()"  class="add-keyword-icon">
          add_circle_outline
        </mat-icon>
        <div class="basic-info-error" *ngIf="keywords.length<1 && formBasicInfo.get('Keyword').touched">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</div>
      </mat-form-field>
  </form>

  <!-- FORM KEYWORD-->
  <!-- <form [formGroup]="formKeyword" (ngSubmit)="saveKeyword()" class="form-keyword">
  
  </form> -->
  <div style="flex-wrap: wrap; display: flex;">
    <div *ngFor="let key of keywords; let i = index">
      <span>
        {{key}}
      </span>
      <button mat-icon-button (click)="deleteKeywork(i)">
        <mat-icon class="material-icons">
          close
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- BUTTON TO ADD SONS -->
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="productData.ProductType === 'Clothing'" class="sticky-position">
    <div>
    </div>
    <button fxLayout="row" fxLayoutAlign="center center" class="add-son-button" mat-button (click)="addSon()">
      <mat-icon class="material-icons">
        add_circle_outline
      </mat-icon>
      <span>{{'secure.products.create_product_unit.basic_information.add_variation' | I18N | async}}</span>
    </button>
  </div>

  <!-- SON LIST -->
  <div *ngFor="let son of sonList; let i = index" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="border-bottom-gray">
      <label>
          {{'secure.products.create_product_unit.basic_information.add_variation' | I18N | async}} {{i+1}}
      </label>
      <button mat-icon-button (click)="toggleSon(son)">
        <mat-icon class="material-icons" *ngIf="son.Show">
          expand_less
        </mat-icon>
        <mat-icon class="material-icons" *ngIf="!son.Show">
          expand_more
        </mat-icon>
      </button>
    </div>
    <!-- SHOW FORM -->
    <div *ngIf="son.Show" class="son-container">

      <div class="text-right">
        <button mat-icon-button [matTooltip]="'secure.products.create_product_unit.basic_information.delete_variation'" (click)="deleteSon(i)">
          <mat-icon class="material-icons">
            delete
          </mat-icon>
        </button>
      </div>

      <!-- SON FORM -->
      <form [formGroup]="son.form" (ngSubmit)="saveBasicInfo()">

        <!-- EAN SON AND SIZE -->
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout.xs="column">
          <!-- EAN -->
          <div class="name-product field">
            <mat-form-field id="inputValidEanSon">
              <input matInput placeholder="Ean hijo" class="input-name-product" formControlName="Ean" (blur)="validateEanSon()"
                (change)="detectForm()" id="validateEanSonProduct">
              <mat-error *ngIf="son.form.get('Ean').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.ean_invalida' | I18N | async}}</mat-error>
              <mat-error *ngIf="son.form.controls.Ean.errors &&  son.form.controls.Ean.errors.validExistEanSonDB">El
                  {{'secure.products.create_product_unit.basic_information.ean_invalida_multioffer' | I18N | async}}</mat-error>
              <mat-error *ngIf="son.form.get('Ean').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
            </mat-form-field>
            <div class="distanceComponetInt">
              <mat-checkbox #asignatedEanSonCheckBox [checked]="asignatedEanSon" (change)="onAsignatedEanSonChanged(asignatedEanSonCheckBox.checked, son.form.get('Ean'))"
                formControlName="associateEanSon" id="associateEanSon">{{'secure.products.create_product_unit.basic_information.dont_have_ean' | I18N | async}}</mat-checkbox>
            </div>
          </div>

          <mat-form-field class="category-product field">
            <input matInput placeholder="Ingresa la talla" class="input-category-product" formControlName="Size"
              (change)="detectForm()" id="sizeProduct">
            <mat-error *ngIf="son.form.get('Size').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.size_invalid' | I18N | async}}</mat-error>
            <mat-error *ngIf="son.form.get('Size').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

          <div class="field">
            <label class="label-color">Color</label>
            <div class="full-width flex-container">
              <div class="container-color" *ngFor="let color of colorList">
                <div class="color-round-picker" [ngStyle]="{'background-color': color.color, 'border-color': color.border}"
                  *ngIf="!color.multicolor" [matTooltip]="color.Name" (click)="selectColor(color, son)" [ngClass]="{'select-color': color.Name === son.colorSelected}">
                </div>
                <div class="material-icons multi-color" (click)="selectColor(color, son)" [ngClass]="{'select-color': color.Name === son.colorSelected}"
                  *ngIf="color.multicolor" [matTooltip]="color.Name">
                  <div class="multi-one"></div>
                  <div class="multi-two"></div>
                  <div class="multi-three"></div>
                  <div class="multi-four"></div>
                  <div class="multi-five"></div>
                  <div class="multi-six"></div>
                </div>
              </div>
            </div>
          </div>

          <mat-form-field class="field">
            <mat-icon matPrefix class="material-icons color-prefix-icon" [ngStyle]="{'border-color': invertColor(son.colorPick), 'background-color': son.colorPick }"></mat-icon>
            <input matInput placeholder="HexColorCodePDP" [value]="son.colorPick" formControlName="HexColorCodePDP" id="HexColorCodePDP">
            <mat-icon matSuffix class="material-icons color-icon-picker" [cpPosition]="'left'" [(colorPicker)]="son.colorPick"
              (colorPickerChange)="detectForm()" [style.background]="colorPick" [cpOutputFormat]="hex" [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', '#f44336']">
              palette
            </mat-icon>
            <div class="basic-info-error" *ngIf="!son.colorPick && son.dirty">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</div>
          </mat-form-field>
        </div>

        <mat-form-field class="category-product field">
          <input matInput placeholder="Nombre específico de color" formControlName="HexColorCodeName" (change)="detectForm()" id="hexColorNameProduct">
          <mat-error *ngIf="son.form.get('HexColorCodeName').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.specific_name_invalid' | I18N | async}}</mat-error>
          <mat-error *ngIf="son.form.get('HexColorCodeName').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | I18N | async}}</mat-error>
        </mat-form-field>

      </form>
    </div>
  </div>
</div>