$blue-page: #485AFA;
$color-label: #bdbdbd;
@mixin inputs-basic-info-form() {
    padding-right: 1em;
}

@mixin form-padding() {
    padding: 0.9em 0px;
}

@media screen and (max-width: 600px) {
    .basic-info-container {
        .field {
            width: 100%;
        }
    }
    .sub-form {
        width: 100%;
        .packing-sub-level {
            width: 100%;
            .packing-field {
                width: 48%;
            }
        }
    }
    .description-form {
        width: 100%;
    }
    .keyword-field {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .basic-info-container {
        margin-top: 3em;
        .field {
            width: 46%;
            &.name-product {
                @include inputs-basic-info-form();
            }
            &.category-product {}
            &.brand-product {
                @include inputs-basic-info-form();
            }
            &.model-product {}
            &.detail-product {
                @include inputs-basic-info-form();
            }
            &.shipping-product {
                .label-shipping {
                    width: 100%;
                }
            }
        }
        .sub-form {
            width: 46%;
            .packing-sub-level {
                width: 49%;
                .packing-field {
                    width: 48%;
                }
            }
            &.product-form {
                width: 46%;
            }
        }
        .description-form {
            width: 100%;
        }
    }
    .container-sub-forms {
        @include form-padding();
    }
    .keyword-field {
        width: 46%;
    }
}

.shipping-slider {
    width: 100%;
    padding: 0px;
    height: 25px;
}

.shipping-product {
    .items-slider {
        &-label {
            color: $color-label;
            font-size: 12px;
        }
    }
}

/* Sobre escribir */

/deep/ mat-slider .mat-slider-wrapper {
    top: 12px !important;
    left: 0px !important;
    right: 0px !important; //#485AFA
    .mat-slider-thumb {
        background-color: $blue-page !important;
        border: none;
    }
    .mat-slider-track-fill {
        background-color: $blue-page;
    }
}

.form-keyword {
    .add-keyword-icon {
        color: $color-label;
        transition: width 2s;
        width: 20px !important;
    }
    .add-keyword-icon:hover {
        cursor: pointer;
        width: 30px !important;
    }
}

.basic-info-container {
    mat-form-field {
        @include form-padding();
    }
    .add-son-button {
        color: #485AFA
    }

    .color-round-picker {
        width: 37px;
        height: 37px;
        border-radius: 25px;
        border: 1px solid;
        transition: width 2s;
    }

    .color-round-picker:hover {
        width: 40px;
        height: 40px;
    }
}