.icon-color-error {
    color: #c70024;
}

.process-charge {
    margin: 0 1em;
}

.process-text{
  font-size: 25px !important;
  font-weight: 500 !important;
}

.process-success{
    color: green;
    font-size: 35px;
    width: 35px;
    height: 35px;
    padding: 0 1.5% 0 1.5%;
}

.size-dialog{
    max-height: 90%;
}
