<div class="main">
  <mat-list>
    <div class="head">
      <p>
        <strong>Factura: </strong>
        <span class="billingNumber">{{ data.billingNumber }}</span>
      </p>
      <p>
        <strong>Fecha de pago: </strong>
        <span class="paymentDate">{{ data.paymentDate | date}}</span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>local_shipping</mat-icon>
      <p mat-line>
        <strong>Cobro Movimiento: </strong>
        <span class="totalMovement">{{ data.fulfillment.totalMovement | currency: 'COP' }}</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>store</mat-icon>
      <p mat-line>
        <strong>Cobro Almacenamiento: </strong>
        <span class="totalStorage">{{ data.fulfillment.totalStorage | currency: 'COP' }}</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>local_atm</mat-icon>
      <p mat-line>
        <strong>Total Cobrado: </strong>
        <span class="billingTotal">{{ data.billingTotal | currency: 'COP' }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</div>