$size: 260%;
$gray: #757474;
$lightgray: lightgray;
$blue: #485AFA;
.logo {
    width: 100%;
    display: flex;
    .container-logo {
        background-color: #f4e000;
        border-radius: 500px;
        width: 80px;
        height: 80px;
        .material-icons {
            font-size: $size;
            display: contents;
        }
    }
    .seller {
        font-size: $size;
    }
    .point {
        font-size: $size;
        color: #a81a13;
        font-weight: bold;
    }
    .load-file-gray {
        font-size: $size;
        color: #787777;
        font-weight: 600;
    }
}

/* Default class applied to drop zones on over */

.invalid-drag {
    border: dotted 3px red;
}

.valid-drag {
    border: dotted 3px green;
}

.previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mat-dialog-actions {
    width: 100%;
    .mat-dialog-actions {
        width: 100%;
    }
    .inline-block {
        display: inline-block;
        width: 100%;
        .my-drop-zone {
            border: dashed 2px $lightgray;
            min-height: 150px;
            color: $gray;
            padding: 1em;
            cursor: pointer;
            mat-icon {
                font-size: 60px;
                height: 60px;
                width: 60px;
                color: $gray;
                margin: 0.2em;
                &.check{
                    color: green;
                }
            }
            .button-fake {
                border-radius: 4px;
                width: 150px;
                height: 37px;
                font-size: 12px;
                cursor: pointer;
                background-color: $blue;
                color: white;
            }
        }
    }
}