@media screen and (max-width: 600px) {
    .tree-title {
        width: 100%;
        text-align: center;
    }
    .search-container {
        width: 100%;
        padding: 0.4em;
    }
}

@media screen and (min-width: 600px) {
    .tree-title {
        width: 35%;
    }
    .search-container {
        width: 500px;
        padding: 0.4em;
    }
    .list-container {
        margin-top: 5em;
    }
    .agreement {
        margin: 2em;
    }
}


    .search-store {
        width: 150% !important;
    }


.ticket-toolbar {
    background-color: white;
    padding: 0px 32px;
    height: 45px !important;
    max-height: 45px;
    justify-content: space-between;
}

#widthTitileExc{
    width: 100%;
}