<div class="content-table">
  <div fxFlex="100%" class="toolbar-paginate">
    <mat-paginator class="paginator-style orders-paginate" itemsPerPageLabel="Items por pagina" #paginator [pageSize]="5" [length]="100"
      [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    <button fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" style="margin-left:20px" (click)="bulkLoad.resetVariableUploadFile()"
      id="clear-guide-button" color="primary" mat-raised-button>
      <span [innerHTML]="'Vuelve a cargar todas las ofertas'"></span>
    </button>
  </div>

  <mat-expansion-panel class="card-err-process" [expanded]="countErrors > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title-expansion-panel-table">
          <mat-icon>error</mat-icon>
          <span [innerHTML]="countRowUpload - 1"></span>
          <b [innerHTML]="' Registros encontrados, los siguientes cuentan con errores'"></b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container-table-errors">
      <table mat-table #table [dataSource]="bulkLoad.dataSource">

        <!-- EAN Column -->
        <ng-container matColumnDef="EAN" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>EAN</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorEan == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.EAN != undefined && element.EAN != ''">
              <p class="sc-text-normal">{{element.EAN}}</p>
            </div>
            <div class="information" *ngIf="element.EAN == undefined || element.EAN == ''">
              <p class="text-error"> Dato obligatorio
              </p>
            </div>
          </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="Stock">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Inventario</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorStock == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.Stock != undefined && element.Stock != ''">
              <p class="sc-text-normal">{{element.Stock}}</p>
            </div>
            <div class="information" *ngIf="element.Stock == undefined || element.Stock == ''">
              <p class="text-error"> Dato obligatorio
              </p>
            </div>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Precio</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorPrice == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.Price != undefined && element.Price != ''">
              <p class="sc-text-normal">{{element.Price}}</p>
            </div>
            <div class="information" *ngIf="element.Price == undefined || element.Price == ''">
              <p class="text-error"> Dato obligatorio
              </p>
            </div>
          </td>
        </ng-container>

        <!-- DiscountPrice Column -->
        <ng-container matColumnDef="DiscountPrice">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Precio con Descuento</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorDiscountPrice == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.DiscountPrice != undefined && element.DiscountPrice != ''">
              <p class="sc-text-normal">{{element.DiscountPrice}}</p>
            </div>
            <div class="information" *ngIf="element.DiscountPrice == undefined || element.DiscountPrice == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- AverageFreightCost Column -->
        <ng-container matColumnDef="AverageFreightCost">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Costo de Flete Promedio</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorAverageFreightCost == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.AverageFreightCost != undefined && element.AverageFreightCost != ''">
              <p class="sc-text-normal">{{element.AverageFreightCost}}</p>
            </div>
            <div class="information" *ngIf="element.AverageFreightCost == undefined || element.AverageFreightCost == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- PromiseDelivery Column -->
        <ng-container matColumnDef="PromiseDelivery">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Promesa de Entrega</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorPromiseDelivery == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.PromiseDelivery != undefined && element.PromiseDelivery != ''">
              <p class="sc-text-normal">{{element.PromiseDelivery}}</p>
            </div>
            <div class="information" *ngIf="element.PromiseDelivery == undefined || element.PromiseDelivery == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- IsFreeShipping Column -->
        <ng-container matColumnDef="IsFreeShipping">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Free Shipping</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorIsFreeShipping == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.IsFreeShipping != undefined && element.IsFreeShipping != ''">
              <p class="sc-text-normal">{{element.IsFreeShipping}}</p>
            </div>
            <div class="information" *ngIf="element.IsFreeShipping == undefined || element.IsFreeShipping == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- IsEnviosExito Column -->
        <ng-container matColumnDef="IsEnviosExito">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Indicador Envios Exito</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorIsEnviosExito == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.IsEnviosExito != undefined && element.IsEnviosExito != ''">
              <p class="sc-text-normal">{{element.IsEnviosExito}}</p>
            </div>
            <div class="information" *ngIf="element.IsEnviosExito == undefined || element.IsEnviosExito == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- IsFreightCalculator Column -->
        <ng-container matColumnDef="IsFreightCalculator">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Cotizador de Flete</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorIsFreightCalculator == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.IsFreightCalculator != undefined && element.IsFreightCalculator != ''">
              <p class="sc-text-normal">{{element.IsFreightCalculator}}</p>
            </div>
            <div class="information" *ngIf="element.IsFreightCalculator == undefined || element.IsFreightCalculator == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- Warranty Column -->
        <ng-container matColumnDef="Warranty">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Garantia</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorWarranty == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.Warranty != undefined && element.Warranty != ''">
              <p class="sc-text-normal">{{element.Warranty}}</p>
            </div>
            <div class="information" *ngIf="element.Warranty == undefined || element.Warranty == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- IsLogisticsExito Column -->
        <ng-container matColumnDef="IsLogisticsExito">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Logistica Exito</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorIsLogisticsExito == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.IsLogisticsExito != undefined && element.IsLogisticsExito != ''">
              <p class="sc-text-normal">{{element.IsLogisticsExito}}</p>
            </div>
            <div class="information" *ngIf="element.IsLogisticsExito == undefined || element.IsLogisticsExito == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <!-- IsUpdatedStock Column -->
        <ng-container matColumnDef="IsUpdatedStock">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Actualización de Inventario</p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorIsUpdatedStock == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.IsUpdatedStock != undefined && element.IsUpdatedStock != ''">
              <p class="sc-text-normal">{{element.IsUpdatedStock}}</p>
            </div>
            <div class="information" *ngIf="element.IsUpdatedStock == undefined || element.IsUpdatedStock == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>


        <!-- EanCombo Column -->
        <ng-container matColumnDef="EanCombo">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Ean Combo
              </p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorEanCombo == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.EanCombo != undefined && element.EanCombo != ''">
              <p class="sc-text-normal">{{element.EanCombo}}</p>
            </div>
            <div class="information" *ngIf="element.EanCombo == undefined || element.EanCombo == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>


        <!-- Cantidad en combo Column -->
        <ng-container matColumnDef="ComboQuantity">
          <th mat-header-cell *matHeaderCellDef>
            <div class="information th">
              <p>Cantidad en combo
              </p>
            </div>
          </th>
          <td mat-cell [ngClass]="{'selected-error': element.errorComboQuantity == true }" *matCellDef="let element">
            <div class="information" *ngIf="element.ComboQuantity != undefined && element.ComboQuantity != ''">
              <p class="sc-text-normal">{{element.ComboQuantity}}</p>
            </div>
            <div class="information" *ngIf="element.ComboQuantity == undefined || element.ComboQuantity == ''">
              <p class="text-error"> -
              </p>
            </div>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row [ngClass]="{'personal-row': row.errorRow == true}" id="order-{{row.EAN}}" *matRowDef="let index=index;let row; columns: displayedColumns;"
          class="personal-row element-row personal-row-tabl ">
        </mat-row>
      </table>
    </div>

  </mat-expansion-panel>

</div>