<p id="textCreateCategorization">
    Ahora debes categorizar el producto. Para hacer esto selecciona del árbol de categorías aquella que sea más
    apropiada
    para tu producto. Solo podrás seleccionar una subcategoría específica para el producto que estas creando, si
    necesitas
    buscar la subcategoría que necesitas utiliza el buscador ingresando el nombre y seleccionando de la lista
    desplegable.
</p>
<div fxLayout="row" fxLayoutAlign="center center" class="sticky-position">

    <form id="search-form" class="search mat-typography">
        <mat-form-field class="input-search" floatLabel=never>
            <!-- Icon search -->
            <mat-icon id="icon-search" class="icon-search" matPrefix>search</mat-icon>

            <!-- Input search -->
            <input id="input-search" class="search-input" type="search"
                [formControl]="searchCategory" matInput [matAutocomplete]="auto" placeholder="Buscar categoría" >
        </mat-form-field>

        <!-- Autocomplete -->
        <mat-autocomplete class="auto-complete" #auto="matAutocomplete" (optionSelected)="keyDownFunction($event.option.value)">
            <mat-option id="option-search-number-{{position}}" class="autocomplete-list"
                *ngFor="let option of filteredStates | async; let position = index" [value]="option.Name">
                <mat-icon>store</mat-icon>
                {{option.Name}}
            </mat-option>
        </mat-autocomplete>
    </form>
</div>
<app-list-categorization [searchText]="searchText" *ngIf="chargueList"></app-list-categorization>