$height-input: 25px;
$color-selected: #efeded;
::ng-deep .search {
    padding: 10px;
    background: #EFEDED;
    border: 1px solid #fff;
    height: $height-input;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    min-width: 40%;
    .mat-form-field-infix {
        top: -5px;
    }
}

::ng-deep .input-search {
    width: 100%;
    height: $height-input;
    font-size: 15px;
    & .mat-icon {
        margin-top: 15px;
        padding-left: 9px;
        color: #9E9E9E;
    }
    & .mat-input-prefix {
        width: 50px;
        height: $height-input;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .mat-input-suffix {
        width: 50px;
        height: $height-input;
        display: flex;
        position: absolute;
        right: 0px;
        align-items: center;
        justify-content: center;
    }
}

::ng-deep .autocomplete-list {
    & mat-icon {
        font-size: 21px;
        color: #9E9E9E;
    }
    & .mat-option-text {
        color: #757474;
        font-weight: bold;
        font-size: 14px;
    }
}

::ng-deep .mat-form-field-prefix {
    top: -1px;
}

::ng-deep .mat-form-field-wrapper {
    top: -14px;
}

::ng-deep .mat-form-field.input-search .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-infix .search-input {
    top: -7px;
    color: #000000;
    padding-left: 6px !important;
    font-size: 18px !important;
    font-family: Arial;
    padding: 0 !important;
}

@media screen and (max-width: 740px) {
    .search {
        min-width: 95%;
    }
}

.tree-categories {
    list-style-type: none;
    .tree-item {
        padding-top: 2px;
        color: #757474;
        &-father {
            color: black;
        }
    }
    .tree-item-categories {
        padding: 0.5em 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .tree-item-selected .tree-item {
        margin-left: 1em;
    }
    .tree-item-selected:hover {
        background-color: $color-selected;
        cursor: pointer;
    }
    .material-icons {
        cursor: pointer;
    }
    .selected-item {
        background-color: $color-selected;
        font-weight: bold;
    }
}

#textCreateCategorization {
    color: #757474;
    margin: 2% 0;
    line-height: 1.5em;
}

.tree-selected {
    background-color: $color-selected;
    font-weight: bold;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.sticky-position{
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    text-align: justify;
}