<div class="client-information-container" fxFlex="100" fxLayout="row wrap" fxFlexAlign="start center">
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin ">{{'secure.client_information.client' | I18N | async}}</p>
      <p class="client-data n-margin ">{{order.clientName}}
        <br> {{order.identificationCard}}
      </p>
    </div>
  </div>
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin">{{'secure.client_information.address' | I18N | async}}</p>
      <p class="client-data n-margin">{{order.clientAddress}}
    </div>
  </div>
  <div class="light-content" fxFlex.md="20" fxFlex.xs="100">
    <div class="content-information-client">
      <p class="client-information n-margin ">{{'secure.client_information.phone' | I18N | async}}</p>
      <p class="client-data n-margin">{{order.clientTelephone}}</p>
    </div>
  </div>
</div>
