.client-delivery-information-wrapper{
  background-color: #eAeAeA;
}
.client-information-container,
.delivery-information-container {
  padding-left: 54px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #eAeAeA;
}

.content-information-title{
  font-size: 13px;
  color: black;
  font-weight: 600;
}

.content-information-client,
.content-information-delivery {
  margin-top: 10px;
  display: inline-block;
  
  &.is-international{
    display: inline-flex;
  }
}

.client-information,
.delivery-information {
  color: black;
  font-weight: 600;
  font-size: 13px;
  width: auto;
}

.client-data,
.delivery-data {
  color: black;
  font-size: 13px;
  width: auto;
}

@media (max-width: 960px) {
  .client-information-container,
  .delivery-information-container {
    padding: 16px !important;
  }
}

.n-margin {
  margin: 0px;
}

.mr-5{
  margin-right: 5px;
}