<div class="content-order my-content">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="100" class="light-content">
      <!-- Toolbar para los dropdown de filtro de estado para las órdenes -->
      <app-toolbar-link fxShow.xs="false" fxShow.sm="false" fxShow.gt-lg="true" fxShow="true"></app-toolbar-link>
      <!-- Toolbar para los dropdown de filtro de estado para las órdenes -->
      <!-- Toolbar de las opciones para la orden -->
      <app-toolbar-options #toolbarOptions [informationToForm]="informationToForm" (OnGetOrdersList)="getOrdersList($event)" (OnChangeSizeOrderTable)="changeSizeOrderTable($event)"></app-toolbar-options>
      <!-- Toolbar de las opciones para la orden -->
    </div>

    <!-- Tabla de órdenes -->
    <div fxFlex.xs="93%" fxFlex.sm="95" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="content-table-orders">

      <!-- matSort: Permite filtrar la tabla por los titulos de las columnas -->
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- expand Column -->
        <ng-container matColumnDef="expand">
          <mat-header-cell fxFlex.lg="50px" fxFlex="70px" *matHeaderCellDef mat-sort-header>
          </mat-header-cell>
          <mat-cell fxFlex="70px" fxFlex.lg="50px" *matCellDef="let element;let index=index">
            <button id="expand-more-{{index}}" mat-icon-button>
              <mat-icon style="font-weight: bold;" color="primary">expand_more</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- bill Column -->
        <ng-container matColumnDef="bill">
          <mat-header-cell fxFlex.sm="120px" fxFlex.md="15%" fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"> Factura</span>
          </mat-header-cell>
          <mat-cell fxFlex.sm="120px" fxFlex.md="15%" fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-bold-order">{{ element.billingNumber }}</p>
          </mat-cell>
        </ng-container>

        <!-- numberOrder Column -->
        <ng-container matColumnDef="numberOrder">
          <mat-header-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"># pedido</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-normal bold">{{ element.orderNumber || '------' }}</p>
          </mat-cell>
        </ng-container>

        <!-- orderPayment Column -->
        <ng-container matColumnDef="orderPayment">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"># orden de pago</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-normal bold">{{ element.payOrderNumber || '------' }}</p>
          </mat-cell>
        </ng-container>

        <!-- concept Column -->
        <ng-container matColumnDef="concept">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"> Concepto</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-normal">{{ element.concept || '------' }}</p>
          </mat-cell>
        </ng-container>

        <!-- paymentDate Column -->
        <ng-container matColumnDef="paymentDate">
          <mat-header-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"> Fecha de pago </span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="false" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-date-content-table">{{ element.paymentDate | date }} </p>
          </mat-cell>
        </ng-container>

        <!-- commission Column -->
        <ng-container matColumnDef="commission">
          <mat-header-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header"> Comisi&oacute;n </span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-normal sc-commission-text">${{ element.commission | number }}</p>
          </mat-cell>
        </ng-container>

        <!-- valueToPay Column -->
        <ng-container matColumnDef="valueToPay">
          <mat-header-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header">Valor a pagar</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="false" fxShow.sm="true" fxShow.lg="true" fxShow.xl="true" fxShow="true" fxFlex.sm="120px" fxFlex.md="15%"
            fxFlex.lg="15%" fxFlex.xs="50%" *matCellDef="let element">
            <p class="sc-text-normal sc-valueToPay-text" *ngIf="element.concept === billingConcepts.marketplaceSale">
              ${{ element.billingTotal | number }}
            </p>
            <p class="sc-text-normal" *ngIf="element.concept === billingConcepts.logisticsExito">
              ------
            </p>
          </mat-cell>
        </ng-container>

        <!-- ImprimirRecibo Column -->
        <ng-container matColumnDef="detailOrder">
          <mat-header-cell fxShow.xs="true" fxShow.sm="true" fxShow.lg="false" fxShow.xl="false" fxShow="false" class="center-product-list"
            fxFlex.lg="110px" fxFlex.sm="110px" fxFlex.md="110px" fxFlex.xs="110px" *matHeaderCellDef mat-sort-header>
            <span class="title-table-header">Acciones</span>
          </mat-header-cell>
          <mat-cell fxShow.xs="true" fxShow.sm="true" fxShow.lg="false" fxShow.xl="false" fxShow="false" fxFlex.lg="130px" fxFlex.sm="140px"
            fxFlex.md="130px" fxFlex.xs="130px" *matCellDef="let element;let index=index;">
            <div class="center-product-list">
              <button id="dropdown-button-order-{{index}}" color="primary" (click)="stopPropagation($event)" class="sc-button-toolbar button-toolbar"
                mat-button [matMenuTriggerFor]="orderOptions">
                <mat-icon matPrefix>arrow_drop_down</mat-icon>
                <span>Acciones</span>
              </button>
              <mat-menu #orderOptions="matMenu">
                <button id="viewDetail-button-order-{{index}}" fxShow.xs="true" fxShow.sm="true" fxShow.gt-lg="false" fxShow="false" (click)="openModalDetailOrder(element)"
                  mat-menu-item>
                  <mat-icon>more_vert</mat-icon>
                  <span>Ver detalle</span>
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row id="order-{{index}}" *matRowDef="let index=index;let row; columns: displayedColumns;" matRipple class="element-row personal-row-table"
          [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
        </mat-row>
      </mat-table>

      <div [@detailExpand] class="orders-no-data" *ngIf="orderListLength">
        <mat-icon class="icon-not-found" color="primary">info</mat-icon>
        <p>No se han encontrado &oacute;rdenes
        </p>
        <button id="load-all-orders-button" (click)="getOrdersList()" mat-button color="primary">
          Cargar todas las &oacute;rdenes</button>
      </div>
    </div>

    <ng-template #tpl let-element>
      <div class="content-detail-order mat-row " [@detailExpand] style="overflow: hidden ">
        <div fxFlex="100" fxLayout="column">
          <!-- Product Information -->
          <app-billing-products-order *ngIf="element.concept === billingConcepts.marketplaceSale" [order]="element"></app-billing-products-order>
          <!-- Detail fulfillment -->
          <app-billing-fulfillment-detail *ngIf="element.concept === billingConcepts.logisticsExito" [data]="element"></app-billing-fulfillment-detail>
        </div>
      </div>
    </ng-template>

  </div>
</div>