<app-case-toolbar (eventFilter)="toggleFilter($event)"> </app-case-toolbar>
<mat-toolbar>
  <div class="prev-view">
    <a [routerLink]="['/securehome/seller-center/support-center']">
      <mat-icon>keyboard_arrow_left</mat-icon>Volver a reclamaciones</a
    >
  </div>
</mat-toolbar>

<div *ngIf="case$ | async as case" class="detail-content">
  <app-drop-down-list
    [data]="[case]"
    [configurations]="headerConfigurations"
  ></app-drop-down-list>

  <!--   <div
  class="detail-item"
  fxLayout="row"
  fxLayout.xs="row"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div
    class="detail-item--item-detail"
    fxFlex="5%"
    fxLayoutAlign="center center"
    class="no-select"
  >
    <span>
      <mat-icon>keyboard_arrow_up</mat-icon>
    </span>
  </div>
  <div class="detail-item--item-detail" fxFlex="10%">{{ case.id }}</div>
  <div class="detail-item--item-detail" fxFlex="15%">0987654</div>
  <div class="detail-item--item-detail" fxFlex="10%">Petición</div>
  <div class="detail-item--item-detail" fxFlex="30%">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quia
      deleniti, enim minima distinctio impedit architecto commodi mollitia
      ratione a rem esse, dignissimos repudiandae possimus cum!
    </p>
  </div>
  <div class="detail-item--item-detail" fxFlex="15%">
    11/02/2019
  </div>
  <div class="detail-item--item-detail" fxFlex="10%">
    Pendiente
  </div>
  <div class="detail-item--item-detail" fxFlex="10%">
    <mat-icon>question_answer</mat-icon>
  </div>
</div>

  <div
    class="detail-history"
    fxLayout="row"
    fxLayout.xs="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div fxFlex="5%">&nbsp;</div>
    <app-conversation-card xFlex="95%"></app-conversation-card>
  </div> -->
</div>

<div
  [ngClass]="
    filter ? 'support-center-case__filter-container' : 'hidden-content'
  "
>
  <div
    [@slideInOut]="menuState"
    [ngClass]="filter ? 'support-filter' : 'hidden-content'"
  >
    <app-case-filter
      (eventFilter)="toggleFilter($event)"
      [stateFilter]="filter"
      [options]="options"
    ></app-case-filter>
  </div>
</div>
