.title-toolbar {
  // color: #ed812b;
  // text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
  width: 200px;
  white-space: normal !important;
  line-height: 24px;
  font-weight: bold;
}

.content-profile {
  box-shadow: none !important;
  & mat-card-content {
    height: 100%;
  }
  @media only screen and (max-width: 600px) {
    margin-top: 15%;
  }
}

.search-form {
  & mat-icon {
    margin-right: 20px;
  }
}

.toolbar-title-search {
  padding-left: 0px;
}
