<ng-container *ngIf="canRead">
  <div class="header__wrapper">
    <!-- <div>{{'secure.parametize.category.categories.exception'| translate}}</div> -->
    <div>{{'secure.parametize.category.categories.exception' | translate}}</div>
    <div *ngIf="canUpdate" fxShow="true" [fxShow.xs]="false">
      <button mat-stroked-button color="primary" (click)="openDialog('create')">{{'secure.parametize.commission.add' | translate}}</button>
    </div>
    <div fxShow="false" [fxShow.xs]="true" *ngIf="canUpdate">
      <button mat-stroked-button color="primary" (click)="openDialog('create')">{{'actions.add'| translate}}</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="example-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef> {{'shared.brand' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.Brand}} </td>
        </ng-container>

        <ng-container matColumnDef="Commission">
          <th mat-header-cell *matHeaderCellDef> {{'shared.commission' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.Commission}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="options">
              <button mat-icon-button [matTooltip]="'actions.edit' | translate" (click)="openDialog('edit', element)">
                <mat-icon>
                  edit
                </mat-icon>
              </button>
              <button mat-icon-button [matTooltip]="'actions.delete' | translate" (click)="deleteElement(element)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <ng-template #dialogContent>

    <div class="full-width">
      <form [formGroup]="typeForm" class="full-width justify-content-center dis-flex">
        <mat-form-field class="half-width">
          <mat-label>Tipo de excepción</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of typeException" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

    </div>

    <form class="full-width space-between" [formGroup]="form" *ngIf="typeForm.get('type').value">
      <mat-form-field class="half-width">
        <input matInput [placeholder]="'shared.brand' | translate" [matAutocomplete]="auto" formControlName="Brand" id="brandProduct" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let brand of filterBrands" [value]="brand.Name">
            {{brand.Name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('Brand').hasError('required')">{{'secure.products.create_product_unit.basic_information.input_mandatory' | translate}}</mat-error>
        <mat-error *ngIf="form.get('Brand').hasError('pattern')">{{'secure.products.create_product_unit.basic_information.brand_invalidate' | translate}}</mat-error>
        <mat-error *ngIf="form.get('Brand').hasError('minLength')">{{'secure.products.create_product_unit.basic_information.brand_invalidate' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput required id="exception" type="number" placeholder="Comisión" autocomplete="false"
          formControlName="Commission">
        <mat-error *ngIf="form.get('Commission').hasError('pattern') || form.get('Commission').hasError('trim')">{{'error.exception_brand.number_int' | translate}}</mat-error>
        <mat-error *ngIf="form.get('Commission').hasError('max')">{{'error.exception_brand.max_error' | translate}}</mat-error>
        <mat-error *ngIf="form.get('Commission').hasError('min')">{{'error.exception_brand.min_error' | translate}}</mat-error>
        <button mat-button mat-icon-button matSuffix *ngIf="!form.value.Id" [disabled]="!form.valid"
          (click)="addBrand()">
          <!-- <button mat-button mat-icon-button matSuffix 
          (click)="addBrand()"> -->
          <mat-icon>
            add_circle_outline
          </mat-icon>
        </button>
      </mat-form-field>
    </form>
    <ng-container *ngIf="selectedBrands.length > 0">
      <table mat-table [dataSource]="selectedBrandsSources">
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.Brand}} </td>
        </ng-container>

        <ng-container matColumnDef="Commission">
          <th mat-header-cell *matHeaderCellDef> Comisión </th>
          <td mat-cell *matCellDef="let element"> {{element.Commission}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsInModal;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInModal;"></tr>
      </table>
    </ng-container>
  </ng-template>
</ng-container>