<div class="case-list-content">
  <mat-accordion class="case-list-expandable">
    <mat-expansion-panel
      [expanded]="isOpen"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <div
          [ngClass]="read ? '' : 'bold-text'"
          class="case-list-detail"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0"
        >
          <div
            class="case-list-detail--item-detail"
            fxFlex="5%"
            fxLayoutAlign="center center"
            class="no-select"
          >
            <span
              [ngClass]="
                !panelOpenState
                  ? 'item-detail-arrow'
                  : 'item-detail-arrow--active'
              "
            >
              <mat-icon>keyboard_arrow_up</mat-icon>
            </span>
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">
            {{ data.caseNumber }}
          </div>
          <div class="case-list-detail--item-detail" fxFlex="15%">
            {{ data.orderNumber }}
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">
            {{ data.reasonPQR }}
          </div>
          <div class="case-list-detail--item-detail" fxFlex="30%">
            <p>{{ data.reasonDetail }}</p>
          </div>
          <div class="case-list-detail--item-detail" fxFlex="15%">
            {{ data.createDate | dateNoGtm | date }}
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">
            {{ data.status }}
          </div>
          <div class="case-list-detail--item-detail" fxFlex="10%">
            <mat-icon>question_answer</mat-icon>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let item of items">
        <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
