<div class="ticket-content__item ticket-history">
  <span class="ticket-content__title ticket-content__title--bottom-space"
    >Seguimiento
  </span>
  <small>Febrero 28 de 2019</small>
  <div class="card-history">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, soluta.
      Deleniti culpa voluptate quidem iste non at rem nisi deserunt dolorum
      dignissimos nulla, similique recusandae sequi soluta asperiores dolor
      reiciendis.
    </p>
    <div class="by-ticket">
      <small>Miguel Arango - Asesor Seller Center</small>
    </div>
  </div>
  <div class="ticket-history__controls">
    <button (click)="openDialog()" class="mat-raised-button">
      RESPONDER
    </button>
  </div>
</div>
