<div class="ticket-history">
  <span class="ticket-history__title ticket-history__title--bottom-space"
    >Seguimiento
  </span>
  <span
    class="ticket-history__small-text ticket-history__small-text--bottom-space"
  >
    Febrero 28 de 2019
  </span>

  <div class="ticket-history__content">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, soluta.
      Deleniti culpa voluptate quidem iste non at rem nisi deserunt dolorum
      dignissimos nulla, similique recusandae sequi soluta asperiores dolor
      reiciendis.
    </p>
    <span class="ticket-history__small-text">
      Miguel Arango - Asesor Seller Center
    </span>
  </div>
</div>
