.excellent {
    background-color: #66b53e;
  }

  .acceptable{
    background-color:#f0ea35 ;
  }

  .deficient {
    background-color:  #de2d2d;
  }

  .default {
    background-color: #cac9c9;
  }

  .calification-list-padding-info-seller{
    padding-bottom: 10px;
  }

  .calification-list-containter-details{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
  }

  .calification-list-container-details-header{
    height: 60px;
    display: flex;
    align-items: center
  }

  .calification-list-result-by-seller{
    padding:  0 10px 0 10px;
  }