
.detail-calification{
  &-padding{
    padding-top: 15px;
  }
  &-container-height{
    height:390px;
    margin-top: 48px;
  }
  &-container-height-complete{
    height: 100%;
  }
  &-container-width-complete{
    width: 100%;
  }
  &-container-center-vertical{
    vertical-align: middle;
  }
  &-container-text-bold{
    font-weight: bold;
  }
  &-container-text-color{
    color: #545353;
  }
  &-container-arrow-Back-color{
    color: #5d5d5d;
  }
  &-container-background-color-details-panel-tr{
    background-color: #dde3f2;
  }

  &-container-color-details-panel{
    color:#5D5D5D;
  }
  &-container-text-color-size{
    color: #9e9e9e;
    font-size: 14px
  }
  &-container-table-info-seller{
    background-color: #ffffff;
    height: 45px;
    display: table;
  }
  &-container-table-info-seller-icon-seller{
    padding-left: 11px;
    color: #5D5D5D;
    font-size: 17px;
    vertical-align: middle;
    display: table-cell;
  }
  &-container-table-info-seller-icon-seller-aling-center{
    vertical-align: middle;
  }
  &-container-aling-center{
    text-align: center;
  }
  &-container-table-info-seller-detail{
    height: 86%;
    width: 100%;
  }
  &-container-table-info-seller-detail-size-container{
    height: 55%;
    width: 100%;
  }
  &-container-table-info-seller-detail-description{
    height: 55%;
    width: 100%;
  }
  &-container-table-info-seller-detail-description-icon{
    font-size: 160px;
    height:160px;
    width: 160px;
    color: #dadada;
  }

  &-container-table-info-penalty{
    background-color: #ffffff;
    height: 45px;
    display:table;
  }
  &-container-table-info-icon{
    padding-left: 11px;
    color: #5D5D5D;
    font-size: 17px;
    vertical-align: middle;
    display: table-cell;
  }
  &-container-table-info-icon-align{
    vertical-align: middle;
  }

  &-container-table-info-column-penalty{
    padding: 5px 5px;
     background-color: #ececec;
  }
  &-container-table-info-column-penalty-cancel{
    padding: 7px 5px;
    margin-top: 11px;
  }
  &-container-table-info-column-penalty-total{
    padding: 6px 5px;
    color: #545353;
    background-color: #e4e2e2;
    border: 1px solid #dbdada;
  }
  &-container-table-info-column-penalty-total-text{
    font-weight:bold; 
    color:#545353
  }

  &-container-table-info-calication-get{
    background-color: #ffffff;
    height: 45px;
    display: table;
  }
  &-container-table-info-calication-get-row{
    padding-left: 11px;
    color: #5D5D5D;
    font-size: 17px;
    vertical-align: middle;
    display: table-cell;
  }
  &-container-table-califications-promise-delivery-size{
    height: 25%;
    max-width: 100%;
  }
  &-container-table-califications-column-promise-delivery{
    color: #545353;
    background-color:#e4e2e2;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 11px;
    padding-bottom: 5px;
    padding-top: 5px;
     border: 1px solid rgb(219, 218, 218)
  }
  &-container-table-califications-column-text{
    color:#9e9e9e;
    font-size: 14px;
    text-align: center;
  }
  &-container-table-calification-column-result{
    padding-left:5px;
    padding-right: 5px;
    border: 1px solid rgb(219, 218,218);
    margin-left: 5px;
    margin-right: 5px;
    border-top:hidden;
  }
  &-container-table-calification-column-result-text{
    text-align: center;
    color: #717171;
  }

  &-container-table-calification-column-title-reclaim{
    color:#9e9e9e;
    padding-bottom: 5px;
    padding-top:5px;
    font-size: 14px;
    width: 113px
  }

  &-container-result-reclaim-row{
    padding-left:5px;
    padding-right: 5px;
    border: 1px solid rgb(219, 218,218);
    margin-left: 5px;
    margin-right: 5px;
    border-top: hidden;
  }

  &-container-table-cancelation-result{
    text-align: center;
    color: #9e9e9e;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
  }

  &-container-table-result-total{
    color: #545353;
    background-color:#e4e2e2;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 11px;
    padding-bottom: 7px;
    padding-top: 5px;
    border: 1px solid rgb(219, 218, 218);
    margin-top: 12px;
  }

&-container-result-total-calification{
  margin-right: 27px;
  font-weight: bold;
}
&-container-details-background-color{
  background-color: #f6f5f5;
}
}



.excellent {
    background-color: #66b53e;
  }

  .acceptable{
    background-color:#f0ea35 ;
  }

  .deficient {
    background-color:  #de2d2d;
  }
  .delete {
    cursor: pointer;
    color: #de2d2d;
    text-align: center;
  }

  .default {
    background-color: #cac9c9;
  }

  .calification-list-padding-info-seller{
    padding-bottom: 10px;
  }

  .calification-list-containter-details{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
  }

  .calification-list-container-details-header{
    height: 60px;
    display: flex;
    align-items: center
  }

  .calification-list-result-by-seller{
    padding:  5px 10px 5px 10px;
  }

  .detail-calification-column-row{
    flex-direction: row;
    box-sizing:border-box;
    display: flex;
    background-color:#FFFFFF;
    margin-left: 5px;
     margin-right: 5px;border: 1px solid rgb(219, 218, 218);
  }

  .detail-calification-column-generate-shipping {
    color:#9e9e9e;
    padding-bottom: 5px;
    padding-top:5px;
    font-size: 14px;
    width: 126px
  }

  .detail-calification-column-completed-shipping{
    color: #9e9e9e;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
     width: 147px
  }

  .detail-calification-column-percent{
    color:#9e9e9e;
    padding-bottom: 5px;
    padding-top:5px;
    font-size: 14px;
    width: 113px
  }
  .detail-calification-column-style{
    color:#9e9e9e;
    padding-bottom: 5px;
    padding-top:5px;
    font-size: 14px;
  }

  .calification-toolbar{
    border-bottom: 0.001em solid #D3D3D3;
    padding: 0 25px;
    position: fixed;
    z-index: 2;
    background-color: white;
    height: 70px;
    width: 97%;
  }