<div style="padding: 20px;">
    <app-toolbar-search-pagination [informationToForm]="informationToForm"
        #toolbarOptions [lengthOrder]="null" [btnFilter]="btnFilter"
        [showContainerDetail]="showContainerDetail"
        [btnDownload]="btnDownload" [Typeprofile]="_Typeprofile"
        [isFullSearch]="isFullSearch"
        [showContainerDetail]="_showContainerDetail"
        [showSearchSeller]="showSearchSeller">
    </app-toolbar-search-pagination>
    <app-quality-indicators [idSeller]="idSeller"></app-quality-indicators>
</div>



