<div class="edit-module" *ngIf="!showSuccess">

<div fxLayout="row" fxLayoutAlign="end end"><mat-icon class="material-icons close" (click)="close()"> close </mat-icon></div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="container-icon" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="material-icons"> add </mat-icon>
    </div>
  </div>

  <h2 class="center-text bold" mat-dialog-title>
    {{ "school.exito.create.module.create.module" | translate }}
  </h2>

  <p>
    {{ "school.exito.create.module.create.module.description" | translate }}
  </p>

  <form
    [formGroup]="createModule"
    class="form-add"
    (ngSubmit)="createModules()"
  >
    <div mat-dialog-content class="form-container">
      <div
        fxLayout="row"
        class="w-100"
        fxLayout.xs="column"
        fxLayoutAlign="space-between start"
      >
        <div class="container-form" fxLayout="column">
          <mat-form-field class="input-add">
            <input
              matInput
              formControlName="moduleName"
              placeholder="Nombre del módulo"
              (keydown)="changeValueModuleName()"
            />
            <mat-error
              *ngIf="createModule.get('moduleName').hasError('required')"
              >{{ "errors.required" | translate }}</mat-error
            >
          </mat-form-field>

          <p>
            <b>{{
              "school.exito.create.module.create.submodules" | translate
            }}</b>
          </p>

          <mat-form-field class="input-add">
            <input
              matInput
              formControlName="subModuleName"
              placeholder="Nombre del submódulo"
              (keydown)="changeValue()"
            />
            <mat-error
              *ngIf="createModule.get('subModuleName').hasError('required')"
              >{{ "errors.required" | translate }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <app-upload-file
          [manualName]="'school.exito.uploadfile.esp' | translate"
          (sendFileEvent)="addFileEsp($event)"
          (validateOneFileEvent)="onefileEsp($event)"
          [files]="filesEsp"
        ></app-upload-file>
        <app-upload-file
          [manualName]="'school.exito.uploadfile.ing' | translate"
          (sendFileEvent)="addFileIng($event)"
          [files]="filesIng"
        ></app-upload-file>
      </div>

      <div fxLayout="row" fxLayoutAlign="end start">
        <button
          mat-stroked-button
          class="btn-transparent"
          type="button"
          id="btn-create-transporter"
          color="primary"
          (click)="addSubmodule()"
          [disabled]="activeAddSubmodule || oneEspFile"
        >
          {{ "school.exito.create.module.create.module.add" | translate }}
        </button>
      </div>

      <span class="chip-list">
        <mat-chip-list #chipList>
          <span *ngFor="let submodule of module">
            <mat-chip
              *ngFor="let items of submodule.SubModules"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(items)"
            >
              {{ items.SubModuleName }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </span>
        </mat-chip-list>
      </span>

      <!-- CONTAINER BUTTON TO ADD NEW SPECIFICATION GROUP -->
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-stroked-button
        class="btn-transparent"
        type="button"
        id="btn-create-transporter"
        color="primary"
        (click)="close()"
      >
        {{ "actions.cancel" | translate }}
      </button>
      <button
        id="btn-create-transporter"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="activeSave"
      >
        {{ "actions.save" | translate }}
      </button>
    </div>
  </form>
</div>
<div *ngIf="showSuccess">
  <div>
    <div class="container-header">
      <ng-container >
        <div class="container-icon-success">
          <mat-icon>
           done
          </mat-icon>
        </div>
      </ng-container>
      <ng-container class="title-container">
        <!-- <h1 mat-dialog-title><strong>El producto se ha eliminado correctamente</strong></h1> -->
      </ng-container>
    </div>
    <mat-dialog-actions class="margintTopDeleteButton container__btn">
      <button id="btn-close"  type="button" class="btn-close"  color="primary" (click)="onNoClick()">Cerrar</button>
    </mat-dialog-actions>
  </div>
</div>
</div>
