<mat-card class="example-card">
  <div class="container-card-img flexbox align-center justify-center">
    <img mat-card-image src="https://d2dctyer3ngjhx.cloudfront.net/images/products/002/MP02730000000002/SKUMP02730000002_bg_a.jpg">
  </div>
  <mat-card-content>
    <div>
      <p>
        EAN: 1234567890
      </p>
      <h3>
        Titulo de la imagen
      </h3>
    </div>

    <div>
      <h5>
        Fecha de creación: 22/08/2018
      </h5>
      <h5>
        Fecha de modificación: 22/08/2018
      </h5>
    </div>

  </mat-card-content>
</mat-card>
