<div *ngIf="false" style="text-align: center;
    font-size: 22px;
    margin: 5% 10%;
    height: 100%;" fxFlex="row">
  <iframe
    src="https://vignette.wikia.nocookie.net/gemas/images/b/b1/Gear1.gif/revision/latest?cb=20151201164022&path-prefix=es"
    width="200" height="146" frameBorder="0"></iframe>
  <p>
    "Estamos trabajando para mostrarte una información mas detallada, muchas gracias por tu paciencia.
    Puedes ingresar al resto de los m&oacute;dulos a trabajar. "
  </p>
</div>
<div class="dashboard">
  <div class="dashboard__content">
      <div style="border: 1px solid #f0f0f0; border-radius: 7px;">
          <div fxLayout="column" style="height: 50px;" class="dashboard-component-container-border-color">
            <div fxLayout="row" >
                <div fxFlex="80" style="padding-top: 15px">
                  {{'secure.orders.orders' | translate}}
                </div>
                <div fxFlex="20">
                  <mat-form-field>
                    <mat-select>
                      <mat-option *ngFor="let period of periodsES" [value]="period.value">
                        {{period.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
          </div>
          <div fxLayout="column" style="height: 200px; margin-top: 15px;">
            <div fxLayout="row">
                <div fxFlex="40">
                  <div fxLayout="column" fxLayoutAlign=" none">
                      <div class="dashboard-component-aling-center">
                        <div>
                          {{'secure.dashboard.all' | translate}}
                        </div>
                        <div>
                          {{orders?.all | number}}
                        </div>
                      </div>
                      <div>
                        <div fxLayout="row">
                          <div fxFlex="35" class="dashboard-component-aling-center">
                            <div fxLayout="column">
                              <div>{{'secure.dashboard.in_transit' | translate}}</div>
                              <div><mat-icon class="mat-18" style="vertical-align: bottom;">local_shipping</mat-icon>{{orders?.pending | number}}</div>
                            </div>
                          </div>
                          <div fxFlex="35" class="dashboard-component-aling-center">
                            <div fxLayout="column">
                              <div>{{'secure.dashboard.delievered' | translate}}</div>
                              <div> <mat-icon class="mat-18" style="vertical-align: bottom;">check_circle_outline</mat-icon>{{orders?.delivered | number}}</div>
                            </div>
                          </div>
                          <div fxFlex="30" class="dashboard-component-aling-center">
                            <div fxLayout="column">
                              <div>{{'secure.dashboard.expired' | translate}}</div>
                              <div><mat-icon class="mat-18" style="vertical-align: bottom;">highlight_off</mat-icon>{{orders?.expired | number}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div fxFlex="60" style="background-color: chartreuse;"></div>
            </div>
          </div>
      </div>
      <div>2</div>

    <!-- <div fxLayout="column"  style="display: inline-block; width: 100%;">
      <div style="height: 50px;">
        <div fxLayout="row">
          <div fxFlex="80">
            <h3 class="orders__title">{{'secure.orders.orders' | translate}}</h3>
          </div>
          <div fxFlex="20">
            <mat-form-field>
              <mat-select>
                <mat-option *ngFor="let period of periodsES" [value]="period.value">
                  {{period.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">
              <div style="background-color: darkgreen;">
                <div fxLayout="column">
                    <div>1</div>
                    <div>2</div>
                </div>

              </div>
          </div>
          <div fxFlex="60">2</div>
        </div>
      </div>
    </div>
    <div fxLayout="column">
        <div fxFlex="100"> asdasd</div>

    </div> -->

    <!-- Orders table -->
    <!-- <div class="dashboard__orders orders">
      <div class="orders__header">
        <h3 class="orders__title">{{'secure.orders.orders' | translate}}</h3>
      </div>
      <div class="orders__body">
        <div class="orders__row">
          <div class="orders__colum">
            <div class="orders__cell orders__cell--title">
              {{'secure.dashboard.all' | translate}}
            </div>
            <div class="orders__cell">
              <span class="orders__icon-box">
                <svg class="orders__icon" aria-hidden="true" data-prefix="fas" data-icon="check-square" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M400
                  480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48
                  48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48
                  48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379
                  0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628
                  0L184
                  302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628
                  0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104
                  104c6.249 6.25 16.379 6.25 22.628.001z"></path>
                </svg>
              </span>
              {{orders?.all | number}}
            </div>
          </div>

          <div class="orders__colum">
            <div class="orders__cell orders__cell--title">
              {{'secure.dashboard.in_transit' | translate}}
            </div>
            <div class="orders__cell">
              <span class="orders__icon-box">
                <svg class="orders__icon" aria-hidden="true" data-prefix="fas" data-icon="truck" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0
                640
                512">
                  <path fill="currentColor" d="M624
                  352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494
                  110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H48C21.5
                  0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h16c0 53 43 96 96
                  96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0
                  16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5
                  0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48
                  48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48
                  48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"></path>
                </svg>
              </span>
              {{orders?.pending | number}}
            </div>
          </div>

          <div class="orders__colum">
            <div class="orders__cell orders__cell--title">
              {{'secure.dashboard.delievered' | translate}}
            </div>
            <div class="orders__cell">
              <span class="orders__icon-box">
                <svg class="orders__icon" aria-hidden="true" data-prefix="far" data-icon="check-circle" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512
                512">
                  <path fill="currentColor" d="M256 8C119.033 8 8 119.033 8
                  256s111.033 248 248 248 248-111.033 248-248S392.967 8 256
                  8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451
                  200-200 200-110.532 0-200-89.451-200-200 0-110.532
                  89.451-200 200-200m140.204
                  130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346
                  303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719
                  22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781
                  91.516c4.667 4.705 12.265 4.736
                  16.97.068l172.589-171.204c4.704-4.668
                  4.734-12.266.067-16.971z"></path>
                </svg>
              </span>
              {{orders?.delivered | number}}
            </div>
          </div>

          <div class="orders__colum">
            <div class="orders__cell orders__cell--title">
              {{'secure.dashboard.expired' | translate}}
            </div>
            <div class="orders__cell">
              <span class="orders__icon-box">
                <svg class="orders__icon" aria-hidden="true" data-prefix="far" data-icon="times-circle" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0
                512
                512">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111
                  248
                  248 248 248-111 248-248S393 8 256 8zm0 448c-110.5
                  0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5
                  200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7
                  12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256
                  295.6l-62.2
                  62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3
                  0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3
                  0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2
                  62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3
                  0
                  17z"></path>
                </svg>
              </span>
              {{orders?.expired | number}}
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Sells -->
    <!-- <div class="dashboard__sales sales">
      <div class="sales__header">
        <h3 class="sales__title">{{'secure.dashboard.sales' | translate}}</h3>
      </div>
      <div class="sales__body">
        <div class="sales__date-box">
          <div class="sales__false-dp-box" (click)="openDatePicker()">
            <label class="sales__month" for="" (click)="openDatePicker()">{{visibleDate}}</label>
            <span class="sales__icon-box" (click)="openDatePicker()">
              <svg aria-hidden="true" data-prefix="far" data-icon="calendar-alt"
                class="sales__icon svg-inline--fa fa-calendar-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z">
                </path>
              </svg>
            </span>
          </div>
          <mat-form-field style="display: none" class="sales__date">
            <input [value]="visibleDate" [(ngModel)]="startDate" [readonly]="true" [max]="dateMax" matInput
              [matDatepicker]="picker" [placeholder]="'secure.dashboard.selected_months' | translate"
              (click)="openDatePicker()">
            <mat-datepicker-toggle matSuffix [for]="picker">
              {{'secure.dashboard.selected_months' | translate}}</mat-datepicker-toggle>
            <mat-datepicker touchUi #picker startView="year" [startAt]="startDate"
              (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="!isLoading">
          <div class="sales__graph-box">
            <div class="sales__graph graph">
              <div class="graph__content">
                <div class="graph__table">
                  <div *ngFor="let colum of last_sales" class="graph__bar-box">
                    <div class="graph__value">${{colum.value | number}}</div>
                    <div class="graph__bar" [style.minHeight]="colum.percent">
                      <div class="graph__label">{{colum.monthName}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="graph__info">
                <p>
                  {{'secure.dashboard.info_cancel_sale' | translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading">
          <div>
            <mat-spinner [diameter]="40" style="margin-left: 48%; margin-right: 55%;"></mat-spinner>
            <p class="loading-waiting">
              {{'secure.products.create_product_unit.list_products.please_wait' | translate}}</p>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
