$mobile-break: 666px;
$table-break: 900px;

.dashboard {
  &__content {
    padding: 3em 5%;
    margin-bottom: 3em;
  }

  &__sales {
    margin-top: 3em;
  }
}

.orders {
  $self: &;

  &__title {
    font-size: 18px;
  }

  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #D3D3D3;

    @media only screen and (max-width: $mobile-break) {
      border-top: none;
    }
  }

  &__colum {
    font-size: 22px;
    width: 25%;
    min-width: 250px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &:nth-child(1) {
      #{$self}__icon-box {
        color: #9E9E9E;
      }
    }

    &:nth-child(2) {
      #{$self}__icon-box {
        color: #FFDA10;
      }
    }

    &:nth-child(3) {
      #{$self}__icon-box {
        color: #34B72D;
      }
    }

    &:nth-child(4) {
      #{$self}__icon-box {
        color: red;
      }
    }

    @media only screen and (max-width: $mobile-break) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-width: 100%;
      border-top: 1px solid #D3D3D3;
      border-bottom: none;
    }
  }

  &__cell {
    text-align: start;
    padding: 1.5em 0;

    &--title {
      color: #757474;
      font-size: 12px;
    }

    &:nth-child(1) {
      border-top: 1px solid #D3D3D3;
      border-bottom: 1px solid #D3D3D3;

      @media only screen and (max-width: $mobile-break) {
        border-bottom: none;
        border-top: none;
      }
    }

    &:nth-child(2) {
      @media only screen and (max-width: $mobile-break) {
        border-top: none;
        margin-left: auto;
      }
    }

    @media only screen and (max-width: $mobile-break) {
      padding: .8em 0;
    }

  }

  &__icon {
    width: 18px;
    height: 20px;

    &-box {
      margin-right: 20px;
    }
  }
}

.sales {
  &__title {
    @media only screen and (max-width: $mobile-break) {
      margin: .4em 0;
    }
  }

  &__body {
    margin-top: .6em;
  }

  &__date {
    width: 25%;
    max-width: 400px;

    @media only screen and (max-width: $table-break) {
      width: 50%;
      max-width: initial;
    }

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      max-width: initial;
    }

  }

  &__graph {
    &-box {
      margin-top: 1.6em;
    }
  }
}

.graph {
  $self: &;

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 2em;
    border-left: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    height: 260px;
  }

  &__table {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  &__value {
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 14px;

    @media only screen and (max-width: $mobile-break) {
      font-size: 9px;
      margin-bottom: .8em;
    }
  }

  &__bar {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    position: relative;

    &-box {
      max-width: 150px;
      min-width: 45px;
      height: 100%;
      width: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;

      &:nth-child(1) {
        #{$self}__bar {
          background-color: #FFA600;
        }
      }

      &:nth-child(2) {
        #{$self}__bar {
          background-color: #FFC10C;
        }
      }

      &:nth-child(3) {
        #{$self}__bar {
          background-color: #FFD54F;
        }
      }
    }
  }

  &__label {
    position: absolute;
    bottom: -2.5em;
    text-align: center;
    width: 100%;
    font-weight: bold;

    @media only screen and (max-width: $mobile-break) {
      font-size: 12px;
    }
  }

  &__info {
    text-align: center;
    font-size: 14px;
    color: #909090;
    margin-top: 6em;
  }
}
