$mobile-break: 666px;
$table-break: 900px;

.dashboard {
  &__content {
    padding: 3em 5%;
  }

  &__advertisements-orders {
    display: flex;
    width: 100%;

    @media only screen and (max-width: $mobile-break) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__advertisements {
    width: 35%;
    height: 709px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 7px;

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }

  &__orders {
    margin-left: 1%;
    background-color: white;
    width: 65%;
    height: 709px;
    border: 1px solid #dadada;
    border-radius: 7px;

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }

  &__sales {
    margin-top: 1%;
    background-color: white;
    width: 100%;
    height: auto;
    border: 1px solid #dadada;
    border-radius: 7px;

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }

  &__indicators {
    margin-top: 1%;
    background-color: white;
    width: 100%;
    height: auto;
    border: 1px solid #dadada;
    border-radius: 7px;

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }

  &__quality {
    margin-top: 1%;
    background-color: white;
    width: 100%;
    height: auto;
    border: 1px solid #dadada;
    border-radius: 7px;

    @media only screen and (max-width: $mobile-break) {
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }
}
