<div class="my-content">
  <div class="toolbar-style">
    <mat-toolbar color="accent" class="error-page">
      <span>La pagina solicitada no ha sido encontrada</span>
      <a [routerLink]="['/ingresar']" mat-button color="primary">Ir a inicio</a>
    </mat-toolbar>
  </div>
</div>
<!-- <div class="in-process">
    <mat-icon class="icon-in-process" color="primary">signal_wifi_off</mat-icon>
    <p>En desarrollo...</p>
    <button [routerLink]="['/home']" mat-button color="primary">
      Ir a inicio</button>
  </div>
   -->
