.example-form {
  // min-width: 150px;
  //  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
  margin-top: 4%;
  margin-bottom: 22%;
  height: 28px;
  box-shadow: none;
}

.createImagenPU {
  width: 96px;
  height: 88px;
  color: #D3D3D3;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 3%;
}
#textCreateImage {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4% 8% 4% 8%;
}

.distancedivImage{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.barraImages{
  display: flex;
}

