<div>
  <p id="textCreateEan">
    En esta sección deberás ingresar las URL de imagen correspondientes para el producto a crear.
    Puedes ingresar hasta 5 vistas del producto pero la única que es obligatoria es la imagen 1.
    Recuerda que si tu producto no es variante la imagen debe ser de 1000x1000 pixeles en formato .jpg,
    y si tu producto es variante la imagen debe ser de 733x1000 pixeles en formato .jpg.
    Si tu producto es variante tambien debes ingresar como mínimo una imagen para cada hijo.
  </p>
</div>
<div>
  <form #createImageProductEan="ngForm" [formGroup]="createImage" class="example-form">
    <table cellspacing="2" fxLayout="row" fxFlex="20%" fxLayout.xs="column">
      <tr>
        <td>
          <mat-card class="createImagenPU">
            <img mat-card-image [src]="netImage">
          </mat-card>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="imageDad" value="URL">
            <mat-error  *ngIf="createImage.get('imageDad').hasError('required')" >La primera imagen es obligatoria</mat-error>
          </mat-form-field>
        </td>
     
        <td>
          <mat-card class="createImagenPU">
            <img mat-card-image src="">
          </mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-card class="createImagenPU">
            <img mat-card-image src="">
          </mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-card class="createImagenPU">
            <img mat-card-image src="">
          </mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-card class="createImagenPU">
            <img mat-card-image src="">
          </mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>

<mat-divider></mat-divider>




<mat-step>
  <ng-template matStepLabel>Terminado</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </div>
</mat-step>
