<div>
  <p id="textCreateEan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
    Curabitur malesuada magna vel interdum maximus.
    Etiam volutpat tortor non risus auctor finibus. Aenean eu tristique nisl.
    Curabitur malesuada magna vel interdum maximus.
  </p>
</div>
<div>
  <form class="example-form">
    <table class="example-full-width" cellspacing="2">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <div class="createImagenPU"></div>
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
              <div class="createImagenPU"></div>
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
              <div class="createImagenPU"></div>
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
              <div class="createImagenPU"></div>
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
              <div class="createImagenPU"></div>
            <input matInput placeholder="URL imagen">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>

<mat-divider></mat-divider>




<mat-step>
  <ng-template matStepLabel>Terminado</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </div>
</mat-step>
