<mat-sidenav-container>
  <!-- Sidebar Principal -->
  <mat-sidenav #sidenav mode="over" opened="{{stateSideNav}}">
    <app-sidebar [user]="user" [sidenav]="sidenav"></app-sidebar>
  </mat-sidenav>

  <!-- Sidebar Busqueda de órdenes -->
  <mat-sidenav #sidenavSearchOrder mode="over" position="end" opened="{{stateSideNavOrder}}">
    <app-search-order-menu [informationToForm]="informationToForm" [sidenavSearchOrder]="sidenavSearchOrder"></app-search-order-menu>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <!-- Componente loading de la página -->
    <app-loading #loadingComponent></app-loading>
    <!-- Componente Header de la página -->
    <app-header [sidenav]="sidenav" [user]="user"></app-header>

    <!-- Render módulos-->
    <router-outlet></router-outlet>

    <app-modal #modalComponent></app-modal>
  </mat-sidenav-content>
</mat-sidenav-container>
