.view-content {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .aside-menu {
        width: 360px;
        min-width: 360px;
        max-width: 360px;
    }

    .router-container {
        flex: 1;
        overflow: auto;
    }
}