<!-- <div class="wrapper">
  <form [formGroup]="emailFormGroup"></form>
  <mat-form-field fxFill="48" fxFlex="48">
    <input
      matInput
      formControlName="email"
      [placeholder]="
        'secure.offers.quoting.administrator.dialogs.create.modal_placeholder_postal_code'
          | translate
      "
      required
    />
   <mat-error *ngIf="formZone.controls.DaneCode.errors && formZone.controls.DaneCode.errors.pattern">{{'errors.quoting_postal_code_invalid' | translate}}</mat-error>

  </mat-form-field>
</div>
 -->
