<mat-toolbar class="ticket-toolbar">
  <mat-toolbar-row class="toolbarIpad">
    <div class="toolbar-brand">
      <span class="toolbar-brand--title">
        {{'module.Dispersion' | translate}}
      </span>
      <span class="separator"> &#124; </span>
      <small class="toolbar-brand--subtitle">
        {{'menu.Detalle de pagos' | translate}}
      </small>
    </div>

    <div class="widthToolbar">
      <app-search-seller id="contet-searc-store" class="search-content">
      </app-search-seller>
    </div>
  </mat-toolbar-row>
</mat-toolbar>




<div>
  <mat-tab-group>
    <mat-tab id="tab1" style="font-weight: bold;" [label]="'secure.dispersion.detail-payment.historical'| translate">
      <app-historical-payment class="width-100-percent"></app-historical-payment>
    </mat-tab>
    <mat-tab id="tab2" style="font-weight: bold;" [label]="'secure.dispersion.detail-payment.collected'| translate">
      <app-news-collected class="width-100-percent"></app-news-collected>
    </mat-tab>
  </mat-tab-group>
</div>
