
.add-keyword-icon {
  color: #485AFA;
  cursor: pointer;
}

.container-scroll{
  width: 100%;
  height: 120px;
  max-height: 130px;
  contain: content;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  margin-bottom: 10px;
}

.container-65-scroll{
  height: 65px;
}

.container-120-scroll{
  height: 120px;
}