<div class="title-page">
  <div class="title">
    <h2 class="sc-title mat-h2">Crea tu caso</h2>
    <h4 class="description-title mat-h4">Registra aqu&iacute; la informaci&oacute;n para registrar un caso a nuestro equipo de soporte</h4>
  </div>
  <a id="close-finish-send-order" matTooltip="Cerrar" mat-icon-button matTooltipPosition="below" mat-button>
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </a>
</div>
<form #f="ngForm" [formGroup]="myform" *ngIf="user">

  <div fxFlex="100" fxLayoutGap.md="50px" fxLayoutGap.lg="50px" fxLayoutGap.xl="50px" fxLayoutAlign="center start" fxLayout="row wrap"
    class="example-form">
    <div fxFlex="45" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="45" fxFlex.xl="45">


      <mat-form-field class="example-full-width">
        <input readonly id="suport-modal-input-nit" required matInput formControlName="nit" placeholder="Nit">
        <mat-icon matPrefix class="icon-support-modal">assignment_ind</mat-icon>
        <!-- <mat-icon color="primary" matSuffix matTooltip="Ingresa el NIT de tu empresa incluyendo el dígitio de verificación. No debes utilizar guiones."
          matTooltipPosition="below">help_outline</mat-icon> -->
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input readonly id="suport-modal-input-account" required matInput formControlName="account" placeholder="Vendedor">
        <mat-icon matPrefix class="icon-support-modal">account_balance</mat-icon>
        <!-- <mat-icon color="primary" matSuffix matTooltip="Lorem" matTooltipPosition="below">help_outline</mat-icon> -->
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <input id="suport-modal-input-contact" required matInput formControlName="contact" placeholder="Contacto">
        <mat-icon matPrefix class="icon-support-modal">import_contacts</mat-icon>
        <mat-icon color="primary" matSuffix matTooltip="Ingresa el nombre de la persona que registra el requerimiento." matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>

      <mat-form-field id="suport-modal-input-reason-content" class="example-full-width">
        <mat-icon matPrefix class="icon-support-modal">list</mat-icon>

        <mat-select id="suport-modal-input-reason" required formControlName="reason" placeholder="Motivo de requerimiento">
          <mat-option value="Contenidos">
            <span id="option-reason-1">Contenidos</span>
          </mat-option>
          <mat-option value="Uso de la plataforma">
            <span id="option-reason-2">Uso de la plataforma</span>
          </mat-option>
          <mat-option value="Problemas técnicos plataforma">
            <span id="option-reason-3">Problemas técnicos plataforma</span>
          </mat-option>
          <mat-option value="Pagos y facturación">
            <span id="option-reason-4">Pagos y facturación</span>
          </mat-option>
          <mat-option value="Transporte">
            <span id="option-reason-5">Transporte</span>
          </mat-option>
          <mat-option value="Servicio - Atención">
            <span id="option-reason-6">Servicio - Atención</span>
          </mat-option>
          <mat-option value="Evaluación vendedores">
            <span id="option-reason-7">Evaluación vendedores</span>
          </mat-option>
          <mat-option value="Envíos Éxito">
            <span id="option-reason-8">Envíos Éxito</span>
          </mat-option>
          <mat-option value="Logistica éxito">
            <span id="option-reason-9">Logistica éxito</span>
          </mat-option>
        </mat-select>
        <mat-icon color="primary" matSuffix matTooltip="Selecciona de la lista desplegable el motivo del requerimiento" matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>

    </div>

    <div fxFlex="45" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="45" fxFlex.xl="45">

      <mat-form-field class="example-full-width">
        <input id="suport-modal-input-caseMarketplaceName" required matInput formControlName="caseMarketplaceName" placeholder="Nombre del requerimiento">
        <mat-icon matPrefix class="icon-support-modal">mode_edit</mat-icon>
        <mat-icon color="primary" matSuffix matTooltip="Ingresa un título para tu requerimiento. Este campo tiene un límite de 120 caracteres"
          matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>


      <mat-form-field class="example-full-width" id="suport-modal-input-typeOfRequirement-content">
        <mat-icon matPrefix class="icon-support-modal">assignment</mat-icon>
        <mat-select id="suport-modal-input-typeOfRequirement" required formControlName="typeOfRequirement" placeholder="Tipo de requerimiento">
          <mat-option value="Queja">
            <span id="typeOfRequirement-1">Queja</span>
          </mat-option>
          <mat-option value="Petición">
            <span id="typeOfRequirement-2">Petición</span>
          </mat-option>
          <mat-option value="Reclamo">
            <span id="typeOfRequirement-3">Reclamo</span>
          </mat-option>
          <mat-option value="Felicitación">
            <span id="typeOfRequirement-4">Felicitación</span>
          </mat-option>
          <mat-option value="Sugerencia">
            <span id="typeOfRequirement-5">Sugerencia</span>
          </mat-option>
        </mat-select>
        <mat-icon color="primary" matSuffix matTooltip="Selecciona de la lista desplegable el tipo de requerimiento" matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-icon matPrefix class="icon-support-modal">email</mat-icon>
        <input id="suport-modal-input-emailContact" required matInput formControlName="emailContact" placeholder="Correo contacto">
        <mat-icon color="primary" matSuffix matTooltip="Ingresa un correo para contactarte. Si el correo diligenciado esta errado por favor corrígelo. IMPORTANTE: A este correo llegará la respuesta del caso"
          matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-icon matPrefix class="icon-support-modal">comment</mat-icon>
        <textarea id="suport-modal-textarea-description" formControlName="description" matInput placeholder="Descripción"></textarea>
        <mat-icon color="primary" matSuffix matTooltip="Ingresa una descripción con el mayor detalle posible de la incidencia. Este campo tiene un límite de 2.000 caracteres"
          matTooltipPosition="below">help_outline</mat-icon>
      </mat-form-field>

    </div>

    <mat-dialog-actions fxFlex="100" class="footer-dialog normal-theme dialog-buttons">
      <button id="suport-modal-button-close-modal" class="sc-button" (click)="clearForm()" mat-button>
        <mat-icon>clear_all</mat-icon>
        Limpiar</button>
      <button id="suport-modal-button-sendInformation" class="sc-button" [disabled]="!f.form.valid" (click)="sendSupportMessage(myform)"
        type="submit" mat-raised-button color="primary">Enviar</button>

    </mat-dialog-actions>
  </div>

</form>
