<div style="margin: 20px;">
    <div fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
        <div></div>
        <div>
            <div *ngIf="selectedCategory">
                    {{'secure.products.create_product_unit.categorization.list.you_selected' | I18N | async}}:  <strong [innerHTML]="selectedCategory"></strong>
            </div>
        </div>
        <button mat-button (click)="openAll()">
            <span *ngIf="!openAllItems">
                    {{'secure.products.create_product_unit.categorization.list.expand' | I18N | async}}
            </span>
            <span *ngIf="openAllItems">
                    {{'secure.products.create_product_unit.categorization.list.colapse' | I18N | async}}
            </span>
        </button>
    </div>
    <app-tree [treeData]=listCategories [idSelected]="selectedIdCategory" [open]="true" *ngIf="finishCharge"></app-tree>
</div>