$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #5D5D5D;
$color-gray2: #909090;
$color-gray3: #D3D3D3;
$color-gray4: #BCBCBC;
$color-blue: #485AFA;
$color-white-opacity: rgba(255, 255, 255, 0.7);
:host ::ng-deep {
    mat-sidenav-container {
        position: relative;
    }
    section {
        &.no-content-component {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 5%;
            box-sizing: border-box;
            height: 600px;
            & p {
                color: $color-gray1;
                font-size: 18px;
            }
        }
        .icon-sentiment-dissatisfied {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 140px;
            & mat-icon {
                font-size: 120px;
                color: #EFEDED;
                height: 120px;
                width: 120px;
            }
        }
        &#section-list-offers {
            box-sizing: border-box;
            width: 100%;
            max-width: 1350px;
            margin: 0 auto;
            padding: 100px 30px 50px;
            aside {
                &.filters {
                    box-sizing: border-box;
                    width: 100%;
                    color: $color-gray2;
                    padding: 0 2%;
                    div {
                        &.filter-desc {
                            border: 1px solid $color-gray2;
                            border-radius: 20px;
                            height: 35px;
                            box-sizing: border-box;
                            padding: 0 10px;
                            font-size: 14px;
                            margin: 0 10px;
                            span {
                                margin: 0 5px;
                                text-align: center;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 200px;
                                &.icon {
                                    cursor: pointer;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
                &.card-offer {
                    border: 1px solid $color-gray3;
                    width: 240px;
                    height: 350px;
                    margin: 10px 6px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0px 6px 18px $color-gray3;
                    }
                    .container-card-img {
                        width: 100%;
                        height: 45%;
                        max-height: 157px;
                        min-height: 157px;
                        position: relative;
                        img {
                            width: 120px;
                            height: 120px;
                        }
                        .sold-out {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $color-white-opacity;
                            border-radius: 5px;
                            div {
                                background-color: $color-gray4;
                                height: 35px;
                                width: 195px;
                                color: $color-white;
                                border-radius: 5px;
                                p {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .container-desc-card {
                        height: 45%;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 5px 5px 5px 20px;
                        h3,
                        p {
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        h3 {
                            font-size: 12px;
                            color: $color-black;
                        }
                        p {
                            font-size: 14px;
                            color: $color-gray2;
                            &.price {
                                font-size: 22px;
                                color: $color-black;
                            }
                            &.price-strikethrough {
                                text-decoration: line-through;
                            }
                            &.sold-out-text {
                                font-size: 12px;
                            }
                            &.name {
                                color: $color-gray1;
                                white-space: normal;
                            }
                        }
                    }
                    .container-last-modification {
                        height: 10%;
                        width: 100%;
                        border-top: 1px dashed $color-gray3;
                        box-sizing: border-box;
                        padding: 0 5px 0 20px;
                        p {
                            font-size: 12px;
                            color: $color-gray2;
                            strong {
                                font-weight: normal;
                                color: $color-gray1;
                            }
                        }
                        &.mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    mat-sidenav {
        &.mat-sidenav {
            width: 370px;
        }
    }
    @media screen and (max-width: 768px) {
        section#section-list-offers {
            padding: 115px 5% 5%;
            justify-content: center;
            aside {
                &.filters {
                    padding: 0;
                    max-width: 345px;
                    .filter-tittle {
                        display: none;
                    }
                    .filter-desc.first {
                        margin-left: 0;
                    }
                }
                &.card-offer {
                    width: 100%;
                    height: 170px;
                    max-width: 345px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    .container-card-img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35%;
                        height: 85%;
                        max-height: 85%;
                        min-height: 85%;
                        img {
                            width: 75px;
                            height: 75px;
                        }
                        .sold-out {
                            div {
                                width: 87px;
                            }
                        }
                    }
                    .container-desc-card {
                        height: 85%;
                        width: 65%;
                        padding: 5% 3% 3% 5%;
                        p {
                            &.stock {
                                display: none;
                            }
                            &.name {
                                font-size: 16px;
                            }
                        }
                    }
                    .container-last-modification {
                        height: 15%;
                        display: none;
                        &.mobile {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 20px;
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        mat-sidenav {
            &.mat-sidenav {
                width: 100%;
            }
        }
    }
}