<!--form class="form-signin" method="POST" action="#" role="form">
  
  <div class="form-group">
    <label class="control-label" for="verificationCode">Verification Code</label>
    <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label class="control-label" for="newPassword">New Password</label>
    <input id="newPassword" type="password" maxlength="25" class="form-control" length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
      Reset Password
    </button>
  </div>

  <hr>
  <p>
    <a [routerLink]="['/home/resendCode']">
      <i class="fa fa-fw fa-group"></i> Go back</a>
  </p>
</form-->


<div class="content-page">
  <div class="content-tab" fxFlexAlign="center" fxLayout="row" fxFlex="450px" fxFlex.xs="90" fxFlex.sm="450px" fxFlex.md="450px"
    fxFlex.lg="450px" xFlex.xl="35">
    <div [@scaleEfect] fxFlex="100" class="tab-style forgot-password-content">
      <div class="title-forgot-password">
        <div class="logo-application"></div>
      </div>
      <mat-card class="card-forgot-password">

        <form #f="ngForm"
              [formGroup]="confirmNewPassword"
              class="form-forgot-password"
              method="POST"
              action="#"
              role="form">

          <div fxLayout="column" fxLayoutGap="20px">
            <div fxFlex="100">
              <mat-form-field class="full-width input-style">
                <mat-icon matPrefix>dialpad</mat-icon>
                <input id="verificationCode"
                       name="verificationCode"
                       formControlName="verificationCode"
                       maxlength="25"
                       class="form-control"
                       placeholder="Código de verificación"
                       matInput
                       [(ngModel)]="verificationCode">
                <mat-error>El código de verificación es requerido</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field class="full-width">
                    <mat-icon matPrefix>https</mat-icon>
                    <input id="newPassword"
                           name="newPassword"
                           formControlName="newPassword"
                           type="password"
                           maxlength="25"
                           class="form-control"
                           length="40"
                           placeholder="Nueva contraseña"
                           matInput
                           [(ngModel)]="newPassword">
                    <mat-error>La nueva contraseña es requerida</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field class="full-width">
                    <mat-icon matPrefix>https</mat-icon>
                    <input id="newPassword2"
                           name="newPassword2"
                           formControlName="newPassword2"
                           type="password"
                           maxlength="25"
                           class="form-control"
                           length="40"
                           placeholder="Confirmar nueva contraseña"
                           matInput
                           (blur)="confirmNewPass('newPassword2')"
                           [(ngModel)]="newPassword2">
                    <mat-error *ngIf="confirmNewPassword.get('newPassword2').hasError('passNoMatch')" [innerHTML]="'Contraseñas no coinciden'"></mat-error>
                    <mat-error *ngIf="confirmNewPassword.get('newPassword2').hasError('required')" [innerHTML]="'La confirmación de la nueva contraseña es requerida'"></mat-error>
                </mat-form-field>
            </div>
            
            
            <div fxFlex="100" fxLayout="row">
                <button id="signupSubmit"
                        [disabled]="!f.form.valid"
                        (click)="onNext()"
                        type="submit"
                        mat-raised-button
                        fxFlex="100"
                        color="primary">ESTABLECER CONTRASEÑA</button>
            </div>            

            <div *ngIf="errorMessage!=null">
              <mat-error>{{ errorMessage }}</mat-error>
            </div>
          </div>

          <!--p>
            <a [routerLink]="['/home/resendCode']"><i class="fa fa-fw fa-group"></i> Go back</a>
          </p-->

        </form>

      </mat-card>
    </div>
  </div>
</div>
