<div style="padding-bottom: 20px;">
  <span>Imagen destacadas</span>
</div>
<mat-tab-group>
  <mat-tab label="Subir archivos">
    <div fxFlex="100" >
      <div class="inline-block">
        <!-- <div>
          <img [src]="imagePathDrag">
        </div> -->
        <div ngfDrop selectable="1" multiple="1" [(validDrag)]="validComboDrag"
          [(files)]="files" [(file)]="file" [maxSize]="maxSize"
          [accept]="accept" [(lastInvalids)]="lastInvalids"
          [(dragFiles)]="dragFiles"
          class="well my-drop-zone" fxLayout="column" id="excel"
          fxLayoutAlign="center center"
          [class.invalid-drag]="validComboDrag===false"
          [class.valid-drag]="validComboDrag"
          (filesChange)="lastFileAt=getDate(); validateFile(files, file)" style="min-height: 250px;">

          <div *ngIf="startInit && !lastInvalids?.length && !error">
            <div style="padding-bottom: 30px;">
              <span >
                Arrastra el archivo a cualquier lugar para subirlo
              </span>
            </div>
            <div style="text-align: center; padding-bottom: 30px;">
              <span>ó</span>
            </div>
            <div style="text-align: center;">
              <button mat-stroked-button color="primary" style="text-transform:
            uppercase;" mat-button>seleccionar archivo</button>
            </div>
          </div>

          <div *ngIf="success && !lastInvalids?.length ">
            <mat-icon >
              check_circle {{_filesAux.length}}
            </mat-icon>
          </div>

          <div *ngIf="error || lastInvalids?.length ">
            <mat-icon class="material-icons" style="color: red;">
              not_interested
            </mat-icon>
          </div>
          <!-- <div *ngIf="_fileAux === null && !lastInvalids?.length &&
            !_filesAux?.length" style="width: 100%; text-align: center; padding-bottom: 60px; padding-top: 60px;" >
            <div style="padding-bottom: 30px;">
              <span >
                Arrastra el archivo a cualquier lugar para subirlo
              </span>
            </div>
            <div style="text-align: center; padding-bottom: 30px;">
              <span>ó</span>
            </div>
            <div style="text-align: center;">
              <button mat-stroked-button color="primary" style="text-transform:
            uppercase;" mat-button>seleccionar archivo</button>
            </div>
          </div>
          <div *ngIf="_fileAux !== null && !lastInvalids?.length &&
            !refuseMaxSize && !isDimesion" >
            <mat-icon >
              check_circle {{_filesAux.length}}
            </mat-icon>
            <div>
              <span >
                {{_fileAux.name}} - {{_fileAux.size/1024/1024 | number:'.2' }}
                MB
              </span>
            </div>
          </div>
          <div *ngIf="lastInvalids?.length || _filesAux.length> 1 ||
            refuseMaxSize || isDimesion && showError" style="text-align: center; width: 100%; padding-bottom: 70px; padding-top: 70px;">
            <mat-icon class="material-icons" style="color: red;">
              not_interested
            </mat-icon>
            <div *ngIf="refuseMaxSize && !lastInvalids?.length" style="padding-top: 20px;">
              <span style="font-size: 14px; color: #909090;">
                El archivo no puede superar los 7 Megabytes
              </span>
            </div>
            <div *ngIf="lastInvalids?.length" style="padding-top: 20px;">
              <span style="font-size: 14px; color: #909090;">
                El archivo tiene un formato no permitido, solo se permiten <br>
                <span class="load-file-container-font-weight-bold">
                  (.JPG, .PNG)
                </span>
              </span>
            </div>
            <div *ngIf="isDimesion && showError">
              <span style="font-size: 14px; color: #909090;">
               Las Medidas de las imagenes deben ser entre 800 x 600 px
              </span>
            </div>
          </div> -->
        </div>
        <div style="width: 100%;" *ngIf="_showComponent">
          <div style="width: 100%; text-align: center;">
            <mat-divider></mat-divider>
          </div>
          <div style="width: 100%; text-align: center; padding-top: 30px;">
            <button mat-raised-button color="primary" style="text-transform:
            uppercase; width: 160px;" mat-button
            (click)="createNotification()">Elegir imagen</button>
          </div>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Galería de imagenes">

  </mat-tab>
</mat-tab-group>