<div style="padding-bottom: 20px;">
  <div fxLayout="row wrap" *ngIf="_showComponent">
    <div fxFlex="90" style="text-align: center;">
      <span style="margin-left: 60px; font-weight: bold; font-size: 18px;">Imagen destacadas</span>
    </div>
    <div fxFlex="10" style="text-align: end;">
      <mat-icon class="mat-18" (click)="close()" style="cursor: pointer;" matTooltip="Cerrar">close</mat-icon>
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Subir archivos">
    <div fxFlex="100">
      <div class="inline-block">
        <div ngfDrop selectable="1" multiple="1" [(validDrag)]="validComboDrag"
          [(files)]="files" [(file)]="file" [maxSize]="maxSize"
          [accept]="accept" [(lastInvalids)]="lastInvalids"
          [(dragFiles)]="dragFiles"
          class="well my-drop-zone" fxLayout="column" id="excel"
          fxLayoutAlign="center center"
          [class.invalid-drag]="validComboDrag===false"
          [class.valid-drag]="validComboDrag"
          (filesChange)="lastFileAt=getDate(); validateFile(files, file)"
          style="min-height: 250px;">

          <div *ngIf="startInit === true && !error && !lastInvalids?.length">
            <div style="padding-bottom: 30px;">
              <span>
                Arrastra el archivo a cualquier lugar para subirlo
              </span>
            </div>
            <div style="text-align: center; padding-bottom: 30px;">
              <span>ó</span>
            </div>
            <div style="text-align: center;">
              <button mat-stroked-button color="primary" style="text-transform:
                uppercase;" mat-button>seleccionar archivo</button>
            </div>
          </div>

          <div *ngIf="success && !lastInvalids?.length"style="width: 100%;">
            <div fxLayout="row wrap" style="width: 100%; max-height: 280px;">
              <div fxFlex="50" style="contain: content; padding-top: 10px;
                text-align: center;">
                <img [src]="imagePathDrag" style="width: 100%; height: 100%;
                  max-height: 200px;
                  max-width: 290px;">
              </div>
              <div fxFlex="50" style="padding-left: 10px;">
                <div style="text-align: center;">
                  <span style="font-size: 15px;">Detalle de la imagen</span>
                </div>
                <mat-divider></mat-divider>
                <div style="padding: 5px; padding-top: 25px;">
                  <mat-icon class="mat-18" style="vertical-align: middle;color:
                    #cac3c3; font-size: 22px; width: 22px; height: 22px;">image</mat-icon>
                  <span style="font-size: 13px;">
                    Nombre: {{nameFile}}
                  </span>
                </div>
                <div style="padding: 5px;">
                  <mat-icon class="mat-18" style="vertical-align: middle;color:
                    #cac3c3; font-size: 22px; width: 22px; height: 22px;">fitness_center</mat-icon>
                  <span style="font-size: 13px;">
                    Peso: {{this.size}} MB
                  </span>
                </div>
                <div style="padding: 5px;">
                  <mat-icon class="mat-18" style="vertical-align: middle;color:
                    #cac3c3; font-size: 22px; width: 22px; height: 22px;">date_range</mat-icon>
                  <span style="font-size: 13px;">
                    Fecha: {{dateFile | date:'dd/MM/yyyy'}}
                  </span>
                </div>
                <div style="padding: 5px; text-align: center; padding-top:
                  26px;" *ngIf="_showComponent">
                  <span style="color: #a5a2a2; font-size: 11px;">
                    (La imagen se ha recargado exitosamente, cierre para
                    completar el cargado de la imagen )
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="error || lastInvalids?.length"style="text-align: center;
            width: 100%">
            <div style="padding-bottom: 20px; width: 100%">
              <mat-icon class="material-icons" style="color: red;font-size:
                40px; width: 40px;height: 40px;">
                not_interested
              </mat-icon>
            </div>
            <div *ngIf="lastInvalids?.length" style="width: 100%">
              <span>Formato invalido</span>
            </div>
            <div *ngIf="refuseMaxSize && !lastInvalids?.length" style="width:
              100%">
              <span>La imagen no puede superar los 7 mb</span>
            </div>
            <div *ngIf="!dimesion && !lastInvalids?.length" style="width: 100%">
              <span>Medidas de las imagenes no pueden superar 800 x 600 px</span>
            </div>
          </div>
        </div>
        <div style="width: 100%;" *ngIf="_showComponent">
          <div style="width: 100%; text-align: center;">
            <mat-divider></mat-divider>
          </div>
          <div style="width: 100%; text-align: right; padding-top: 30px;">
            <button mat-stroked-button color="primary" style="text-transform:
              uppercase; width: 160px;" mat-button
              (click)="closeAndsave()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Galería de imagenes"></mat-tab> -->
</mat-tab-group>