 <mat-sidenav-container>
   <app-toolbar [sidenav]="sidenav" [inDetail]="inDetail" [numberPages]="numberPages" [currentPageInput]="currentPage">
   </app-toolbar>

   <section id="section-list-offers" class="flexbox justify-start  flex-wrap"
     *ngIf="!viewDetailOffer && listOffer && readPermission">

     <aside class="filters flexbox flex-wrap align-center"
       *ngIf="filterActive && ((paramData.product && paramData.product !== null && paramData.product !== undefined && paramData.product !== '') ||
                (paramData.ean && paramData.ean !== null && paramData.ean !== undefined && paramData.ean !== '') ||
                (paramData.stock && paramData.stock !== null && paramData.stock !== undefined && paramData.stock !== '') ||
                (paramData.pluVtex && paramData.pluVtex !== null && paramData.pluVtex !== undefined && paramData.pluVtex !== ''))">
       <span class="filter-tittle" [innerHTML]="'Resultado de filtro: '"></span>

       <div class="filter-desc first flexbox align-center justify-between"
         *ngIf="paramData.product && paramData.product !== null && paramData.product !== undefined && paramData.product !== ''">
         <span [innerHTML]="paramData.product"></span>
         <span class="icon flexbox align-center justify-center" (click)="removeFilter('filterProduct')">
           <mat-icon>add_circle</mat-icon>
         </span>
       </div>

       <div class="filter-desc flexbox align-center justify-between"
         *ngIf="paramData.ean && paramData.ean !== null && paramData.ean !== undefined && paramData.ean !== ''">
         <span [innerHTML]="paramData.ean"></span>
         <span class="icon flexbox align-center justify-center" (click)="removeFilter('filterEan')">
           <mat-icon>add_circle</mat-icon>
         </span>
       </div>

       <div class="filter-desc flexbox align-center justify-between"
         *ngIf="paramData.pluVtex && paramData.pluVtex !== null && paramData.pluVtex !== undefined && paramData.pluVtex !== ''">
         <span [innerHTML]="paramData.pluVtex"></span>
         <span class="icon flexbox align-center justify-center" (click)="removeFilter('filterPluVtex')">
           <mat-icon>add_circle</mat-icon>
         </span>
       </div>

       <div class="filter-desc flexbox align-center justify-between"
         *ngIf="paramData.stock && paramData.stock !== null && paramData.stock !== undefined && paramData.stock !== ''">
         <span [innerHTML]="paramData.stock == '1' ? 'Con inventario' : paramData.stock == 0 ? 'Agotado' : '' "></span>
         <span class="icon flexbox align-center justify-center" (click)="removeFilter('filterStock')">
           <mat-icon>add_circle</mat-icon>
         </span>
       </div>
     </aside>

     <aside class="card-offer" *ngFor="let item of listOffer" (click)="openDetailOffer(item)">

       <div class="container-card-img flexbox align-center justify-center">
         <img [src]="item.imageUrl" alt="">
         <div class="sold-out flexbox justify-center align-center" *ngIf="item.stock === 0 || !item.stock">
           <div class="flexbox justify-center align-center">
             <p [innerHTML]="'Agotado'"></p>
           </div>
         </div>
       </div>

       <div class="container-desc-card flexbox flex-wrap align-center">
         <h3 [innerHTML]="'EAN: ' + item.ean"></h3>
         <p *ngIf="item.discountPrice > 0" [innerHTML]="item.price | currency: '$' : 'symbol' : '1.2-2'"
           class="price-strikethrough"></p>
         <p [innerHTML]="item.discountPrice > 0 ? (item.discountPrice | currency: '$' : 'symbol' : '1.2-2') : (item.price | currency: '$' : 'symbol' : '1.2-2')"
           class="price"></p>
         <p [innerHTML]="item.name" class="name"></p>
         <p [ngClass]="{'sold-out-text' : item.stock === 0 || !item.stock}"
           [innerHTML]="item.stock > 0 ? (item.stock | number) + ' uds.' : 'Agotado'" class="stock"></p>
       </div>

       <footer class="container-last-modification flexbox align-center">
         <p [innerHTML]="'Última modificación: ' + '<strong>' + (item.lastUpdate | date : 'dd/MM/yyyy') + '</strong>'">
         </p>
       </footer>
       <footer class="container-last-modification mobile flexbox align-center">
         <p [innerHTML]="'Última mod: ' + '<strong>' + (item.lastUpdate | date : 'dd/MM/yyyy') + '</strong>'"></p>
         <p [ngClass]="{'sold-out-text' : item.stock === 0 || !item.stock}"
           [innerHTML]="item.stock > 0 ? (item.stock | number) + ' uds.' : 'Agotado'"></p>
       </footer>

     </aside>

   </section>

   <section *ngIf="!listOffer || listOffer.length === 0" class="no-content-component">
     <div class="icon-sentiment-dissatisfied">
       <mat-icon>sentiment_dissatisfied</mat-icon>
     </div>
     <p [innerHTML]="'No se han encontrado registros en el listado de ofertas.'"></p>
   </section>
   <section *ngIf="viewDetailOffer && viewDetailOffer == true">
     <app-detail-offer [dataOffer]="dataOffer" (consumeServiceList)="receiveVarConsumeList($event)"
       [canEdit]="updatePermission"></app-detail-offer>
     <!-- <app-detail-offer [dataOffer]="dataOffer" (consumeServiceList)="receiveVarConsumeList($event)"></app-detail-offer> -->
   </section>

   <mat-sidenav #sidenav mode="over" position="end">
     <app-filter-offer [sidenav]="sidenav" [filterRemoved]="filterRemove"></app-filter-offer>
   </mat-sidenav>

 </mat-sidenav-container>
