<div>
  <div fxLayout="row" style="padding-top: 20px;">
    <div fxFlex="5"></div>
    <div fxFlex="25" style="border-bottom: solid 1px #e1e1e1;">
      <span class="list-order-component-text-column" style="font-weight: bold; font-size: 12px; color: #828181;">
        Item
      </span>
    </div>
    <div fxFlex="30" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" style="border-bottom: solid 1px #e1e1e1;">
      <span class="list-order-component-text-column" style="font-weight: bold; font-size: 12px; color: #828181;">
        Anterior
      </span>
    </div>
    <div fxFlex="35" fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" style="border-bottom: solid 1px #e1e1e1;">
      <span class="list-order-component-text-column" style="font-weight: bold; font-size: 12px; color: #828181;">
        Actual
      </span>
    </div>
  </div>
  <ng-container *ngFor="let item of items" >
    <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
  </ng-container>
</div>