<mat-sidenav-container>
  <app-toolbar [isEnabled]="isEnabled" [sidenav]="sidenav" [inDetail]="inDetail" [currentPageInput]="currentPage" [numberPages]="numberPages"></app-toolbar>

  <section id="section-list-offers" class="flexbox justify-start  flex-wrap" *ngIf="listAdminOffer">

    <!--list admin offers -->
    <aside>
      
    </aside>
    <!-- list admin offers -->

  </section>

  <!-- Message for not offers -->
  <section *ngIf="!listAdminOffer || listAdminOffer.length === 0 || listAdminOffer.length === null" class="no-content-component">
    <div class="icon-sentiment-dissatisfied">
      <mat-icon>sentiment_dissatisfied</mat-icon>
    </div>
    <p [innerHTML]="'No se han encontrado registros en el listado de ofertas.'"></p>
  </section>
  <!-- Message for not offers -->

  <!-- Filter sidenav component -->
  <mat-sidenav #sidenav mode="over" position="end">
    <app-listAdmin-filter [sidenav]="sidenav" [filterRemoved]="filterRemove"></app-listAdmin-filter>
  </mat-sidenav>
  <!-- /Filter sidenav component -->

</mat-sidenav-container>
