<div class="sh-button-upload__attachments" id="upload-button-file-container">
  <div
    *ngFor="let attached of attachments; let i = index"
    class="sh-button-upload__attached-item"
    id="upload-button-file-item"
  >
    <mat-icon class="mat-18 sh-button-upload__attached-item-icon"
      >attach_file
    </mat-icon>
    {{ attached.name }}
    <mat-icon
      class="mat-18 sh-button-upload__attached-item-icon"
      (click)="removeFile(i)"
      >delete
    </mat-icon>
  </div>
</div>

<input
  placeholder="file upload"
  hidden
  name="fileUploadOption"
  type="file"
  multiple="false"
  (change)="emitingChange($event.srcElement.files)"
  [accept]="accept ? accept.toString() : ''"
  #fileUploadOption
/>
<button
  color="primary"
  class="sc-default-button"
  id="load-file-button"
  (click)="fileUploadOption.click()"
  mat-button
>
  <mat-icon class="mat-18 ">file_upload</mat-icon>
  <ng-content></ng-content>
</button>
